// front page styles

.front-page__hero {
	@include section($type: hero);
}

.front-page__hero__featured-content {
	@include postListing();
}

.front-page__streaming {

	.streams {
		display: block;
	}

	.active-stream {
		@include aspectRatioBox(16,9);
		background: rgba(0,0,0,0.25);
		grid-area: feature;
	}

	.active-stream__frame {
		@include absoluteCover();
	}

	.more-streams {
		grid-area: thumbs;
		align-self: start;
		display: flex;
		justify-content: space-evenly;
		padding: 0;
	}

	.stream__thumb {
		@include aspectRatioBox(16,9);
		@include border();

		& + & {
			margin-left: $gutterSmall;
		}

		a { 
			display: block; 

			& > * {
				vertical-align: top;
			}
		}
	}
}

.front-page__streaming__content {
	@include container(page);
	display: grid;
	grid-column-gap: $gutter;
	grid-row-gap: $baseline;
	grid-template-columns: 1fr 20rem;
	grid-template-areas: 'feature schedule'
						 'thumbs buttons';

	@include breakpoint(min-width, $bpNavBreak) {
		grid-template-columns: 1fr 16rem;
	}
}

.streaming__guide {
	@include removeFirstChildSpacing();
	grid-area: schedule;
}

.streaming__schedule {
	@include card();
	@include list(zebra);
	padding-left: $baseline/4;
	padding-right: $baseline/4;

	@include breakpoint(min-width, $bpNavBreak) {
		font-size: modScale(-1);
	}
}

.streaming__schedule__line {
	display: flex;
	justify-content: flex-end;

	.day {
		flex: 999 1 auto;
	}
}

.stream__name {
	@include link();
}

.streaming__button-group {
	@include buttonGroup($isStacked:true);
	grid-area: buttons;

	.mixer-button,
	.twitch-button,
	.more-streams-button {
		@include button();
		@include linebox(small);
		flex: 1 1 auto;
		margin-bottom: $baseline/2;
	}
}


// news section



// learn to play section

