// news landing page

.featured-news {
	padding: 0;
	margin-bottom: $baseline*2;
	overflow: visible;
}

.featured-news__post {
	box-shadow: $boxShadow;

	@include breakpoint(min-width, $bpNavBreak) {
		@include card();
		display: flex;
	}
}

.featured-news__post__thumbnail {
	@include aspectRatioBox(16,9);

	img { @include absoluteCover(); }

	@include breakpoint(min-width, $bpNavBreak) {
		flex: 1 1 40%;
		margin-right: $gutterSmall;

		&::before, &::after { display: none; } // cancels aspectRatioBox
	}

	@include breakpoint(min-width, $bpLarge) {
		margin-right: $gutter;
	}
}

.featured-news__post__thumbnail__container {
	// fallback styles when image doesn't show
	background-color: rgba($black,0.5);
	color: $grey30;

	@include breakpoint(min-width, $bpNavBreak) {
		@include aspectRatioBox(16,9);
		height: 100%;
	}

	@include breakpoint(min-width, $bpLarge) {
		height: auto;
	}
}

.featured-news__post__type {
	bottom: 0;
	left: 0;
	width: 100%;
	@include border(drawn-bar-bottom, $mask: false, $position: absolute);
}

.featured-news__post__type__text {
	@include postTypeText();
}

.featured-news__post__info {
	width: 100%;

	@include breakpoint(max-width, $bpNavBreak) {
		@include card();
	}

	@include breakpoint(min-width, $bpNavBreak) {
		@include cell(tight);
		padding: 0;
		flex: 1 1 40%;
	}
}

.featured-news__post__title {
	font-family: $displayFont;
	@include gradientText(linear-gradient(to right, $gold10, $gold30), $textShadow, $gold10);
	font-size: modScale(2);
	padding: 0;
	margin: 0;
	text-shadow: $textShadow;
}

.featured-news__post__excerpt {
	color: $grey20;
}

.featured-news__post__more-button {
	@include button($size: small);
	margin-bottom: 0;

	.icon {
		margin-right: 0.25em;
	}
}

.news__body {
	padding-top: 0;

	.flex-placeholder {
		flex: 1 1 18rem;
		opacity: 0;
	}
}


.news__post-listing {
	@include postListing(wrap,18rem);
}

.news__controls {
	@include row(tight);
	justify-content: space-between;

	& > * {
		@include cell(tight, $marginsOnly: true);
		flex: 1 1 40%;
		margin-bottom: $baseline;

		@include breakpoint(min-width, $bpNavBreak) {
			flex: 0 0 auto;
		}
	}
}

.category-select {
	@include breakpoint(min-width, $bpNavBreak) {
		font-size: modScale(-1);
	}
}