.bucket {
  @include border-radius(10px);
  display: inline-block;
  border: 3px solid;
  width: 206px;
  height: 126px;
  margin: 10px;

  .inner {
    @include border-radius(6px);
    @include transition-property(box-shadow);
    @include transition-duration(0.5s);
    position: relative;
    border: 2px solid;
    width: 200px;
    height: 120px;
    padding: 10px;
  }
}
// Grays
.gray-bucket {
  @extend .bucket;
  border-color: $midGray;
  .inner {
    background: #30343b;
    @include background(linear-gradient($midGray, darken($darkGray, 10%)));
    border-color: $lightGray;
    &:hover {
      @include background(linear-gradient($midGray, $darkGray));
      @include box-shadow(0px 0px 50px rgba($lightGray, 1));
    }
  }
}
// Blue
.blue-bucket {
  @extend .bucket;
  border-color: $midBlue;
  .inner {
    background: #4387ed;
    @include background(linear-gradient($midBlue, darken($darkBlue, 10%)));
    border-color: $lightBlue;
    &:hover {
      @include background(linear-gradient($midBlue, $darkBlue));
      @include box-shadow(0px 0px 50px rgba($lightBlue, 1));
    }
  }
}
// Golds
.gold-bucket {
  @extend .bucket;
  border-color: $midGold;
  .inner {
    background: #b26a0c;
    @include background(linear-gradient($midGold, darken($darkGold, 10%)));
    border-color: $lightGold;
    &:hover {
      @include background(linear-gradient($midGold, $darkGold));
      @include box-shadow(0px 0px 50px rgba($lightGold, 1));
    }
  }
}
// Greens
.green-bucket {
  @extend .bucket;
  border-color: $midGreen;
  .inner {
    background: #198607;
    @include background(linear-gradient($midGreen, darken($darkGreen, 10%)));
    border-color: $lightGreen;
    &:hover {
      @include background(linear-gradient($midGreen, $darkGreen));
      @include box-shadow(0px 0px 50px rgba($lightGreen, 1));
    }
  }
}
// Reds
.red-bucket {
  @extend .bucket;
  border-color: $midRed;
  .inner {
    background: #820707;
    @include background(linear-gradient($midRed, darken($darkRed, 10%)));
    border-color: $lightRed;
    &:hover {
      @include background(linear-gradient($midRed, $darkRed));
      @include box-shadow(0px 0px 50px rgba($lightRed, 1));
    }
  }
}
// Oranges
.orange-bucket {
  @extend .bucket;
  border-color: $midOranges;
  .inner {
    background: #c36e00;
    @include background(linear-gradient($midOranges, darken($darkOranges, 10%)));
    border-color: $lightOranges;
    &:hover {
      @include background(linear-gradient($midOranges, $darkOranges));
      @include box-shadow(0px 0px 50px rgba($lightOranges, 1));
    }
  }
}
// BabyBlues
.babyblue-bucket {
  @extend .bucket;
  border-color: $midBabyBlues;
  .inner {
    background: #3691dc;
    @include background(linear-gradient($midBabyBlues, darken($darkBabyBlues, 10%)));
    border-color: $lightBabyBlues;
    &:hover {
      @include background(linear-gradient($midBabyBlues, $darkBabyBlues));
      @include box-shadow(0px 0px 50px rgba($lightBabyBlues, 1));
    }
  }
}
// Purples
.purple-bucket {
  @extend .bucket;
  border-color: $midPurples;
  .inner {
    background: #491bdb;
    @include background(linear-gradient($midPurples, darken($darkPurples, 10%)));
    border-color: $lightPurples;
    &:hover {
      @include background(linear-gradient($midPurples, $darkPurples));
      @include box-shadow(0px 0px 50px rgba($lightPurples, 1));
    }
  }
}
// Peach
.peach-bucket {
  @extend .bucket;
  border-color: $midPeach;
  .inner {
    background: #bf5134;
    @include background(linear-gradient($midPeach, darken($darkPeach, 10%)));
    border-color: $lightPeach;
    &:hover {
      @include background(linear-gradient($midPeach, $darkPeach));
      @include box-shadow(0px 0px 50px rgba($lightPeach, 1));
    }
  }
}
