.filters {
  width: 100%;
  padding: 0 10px;
  z-index: 2;
  .filter-trigger, #filter-reset { display: none; }

  form {
    float: right;
    margin: 0;
    &> div { float: left; }
    label, select { float: left; }
    label {
      font-size: 21px;
      line-height: 36px;
      margin: 0 0 0 10px;
      color: $white;
    }
    select, input {
      margin: 5px 0 5px 10px;
      color: #000000;
    }
    select {
      -webkit-appearance: menulist-button;
      font-size: 16px;
      line-height: 1;
      height: 28px;
      width: 200px;
      padding-top: 2px;
    }
    input {
      padding: 4px 20px 3px;
      font-size: 16px;
      float: right;
    }
    #filter-reset {
      float: right;
      line-height: 1;
      margin-right: 10px;
      padding-top: 12px;
    }
  }
}

.js .filters {
  margin: 0;
  padding: 0;
  position: relative;
  height: 36px;
  .filter-trigger {
    background: #30343b;
    @include background(linear-gradient($lightGray, $midGray));
    display: block;
    position: relative;
    z-index: 2;
    margin-top: 2px;
    font: 18px/32px Arial, Helvetica, sans-serif;
    height: 33px;
    width: 120px;
    float: right;
    padding-left: 10px;
    color: #FFFFFF;
    border-top: 1px solid #7b818c;
    cursor: pointer; cursor: hand;
    span {
      display: inline-block;
      width: 10px;
      height: 30px;
      float: right;
      z-index: 3;
      margin-right: 10px;
      background: image-url('image-sprite.png') no-repeat -430px -460px;
    }
  }
  .filter-wrapper {
    background: #30343b;
    @include background(linear-gradient($midGray, $darkGray));
    @include border-top-left-radius(5px);
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 5px 10px;
    width: 325px;
    border-top: 1px solid #7b818c; 
    border-bottom: 1px solid #000000;
    form > div { float: right; }
  }
  form label { margin: 0; }
  &.closed {
    .filter-trigger {
      border-bottom: 1px solid #1d2128;
      &:hover {
        background: #30343b;
        @include background(linear-gradient($lightGray, $midGray));
      }

    }
    .filter-wrapper { display: none; }
  }
  &.open {
    .filter-wrapper { display: block; }
  }
}

#clear-filters {
  margin-bottom: 0px;
  input[type="submit"]{
    font-size: 16px;
  }
}

// small only
@media only screen and (max-width: 768px) {}
// medium only
@media only screen and (min-width: 769px) and (max-width: 1139px) {}
// medium and up
@media only screen and (min-width: 769px) {}
// medium and down
@media only screen and (max-width: 1139px) {
  .filters {
    form {
      width: 350px;
      &> div { float: right; }
    }
  }
}
// screen only
@media only screen and (min-width: 1140px) {}
