//@import "compass/utilities/sprites";
//@import "ambassador/chibis/*.png";
//@include all-chibis-sprites;


/* allow this page to be responsive */
.tera.ambassador-program #page_container, 
.tera.ambassador-program #page_container .split_body, 
.tera.ambassador-program #page_container #wide_body, 
.tera.ambassador-program #page-content #header,
.tera.ambassador-program #eme-bar,
.tera.ambassador-program .site-alert article {
    width: 100%;
    min-width: 1px;
    max-width: 1140px;
}
.tera.ambassador-program nav#menu .nav-bar {
	width: 100%;
	max-width:645px;
}
.tera.ambassador-program nav#menu .nav-bar:after{
	display: none;
}
// mobile only
// @media (max-width: 47.9em) 
@include breakpoint(mobileonly) {
	.ambassador-program .four, .ambassador-program .row .four {
		width:100%;
	}
	.tera.ambassador-program #page-content #header #menu {
		width:100% !important;
		max-width: 670px;
		background: #000000;
	}
	.tera.ambassador-program nav#menu .nav-bar {
		margin:0 auto;
	}
	.tera.ambassador-program .play-now {
		margin-left: 20px;
	}
}
/* end main template overwrites */
body#ambassador-program {
	//background: url("ambassador/bgs/bgsChibis.jpg") top center no-repeat;
	.yellowBTN {
		text-transform:uppercase;
		font-weight:bold;
		text-align:center;
		font-family: 'Exo 2', sans-serif;
	    display: block;
	    box-sizing: border-box;
	    padding: 23px 35px 0;
	    margin: 0 auto 25px;
	    background:#edbb65;
	    background: -webkit-linear-gradient(bottom, #edbb65, #ffffff);
	    background: linear-gradient(bottom, #edbb65, #ffffff);
	    color: #000000;
	    font-size:30px;
	    text-decoration: none;
	    border: 1px solid #ffc23e;
	    max-width:310px;
	    width:100%;
	    height:70px;
	    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
	    filter: none;
	    &:hover {
	      text-decoration: none;
	      background: #edbb65;
	      color: #000000;
	      filter: none;
	    }
	}
	h1, h2, h3 {
		text-transform: uppercase;
		font-family: 'Exo 2', sans-serif;
   		font-weight:700;
   		margin-top:0;
   		line-height:1.2;
	}
	h1 {
		color:#144188;
   		font-size:36px;
	}
	h2 {
		color:#ffd40d;
   		font-size:30px;
	}
	h3 {
		color:#ffd40d;
   		font-size:24px;
	}
	p, li {
		color:#ffffff;
		font-size: 18px;
		font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	}
	p {
		line-height:1.2;
	}
	#ambassador_header, #ambassador_body, #ambassador_wide_body, #ambassador_footer {
		padding: 50px 20px 25px;
	}
	#ambassador_header {
		background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/bg01.jpg") top center no-repeat;
		text-align: center;
		padding-top:50px;
		padding-bottom: 25px;
		p {
			color:#000000;
			font-size:20px;
		}
	}
	#ambassador_body {
		background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/bg02.jpg") top center no-repeat #121606;
		text-align:center;
		h2 {
			text-align:left;
		}
		p {
			max-width: 630px;
			text-align:left;
		}
	}
	#ambassador_wide_body {
		background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/bg03.jpg") top center repeat-y;
		ul {
			list-style-type:disc;
		}
	}
	#ambassador_footer {
		background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/bg04.jpg") top center no-repeat #efefef;
		h3 {
			color:#ffffff;
		}
	}
	.col {
		width:309px;
		display: inline-block;
		vertical-align:top;
		border: 1px solid #ffffff;
		box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
		text-align: left;
		margin:0 auto 20px;
		strong, b, em {
			color:#ffffff;
		}
		ul {
			margin-bottom: 0;
		}
		.graphic {
			display: block;
			width:100%;
			height: 330px;
			background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/medals.jpg") top center no-repeat;
		}
		.heading {
			text-transform: uppercase;
			font-style:italic;
			font-weight: bold;
			font-size:25px;
			text-align:center;
			padding: 7px 0;
			border-box: box-sizing;
		}
		.stipulation {
			font-size:16px;
			position: relative;
			padding: 15px 15px 0 80px;
			&.twitch {
				.icon {
					background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/icons.png") 0 0 no-repeat;
					width:60px;
					height:60px;
					display: block;
					position: absolute;
					top:15px;
					left:12px;
				}
				p {
					display: inline-block;
					vertical-align:top;
					font-size:16px;
				}
			}
			&.youtube {
				.icon {
					background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/icons.png") -68px 0 no-repeat;
					width:60px;
					height:60px;
					display: block;
					position: absolute;
					top:15px;
					left:12px;
				}
				p {
					display: inline-block;
					vertical-align:top;
					font-size:16px;
				}
			}
		}
		.price {
			font-size:36px;
			text-align:center;
			span.monies {
				display: inline-block;
				vertical-align:top;
				font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
				padding-top:5px;
				&:before {
					content: "";
					background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/icons.png") -133px -4px no-repeat;
					width:30px;
					height:60px;
					display: inline-block;
					vertical-align:top;
					margin-right: 5px;
				}
				&:after {
					content: "";
					background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/icons.png") -167px -4px no-repeat;
					width:85px;
					height:60px;
					display: inline-block;
					vertical-align:top;
					margin-left: 5px;
				}
			}
			span.value {
				display: block;
				font-style:italic;
				font-size:25px;
				font-weight:bold;
				margin-top:-20px;
			}
		}
		.or {
			border-bottom: 2px solid #000000;
			text-align:center;
			height:2px;
			margin: 7px auto;
			span {
				background: #000000;
				width:30px;
				height:30px;
				border-radius: 15px;
				text-transform: uppercase;
				font-weight:bold;
				font-size: 12px;
				display:block;
				margin:0 auto;
				padding-top:3px;
				position: relative;
				top:-13px;
			}
		}
		&#bronze {
			background: #79240a;
			border-color:#ab7665;
			.graphic {
				background-position: top center;
				background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/Bronze_stay.gif") top center no-repeat;
			}
			.heading {
				background:#a44719;
			}
			.reward {
				padding: 7px 5px 7px 15px;
				font-size: 16px;
				&:nth-child(odd) {
					background-color: #521400;
				}
			}
		}
		&#silver {
			background: #484957;
			border-color:#c7c7c6;
			.graphic {
				background-position: top left;
				background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/Silver_stay.gif") top center no-repeat;
			}
			.heading {
				background:#71758b;
			}
			.reward {
				padding: 7px 5px 7px 15px;
				font-size: 16px;
				&:nth-child(odd) {
					background-color: #31323b;
				}
			}
		}
		&#gold {
			background: #794200;
			border-color:#ecbd00;
			.graphic {
				background-position: top right;
				background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/icons.png") top right no-repeat, url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/Gold_stay.gif") top center no-repeat;
			}
			.heading {
				background:#b36100;
			}
			.stipulation {
				min-height:90px;
			}
		}
	}
	form {
		background:#ffd981;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
		padding: 20px;
		label {
			font-size:16px;
			color:#000000;
			font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
			font-weight:bold;
			display: block;
			margin-bottom:7px;
			&.required {
				&:after {
					content: "*";
					color: #ff0000;
				}
			}
		}
		fieldset {
			position: relative;
		}
		input[type="text"], input[type="number"] {
			background: #ffffff;
			box-sizing:border-box;
			padding:14px 10px;
			font-size: 19px;
			color:#403f3f;
			font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
			font-weight:bold;
			box-shadow: inset 0px 3px 3px rgba(0,0,0,0.3);
			width:100%;
			max-width:390px;
			&.error {
                border: solid 2px #ff0000;
            }
		}
		textarea {
			background: #ffffff;
			box-sizing:border-box;
			padding:14px 10px;
			font-size: 19px;
			color:#403f3f;
			font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
			font-weight:bold;
			box-shadow: inset 0px 3px 3px rgba(0,0,0,0.3);
			width:100%;
			max-width:860px;
		}
		.note {
			color: #ff0000;
			margin-bottom:10px;
		}
		#success {
			display: none;
			text-align: center;
			img {
                margin-bottom: 28px;
            }
            h2 {
                color: #000000;
                margin-bottom: 50px;
            }
            #success-text {
                font-size: 24px;
                max-width: 795px;
                margin:0 auto 50px;
            }
		}
		.yellowBTN {
			padding-top:0px;
		}
		.message {
            background-color: #000000;
            color: white;
            padding: 15px 10px 15px 30px;
            position: absolute;
            right: 0px;
            top: -12px;
            border: solid 2px #ff0000;
            span {
                color: #ff0000;
                font-size: 27px;
                position: absolute;
                left: 7px;
                top: 16px;
            }
            &:before {
            	content:"";
            	display: block;
                position: absolute;
    			bottom: -12px;
    			left: 15px;
    			width: 0px;
    			height: 0px;
    			border-style: solid;
    			border-width: 10px 10px 0px 10px;
    			border-color: #ff0000 transparent transparent transparent;
            }
        }
	}
	#heroVideo {
		max-width:926px;
		width:100%;
		margin:0 auto 25px;
	}
	.videoWrapper {
	  position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  padding-top: 25px;
	  height: 0;
	}
	.videoWrapper object,
	.videoWrapper embed,
	.videoWrapper iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	}
}

/* the tera site isnt responsive */
@include breakpoint(tablet) {
	body#ambassador-program {
		#ambassador_header, #ambassador_body, #ambassador_wide_body, #ambassador_footer {
			padding: 50px 50px 25px;
		}
		h1 {
			font-size:49px;
		}
		h2 {
   			font-size:41px;
		}
		h3 {
   			font-size:32px;
		}
		#ambassador_body {
			padding-top:100px;
		}
		form {
			margin-top:70px;
			fieldset {
				display: inline-block;
				width:49%;
				vertical-align:top;
				&.last  {
					display: block;
					width:100%;
				}
			}
			.note {
				width:95%;
				text-align:right;
			}
		}
	}

}

/* the tera site isnt responsive */
@include breakpoint(desktop) {
	body#ambassador-program {
		background: url("https://eme01.enmasse-game.com/images/tera_pc/ambassador/bgs/bgsChibis.jpg") top center no-repeat;
		#ambassador_header, #ambassador_body, #ambassador_wide_body, #ambassador_footer {
			background:none;
			padding: 0 75px;
		}
		#ambassador_header {
			height:907px;
			padding-top: 52px;
			h1 {
				max-width: 575px;
				margin-left: auto;
				margin-right: auto;
				line-height:1;
			}
			p {
				max-width: 524px;
				margin: 18px auto 23px;
			}
		}
		#heroVideo {
			margin: 36px auto 25px
		}
		#ambassador_body {
			height:1357px;
			padding:100px 0 0 0;
			h2, p {
				padding-left: 75px;
			}
			p {
				margin-bottom: 10px;
			}
			li {
				p {
					padding-left: 0;
					margin-bottom:16px;
				}
			}
			h2 {
				font-weight: normal;
			}
		}
		.col {
			&#silver {
				margin: 0 5px 20px;
			}
		}
		#ambassador_wide_body {
			height: 610px;
			padding-top:60px;
			ul {
				max-width: 730px;
				list-style-position: outside;
				margin-left:35px;
			}
		}
		#ambassador_footer {
			min-height:1290px;
			padding-top:100px;
			p {
				max-width: 350px;
			}
		}
	}
}

@media screen and (min-width: 1140px) {
//@include breakpoint(desktop) {
	.tera.ambassador-program #eme-bar {
	    width: 100%;
	    min-width: 1140px;
	    max-width: 100%;
	}
}
