.packs-layout {
	.pack_bundle {
		.skill_icon {
			span {
				//background-image: url(https://eme01.enmasse-game.com/images/tera/events/godsfall/new_skill_icons.jpg);
				background-image: url(https://eme01.enmasse-game.com/images/tera/events/godsfall/apex_icons-s73a65e2380.png);
				background-repeat: no-repeat;
				/* berserker section */
				&.unleashed {
					background-position: 0 -3552px;
				}
				&.unleashed-dexter {
					background-position: 0 -3264px;
				}
				&.unleashed-sinister {
					background-position: 0 -3456px;
				}
				&.unleashed-rampage {
					background-position: 0 -3360px;
				}
				&.unleashed-beastfury {
					background-position: 0 -3168px;
				}
				&.bloodshed {
					background-position: 0 -672px;
				}
				&.awakening-aura {
					background-position: 0 -192px;
				}
				&.endless-rage {
					background-position: 0 -1440px;
				}
				&.eye , &.the-eye{
					background-position: 0 -1632px;
				}
				/* brawler section */
				&.flying-kick {
					background-position: 0 -1728px;
				}
				&.one-inch-punch {
					background-position: 0 -2304px;
				}
				&.brawling-roll {
					background-position: 0 -768px;
				}
				&.concentrate {
					background-position: 0 -864px;
				}
				&.self-control {
					background-position: 0 -2688px;
				}
				&.haymaker-acceleration {
					background-position: 0 -2016px;
				}
				/* lancer section */
				&.divine-protection {
					background-position: 0 -3840px;
				}
				&.guardians-barrier {
					background-position: 0 -1920px;
				}
				&.bastion-guard {
					background-position: 0 -288px;
				}
				&.righteous-leap {
					background-position: 0 -2592px;
				}
				&.stronghold-shift {
					background-position: 0 -2784px;
				}
				&.thorn-shield {
					background-position: 0 -3072px;
				}
				/* mystic section */
				&.group-teleport {
					background-position: 0 -1824px;
				}
				&.arunic-explosion {
					background-position: 0 -96px;
				}
				&.elementalize {
					background-position: 0 -1344px;
				}
				&.summon-elemental-god {
					background-position: 0 -2880px;
				}
				/* priest section */
				&.words-of-protection {
					background-position: 0 -3840px;
				}
				&.dedicated-vigor {
					background-position: 0 -1056px;
				}
				&.divine-vitality {
					background-position: 0 -1248px;
				}
				&.words-of-vitality {
					background-position: 0 -3936px;
				}
				&.holy-burst {
					background-position: 0 -2112px;
				}
				&.words-of-judgement {
					background-position: 0 -3744px;
				}
				/* slayer section */
				&.energy-rush {
					background-position: 0 -1536px;
				}
				&.decimate {
					background-position: 0 -960px;
				}
				&.blazing-thrust {
					background-position: 0 -576px;
				}
				&.master {
					background-position: 0 -2208px;
				}
				&.unsheath {
					background-position: 0 -3648px;
				}
				&.overhand-strike-focus {
					background-position: 0 -2496px;
				}
				/* warrior section */
				&.blade-waltz {
					background-position: 0 -480px;
				}
				&.aerial-scythe {
					background-position: 0 0;
				}
				&.blade-frenzy {
					background-position: 0 -384px;
				}
				&.orbit-charge {
					background-position: 0 -2400px;
				}
				&.tempest-aura {
					background-position: 0 -2976px;
				}
			}
		}
	}
}