//body.archer {
	#class_skill_wrapper, #content_side_body {
		.archer_wrapper {
			.skill_icon {
				span {
					/* unique by class art asset is laoded in racecolors file */
					//background-image: url(https://eme01.enmasse-game.com/images/tera/race-class/classpage/class_Skill_Icons_Archer.png);
					/* Archer */
				    &.tenacity { background-position: 0 -950px; }
				    &.thunderbolt { background-position: 0 -1045px; }
				    &.incendiary-trap-arrow { background-position: 0 -1140px; }
				    &.slow-trap-arrow { background-position: 0 -1235px; }
				    &.stunning-trap-arrow { background-position: 0 -1330px; }
				    &.snipers-eye { background-position: 0 -1520px; }
				    &.restraining-arrow { background-position: 0 -1615px; }
				    &.poison-arrow { background-position: 0 -1805px; }
				    &.web-arrow { background-position: 0 -1900px; }
				    &.breakaway-bolt { background-position: 0 -1994px; }
				    &.incendiary-trap { background-position: 0 -2090px; }
				    &.retaliate { background-position: 0 -2185px; }
				    &.veliks-mark { background-position: 0 -2279px; }
				    &.stunning-trap { background-position: 0 -2374px; }
				    &.slow-trap { background-position: 0 -2470px; }
				    &.rapid-fire { background-position: 0 -2564px; }
				    &.feign-death { background-position: 0 -2659px; }
				    &.backstep { background-position: 0 -2755px; }
				    &.rain-of-arrows { background-position: 0 -2850px; }
				    &.penetrating-arrow { background-position: 0 -2945px; }
				    &.radiant-arrow { background-position: 0 -3040px; }
				    &.arrow-volley { background-position: 0 -3135px; }
				    &.arrow { background-position: 0 -3324px; }
				    &.eagles-eye { background-position: 0 -855px;}
				    &.final-salvo { background-position: 0 -3135px; }
				    &.close-quarters { background-position: 0 -95px; }
				}    
			}
		}
	}
//}
//body.berserker {
	#class_skill_wrapper, #content_side_body {
		.berserker_wrapper {
			.skill_icon {
				span {
				    /* Berserker */
				    &.merciless-strike { background-position: 0 -285px; }
				    &.leaping-strike { background-position: 0 -285px; }
				    &.thunder-strike { background-position: 0 -475px; }
				    &.punishing-strike { background-position: 0 -1140px; }
				    &.axe-counter { background-position: 0 -1235px; }
				    &.evasive-roll { background-position: 0 -1330px; }
				    &.intimidation { background-position: 0 -1425px; }
				    &.unbreakable { background-position: 0 -1520px; }
				    &.tackle { background-position: 0 -1615px; }
				    &.raze { background-position: 0 -1710px; }
				    &.bloodlust { background-position: 0 -1805px; }
				    &.inescapable-doom { background-position: 0 -1900px; }
				    &.tenacity { background-position: 0 -2091px; }
				    &.lethal-strike { background-position: 0 -2185px; }
				    &.fearsome-shout { background-position: 0 -2280px; }
				    &.retaliate { background-position: 0 -2375px; }
				    &.unchained-anger { background-position: 0 -2470px; }
				    &.cyclone { background-position: 0 -2660px; }
				    &.dash { background-position: 0 -2755px; }
				    &.flatten { background-position: 0 -2850px; }
				    &.axe-block { background-position: 0 -2945px; }
				    &.combo-attack { background-position: 0 -3040px; }
				    &.triumphant-shout { background-position: 0 0; }
				    &.vampiric-blow {background-position: 0 -95px; }
				    &.fiery-rage { background-position: 0 -380px; }
				    &.mocking-shout { background-position: 0 -760px; }
				    &.flurry-of-blows { background-position: 0 -950px; }
				    &.evasive-smash { background-position: 0 -1330px; }
				    &.overwhelm { background-position: 0 -95px; }
				}
			}
		}
	}
//}
//body.brawler {
	#class_skill_wrapper, #content_side_body {
		.brawler_wrapper {
			.skill_icon {
				span {
				    /* Brawler */
				    &.bull-rush { background-position: 0 0; }
				    &.counter { background-position: 0 -95px; }
				    &.counterpunch { background-position: 0 -190px; }
				    &.divine-wrath { background-position: 0 -285px; }
				    &.flip-kick { background-position: 0 -380px; }
				    &.ground-pounder { background-position: 0 -475px; }
				    &.growing-fury { background-position: 0 -570px; }
				    &.haymaker { background-position: 0 -665px; }
				    &.high-kick { background-position: 0 -760px; }
				    &.infuriate { background-position: 0 -855px; }
				    &.invigorating-rage { background-position: 0 -950px; }
				    &.jackhammer { background-position: 0 -1045px; }
				    &.meat-grinder { background-position: 0 -1140px; }
				    &.mounting-rage { background-position: 0 -1235px; }
				    &.piledriver { background-position: 0 -1330px; }
				    &.provoke { background-position: 0 -1425px; }
				    &.punch { background-position: 0 -1520px; }
				    &.quick-dash { background-position: 0 -1615px; }
				    &.rampage { background-position: 0 -1710px; }
				    &.roundhouse-kick { background-position: 0 -1805px; }
				   
				}
			}
		}
	}
//}
//body.gunner {
	#class_skill_wrapper, #content_side_body {
		.gunner_wrapper {
			.skill_icon {
				span {
					/* Gunner */
				    &.rocket-jump { background-position: 0 0; }
				    &.retaliate { background-position: 0 -190px; }
				    &.replenishment { background-position: 0 -95px; }
				    &.bombardment { background-position: 0 -285px; }
				    &.point-blank { background-position: 0 -380px; }
				    &.burst-fire { background-position: 0 -475px; }
				    &.command-stay-follow { background-position: 0 -570px; }
				    &.balders-vengeance { background-position: 0px -665px; }
				    &.one-with-the-gun { background-position: 0px -760px; }
				    &.emergency-barrier { background-position: 0px -855px; }
				    &.command-self-destruct { background-position: 0px -950px; }
				    &.command-recall { background-position: 0px -1045px; }
				    &.blast { background-position: 0px -1140px; }
				    &.scattershot { background-position: 0px -1235px; }
				    &.arcane-barrage { background-position: 0px -1330px; }
				    &.arc-bomb { background-position: 0px -1425px; }
				    &.rolling-reload { background-position: 0px -1520px; }
				    &.mana-missiles { background-position: 0px -1615px; }
				    &.gun-enthusiast { background-position: 0px -1710px; }
				    &.time-bomb { background-position: 0px -1805px; }
				    &.summon-turret { background-position: 0px -1900px; }
				    &.hb { background-position: 0px -1995px; }
				}
			}
		}
	}
//}
//body.lancer {
	#class_skill_wrapper, #content_side_body {
		.lancer_wrapper {
			.skill_icon {
				span {
				    /* Lancer */
				    &.stand-fast { background-position: 0 -285px; }
				    &.hold-the-line { background-position: 0 -285px; }
				    &.rallying-cry { background-position: 0 -1140px; }
				    &.wallop { background-position: 0 -1235px; }
				    &.chained-leash { background-position: 0 -1330px; }
				    &.masters-leash { background-position: 0 -1425px; }
				    &.iron-will { background-position: 0 -1520px; }
				    &.menacing-wave { background-position: 0 -1615px; }
				    &.pledge-of-protection { background-position: 0 -1804px; }
				    &.shield-barrage { background-position: 0 -1900px; }
				    &.adrenaline-rush { background-position: 0 -1995px; }
				    &.second-wind { background-position: 0 -2090px; }
				    &.charging-lunge { background-position: 0 -2185px; }
				    &.spring-attack { background-position: 0 -2280px; }
				    &.retaliate { background-position: 0 -2375px; }
				    &.debilitate { background-position: 0 -2470px; }
				    &.leash { background-position: 0 -2565px; }
				    &.shield-counter { background-position: 0 -2660px; }
				    &.guardian-shout { background-position: 0 -2755px; }
				    &.shield-bash { background-position: 0 -2850px; }
				    &.challenging-shout { background-position: 0 -2945px; }
				    &.onslaught { background-position: 0 -3040px; }
				    &.combo-attack { background-position: 0 -3135px; }
				    &.backstep { background-position: 0 -665px; }
				    &.lockdown-blow { background-position: 0 -2185px; }
				    &.infuriate { background-position: 0 -1519px; }
				}
			}
		}
	}
//
//body.mystic {
	#class_skill_wrapper, #content_side_body {
		.mystic_wrapper {
			.skill_icon {
				span {
				    /* Mystic */
				    &.command-follow { background-position: 0 -475px; }
				    &.command-attack { background-position: 0 -570px; }
				    &.mire { background-position: 0 -665px; }
				    &.curse-of-confusion { background-position: 0 -760px; }
				    &.regression { background-position: 0 -855px; }
				    &.sonorous-dreams { background-position: 0 -950px; }
				    &.aruns-tears { background-position: 0 -1045px; }
				    &.teleport-jaunt { background-position: 0 -1140px; }
				    &.aura-of-the-tenacious { background-position: 0 -1235px; }
				    &.vow-of-rebirth { background-position: 0 -1330px; }
				    &.summon-party { background-position: 0 -1425px; }
				    &.resurrect { background-position: 0 -1520px; }
				    &.aruns-cleansing-touch { background-position: 0 -1615px; }
				    &.mana-infusion { background-position: 0 -1710px; }
				    &.sharas-lash { background-position: 0 -1805px; }
				    &.boomerang-pulse { background-position: 0 -2185px; }
				    &.contagion { background-position: 0 -2280px; }
				    &.warding-totem { background-position: 0 -2375px; }
				    &.thrall-of-wrath { background-position: 0 -2470px; }
				    &.thrall-of-vengence { background-position: 0 -2565px; }
				    &.curse-of-exhaustion { background-position: 0 -2660px; }
				    &.thrall-of-life { background-position: 0 -2755px; }
				    &.better-raj { background-position: 0 -2850px; }
				    &.volley-of-curses { background-position: 0 -2945px; }
				    &.metamorphic-smite { background-position: 0 -3040px; }
				    &.retaliate { background-position: 0 -3135px; }
				    &.aruns-vitae { background-position: 0 -3421px; }
				    &.aura-of-the-swift { background-position: 0 -3515px; }
				    &.aura-of-the-merciless { background-position: 0 -3610px; }
				    &.metamorphic-blast { background-position: 0 -3705px; }
				    &.titanic-favor { background-position: 0 -3800px; }
				    &.ancient-binding { background-position: 0 -3895px; }
				    &.corruption-ring { background-position: 0 -3990px; }
				    &.sharan-bolt { background-position: 0 -4085px; }
				    &.aura-of-the-unyielding { background-position: 0 -1235px; }
				}
			}
		}
	}
//}
//body.priest {
	#class_skill_wrapper, #content_side_body {
		.priest_wrapper {
			.skill_icon {
				span {
				    /* Priest */
				    &.mana-charge { background-position: 0 -570px; }
				    &.summon-party { background-position: 0 -665px; }
				    &.resurrect { background-position: 0 -760px; }
				    &.purifying-circle { background-position: 0 -855px; }
				    &.mana-infusion { background-position: 0 -950px; }
				    &.divine-intervention { background-position: 0 -1045px; }
				    &.zenobias-vortex { background-position: 0 -1425px; }
				    &.grace-of-resurrection { background-position: 0 -1520px; }
				    &.healing-immersion { background-position: 0 -1615px; }
				    &.energy-stars { background-position: 0 -1710px; }
				    &.restorative-burst { background-position: 0 -1805px; }
				    &.isharas-lullaby { background-position: 0 -1900px; }
				    &.guardian-sanctuary { background-position: 0 -1995px; }
				    &.plague-of-exhaustion { background-position: 0 -2090px; }
				    &.triple-nemesis { background-position: 0 -2185px; }
				    &.final-reprisal { background-position: 0 -2280px; }
				    &.fiery-escape { background-position: 0 -2375px; }
				    &.retaliate { background-position: 0 -2470px; }
				    &.kaias-shield { background-position: 0 -2661px; }
				    &.focus-heal { background-position: 0 -2946px; }
				    &.heal-thyself { background-position: 0 -3040px; }
				    &.prayer-of-peace { background-position: 0 -3135px; }
				    &.metamorphic-blast { background-position: 0 -3230px; }
				    &.arise { background-position: 0 -3325px; }
				    &.blessing-of-shakan { background-position: 0 -3420px; }
				    &.regeneration-circle { background-position: 0 -3515px; }
				    &.divine-radiance { background-position: 0 -3610px; }
				    &.shocking-implosion { background-position: 0 -3610px; }
				    &.blessing-of-zenobia { background-position: 0 -95px; }
				    &.backstep { background-position: 0 -95px; }
				    &.healing-circle { background-position: 0 -1330px; }
				    &.blessing-of-seren { background-position: 0 -2565px; }
				    &.blessing-of-balder { background-position: 0 -950px; }
				    &.blessing-of-arachne { background-position: 0 -1995px; }
				    &.divine-respite { background-position: 0 -1995px; }
				}
			}
		}
	}
//}
//body.reaper {
	#class_skill_wrapper, #content_side_body {
		.reaper_wrapper {
			.skill_icon {
				span {
				    /* Reaper */
				    &.shadow-step { background-position: 0 -761px; }
				    &.cable-step { background-position: 0 -1046px; }
				    &.retribution { background-position: 0 -1521px; }
				    &.retaliate { background-position: 0 -1615px; }
				    &.shadow-burst { background-position: 0 -1806px; }
				    &.shadow-lash { background-position: 0 -1900px; }
				    &.pendulum-strike { background-position: 0 -1995px; }
				    &.smite { background-position: 0 -2090px; }
				    &.brutal-smite { background-position: 0 -2090px; }
				    &.whipsaw { background-position: 0 -2185px; }
				    &.vampiric-whipsaw { background-position: 0 -2185px; }
				    &.death-spiral { background-position: 0 -2280px; }
				    &.grim-strike { background-position: 0 -2375px; }
				    &.sundering-strike { background-position: 0 -2470px; }
				    &.double-sheer { background-position: 0 -2565px; }
				    &.spiral-barrage { background-position: 0 -2662px; }
				    &.veil-of-shadows { background-position: 0 -2755px; }
				    &.double-shear { background-position: 0 -2565px; }
				    &.shadow-reaping { background-position: 0 -285px; }
				    &.soul-reversal { background-position: 0 -1710px; }
				    &.shrouded-escape { background-position: 0 -1330px; }
				}
			}
		}
	}
//}
//body.slayer {
	#class_skill_wrapper, #content_side_body {
		.slayer_wrapper {
			.skill_icon {
				span {
				    /* Slayer */
				    &.whirlwind-intensity { background-position: 0 -95px; }
				    &.knockdown-strike-boost { background-position: 0 -189px; }
				    &.in-cold-blood { background-position: 0 -285px; }
				    &.icy-veins { background-position: 0 -285px; }
				    &.eviscerate { background-position: 0 -854px; }
				    &.measured-slice { background-position: 0 -950px; }
				    &.exhausting-blow { background-position: 0 -1045px; }
				    &.tenacity { background-position: 0 -1331px; }
				    &.overpower { background-position: 0 -1425px; }
				    &.headlong-rush { background-position: 0 -1520px; }
				    &.fury-strike { background-position: 0 -1615px; }
				    &.startling-kick { background-position: 0 -1710px; }
				    &.distant-blade { background-position: 0 -1805px; }
				    &.stunning-backhand { background-position: 0 -1900px; }
				    &.heart-thrust { background-position: 0 -1995px; }
				    &.leaping-strike { background-position: 0 -2090px; }
				    &.merciless-leap { background-position: 0 -2090px; }
				    &.overhand-strike { background-position: 0 -2185px; }
				    &.dash { background-position: 0 -2376px; }
				    &.whirlwind { background-position: 0 -2470px; }
				    &.knockdown-strike { background-position: 0 -2565px; }
				    &.combo-attack { background-position: 0 -2660px; }
				}
			}
		}
	}
//}
//body.sorcerer {
	#class_skill_wrapper, #content_side_body {
		.sorcerer_wrapper {
			.skill_icon {
				span {
				    /* Sorcerer */
				    &.fireball { background-position: 0 -98px; }
				    &.lightning-trap { background-position: 0px -382px; }
				    &.lightning-strike { background-position: 0 -854px;}
				    &.arcane-pulse { background-position: 0px -476px; }
				    &.mana-infusion { background-position: 0 -572px; }
				    &.fireblast { background-position: 0 -666px; }
				    &.fireblast-intensity { background-position: 0 -666px; }
				    &.flame-pillar { background-position: 0 -759px; }
				    &.flame-pillar-intensity { background-position: 0 -759px; }
				    &.void-pulse { background-position: 0px -952px; }
				    &.mindblast { background-position: 0px -1046px; }
				    &.retaliate { background-position: 0px -1141px; }
				    &.painblast { background-position: 0px -1236px; }
				    &.mana-siphon { background-position: 0px -1424px; }
				    &.flaming-barrage { background-position: 0px -1710px; }
				    &.nerve-exhaustion { background-position: 0px -1807px; }
				    &.mana-volley { background-position: 0px -1994px; }
				    &.teleport-jaunt { background-position: 0px -2090px; }
				    &.hail-storm { background-position: 0px -2186px; }
				    &.painful-trap { background-position: 0 -1330px; }
				    &.burning-breath { background-position: 0px -1900px; }
				    &.stone-skin { background-position: 0px -2281px; }
				    &.backstep { background-position: 0 -2469px; }
				    &.time-gyre { background-position: 0px -2564px; }
				    &.glacial-retreat { background-position: 0px -2661px; }
				    &.burst-of-celerity { background-position: 0px -2758px; }
				    &.frost-sphere { background-position: 0px -286px; }
				    &.meteor-strike { background-position: 0px -667px;}
				    &.mana-boost { background-position: 0px -2852px;}
				    &.mana-barrier {background-position: 0px -2945px;}
				    &.nova { background-position: 0px -2375px;}
				    &.warp-barrier { background-position: 0px -190px;}
				}
			}
		}
	}
//}
//body.warrior {
	#class_skill_wrapper, #content_side_body {
		.warrior_wrapper {
			.skill_icon {
				span {
				    /* Warrior */
				    &.speed-boot { background-position: 0 -380px; }
				    &.smoke-flanker { background-position: 0 -1330px; }
				    &.cross-parry { background-position: 0 -1425px; }
				    &.scythe { background-position: 0 -1520px; }
				    &.blade-draw { background-position: 0 -1615px; }
				    &.traverse-cut { background-position: 0 -1710px; }
				    &.pounce { background-position: 0 -1805px; }
				    &.command-follow { background-position: 0 -1900px; }
				    &.command-attack { background-position: 0 -1995px; }
				    &.smoke-aggressor { background-position: 0 -2090px; }
				    &.staggering-counter { background-position: 0 -2185px; }
				    &.staggering-riposte { background-position: 0 -2185px; }
				    &.backstab { background-position: 0 -2280px; }
				    &.cascade-of-stuns { background-position: 0 -2375px; }
				    &.deadly-gamble { background-position: 0 -2470px; }
				    &.outlaw-declaration { background-position: 0 -2565px; }
				    &.rising-fury { background-position: 0 -2755px; }
				    &.combative-strike { background-position: 0 -2850px; }
				    &.charging-slash { background-position: 0 -2945px; }
				    &.retaliate { background-position: 0 -3040px; }
				    &.leaping-strike { background-position: 0 -3135px; }
				    &.merciless-leap-strike { background-position: 0 -3135px; }
				    &.poison-blade { background-position: 0 -3230px; }
				    &.defensive-stance { background-position: 0 -3325px; }
				    &.assault-stance { background-position: 0 -3420px; }
				    &.battle-cry { background-position: 0 -3515px; }
				    &.rain-of-blows { background-position: 0 -3610px; }
				    &.torrent-of-blows { background-position: 0 -3705px; }
				    &.evasive-roll { background-position: 0 -3800px; }
				    &.combo-attack { background-position: 0 -3895px; }
				    &.vortex-slash { background-position: 0 -2660px; }
				    &.reaping-slash { background-position: 0 -285px; }
				    &.infuriate { background-position: 0 -190px; }
				    &.binding-sword { background-position: 0 -2755px; }
				}
			}
		}
	}
//}
//body.ninja {
	#class_skill_wrapper, #content_side_body {
		.ninja_wrapper {
			.skill_icon {
				span {
				    /* Ninja */
				    &.combo-attack {background-position: 0 -2280px; }
				    &.shadow-jump {background-position: 0 -2185px; }
				    &.decoy-jutsu {background-position: 0 -1710px; }
				    &.double-cut {background-position: 0 -1045px; }
				    &.skyfall {background-position: 0 -1235px; }
	  				&.jagged-path { background-position: 0 -1995px;}
	  				&.thousand-cuts {background-position: 0 -1805px; }
					&.circle-steel { background-position: 0 -1140px;}
	  				&.blade-storm {background-position: 0 -665px;}
	  				&.poised-steps {background-position: 0 -2470px;}
	  				&.impact-bomb {background-position: 0 -1900px;}
	  				&.leaves-wind {background-position: 0 -2090px;}
	  				&.clone-jutsu {background-position: 0 -380px;}
	  				&.burning-heart {background-position: 0 -950px;}
	  				&.focused-chi {background-position: 0 -2375px;}
	  				&.attunement {background-position: 0 -760px;}
	  				&.chakra-thrust {background-position: 0 -570px;}
	  				&.death-blossom {background-position: 0 -855px;}
	  				&.smoke-bomb {background-position: 0 -1520px;}
	  				&.fire-avalanche {background-position: 0 -1615px;}
	  				&.focus {background-position: 0 -1330px;}
				}
			}
		}
	}
//}
//body.valkyrie {
	#class_skill_wrapper, #content_side_body {
		.valkyrie_wrapper {
			.skill_icon {
				span {
				    /* Valkyrie */
				    &.vslash {background-position: 0 -1330px;}
	  				&.leaping-slash {background-position: 0 -1520px;}
	  				&.rune-carving {background-position: 0px -1995px;}
	  				&.runeburst {background-position: 0px -380px;}
	  				&.evasion {background-position: 0px -1615px;}
	  				&.windslash {background-position: 0px -1140px;}
	  				&.bloodflower {background-position: 0px -1425px;}
	  				&.ground-bash {background-position: 0px -760px;}
	  				&.dream-slash {background-position: 0px -190px;}
	  				&.charge {background-position: 0 -950px;}
	  				&.dark-herald {background-position: 0px -475px;}
	  				&.glaive-strike {background-position: 0 -95px;}
	  				&.spinning-death {background-position: 0px -665px;}
	  				&.backstab {background-position: 0px -570px;}
	  				&.overhead-slash {background-position: 0 -855px;}
	  				&.reclamation {background-position: 0px -1805px;}
	  				&.maelstrom {background-position: 0 0;}
	  				&.shining-crescent {background-position: 0px -1235px;}
	  				&.balders-tears {background-position: 0px -1710px;}
	  				&.gjallar-horn {background-position: 0px -1900px;}
	  				&.ragnarok {background-position: 0px -285px;}
	  				&.titansbane {background-position: 0px -760px;}
				}
			}
		}
	}
//}