$white: #ffffff;
$black: #000000;
$grey: #555555;
$whitegrey: #e5e5e5;
$btngrey: #6f6f6f;
$darkgrey: #232323;
$newscopy: #3d3d3d;
$headinggrey: #323232;
$copybggrey: #cbcbcb;

$anchortag: #3569be;

$yellow: #ecb85e;
$yellowwhite: #fdf5e9;
$gold: #b48d4a;
$yellowgold: #ffcd79;

/* main selection colors */
$all_red: #a01e10;
$windows_blue: #2cb6e3;
$ps_blue: #0404bb;
$xbox_green: #49a942;

$bg_all_red: #841206;
$bg_windows_blue: #248498;
$bg_ps_blue: #122561;
$bg_xbox_green: #186610;

$twitch_gold: #edba63;
$teal: #0fb8d8;

$lightblue: #00b7fe;


/* completely random color, replace */
$blue: #4a9ce0;
$purple: #614276;

$navigationHightlightBG: $blue;
$dropdownHightlightBG: $purple;



//race and class colors
$mainRaceColor: #ffd672;
$poporiRaceColor: #0f6e27;
$humanRaceColor: #000000;
$highelfRaceColor: #0093d4;
$elinRaceColor: #1c9a65;
$castanicRaceColor: #c60404;
$barakaRaceColor: #615e61;
$amanRaceColor: #c13f00;

$mainClassColor: #ffd672;
$archerClassColor: #0094de;
$berserkerClassColor: #71321f;
$brawlerClassColor: #8e1909;
$gunnerClassColor: #0060d2;
$lancerClassColor: #777777;
$mysticClassColor: #73237f;
$ninjaClassColor: #9400d2;
$priestClassColor: #127241;
$reaperClassColor: #453393;
$sorcererClassColor: #d24e00;
$slayerClassColor: #4b7190;
$valkyrieClassColor: #0060d2;
$warriorClassColor: #1ac3b5;