
.download_page {
	position: relative;
	max-width:1530px;
	width:100%;
	margin:20px auto;
	background: $btngrey;
	.download_header {
		display: block;
		height: 100%;
		.downloadBTN {
			display: block;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			margin-top: 20px;
			a {
    			color: #ffffff;
    			display: block;
			    text-transform: uppercase;
			    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
			    font-weight: lighter;
			    font-size: 21px;
			    line-height: 1.2;
			    padding: 10px 80px 10px 10px;
			    .icon {
			    	width:81px;
			    	height:75px;
			    	display: inline-block;
			    	vertical-align:middle;
			    	margin-right: 10px;
			    }
			    &.direct-button {
			    	background: -webkit-linear-gradient(bottom, #62e0ff, #04788d);
    				background: linear-gradient(to bottom, #62e0ff, #04788d);
			    	.icon {
			    		background: url(https://eme01.enmasse-game.com/images/tera/download_page/platform_icons.png) -519px 0 no-repeat;
			    	}
			    }
			    &.steam-button {
			    	background: -webkit-linear-gradient(bottom, #444444, $black);
    				background: linear-gradient(to bottom, #444444, $black);
			    	.icon {
			    		background: url(https://eme01.enmasse-game.com/images/tera/download_page/platform_icons.png) 0 -7px no-repeat;
			    		height: 56px;
    				}
			    }
			}
		}
		.notes {
			text-transform: uppercase;
			color: $white;
			font-size:16px;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
			text-align:right;
			span {
				display:inline-block;
				vertical-align:middle;
			    height:75px;
				&.ps {
					background: url(https://eme01.enmasse-game.com/images/tera/download_page/platform_icons.png) -228px 0 no-repeat;
					width:70px;
				}
				&.xbox {
					background: url(https://eme01.enmasse-game.com/images/tera/download_page/platform_icons.png) -443px 0 no-repeat;
					width:55px;
				}
			}
		}
	}
}

.download_requirements {
	background: url(https://eme01.enmasse-game.com/images/tera/download_page/download_requirements.png) top center no-repeat;
	background-size: cover;
	padding: 20px;
	margin:0 auto;
	h3 {
		font-size:30px;
		color:$black;
		text-transform:uppercase;
	}
	table {
		font-size:16px;
		text-align:left;
		background: none;
		width:100%;
		th {
			text-transform: uppercase;
			color:$black;
			text-align:left;
			background: none;
			font-weight: bold;
			padding: 10px 10px 10px 0;
			&:nth-child(3n) {
				text-align:right;
			}
		}
		tr {
			background: none;
		}
		td {
			background: none;
			color:$black;
			font-weight: normal;
			padding: 10px 10px 10px 0;
			&:nth-child(1) {
				font-weight: bold;
			}
			&:nth-child(3n) {
				text-align:right;
			}
		}
	}
	p {
		font-size:19px;
		margin: 15px 0 20px;
	}
}
section#ankle {
	&.download {
		background: url(https://eme01.enmasse-game.com/images/tera/download_page/download_ankle.png) top center no-repeat;
		background-size: cover;
		.inner_wrapper {
			padding: 40px 30px;
		}
		h3 {
			text-align:left;
			color: $white;
			text-transform: uppercase;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
			font-weight: lighter;
			margin-bottom: 30px;
		}
		.actions {
			li {
				padding: 20px 0;
				a {
					color: $white;
				}
				h6 {
					text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
					font-weight: lighter;
					font-size:21px;
					display: inline-block;
					vertical-align:middle;
					padding-left: 10px;
				}
				small {
					font-size:16px;
					text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
					font-weight: lighter;
					display: block;
					text-transform: none;
				}
				.icon {
			    	width:100px;
			    	height:75px;
			    	display: inline-block;
			    	vertical-align:middle;
			    	margin-right: 10px;
			    }
			    &.play-ps4_na, &.play-ps_eu, &.play-xbox {
			    	width: 90%;
			    }
				&.play-ps4_na, &.play-ps_eu {
					background: -webkit-linear-gradient(bottom, #7ba6ff, #110b8b);
    				background: linear-gradient(to bottom, #7ba6ff, #110b8b);
    				.icon {
    					background: url(https://eme01.enmasse-game.com/images/tera/download_page/platform_icons.png) -105px 0 no-repeat;
    				}
				}
				&.play-xbox {
					background: -webkit-linear-gradient(bottom, #4adf4e, #007708);
    				background: linear-gradient(to bottom, #4adf4e, #007708);
    				a {
    					background: none;
    				}
    				.icon {
    					background: url(https://eme01.enmasse-game.com/images/tera/download_page/platform_icons.png) -327px 0 no-repeat;
    				}
				}
			}
		}
	}
}

@include breakpoint(tablet) {
	.download_page {
		background: $white;
		.download_header {
			position: absolute;
			top:0;
			right: 50px;
		}
	}
	.download_requirements {
		padding: 45px;
		margin:20px auto;
		table {
			font-size:19px;
		}
	}
	section#ankle {
		&.download {
			.inner_wrapper {
				padding: 40px 40px 0;
			}
			.actions {
				max-width:1530px;
				width:100%;
				position: relative;
				left: auto;
				right: auto;
				li {
					&.play-ps4_na, &.play-ps_eu, &.play-xbox {
				    	width: 30%;
				    }
				}
			}
		}
	}
}

@include breakpoint(desktop) {
	.download_requirements {
		padding: 45px 200px;
	}
	section#ankle {
		&.download {
			.inner_wrapper {
				padding-top: 80px;
			}
			.actions {
				max-width: 1530px;
				left: auto;
				right: auto;
				li {
					padding: 60px 0;
					h6 {
						font-size:37px;
					}
					small {
						font-size:18px;
					}
					&.play-ps4_na {
				    	width: 500px;
				    }
				    &.play-ps_eu {
				    	width: 500px;
				    }
				    &.play-xbox {
				    	width: 440px;
				    }
				}
			}
		}
	}
}


