.emeSlideShow {
  .emeGallery_wrapper {
  position: relative;
  z-index:9;

  .emeslides {
    width: 100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    position: relative;
    :nth-child(1) {
      height:100%;
    }
  }
  .buttons {
    position: absolute;
    top:50%;
    width:100%;
    z-index:8;
    //display:none;
    &.prev {
      float:left;
    }
    &.next {
      float:right;
    }
  }
  .pagers {
    position: absolute;
    left: 0;
    right: 0;
    text-align:center;
    bottom: 15px;
    width:auto;
    z-index:8;
    .carouselpager {
      display:inline-block;
      position: relative;
      background-color:#000000;
      border-radius: 5px;
      //background-image: image-url("global/lightbox/lightbox-sprite.png") no-repeat 0 0;
      //background-repeat: no-repeat;
      //background-position: 0 0;
      height:22px;
      width:22px;
      &.active, &:hover {
        //background-position: -64px 0;
        background-color:#fefefe;
      }
    }
  }
  .eme_slide {
    position: absolute;
    width:100%;
    height:100%;
    left:-9999em;
    z-index:6;
    cursor: pointer;
    &.active {
      left:0;
    }
  }
}


// transition effects
.fade {
  .eme_slide {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    &.active {
      opacity: 1;
      left:0;
      top:0;
    }
  }
}

/* sepcific styling */
/*
#topGallery, #bottomGallery, #anotehrGallery {
  width:100%;
  height:361px;
  position: relative;
  margin-bottom:10px;
  &:hover {
    cursor: pointer;
  }
}
#topGallery .pagers, #bottomGallery .pagers, #anotehrGallery .pagers {
  display: block;
  width:100%;
  z-index:999999;
  position: absolute;
}
#topGallery .buttons, #bottomGallery .buttons, #anotehrGallery .buttons {
  display: block;
  width:100%;
  z-index:999999;
  position: absolute;
}
#topGallery .carouselpager, #bottomGallery .carouselpager, #anotehrGallery .carouselpager {
  width: 57px;
  height:22px;
  margin: 5px;
  display: inline-block;
}
#topGallery .carouselpager:hover, #bottomGallery .carouselpager:hover, #anotehrGallery .carouselpager:hover,
#topGallery .carouselpager.active, #bottomGallery .carouselpager.active, #anotehrGallery .carouselpager.active {
  background-position: -64px 0;
}
*/
}
