.console-first-look {
    text-align: left;

    .header-wrapper {
        width: 100%;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 20px;
        margin: 0;
        background: #2cb6e3;
        h1 {
            border: solid 1px white;
            color: white;
            padding: 20px 100px;
        }
        small {
            font-size: 20px;
            display: block;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: normal;
            text-transform: initial;
            line-height: 1.4em;
            font-weight: normal;
        }
    }
    .sub-heading {
        width: 100%;
        padding: 50px 20px;
        padding-top: 20px;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        &:first-child {
            padding-top: 0;
        }
    }
    section.sub {
        background: white;
        margin-bottom: 35px;
        font-size: 0px;
        border-radius: 2px;
        position: relative;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        &.graybg {
            background: #cbcbcb;
        }
        &.two-colomn {
            width: 100%;
        }
        h2 {
            padding: 35px 23px;
            background: #323232;
            color: white;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: normal;
        }
        .text {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            .content {
                color: black;
                padding: 40px 30px;
                font-size: 21px;
                max-height: 480px;
                height: 100%;
                p {
                    font-size: 21px;
                    margin-bottom: 20px;
                    line-height: 1.4em;
                }
            }
        }
        .two-colomn-image {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            //max-width: 800px;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        video {
            width: 100%;
            vertical-align: top;
            background: #323232;
        }
        .thumb {
            width: 480px;
            max-width: 100%;
            transition: 250ms;
            &:hover {
                transform: scale(1.05);
            }
        }
        .eme_slide {
            display: inline-block;
            vertical-align: top;
            margin: 10px;
            max-width: 100%;
        }
        .thumbGal {
            text-align: center;
            width: 100%;
            margin: -10px 0;
            //display:flex;
            //justify-content: space-between;
        }
        .icon {
            width: 130px;
            margin: 10px;
        }
    }

#content_wide_body {
    padding: 60px 30px;
    padding-bottom: 0;
}

.preview {
    width: 485px;
    max-width: 100%;
    display: inline-block;
    margin: 10px;
    .trailer_wrapper {
        width: 100%;
    }
    .eme_slide {
        margin: 0;
        position: relative;
        transition: 250ms;
        &:after {
            content: url(https://eme01.enmasse-game.com/images/tera/events/male-brawler/blueplaybtn.png);
            position: absolute;
            display: inline-block;
            left: 0;
            right: 0;
            top: 30%;
            margin: auto;
            width: 95px;
            transition: 250ms;
        }
        &:hover {
            cursor: pointer;
            &:after {
                transform: scale(1.1);
            }
        }
    }
    .caption {
        margin-top: -5px;
        width: 100%;
        background: #cbcbcb;
        font-size: 21px;
        padding: 15px;
    }
    img {
        position: relative;
    }
}

    @media (min-width: 1200px) {
        .header-wrapper {
            h1 {
                font-size: 40px;
                small {
                    font-size: 24px;
                }
            }
        }
        section.sub.two-colomn {
            padding-top: 0px;
            width: 100%;
            .text, .two-colomn-image, video {
                height: auto;
                position: relative;
                width: 50%;
                .content {
                    font-size: 16px;
                }
            }
            h2 {
                font-size: 35px;
            }
        }
    }
}