h1.guide_page {
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	font-size:24px;
	color:$newscopy;
	text-align:center;
	width: 100%;
	margin: 30px auto;
}
.guide_page {
	display:block;
	text-align:left;
	max-width:1020px;
	width:100%;
	margin:0 auto;
	padding:0 20px;
	h1 {
		font-family: 'Exo 2', sans-serif;
		font-weight: bold;
		font-size:24px;
		color:$newscopy;
		text-align:center;
		width: 100%;
		margin: 30px auto;
	}
	h3 {
		font-family: 'Exo 2', sans-serif;
		font-weight: bold;
		font-size:18px;
		line-height:21px;
		color:$newscopy;
		margin-top: 15px;
	}
	ul {
		margin: 0 0 15px 0;
		li {
			display: block;
			list-style-type: none;
			background: url(/assets/icons/bullet.png) center left no-repeat;
			color:$newscopy;
			font-family: 'Exo 2', sans-serif;
			font-size:14px;
			line-height:21px;
			padding-left: 35px;
		}
	}
	p {
		color:$newscopy;
		font-family: 'Exo 2', sans-serif;
		font-size:14px;
		line-height:21px;
	}
	a {
		color: $anchortag;
		small {
			color:$newscopy;
		}
		&:hover {
			color:$newscopy;
		}
	}
	.ft-nav, &.ft-nav {
		background: $btngrey;
		padding: 20px;
		margin-bottom: 15px;
		text-align:center;
		display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
		display: -ms-flexbox;           /* TWEENER - IE 10 */
		display: -webkit-flex;          /* NEW - Chrome */
		display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		h3 {
			color: $white;
			font-family: 'Exo 2', sans-serif;
			font-weight: bold;
			font-size:18px;
			line-height:21px;
			display: block;
			width:100%;
			margin-top:0;
		}
		div {
			width:45%;
			margin: 10px auto;
			h4 {
				a {
					color: $white;
					text-decoration: underline;
					&:hover{
						color: $black;
					}
				}
			}
			p {
				color: $white;
				font-size:14px;
		        line-height:21px;
			}
		}
	}
}

@include breakpoint(tablet) {
	h1.guide_page {
		font-size:40px;
		margin: 70px auto;
	}
	.guide_page {
		h1 {
			margin: 70px auto;
		}
		h3 {
			font-size:21px;
			line-height:32px;
			margin-top: 30px;
		}
		ul {
			margin: 0 0 30px 0;
			li {
				font-size:18px;
				line-height:32px;
			}
		}
		p {
			font-size:18px;
			line-height:32px;
		}
		.img-right {
			float:right;
		}
		.img-left {
			float:left;
		}
		.ft-nav, &.ft-nav {
			padding: 20px;
			margin-bottom: 30px;
			h3 {
				font-size:21px;
			}
			div {
				width:22%;
				margin: 0;
				p {
					color: $white;
					font-size:16px;
					line-height:18px;
				}
			}
		}
	}
}

@include breakpoint(desktop) {
	.guide_page {
		padding: 0;
	}
}