#home-content {
	#content_article_header {
		div {
			display: none;
			&:nth-child(1) {
				display: block;
			}
		}
		&.home_slides {
			div {
				display: block;
			}
		}
	}
	section.home_slides {
		position: relative;
		display: block;
		padding-bottom: 0;
		background: $black;
		.home_slide {
			position:absolute;
			top:0;
			left: 0;
			right:0;
			z-index: -10;
			opacity: 0;
			transition: opacity 1s ease-in-out;
			&.active {
				position: relative;
				z-index: 1;
				opacity: 1;
			}
		}
		#home_slide_nav {
			display: block;
			padding: 3px 5px 10px 5px;
			width:100%;
			height: 50px;
			background: $darkgrey;
			display: none;
			button {
				border: none;
				outline: none;
				display: inline-block;
				cursor: pointer;
				background: none;
				display: none;
				&#home_slide_prev {
					padding: 0 0 0 7px;
				    width: 0;
				    height: 0;
				    border-top: 15px solid transparent;
				    border-bottom: 15px solid transparent;
				    border-right: 15px solid #0fb8d8;
				}
			    &#home_slide_next {
					padding: 0 7px 0 0;
				    position: relative;
				    left: calc(100% - 45px);
				    width: 0;
				    height: 0;
				    border-top: 15px solid transparent;
				    border-bottom: 15px solid transparent;
				    border-left: 15px solid #0fb8d8;
				}
			}
		}
		.home_slide_pagers {
			height: 35px;
			position: absolute;
			bottom: 0px;
			left: 0;
			right:0;
			margin:0 auto;
			text-align:center;
			width:80%;
			z-index: 1;
			span {
				display:inline-block;
		      	position: relative;
		      	background:$black;
		      	border: 1px solid $white;
		      	border-radius: 50%;
		      	height:22px;
		      	width:22px;
		      	margin:0 7px;
		      	cursor: pointer;
		      	&:before {
		      		content: '';
		      		position: absolute; 
		      		display: block;
    				border: 1px solid $black;
    				border-radius: 50%;
    				height: 100%; 
    				width: 100%;
    				box-sizing: border-box;
		      	}
		      	&.active, &:hover {
		        	background:$white;
		      	}
			}
		}
	}
}

@media all and (min-width: 1000px) {
	#home-content {
		section.home_slides {
			padding-bottom: 0px;
		}
	}
}
