body.blackfridaysales {
    main {
        margin: 0 auto;
        position: relative;
        width: 960px;
        background: url(https://store-cdn2.enmasse-game.com/assets/eme/bgTile.85b817215e14888ec1fdeb7a42add4f8.jpg) top center repeat;
        max-width: 100%;
    }
    .img-loader {
        position: absolute;
        top: -9999px;
        left: -9999px;
        .img1 {
            background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Monday/sales.jpg);
        }
        .img2 {
            background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Sunday/sales.jpg);
        }
        .img3 {
            background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Saturday/sales.jpg);
        }
        .img4 {
            background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Friday/sales.jpg);
        }
    }
    .purple {
        color: #c004d0;
    }
    .header {
        display: block;
        object-fit: cover;
        max-width: 100%;
        height: 368px;
    }
    .intro {
        padding: 13px;
        width: 100%;
        background-color: rgba(18, 18, 18, .612);   
        .wrapper {
            width: 100%;
            background-color: rgba(18, 18, 18, .612); 
            padding: 17px;
            h1 {
                width: 100%;
                text-align: center;
                font-size: 25px;
                color: white;
                font-weight: normal;
                margin-top: 0;
            }
            .desc {
                width: 100%;
                display: block;
                text-align: center;
                color: #d2d2d2;
                font-size: 18px;
            }
        }
    }
    #sales-container {
        padding-top: 65px;
        #sales-tabs {
            text-align: center;
            height: 90px;
            margin-bottom: 5px;
            .tab {
                width: 230px;
                height: 90px;
                display: inline-block;
                text-align: center;
                background: rgba(0,0,0,.89);
                transition: 250ms;
                max-width: 24%;
                &:nth-child(1) {
                    border-top-left-radius: 50px;
                }
                &:nth-child(4) {
                    border-top-right-radius: 50px;
                }
                &:hover {
                    cursor: pointer;
                    background: rgba(233,26,251,.89);
                    background-image: linear-gradient(180deg, rgba(233,26,251,.89), rgba(184,28,199,.89));                    
                }
                &.selected {
                    height: 95px;
                    background: rgba(75,75,75,.89);
                    &:hover {
                        background: rgba(233,26,251,.89);
                        background-image: linear-gradient(180deg, rgba(233,26,251,.89), rgba(184,28,199,.89));                    
                    }
                }
                h3 {
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 23px;
                    color: white;
                    margin-top: 15px;
                    margin-bottom: 0;
                }
                span {
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    color: white;
                }
                @media only screen and (max-width: 600px)  {
                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }
        #sales {
            width: 100%;
            height: auto;
            padding: 15px;
            background-color: rgba(75,75,75,.89);
            .sale {
                width: 100%;
                height: 308px;
                background-repeat: no-repeat;
                color: white;
                padding: 25px;
                padding-top: 15px;
                margin-bottom: 13px;
                position: relative;
                &:last-child {
                    margin-bottom: 0;
                }
                &:first-child {
                    h2 {
                        max-width: initial;
                    }
                    h4 {
                        max-width: initial;
                    }
                    p {
                        max-width: 375px;
                    }
                }
                h2 {
                    color: white;
                    font-size: 30px;
                    font-style: italic;
                    font-weight: normal;
                    margin-top: 0px;
                    margin-bottom: 22px;
                    line-height: 30px;
                    max-width: 225px;
                    text-transform: uppercase;
                }
                h4 {
                    color: white;
                    font-size: 18px;
                    margin-top: 0;
                    margin-bottom: 22px;
                    line-height: 18px;
                    max-width: 225px;
                }
                p {
                    color: white;
                    width: 100%;
                    max-width: 260px;
                    font-weight: normal;
                    b {
                        font-weight: bold;
                        color: #c004d0;
                    }
                    @media only screen and (max-width: 600px)  {
                        font-size: 14px;
                    }
                }
                .visitstore {
                    background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/visitstore_bg.jpg);
                    width: 215px;
                    height: 90px;
                    position: absolute;
                    bottom: 20px;
                    right: 25px;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 3px 20px;
                    font-size: 20px;
                }
                .btn {
                    background-color: #ea00ff;
                    box-shadow: 0px 3px 0px 0px #72007c;
                    padding: 10px 30px;
                    color: white;
                    text-transform: uppercase;
                    font-size: 20px;
                    text-decoration: none;
                    position: absolute;
                    right: 25px;
                    bottom: 20px;
                    transition: 250ms;
                    -webkit-font-smoothing: subpixel-antialiased;
                    &:hover {
                        background-color: #f153ff;
                    }
                    @media only screen and (max-width: 600px)  {
                        bottom: initial;
                        top: 10px;
                    }
                }
            }
            .sale-section {
                display: none;
                &.selected {
                    display: block;
                }
            }
            .monday {
                .sale {
                    background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Monday/sales.jpg);
                }
            }
            .sunday {
                .sale {
                    background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Sunday/sales.jpg);
                }
            }
            .saturday {
                .sale {
                    background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Saturday/sales.jpg);
                }
            }
            .friday {
                .sale {
                    background-image: url(https://static.enmasse.com/images/BlackFriday/Sales/Friday/sales.jpg);
                }
            }
        }
    }
    .emp-promo {
        background-color: rgba(0, 34, 65, .9);
        padding: 60px 20px;
        height: auto;
        width: 100%;
        .col {
            color: white;
            font-size: 24px;
            text-align: center;
            width: 100%;
            max-width: 300px;
            vertical-align: middle;
            display: inline-block;
            .btn {
                font-size: 30px;
                padding: 20px 20px;
                background-color: #007dd9;
                box-shadow: 0px 3px 0px 0px #0071c5;
                text-transform: uppercase;
                color: white;
                text-decoration: none;
                border-radius: 2px;
                display: block;
                width: 250px;
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }
            sup {
                vertical-align: top;
                top: 0px;
            }
            span {
                font-size: 60px;
                font-weight: bold;
            }
            @media only screen and (max-width: 950px)  {
                min-width: 100%;
                margin-bottom: 20px;
                &:nth-child(2) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}