body {
    background-image: url(https://eme01.enmasse-game.com/images/email/gleam/background.jpg);
    background-color: #3f4044;
    background-position: top center;
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    display: block;
    margin: 50px auto;
}

iframe {
    margin-bottom: 0 !important;
    border: solid 6px #1a81c4;
    left: -6px;
}