@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@-webkit-keyframes animate-firepit {
  0% {background-position: 0 0; }
  100% {background-position: -11850px 0;}
}

@-webkit-keyframes animate-bubbles {
  0% {background-position: 0 0; }
  100% {background-position: -15480px 0;}
}

@-webkit-keyframes animate-cauldron-shake {
  0% {background-position: 0 0; }
  100% {background-position: -12285px 0;}
}

@-webkit-keyframes shake {
  0% {    -webkit-transform: rotate(0deg); }
  20% {   -webkit-transform: rotate(-7deg); }
  40% {   -webkit-transform: rotate(7deg); }
  60% {   -webkit-transform: rotate(-7deg); }
  80% {   -webkit-transform: rotate(7deg); }
  100% {  -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes jiggle {
  0% { -webkit-transform: rotate(0deg); }
  20% {   -webkit-transform: rotate(-7deg); }
  40% {   -webkit-transform: rotate(7deg); }
  60% {   -webkit-transform: rotate(-7deg); }
  80% {   -webkit-transform: rotate(7deg); }
  100% {  -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes burst {
  0% { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(2.5); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes card-spin {
  0% {background-position: 0 0; }
  100% {background-position: -7992px 0;}
}
@-webkit-keyframes card-scale {
  0% { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1); }
}
// Laoding Spinner
  .sk-circle {
    margin: 25px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #2b65a8;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 { -webkit-transform: rotate(30deg); }
  .sk-circle .sk-circle3 { -webkit-transform: rotate(60deg); }
  .sk-circle .sk-circle4 { -webkit-transform: rotate(90deg); }
  .sk-circle .sk-circle5 { -webkit-transform: rotate(120deg); }
  .sk-circle .sk-circle6 { -webkit-transform: rotate(150deg); }
  .sk-circle .sk-circle7 { -webkit-transform: rotate(180deg); }
  .sk-circle .sk-circle8 { -webkit-transform: rotate(210deg); }
  .sk-circle .sk-circle9 { -webkit-transform: rotate(240deg); }
  .sk-circle .sk-circle10 { -webkit-transform: rotate(270deg); }
  .sk-circle .sk-circle11 { -webkit-transform: rotate(300deg); }
  .sk-circle .sk-circle12 { -webkit-transform: rotate(330deg); }
  .sk-circle .sk-circle2:before { -webkit-animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before { -webkit-animation-delay: -1s; }
  .sk-circle .sk-circle4:before { -webkit-animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before { -webkit-animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before { -webkit-animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before { -webkit-animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before { -webkit-animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before { -webkit-animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before { -webkit-animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before { -webkit-animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before { -webkit-animation-delay: -0.1s; }

  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  // END Loading Spinner

/***** Lightbox *****/
  #lb-blackout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
  }
  #lightbox {
    position: absolute;
    left: 0;
    z-index: 9005;
    width: 100%;
    top: 0;
  }
  #lightbox-container {
    width: 640px;
    position: relative;
    margin: 0 auto;
    background: black;
    border: 1px solid #3c899b;
    box-shadow: 0px 0px 10px 5px black;
    border-radius: 10px;
  }
  #lightbox.borderless #lightbox-container {
    border: none;
    box-shadow: none;
    background: none;
  }
  #lightbox-container.video {
    background: none;
  }
  #lightbox-container.video .lightbox-close{
    top: -18px;
    right: -18px;
  }
  #lightbox-head {
    height: 30px;
    width: 100%;
    background: url("https://static.enmasse.com/store/potion-shack/popup-header.png") no-repeat top center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 30px;
    text-transform: capitalize;
  }
  #lightbox.borderless #lightbox-head { display: none; }
  #lightbox-content {
    padding: 8px;
    padding-top: 0;
  }
  #lightbox.borderless #lightbox-content { padding: 0; }
  .lightbox-close:hover {
    background-position: -597px -29px;
  }
  .lightbox-close:active {
    background-position: -597px -58px;
  }
  /***** Dialog Lightbox *****/
    #lightbox .dialog {
      color: white;
      padding: 10px 10px 0;
      ul { @include clearfix; }
      li {
        width: 50%;
        float: left;
      }
    }
    #confirm, #cancel {
      display: block;
      width: 154px;
      height: 47px;
      margin: 10px auto;
      background: url("https://static.enmasse.com/store/potion-shack/Modal_Button_Sprite.png") no-repeat 0px 0px;
      color: white;
      font-weight: bold;
      text-align: center;
      line-height: 47px;
      text-decoration: none;
      cursor: pointer;
      &:hover { background-position: 0 -47px; }
      &:active { background-position: 0 -94px; }
    }
  /***** END Lightbox *****/

body, h1, em, span {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2em;
}
body { background: black; }

#potion-shack #wide_body {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 968px;
  height: 540px;
  background: black url("https://static.enmasse.com/store/potion-shack/bg.png") no-repeat top right;
  .wrapper {
    width: 968px;
    height: 540px;
    background: url("https://static.enmasse.com/store/potion-shack/front.png") no-repeat 0 0;
  }
  #control {
    position: absolute;
    left: 0; top: 0;
    z-index: 10;
    width: 345px;
    height: 540px;
    padding: 10px;
    background: rgba(#07121f, 0.8);
    border-right: 1px solid #054883;

    .logo {
      width: 264px;
      height: 152px;
      background: url("https://static.enmasse.com/store/potion-shack/logo.png") no-repeat 0 0;
      margin: 0 auto;
    }

    .catalysts {
      width: 265px;
      margin: 0px auto 14px;
      
      font-weight: bold;
      color: #feb813;
      @include clearfix;

      span {
        display: inline-block;
        float: left;
        line-height: 50px;
      }

      .catalyst-icon {
        float: left;
        margin: 0 10px;
        width: 47px;
        height: 47px;
        background: url("https://static.enmasse.com/store/potion-shack/catalyst-icon.png") no-repeat 0 0;
      }
      #catalyst-count {
        font-size: 50px;
      }
    }

    #info {
      @include clearfix;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
      color: white;
      text-align: center;
      h1 { margin-bottom: 5px; }
      h1 a {
        font-size: 26px;
        line-height: 26px;
        color: #60c0fd;
      }
    }

    #buy-more {
      @include clearfix;
      margin: 20px 0 10px;
      li {
        float: left;
        margin: 2px;
        font-size: 12px;
        line-height: 18px;
        &> a {
          background: url("https://static.enmasse.com/store/potion-shack/catalyst-button.png") no-repeat 0 0;
          display: block;
          width: 157px;
          height: 71px;
          padding: 17px 0 0 15px;
          &:hover { background-position: 0 -71px; }
          &:active { background-position: 0 -142px; }
        }
      }
      a {
        color: white;
        text-decoration: none;
      }
      .num {
        font-size: 32px;
        line-height: 50px;
        font-weight: bold;
        float: left;
        margin: -6px 5px 0 0;
        width: 55px;
        text-align: right;
      }
      .cost {}
    }

    .buy-emp {
      color: #97bddd;
      margin: 10px;
      .button {
        border: none;
        outline: none;
        background: url("https://static.enmasse.com/store/potion-shack/BuyEMP.png") no-repeat 0 0;
        width: 99px;
        height: 35px;
        color:white;
        padding: 5px 10px;
        float: right;
        &:hover { background-position: 0 -35px; }
        &:active { background-position: 0 -70px; }
      }
      p { line-height: 32px; }
    }
  }

  #game {
    position: absolute;
    left: 345px;
    top: 0;
    width: 623px;
    height: 540px;
    overflow: hidden;
  }

  .bubble {
    position: absolute;
    left: 405px; top: 50px;
    z-index: 2;
    max-width: 200px;
    padding: 20px 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 10px;
    span.arrow {
      position: absolute;
      left: -59px; top: 35%;
      z-index: 0;
      width: 94px;
      height: 42px;
      background: url("https://static.enmasse.com/store/potion-shack/speach-arrow.png") no-repeat 0 0;
    }
    p { display: none; }
    .a { display: block; }
  }

  #kyra {
    position: absolute;
    left: 196px; top: 0;
    z-index: 1;
    width: 250px;
    height: 353px;
    background: url("https://static.enmasse.com/store/potion-shack/kyra1.png") no-repeat 0 0;
    &:after, &.after {
      content: "";
      left: 165px; top: 0;
      width: 329px;
      height: 348px;
      background: url("https://static.enmasse.com/store/potion-shack/kyra2.png") no-repeat 0 0;
    }
  }

  #bubbles {
    position: absolute;
    z-index: 2;
    left: 212px; top: 230px;
    width: 215px; height: 56px;
    background: url("https://static.enmasse.com/store/potion-shack/cauldron-bubbles.png") no-repeat 0 0;
    -webkit-animation: animate-bubbles 7s steps(72) infinite;
  }

  #cauldron {
    position: absolute;
    left: 205px; top: 213px;
    z-index: 4;
    width: 233px;
    height: 237px;
    background: url("https://static.enmasse.com/store/potion-shack/Cauldron.png") no-repeat 0 0;
    &:after, &.jiggle {
      content: "";
      background: url("https://static.enmasse.com/store/potion-shack/Cauldron_Jiggle.png") no-repeat 0 0;
      width: 286px; height: 273px;
      left: 179px; top: 191px;
      -webkit-transform-origin:50% 50%;
      -webkit-animation: jiggle 0.4s steps(12);
    }
    &:after {
      position: absolute;
      top: 500px;
    }
  }

  #start {
    display: block;
    position: absolute;
    left: 222px; top: 317px;
    z-index: 5;
    width: 189px;
    height: 91px;
    cursor: pointer;
    background: url("https://static.enmasse.com/store/potion-shack/Start.png") no-repeat 0 0;
    &:hover { background-position: 0 -91px; }
    &:active { background-position: 0 -182px; }

    padding-top: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    line-height: 22px;
    font-weight: bold;
    cursor: pointer;
    span { font-size: 16px; }
  }

  #firepit {
    position: absolute;
    left: 115px; top: 347px;
    z-index: 1;
    width: 395px;
    height: 215px;
    background: url("https://static.enmasse.com/store/potion-shack/Firepit.png") no-repeat 0 0;

    -webkit-animation: animate-firepit 6s steps(30) infinite;

    .logs {
      position: absolute;
      left: 109px; top: 78px;
      width: 172px;
      height: 52px;
      background: url("https://static.enmasse.com/store/potion-shack/Firewood_Infront.png") no-repeat 0 0;
    }
  }

  .spinner {
    display: none;
    position: absolute;
    top: -777px;
    right: -729px;
    
    width: 2080px;
    height: 2094px;
    -webkit-animation: spin 100s infinite linear;
    &.one { z-index: 10; }
    &.two { z-index: 12; }

    .burst {
      position: absolute;
      top: 0;
      right: 0;
      width: 2080px;
      height: 2094px;
      background-position: top right;
      -webkit-transform-origin:50% 50%;
      -webkit-animation: burst 1s forwards;

      &.red { background-image: url("https://static.enmasse.com/store/potion-shack/blast_Red.png"); }
      &.blue { background-image: url("https://static.enmasse.com/store/potion-shack/blast_Blue.png"); }
      &.purple { background-image: url("https://static.enmasse.com/store/potion-shack/blast_Purple.png"); }
      &.green { background-image: url("https://static.enmasse.com/store/potion-shack/blast_Green.png"); }
      &.yellow { background-image: url("https://static.enmasse.com/store/potion-shack/blast_Yellow.png"); }
    }
  }

  #bouncer {
    display: none;
    position: absolute;
    left: 164px; top: 187px;
    z-index: 11;
    width: 315px;
    height: 280px;
    background: url("https://static.enmasse.com/store/potion-shack/Cauldron_Shake.png") no-repeat 0 0;
    -webkit-animation: animate-cauldron-shake 1.5s steps(39) infinite;
  }

  #card {
    display: none;
    position: absolute;
    top: 4px; left: 89px;
    z-index: 15;
    width: 444px; height: 532px;
    -webkit-animation: card-scale 0.4s forwards;
    &.stars { -webkit-animation: card-spin 1.5s steps(18) infinite; }
    background-position: 0 0;
    &.red { background-image: url("https://static.enmasse.com/store/potion-shack/card_red.png"); }
    &.blue { background-image: url("https://static.enmasse.com/store/potion-shack/card_blue.png"); }
    &.purple { background-image: url("https://static.enmasse.com/store/potion-shack/card_purple.png"); }
    &.green { background-image: url("https://static.enmasse.com/store/potion-shack/card_green.png"); }
    &.yellow { background-image: url("https://static.enmasse.com/store/potion-shack/card_yellow.png"); }

    #prizeImage {
      border: 3px solid #fefefe;
      box-shadow: 0px 0px 0px 2px rgb(0,180,174);
      width: 249px;
      height: 201px;
      margin: 135px auto 10px;
      background-position: 0 -75px;
      background-image: url("https://static.enmasse.com/store/potion-shack/product-placeholder.png");
    }

    #prizeTitle {
      border: 3px solid #fefefe;
      box-shadow: 0px 0px 0px 2px rgb(0,180,174);
      border-radius: 10px;
      background: #232220;
      width: 250px;
      height: 100px;
      margin: 10px auto;
      padding: 10px 15px;
      color: white;
      font-size: 19px;
      font-weight: bold;
      text-align: center;
      line-height: 22px;
    }
  }

  #prizes, #bounties {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: url("https://static.enmasse.com/store/potion-shack/BuyEMP.png") no-repeat 0 0;
    width: 99px;
    height: 35px;
    color:white;
    padding: 5px 10px;
    float: right;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    &:hover { background-position: 0 -35px; }
    &:active { background-position: 0 -70px; }
  }
  #prizes { right: 10px; }
  #bounties { right: 120px; }

  .bottle {
    display: block;
    position: absolute;
    top: 550px; left: 270px;
    z-index: 5;
    width: 101px;
    height: 125px;
    background: url("https://static.enmasse.com/store/potion-shack/Bottles.png") no-repeat 0 0;
    cursor: pointer;

    &#bottleRed      { 
      background-position: 0 0;
      &:hover { background-position: 0 -125px; }
    }
    &#bottleBlue     { 
      background-position: -101px 0;
      &:hover { background-position: -101px -125px; }
    }
    &#bottlePurple   { 
      background-position: -202px 0;
      &:hover { background-position: -202px -125px; }
    }
    &#bottleGreen    { 
      background-position: -303px 0;
      &:hover { background-position: -303px -125px; }
    }
    &#bottleYellow   { 
      background-position: -404px 0;
      &:hover { background-position: -404px -125px; }
    }
    &.inPlace:hover, .jiggle {
      -webkit-animation-name: shake;
      -webkit-animation-duration: 0.6s;
      -webkit-transform-origin:50% 50%;
      -webkit-animation-iteration-count: 0.6;
      -webkit-animation-timing-function: linear;
    }
  }
}
