footer {
  background: -webkit-linear-gradient(right, #0a1528, #142a50, #0a1528);
  background: linear-gradient(to right, #0a1528, #142a50, #0a1528);
  position: relative;
  font-family: "Exo 2", sans-serif;
  .inner {
    max-width: 500px;
    width:100%;
    margin:0 auto;
    padding: 20px;
    text-align:center;
  }
  .social ul {
    margin: 20px auto 40px;
  }
  .social li {
    display: inline-block;
    vertical-align:top;
  }
  .icon_facebook span, .icon_instagram span, .icon_youtube span, .icon_twitter span, .icon_linkedin span,
  .icon_discord span, .icon_twitch span, .icon_forums span {
    background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_0719.png);
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    display: block;
    text-indent: -9999em;
  }
  .icon_facebook span {
    background-position: 0 0;
  }
  .icon_instagram span {
    background-position: 0 -44px;
  }
  .icon_youtube span {
    background-position: 0 -175px;
  }
  .icon_twitter span {
    background-position: 0 -131px;
  }
  .icon_linkedin span {
    background-position: 0 -88px;
  }
  .icon_discord span {
    background-position: -50px 0;
  }
  .icon_twitch span {
    background-position: -50px -44px;
  }
  .icon_forums span {
    background-position: -50px -88px;
  }
  .logo_krafton_enm {
    background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_0719.png);
    background-repeat: no-repeat;
    background-position: -174px -730px;
    width: 100px;
    height: 78px;
    display: block;
    text-indent: -9999em;
    margin:0 auto;
  }

  .attribution, .legal {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
  }
  .legal {
    width:calc(100% - 125px);
    text-align: left;
  }
  nav {
    display: block;
    max-width: 310px;
    ul {
      margin:0;
      padding:0px;
      li {
        display: inline-block;
        vertical-align: top;
        &:after {
          content: "";
          color: $lightblue;
          background: $lightblue;
          width: 3px;
          height: 15px;
          display: inline-block;
          position: relative;
          top: 4px;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
    a {
      font-size: 12px;
      font-weight: 700;
      padding: 0 15px;
      color:$white;
      text-decoration: none;
      &:hover {
        color: $lightblue;
      }
    }
  }
  h4 {
    font-size:30px;
  }
  .copyright {
    padding-top:10px;
    padding-left:15px;
  }
  .copyright p {
    font-size: 12px;
    color:$grey;
    font-weight: 700;
  }
}




