  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
    margin:0;
    padding:0;
    line-height: 1.4em;
  }

  p {
    margin-bottom: 0.25em;
    &.lead {
      font-size: 1.25em;
      line-height: 1.6em;
      margin-bottom: 1em; 
    }
  }
  aside p {
    font-size: 0.9em;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000000;
    text-rendering: optimizeLegibility;
    line-height: 1.6em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    small {
      font-size: 0.8em;
      line-height: 1em;
    }
    em {
      font-style: italic;
    }
    a:hover {
      color: #000000;
      text-decoration: underline;
    }
  }

  h1 { font-size: 32px; }
  h2 { font-size: 24px; }
  h3 { font-size: 21px; }
  h4, h5, h6 { font-size: 16px; }


  em, i { font-style: italic; line-height: inherit; }
  strong, b { font-weight: bold; line-height: inherit; }
  small { font-size: 80%; line-height: inherit; }

  /* Lists ---------------------- */
  ul, ol {
    line-height: 1.6em;
    margin-bottom: 1em;
    list-style-position: inside;
    }
  ul {
    li {
    /*  list-style-type: disc; */
      ul, ol { margin-left: 20px; margin-bottom: 0; }
      li ul { list-style-type: circle; }
      li ul li ul { list-style-type: square; }
      li ul li ul li ul { list-style-type: disc; }
      li ul li ul li ul li ul { list-style-type: circle; }
      li ul li ul li ul li ul li ul { list-style-type: square; }
    }
    &.no-bullet { list-style: none; }
    &.large li { line-height: 2.8em }
  }
  dl {
      dt {
          font-weight:bold;
          margin: 5px 0;
      }
      dd {
          padding: 5px 0 5px 10px;
          margin-left: 5px;
      }
  }
