// Grays
  $lightGray: #4b4f56 !default;
  $midGray: #30343b !default;
  $darkGray: #1d2128 !default;
// Blues
  $lightBlue: #0297FF !default;
  $midBlue: #0875D1 !default;
  $darkBlue: #0C5AAd !default;
// Golds
  $lightGold: #dfa013 !default;
  $midGold: #b26a0c !default;
  $darkGold: #613a04 !default;
// Greens
  $lightGreen: #1C9509 !default;
  $midGreen: #198607 !default;
  $darkGreen: #115f02 !default;
// Reds
  $lightRed: #960909 !default;
  $midRed: #820707 !default;
  $darkRed: #530202 !default;
// Oranges
  $lightOranges: #ff9400 !default;
  $midOranges: #c36e00 !default;
  $darkOranges: #663d00 !default;
// BabyBlues
  $lightBabyBlues: #68a7f6 !default;
  $midBabyBlues: #4387ed !default;
  $darkBabyBlues: #1e54b9 !default;
// Purples
  $lightPurples: #7b3aff !default;
  $midPurples: #491bdb !default;
  $darkPurples: #331180 !default;
  $purple: #8575e5;
// Peach
  $lightPeach: #ff6e42 !default;
  $midPeach: #bf5134 !default;
  $darkPeach: #803919 !default;
// Pink
  $lightPink: #e84485 !default;
  $midPink: #e82b7d !default;
  $darkPink: #e2116f !default;

  /* alerts */
  $periwinkle: #8aaad5;
  $internetblue: #2a88dc;
  $errorRed: #ff2600;
  $warnOrange: #ff9c00;
  $infoGreen: #179735;

  /* enmasse elite status */
  $inactiveRed: #ff0000;
  $priceYellow: #ffd200;
  $activeGreen: #66ff00;

  /* background and footer */
  $bglight: #e4e4e6;
  $darkGrey: #222222;
  $copyGrey: #939393;
  $darkBlue: #222b36;
  $formGrey: #b5b5b5;
  $eliteBGgrey: #c6c6c6;

  /* buttons */
  $yellow: #ffeb00;
  $gold: #e38f18;
  $blue: #007dd9;
  $blueShadow: #005a9c;

  $mainColor: #0297ff !default;
  $secondaryColor: #e9e9e9 !default;
  $alertColor: #c60f13 !default;
  $successColor: #5da423 !default;
  $txtColor: #BBBBBB !default;
  $strongColor: #EEEEEE !default;
  $errorColor: #fb0000 !default;
  $black: #000 !default;
  $white: #FFF !default;
  $highlightColor: #ffff99 !default;
  $linkColor: $lightBlue !default;
  $linkHover: $lightBlue !default;
$shinyEdge: rgba(#fff, .5) !default;
$darkEdge: rgba(#000, .2) !default;