$hasTipBorderBottom: dotted 1px $txtColor !default;
$hasTipFontWeight: normal !default;
$hasTipFontColor: #333 !default;
$hasTipBorderBottomHover: dotted 1px darken($txtColor, 20%) !default;
$hasTipFontColorHover: $white !default;
$tooltipBackgroundColor: $darkGray !default;
$tooltipBackgroundOpacity: 1.0 !default;
$tooltipFontSize: 16 !default;
$tooltipFontWeight: normal !default;
$tooltipFontColor: $white !default;
$tapToCloseFontSize: 10 !default;
$tapToCloseFontWeight: normal !default;
$tapToCloseFontColor: $white !default;
$tooltipFontSizeScreenSmall: 14 !default;
$tooltipFontSizeScreenSm: $tooltipFontSizeScreenSmall;
$tooltipBackgroundOpacityScreenSmall: 1.0 !default;
$tooltipBgOpacityScreenSm: $tooltipBackgroundOpacityScreenSmall;
$tooltipBorderColor: $lightGray;
$tooltipBorderWidth: 2px;
$tooltipBorderRadius: 4px !default;