$topBarBgColor: #222 !default;
$topBarHeight: 45px !default;
$topBarHeightMobile: 45px !default;
$topBarBtmMargin: 30px !default;
$topBarTitleWeight: bold !default;
$topBarTitleSize: 17px !default;
$topBarLinkColor: #fff !default;
$topBarLinkWeight: bold !default;
$topBarLinkSize: 13px !default;
$topBarDropBgColor: #222 !default;
$topBarDropLinkColor: #fff !default;
$topBarDropToggleSize: 5px !default;
$topBarDropToggleColor: #fff !default;
$topBarDropToggleAlpha: 0.5 !default;
$topBarSearchWidth: 200px !default;
$topBarLoginWidth: 300px !default;
$topBarLoginButtonWidth: 60px !default;
$topBarLoginInputWidth: ($topBarLoginWidth - $topBarLoginButtonWidth) / 2 !default;
$topBarBreakPoint: 940px !default; // Change to 9999px for always mobile layout
$topBarNavToggleSize: 8px !default;
$topBarNavToggleColor: #fff !default;