@mixin font-arial {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif
}
@mixin font-exo {
  font-family: 'Exo 2', sans-serif;
  font-weight:400;
}
@mixin font-exobold {
  font-family: 'Exo 2', sans-serif;
  font-weight:700;
}
