@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700');

$elite_lightblue:#4e9ce4;
$elite_darkblue:#173353;
$elite_white: #ffffff;
$elite_black: #000000;
$elite_green: #02ff32;
$elite_blackblue: #2b2f35;
$elite_greyblack: #3e4148;
$dangerred:#ff0000;

.offer-disclaimer {
  width: 250px;
  display: block;
  margin: 0 auto;
  line-height: 1.2em;
}

.teraWordmark {
  font-weight: bold;
  font-style: italic;
}

#page_container #wide_body.subscription {
  background: rgba(255,255,255,0.08);
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight:400;
  color: $elite_black;
  font-size:20px;
  line-height:1;
  text-align:center;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'serif6_beta_rgbold', serif;
    font-weight:700;
    line-height:1;
    margin: 0 auto;
    color: $elite_white;
  }

  h1 {
    font-size:24px;
    line-height: 1;
  }
  h2 {
    font-size:24px;
    line-height: 1;
  }
  h3 {
    font-size:20px;
    line-height: 1;
  }
  strong, b {
    color: $elite_black;
    font-weight:bold;
  }
  li {
    color: $elite_black;
  }
  p {
    font-size:16px;
    line-height:20px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:400;
    color: $elite_white;
  }

  .section {
    margin:0 auto;
    text-align:left; 
    p {
      color: $elite_white;
    }
    li {
      margin: 20px auto 0;
      font-size: 18px;
      line-height:1.5;
    }
  }

  #header {
    text-align:center;
    box-sizing: border-box;
    padding:40px 0 60px;
    h2 {
      margin: 30px auto 50px;
      width:480px;
    }
    p {
      margin:40px auto 0;
    }
  }

  button {
    font-family: 'serif6_beta_rgbold', serif;
    box-sizing:border-box;
    padding: 13px 70px;
    font-size:24px;
    text-shadow: none;
  }

  .wordmark {
    text-indent: -9999em;
    //background: image-url("elite/wordmark.png") top center no-repeat;
    background: image-url('elite/wordmark.png') top center no-repeat;
    width:443px;
    height:232px;
  }

  .sleeve {
    display: inline-block;
    vertical-align: top;
    width:50%;
  }

  // specific 'pages'
  #manage_elite1 {
    font-size:0;
    h2 {
      margin: 30px auto;
    }
    .sleeve {
      font-size:1em;
      &.left {
        width:530px;
        margin:0 auto;
        border: 1px solid $black;
        background: $elite_greyblack; 
        box-sizing: border-box;
        padding: 3px;
        border-radius: 5px;
        text-align:center;
        .wordmark {
          margin-bottom: 60px;
        }
        .danger {
          color: $dangerred;
        }
      }
      &.right {
        text-align:left;
        padding: 20px 70px 0 29px;
        &.danger {
          padding:20px 40px 0 29px;
        }
        h2 {
          font-size:20px;
          line-height:35px;
        }
        button, .manage-elite-btn {
          width:285px;
          height:50px;
          padding: 0;
          margin-bottom:40px
        }
        span {
          display: block;
        }
      }
    }
    .sleeve_inner {
      border: 1px solid $black;
      @include linear-gradient($elite_blackblue, $elite_black);
      border-radius: 5px;
      padding: 30px 40px 80px;
    }
  }

  .elite_active {
    color: $elite_green;
    text-transform:uppercase;
  }
  .elite_renew {
    font-weight:bold;
  }

  
} // end mobile / all

// the cancel modal
#cancelModal {
  width:340px;
  left: 0;
  right:0;
  margin:0 auto;
  text-align:left;
  box-sizing: border-box;
  padding: 40px 15px 22px;
  border-radius: 5px;
  h3 {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:20px;
    line-height:25px;
    margin:0 35px 35px;
  }
  p {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:16px;
    line-height:25px;
    margin:0 35px 35px;
  }
  &.content-block {
    background:#30343b;
    border: none;
    &:before {
      display: none;
      border: none;
    }
  }
  #eliteCancelStateBtn, a.button-secondary {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmYTYxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YTQ4MGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: #0875d1;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0875d1 0%, #0c5aad 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0875d1), color-stop(100%, #0c5aad));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0875d1 0%, #0c5aad 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0875d1 0%, #0c5aad 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0875d1 0%, #0c5aad 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0875d1 0%, #0c5aad 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0875d1', endColorstr='#0c5aad',GradientType=0 );
    /* IE6-8 */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0875d1', endColorstr='#0c5aad',GradientType=0 );
    /* IE6-8 */
    border-top: 1px solid #0c5aad;
    text-decoration: none;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:bold;
    display: inline-block;
    vertical-align: top;
    color:$white;
    text-transform: uppercase;
    text-shadow:none;
    margin:0;
    padding: 0;
    width:150px;
    height:50px;
    font-size:21px;
    line-height:50px;
    &:hover {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmYTYxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YTQ4MGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: #0297ff;
      /* Old browsers */
      background: -moz-linear-gradient(top, #0297ff 0%, #0875d1 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0297ff), color-stop(100%, #0875d1));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #0297ff 0%, #0875d1 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #0297ff 0%, #0875d1 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #0297ff 0%, #0875d1 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #0297ff 0%, #0875d1 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0297ff', endColorstr='#0875d1',GradientType=0 );
      /* IE6-8 */
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0297ff', endColorstr='#0875d1',GradientType=0 );
      /* IE6-8 */
      border-top: 1px solid #0875d1;
      box-shadow:none;
      text-decoration: none;
    }
  }
  a.button-secondary {
    margin-left: 5px;
  }
  &:after {
    display: none;
    border: none;
  }
}

