@mixin buttunBase(){
  @include border-radius( 5px );
  @include text-shadow(rgba($darkGray, 0.7) 1px 1px 0);
  border: none;
  color: $white;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer; cursor: hand;

  &:hover {
    text-decoration: none;
  }
  &:active {
    @include text-shadow(rgba($lightGray, 0.7) 1px 1px 0);
  }
}