/* alignment styles */
.text-align-left  {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}

/* font sizes */
.font-size-small {
  font-size: 0.75em;
}
.font-size-normal {
  font-size: 1em;
}
.font-size-large {
  font-size: 1.25em;
}

/* Font Weight */
.font-weight-regular {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight:normal;
}
.font-weight-bold {
 font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
 font-weight:bold;
}
.font-weight-black {
  font-family: "Arial Black","Arial Bold",Gadget,sans-serif;
  font-weight:normal;
}

/* list style types */
.list-style-square {
  list-style-type: square;
}
.list-style-decimal {
  list-style-type: decimal;
}
.list-style-upperalpha {
  list-style-type: upper-alpha;
}
.list-style-lowerroman {
  list-style-type: lower-roman;
}
