<% _.each(posts, function(post) { %>
<div class="community-connections__content" data-social-account="twitter">
    <!-- age of empires logo image and @tag -->
    <div class="community-connections__author">
        <a href="<%= post.authorUrl %>" class="community-connections__author-link">
            <img src="<%= post.authorAvatarUrl %>" alt="twitter avatar image" />
            <%= post.author %>
        </a>
    </div>

    <!-- twitter bird icon -->
    {{icon('twitter', 'community-connections__social-icon --twitter')}}

    <!-- post content -->
    <a class="community-connections__link" href="<%= post.postUrl %>">
        <div class="community-connections__message-container">
            <p><%= post.postContent %></p>
        </div>
    </a>
</div>
<% }); %>