<div class="mods_about">
  <button type="button" class="mods__button --flag">
    Inappropriate
  </button>
  <!-- existing -->
  <!-- was already reported -->
  <button type="button" class="mods__button --flag" data-button-user-flagged>
    Reported as Inappropriate
  </button>

  <div class="mods_description">
    <h6 class="mods__sub-heading">Description</h6>
    <%= description %>
  </div>

  <div class="mods_change-list">
    <h6 class="mods__sub-heading">Change List</h6>
    <%= changeList %>
  </div>
</div>

</div>