body.age-of-empires-iii-definitive-edition,
body.aoeiiide {
    .hero-header__content {
        &:before {
            content: '';
            padding-top: 60%;
            display: block;
            height: auto;
            width: 100%;
            margin: 0 auto;
            background: url($image-path+'/age3de/heros/hero-logo3-age3-4k.png') top center no-repeat;
            background-size: contain;
            @include breakpoint(medium up) {
               padding-top: 33%;
            }
        }
    }
}
