.age-of-empires-iv {
  .menu--buy-now:not(.menu__submenu) > li:last-child {
    display: none;
  }

  .civs-template__wrapper {
    &.--ageiv_campaigns {
      padding-top: 1.45454em;
      padding-bottom: 1.45454em;
      width: 100%;
      font-size: 3.4375vw;
      line-height: 1.45454em;
      margin: auto;
    }
    .campaigns_wrapper {
      max-width:90%;
      width:100%;
      margin: auto;
      @include breakpoint(medium up) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr auto;
        column-gap: 1rem;
        row-gap: 2rem;
      }
      @include breakpoint(large up) {
        max-width:1850px;
      }
      .civs-template {
        margin: 0;
        margin-bottom: 1rem;
        width:100%;
        overflow: hidden;
        @include breakpoint(large up) {
          height:100%;
        }
        img {
          width:100%;
          height: auto;
        }
        .bg .text {
          overflow:hidden;
          color: $ui-color-parchment;
          padding: 1rem;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
          width:100%;
          @include breakpoint(medium up) {
            height:100%;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (min-aspect-ratio: 33 / 32) {
    .civs-template__wrapper {
      &.--ageiv_campaigns {
        font-size: 2.3399vw;
        line-height: 1.47812em;
        width: 86%;
      }
    }
  }

  @include breakpoint(medium up) {
    &.--ageiv_campaigns {
      display: flex;
      flex-wrap:wrap;
    }

    .civs-template__wrapper {
      &.--ageiv_campaigns {
        //display: inline-flex;
        //flex-wrap: wrap;
        //gap: 12px;
        display: block;
        padding-top: 1.66667em;
        padding-bottom: 1.66667em;
        font-size: 2.34375vw;
        line-height: 1.46875em;
        width: 92%;
        margin: auto;
        .campaign_tile {
        flex: 1 1 49%;
        }
      }
    }
  }

  @include breakpoint(large up) {
    .civs-template__wrapper {
      &.--ageiv_campaigns {
        padding-top: 2.90909em;
        padding-bottom: 2.90909em;
        width: 83.33333%;
        font-size: 1.14583vw;
        line-height: 1.54545em;
      }
    }
  }

  .more_videos_bar {
    .btn-novis {
      display: block;
      z-index: 999;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width:100%;
      height:100%;
    }
  }

  .teasers .tease .bg .text {
    @include breakpoint(small only) {
      width: 100% !important;
      flex: 0 0 100%;
    }
  }

  
}

.wide-banner {
  &__inner {
    padding: rem-calc(16);
    text-align: center;
  }
}

.age4-cta {
 // background: url($image-path + 'age4/age4-background.jpg');
  //@include clearfix;
  width: 100%;
  &--img {
    @include breakpoint(medium up) {
      a:focus {
        outline: 2px solid $ui-color-royalgold-hover;
      }
    }
    img {
      width: 200px;
      max-height: 90px;
      /*@include breakpoint(medium up) {
        @include vertical-align;
      }*/
      @include breakpoint(medium only) {
        width: 125px;
      }
    }
  }
  /*&--frame-va {
    @include breakpoint(medium up) {
      @include vertical-align;
    }
  }*/
  &__inner {
    padding: rem-calc(16);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    @include breakpoint(small only) {
      flex-flow: column wrap;
    }
    @include breakpoint(medium up) {
      padding-top:4rem;
    }
  }
  &__block {
    padding: 16px;
    /*@include breakpoint(medium up) {
      height: 400px;
    }*/
  }
  &__content {
    text-align: center;
    max-width: 500px;
    @include breakpoint(medium down) {
      h1 {
        font-size: 2rem;
      }
    }
    p {
      padding: 0 20px;
      float: none;
      margin: 1.875rem auto;
      font-size: 1.25rem!important;
      line-height: 1.6rem;
      color: #3f3625;
      text-rendering: optimizeLegibility;
    }
  }
  @include breakpoint(medium up) {
    a:focus {
      outline: 2px solid $ui-color-royalgold-hover;
    }
  }
}

// Custom Age4 games page
.age4__banner-custom-wrapper {
  min-height: 350px;

  &.age4-preorder {
    //min-height: 700px;
    position: relative;

    @include breakpoint(small up) {
      @include ag4-hero-bg-img('age4/bgs/bg-hero-age4landing-mobile.jpg');
      background-position: top center;
      background-repeat: no-repeat;
    }
    @include breakpoint(large up) { 
      @include ag4-hero-bg-img('age4/bgs/bg-hero-age4landing-desk.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 0;
      min-height:0;
      padding-bottom: 32.28%;
      //background-size:105%;
    }

    @include breakpoint(xlarge up) { 
      @include ag4-hero-bg-img('age4/bgs/bg-hero-age4landing-4k.jpg');
      background-position: top center; 
      background-repeat: no-repeat;
      background-size: cover;
      height: 0;
      min-height:0;
      padding-bottom: 32.28%;    
    }

    /* banner logo */
    .wide-banner_custom-logo {
      img {
        width: 100%;
        @include breakpoint(large up) { 
          max-width:250px;
          margin-top: -3rem;
        }
        @include breakpoint(xlarge up) { 
          max-width:300px;
        }
        @include breakpoint(xxlarge up) { 
          max-width:350px;
        }
        @include breakpoint(ultra up) { 
          max-width:454px;
        }
      }
    }

  }

  &.age4-custom {

    @include breakpoint(small up) {
      @include ag4-hero-bg-img('age4/bgs/fp-bg-age4-landing-hero-mobile.jpg');
    }
    @include breakpoint(medium up) { 
      @include ag4-hero-bg-img('age4/bgs/fp-bg-age4-landing-hero-desk.jpg');
    }

    @include breakpoint(xlarge up) { 
      @include ag4-hero-bg-img('age4/bgs/fp-bg-age4-landing-hero-4k.jpg');      
    }

  }

  .wide-banner_custom-logo {
    padding-bottom: 1%;
  }

  .preorder_wrapper_buttons {
    .buttons {
      .sandbutton {
        max-width: 14em;
        margin: auto;
        text-align: center;
        line-height: 2;
        /*@include breakpoint(xlarge up) { 
          min-width: 18em;
          max-width: 18em;
        }*/
      }
    }
  }

  &.age4-preorder {
    .wide-banner_custom-logo {
      @include breakpoint(large up) {
        padding-bottom: 0;
      }
      .wide-banner__inner {
        padding-top:110%;
        @include breakpoint(large up) {
          padding-top:0;
          padding-bottom: 0;
        }
      }
    }

    @include breakpoint(large up) {
      .preorder_wrapper_buttons {
        position: absolute;
        bottom: 3rem;
        //display: inline-flex;
        //justify-content: flex-start;
        //align-items: center;
        //gap: calc(10% + 1.5rem);
        //left: 36%;
        &:before {
          content:'';
          display: block;
          background-image: url($image-path + '/showcase/fh-oct28.png');
          background-position: top center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 0;
          width:160px;
          margin: auto;
          padding-bottom: 4%;
        }
        .buttons {
         // position: relative;
          //top:70%;
        }
      }
    }

    @include breakpoint(xlarge up) {
      .preorder_wrapper_buttons {
       bottom: 4rem;
         &:before {
          width: 200px;
         }
      }
    }

    @include breakpoint(xxlarge up) {
      .preorder_wrapper_buttons {
       bottom: 5rem;
         &:before {
          width: 250px;
         }
      }
    }

    @media all and (min-width: 1770px) {
      .preorder_wrapper_buttons {
       bottom: 6rem;
         &:before {
          width: 300px;
         }
      }
    }

    @include breakpoint(ultra up) {
      .preorder_wrapper_buttons {
       bottom: 7rem;
         &:before {
          width: 556px;
          margin-bottom: 1rem;
         }
      }
    }

    @media all and (min-width: 2220px) {
      .preorder_wrapper_buttons {
       bottom: 9rem;
      }
    }
  }

  .age4__banner-custom-youtube-embed {
    padding-bottom: calc(36px + 2%);

    .age4__yt-wrapper {
      @include breakpoint(48rem up) {
        width: 1056px;
        padding: 0;
      }
      .btn-novis {
        display: block;
        z-index: 999;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

  }
  /* pre order */
  &.age4-preorder {
    .wide-banner_custom-logo {
      max-width: 62%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      //top: 15rem;
    }
    .age4__yt-wrapper {
      @include breakpoint(48rem up) {
        width: 586px;
        padding: 0;
      }
      @include breakpoint(large up) {
        width:300px;
      }
      @include breakpoint(xlarge up) {
        width:400px;
      }
      @include breakpoint(1600px up) {
        width:576px;
      }
    }
    .preorder_vendors {
      @include breakpoint(large up) {
        position: absolute;
        left:61%;
        bottom: -1rem;
      }
      @include breakpoint(xlarge up) {
        bottom: -2rem;
      }
      /*@include breakpoint(xxlarge up) {
        bottom: 135%;
      }
      @include breakpoint(ultra up) {
        bottom: 224%;
      }*/
      ul {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin: 1rem auto;
        padding: 0;
        @include breakpoint(large up) {
          justify-content: space-between;
        }
        li {
          margin: 0 5px;
          @include breakpoint(1600px up) {
            margin:0 14px;
         }
          @include breakpoint(ultra up) {
            margin: 0 36px;
          }
          img {
            width: 100%;
            max-width:100px;
          }
          @include breakpoint(xlarge up) {
            &.vendor_gamepass {
              img {
                width: 100%;
                max-width:125px;
              }
            }
            &.vendor_windows {
              img {
                width: 100%;
                max-width:125px;
                //max-width:171px;
              }
            }
            &.vendor_steam {
              img {
                width: 100%;
                max-width:125px;
                //max-width:143px;
              }
            }
          }
          @include breakpoint(xxlarge up) {
            &.vendor_gamepass {
              img {
                width: 100%;
                max-width:125px;
              }
            }
            &.vendor_windows {
              img {
                width: 100%;
                max-width:171px;
              }
            }
            &.vendor_steam {
              img {
                width: 100%;
                max-width:143px;
              }
            }
          }
        }
      }
    }
    .age4__banner-custom-youtube-embed {
      position: relative;
      clear:both;
      .video-wrapper {
          @include civs-template-border();
      }
      @include breakpoint(large up) {
        position: absolute;
        top: 8%;
        //right: 3%;
        left: calc((100%  + 280px) / 2);
      }
      @include breakpoint(xlarge up) {
        //right: 8%;
        left: calc((100%  + 350px) / 2);
      }
      @include breakpoint(ultra up) {
        top: 12%;
        left: calc((100%  + 580px) / 2);
        //right: 10%;
        //right: 7%;
      }
    }

  }

}