.alert-page {
  font-size: $ui-bodyfontsize-mobile;
  line-height: $ui-bodylineheight-mobile;
  background: url($image-path + 'bgs/alert-bg-scarlet-desk.jpg') center center;
  background-size: 100% 100%;
  min-height: 1.454545em;
  padding: 1.090909em 0;
  position: relative;

  &.blue {
    background: url($image-path + 'bgs/alert-bg-blue-desk.jpg') center center;
    background-size: 100% 100%;
  }

  &.brown {
    background: url($image-path + 'bgs/alert-bg-brown-desk.jpg') center center;
    background-size: 100% 100%;
  }

  &.darkgold {
    background: url($image-path + 'bgs/alert-bg-darkgold-desk.jpg') center center;
    background-size: 100% 100%;
  }

  &.green {
    background: url($image-path + 'bgs/alert-bg-green-desk.jpg') center center;
    background-size: 100% 100%;
  }

  &.grey {
    background: url($image-path + 'bgs/alert-bg-grey-desk.jpg') center center;
    background-size: 100% 100%;
  }

  &.magenta {
    background: url($image-path + 'bgs/alert-bg-magenta-desk.jpg') center center;
    background-size: 100% 100%;
  }

  &.orange {
    background: url($image-path + 'bgs/alert-bg-orange-desk.jpg') center center;
    background-size: 100% 100%;
  }

  &.purple {
    background: url($image-path + 'bgs/alert-bg-purple-desk.jpg') center center;
    background-size: 100% 100%;
  }

  .alert-splash {
    display: none;
  }

  .alert-content {
    position: relative;
    width: $ui-content-width-mobile;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    a {
      color: $ui-color-darklink;
      &:hover {
        color: $ui-color-darklink-hover;
      }
    }

    .alert-icon {
      align-self: stretch;
      flex: 0 0 8.695652%;
      margin-right: 4.347826%;

      img {
        height: 100%;
        width: auto;
        min-height: 1em;
        max-height: 2.181818em;
        background: url($image-path + 'alert-icons-sheet-desk.png');
        background-size: 900% 200%;
        background-position: -800% 0;

        &.age1 {
          background-position: 0 0;
        }

        &.age2 {
          background-position: -100% 0;
        }

        &.age3 {
          background-position: -200% 0;
        }

        &.age4 {
          background-position: -300% 0;
        }

        &.myth {
          background-position: -400% 0;
        }

        &.xbox_gear_shop {
          background-position: -62% 100%;
        }

        &.flight {
          background-position: -500% 0;
        }

        &.forum {
          background-position: -600% 0;
        }

        &.release {
          background-position: -700% 0;
        }

        &.insider {
          background-position: 0 -100%;
        }

        &.general {
          background-position: -800% -100%;
        }

        &.tournament {
          background-position: -700% -100%;
        }

        &.twitch {
          background-position: -300% -100%;
        }

        &.mixer {
          background-position: -500% -100%;
        }

        &.broadcasting {
          background-position: -100% -100%;
        }

        &.maintenance {
          background-position: -200% -100%;
        }

        &.expo {
          background-position: -600% -100%;
        }

        &.sale {
          background-position: -400% -100%;
        }
      }
    }

    .alert-body {
      flex: 0 0 91.304347%;
      width: 91.304347%;
      color: $ui-color-parchment;
      font-family: trajan-pro-3, serif;
      font-weight: 700;
    }
  }

  a.alert-full-link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-image: none;
  }
}


@media (min-width: $ui-breakpoint-tablet) {
  .alert-page {
    font-size: $ui-bodyfontsize-tablet;
    line-height: $ui-bodylineheight-tablet;
    min-height: 1.454545em;
    padding: 0.833333em 0;

    .alert-splash {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20.703125%;

      &.age1 {
        background: url($image-path + 'age1/bgs/alert-splash-age1de-desk.png') left top 10%;
        background-size: cover;
      }

      &.age2de {
        background: url($image-path + 'age2de/bgs/alert-splash2-age2de-desk.png') left top 10%;
        background-size: cover;
      }

      &.age3 {
        background: url($image-path + 'age3/bgs/alert-splash-age3-desk.png') left top 10%;
        background-size: cover;
      }

      &.age4 {
        background: url($image-path + 'age4/bgs/alert-splash-age4-desk.png') left top 10%;
        background-size: cover;
      }

      &.myth {
        background: url($image-path + 'myth/bgs/alert-splash-myth-desk.png') left top 10%;
        background-size: cover;
      }     

      &.xbox_gear_shop {
        background: url($image-path + 'xbox_gear_shop/bgs/alert-splash-gear-desk.png') left top 10%;
        background-size: cover;
      }

    }

    .alert-content {
      width: $ui-content-width-tablet;

      .alert-icon {
        flex: 0 0 8.695652%;
        margin-right: 4.347826%;

        img {
          min-height: 1.666666em;
          max-height: 3.333333em;
        }
      }

      .alert-body {
        flex: 0 0 82.608695%;
        width: 82.608695%;
      }
    }
  }
}


@media (min-width: $ui-breakpoint-desk) {
  .alert-page {
    font-size: $ui-bodyfontsize-desk;
    line-height: $ui-bodylineheight-desk;
    min-height: 1.454545em;
    padding: 1.090909em 0;

    .alert-splash {
      width: 27.916666%;
    }

    .alert-content {
      width: $ui-content-width-desk;

      .alert-icon {
        flex: 0 0 6.5%;
        margin-right: 2%;

        img {
          min-height: 1.454545em;
          max-height: 4.727272em;
        }
      }

      .alert-body {
        flex: 0 0 74.5%;
        width: 74.5%;
        font-size: 1.045454em;
        line-height: 1.534375em;
      }

    }
  }
}


@media (min-width: $ui-breakpoint-ultra) {
  .alert-page {
    font-size: $ui-bodyfontsize-ultra;
    line-height: $ui-bodylineheight-ultra;
    background: url($image-path + 'bgs/alert-bg-scarlet-4k.jpg') center center;
    background-size: 100% 100%;

    &.blue {
      background: url($image-path + 'bgs/alert-bg-blue-4k.jpg') center center;
      background-size: 100% 100%;
    }

    &.brown {
      background: url($image-path + 'bgs/alert-bg-brown-4k.jpg') center center;
      background-size: 100% 100%;
    }

    &.darkgold {
      background: url($image-path + 'bgs/alert-bg-darkgold-4k.jpg') center center;
      background-size: 100% 100%;
    }

    &.green {
      background: url($image-path + 'bgs/alert-bg-green-4k.jpg') center center;
      background-size: 100% 100%;
    }

    &.grey {
      background: url($image-path + 'bgs/alert-bg-grey-4k.jpg') center center;
      background-size: 100% 100%;
    }

    &.magenta {
      background: url($image-path + 'bgs/alert-bg-magenta-4k.jpg') center center;
      background-size: 100% 100%;
    }

    &.orange {
      background: url($image-path + 'bgs/alert-bg-orange-4k.jpg') center center;
      background-size: 100% 100%;
    }

    &.purple {
      background: url($image-path + 'bgs/alert-bg-purple-4k.jpg') center center;
      background-size: 100% 100%;
    }

    .alert-splash {
      &.age1 {
        background: url($image-path + 'age1/bgs/alert-splash-age1de-4k.png') left top 10%;
        background-size: cover;
      }

      &.age2de {
        background: url($image-path + 'age2de/bgs/alert-splash-age2de-4k.png') left top 10%;
        background-size: cover;
      }

      &.age3 {
        background: url($image-path + 'age3/bgs/alert-splash-age3-4k.png') left top 10%;
        background-size: cover;
      }

      &.age4 {
        background: url($image-path + 'age4/bgs/alert-splash-age4-4k.png') left top 10%;
        background-size: cover;
      }

      &.myth {
        background: url($image-path + 'myth/bgs/alert-splash-myth-4k.png') left top 10%;
        background-size: cover;
      }

      &.xbox_gear_shop {
        background: url($image-path + 'xbox_gear_shop/bgs/alert-splash-gear-4k.png') left top 10%;
        background-size: cover;
      }
    }

    .alert-content {
      width: $ui-content-width-ultra;
    }
  }
}



