// Alert
// Various alerts throughout site - mods and clans
// Foundation Callouts could be used for other alerts - http://foundation.zurb.com/sites/docs/callout.html
// ------------------------------------------------+
//

$shadow: rgba(0, 0, 0, .5);

.alert {
  background: $red-error-dark url($image-path+'background-alert.png') repeat;
  box-shadow: 0 4px 8px $shadow;

  // link color is handled in global.scss with the other link styles

  @include breakpoint(medium) {
    display: flex;
  }

  .button {
    margin-top: 0.5em;
  }

  &__container {
    @include breakpoint(large) {
      display: flex;
      margin: auto;
      max-width: 80%;
    }
  }

  &__content {
    color: $white;
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1em;
    position: relative;

    @include breakpoint(medium) {
      padding: 1.75em;
    }

    &:nth-child(2) {
      &::before {
        background-color: $dark;
        content: '';
        height: 2px;
        left: 15%;
        position: absolute;
        top: -1px;
        width: 75%;

        @include breakpoint(large) {
          height: 80%;
          left: -1px;
          position: absolute;
          top: 10%;
          width: 2px;
        }
      }
    }
  }

  &__icon {
    margin-right: 1em;
    min-width: 50px;

    @include breakpoint(medium) {
      margin-right: 1.75em;
    }
  }

  &__message {
    // used for flex display
  }

  &__title {
    margin-bottom: 0;
  }

  &__desc {
    margin-bottom: 0;
  }

  // Mods specific
  // -----------------------+

  &--mod-detail {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &--mod-edit {
    left: -20px;
    position: relative;
    top: -20px;
    width: calc(100% + 40px);
    z-index: 1;

    .alert__content {
      padding: 40px 40px 20px;
    }
  }
}
