.arrow-badge-hr {
  background: url($image-path+'arrow-badge-hr.png') no-repeat center center;
  background-size: contain;
  display: block;
  filter: drop-shadow(0 0 10px rgba($black, 0.75));
  height: 0;
  margin-bottom: 1.0rem;
  padding-top: 9.25%; //aspect ratio = 70 / 756
  position: relative;
  width: 100%;

  &.arrow-badge-hr--castle {
    background-image: url($image-path+'arrow-badge-hr--castle.png');
  }

  &.arrow-badge-hr--combat {
    background-image: url($image-path+'arrow-badge-hr--combat.png');
  }

  &.arrow-badge-hr--gameplay {
    background-image: url($image-path+'arrow-badge-hr--gameplay.png');
  }

  &.arrow-badge-hr--victory {
    background-image: url($image-path+'arrow-badge-hr--victory.png');
  }

  > hr {
    display: none;
  }
}
