.civs-template__wrapper {
    position: relative;

    &::before {
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
        height: 35px;
        top: calc(35px / 2 * -1);
        background-size: auto 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($image-path + 'civilizations/borders/divider-section-mobile.svg'); 
        z-index: 2;

        @include breakpoint(960 up) {
            background-size: auto 200%;
            background-image: url($image-path + 'civilizations/borders/divider-section-desk.svg'); 
        }
    }
    &:first-of-type {
        &:before {
            display: none;
        }
    }

    .civ_subnav_wrapper {
        .tease {
             margin-bottom: 0 !important;
        }
    }

    .teasers {
        @include breakpoint(767 down) {
            padding-left: calc(0.45454em * 6 - 10px);
            padding-right: calc(0.45454em * 6 - 10px);

            // Slideshow styles
            h2.slide-show-heading {
                margin-left: 10px;
            }

            &.slick-slider-teasers {
                padding-left: calc(0.45454em * 6);
                padding-right: calc(0.45454em * 6);
            }
        }
    } 

    // video bar area
    &.more_videos_bar {
        padding:2rem 0;
        .age4__yt-wrapper {
            margin: 1em auto;
        }
        .video-wrapper {
            @include civs-template-border();
        }
        @include breakpoint(960 up) {
            padding:4rem 0;
            .video_collection {
                display: flex;
            }
        }
    }

    // multi slide area
    .tease-custom-bg-image {
        .bg-picture__background {
            width:100%;
            max-width:100%;
            img {
                width:100%;
                max-width:100%;
            }
        }
    }


    @include breakpoint(960 up) {
        // civ navigation menu 
        #civ_subnav_mobile_btn {
            display: none;
        }

    }
    
    // Slick slider slideshow styles
    .slider-wrapper {
        background: none;
        height: auto;

        // Hide slider until loaded to avoid
        // slide stacking
        &.slide-show-1, &.slide-show-3, &.sections-3, &.sections-2 {
            opacity: 0;
            visibility: hidden;
            position: relative;
            transition: opacity 500ms ease;

            &.slick-initialized {
                visibility: visible;
                opacity: 1;

                .slick-list {
                    z-index: 1000;
                }

                .slick-prev-wrapper, .slick-next-wrapper {
                    position: absolute;
                    top: 0.45454em;
                    width: 100%
                }
                
                .slick-prev, .slick-next {
                    z-index: 1001;
                    display: flex;
                    align-items: center;
                    margin-top: 2px;
                    padding: 2px 32px;
                    height: 100%;
                    width: 32px;
                    top: 100px;
                    justify-content: center;

                    @include breakpoint(1280 up) {
                        width: 44px;
                        padding: 2px 44px;
                    }
                    
                    @include breakpoint(1921 up) {
                        width: 64px;
                        padding: 2px 64px;
                    }

                    @include breakpoint(3840 up) {
                        width: 128px;
                        padding: 2px 128px;
                    }

                    // Hide button.slick-prev::before and button.slick-next::before elements
                    // as slick slider adds ugly default arrow images
                    &::before {
                        width: 0;
                        height: 0;
                        overflow: hidden;
                    }

                    img {
                        width: 32px;
                        max-width: 32px;
                        height: 32px;

                        @include breakpoint(1280 up) {
                            width: 44px;
                            max-width: 44px;
                            height: 44px;
                        }

                        @include breakpoint(1921 up) {
                            width: 64px;
                            max-width: 64px;
                            height: 64px;
                        }

                        @include breakpoint(3840 up) {
                            width: 128px;
                            max-width: 128px;
                            height: 128px;
                        }
                    }
                }

                .slick-prev {
                    left: 0; 
                    filter: drop-shadow(-4px 0 2px black); 
                    margin-left: -32px;
                    // Grab URL from background-image property value and use it in CivPageSlickSlider.js
                    // to get full image path and create an img tag
                    background-image: url($image-path + 'civilizations/buttons/icon-pointer-left-normal.svg');
                    background-size: 0 0;

                    @include breakpoint(1280 up) {
                        margin-left: -44px;
                    }

                    @include breakpoint(1921 up) {
                        margin-left: -64px;
                    }

                    @include breakpoint(3840 up) {
                        margin-left: -128px;
                    }
                }

                .slick-next {
                    right: 32px;
                    filter: drop-shadow(4px 0 2px black);
                    margin-right: calc(-2 * 32px);
                    // Grab URL from background-image property value and use it in CivPageSlickSlider.js
                    // to get full image path and create an img tag
                    background-image: url($image-path + 'civilizations/buttons/icon-pointer-right-normal.svg');
                    background-size: 0 0;

                    @include breakpoint(1280 up) {
                        right: 44px;
                        margin-right: calc(-2 * 44px);
                    }

                    @include breakpoint(1921 up) {
                        right: 64px;
                        margin-right: calc(-2 * 64px);
                    }

                    @include breakpoint(3840 up) {
                        right: 128px;
                        margin-right: calc(-2 * 128px);
                    }
                }
            }

            .slick-list {
                margin: 0 -11px;

                @include breakpoint(1921 up) {
                    margin: 0 -16px;
                }

                @include breakpoint(3840 up) {
                    margin: 0 -32px;
                }

                // Single slide
                .slick-slide {
                    margin: 0 11px;

                    @include breakpoint(1921 up) {
                        margin: 0 16px;
                    }

                    @include breakpoint(3840 up) {
                        margin: 0 32px;
                    }

                    .tease {
                        &.civs-template {
                            overflow: hidden;

                            .bg {
                                @include breakpoint(767 down) {
                                    min-height: auto;
                                }   
                                .text-inner {
                                    margin: 0 calc(7.462686% / 2);
                                }
                            }
                        }
                    }

                }

            }
        }

        // Overwrides for 3 slide section 
        // with 3 slides and 2 slides
        &.sections-3 {
            @include breakpoint(1280 up) {
                opacity: 1;
                visibility: visible;
            }
        }
        &.sections-2 {
            @include breakpoint(1024 up) {
                opacity: 1;
                visibility: visible;                
            }
        }

        &.sections-3, &.sections-2 {
            .tease {

                &.civs-template {
    
                    .bg_wrapper {
                        height: 100%;
                        flex: 1;
                        display: flex;

                        .bg {
                            .text {
                                flex: 1;
                            }
                        }   
                    }
                }
            }
        }

        // Slide 1 slide
        &.slide-show-1, &.show-1-no-slide-show {
            .civs-template {

                .bg {
                    align-items: stretch;
                    img.tease-desktop-image {
                        display: none;
                    }

                    @include breakpoint(1280 down) {
                        background-image: none !important;
                        flex-direction: column !important;

                        .text {
                            margin: 0;
                            border-right-width: 0;
                            border-left-width: 0;
                            border-bottom-width: 0;
                        }

                        img.tease-desktop-image {
                            display: block;
                            width: 100%;
                        }
                    }

                    @include breakpoint(767 down) {
                        img.tease-desktop-image {
                            display: none;
                        }
                    }
                }

            }
        }

        // Show 3 slides
        &.slide-show-3, &.show-3-no-slide-show, &.slider3 {

            .bg {
                flex-direction: column;

                img.tease-desktop-image {
                    width: 100%;

                    @include breakpoint(767 down) {
                        display: none;
                    }   
                }

                .text {
                    margin: 0;
                    border-right-width: 0;
                    border-left-width: 0;
                    border-bottom-width: 0;

                    .title {
                        text-align: center;

                        @include breakpoint(1024 down) {
                            text-align: left;
                        }

                    }
                }
            }
        }

        // Show 3 slides section with no slideshow
        // because there are less than 4 slides
        &.show-3-no-slide-show, &.slider3 {
            
            .tease.civs-template {
                .bg {
                    .text-inner {
                        margin: 0 calc(7.462686% / 2);
                    }
                }
            }

            &.sections-3 {
                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                grid-gap: 22px;

                @include breakpoint(1921 up) {
                    grid-gap: 32px;
                }

                @include breakpoint(3840 up) {
                    grid-gap: 64px;
                }

                @include breakpoint(1279 down) {
                    display: block;  
                }
            }

            &.sections-2 {
                display: flex;
                justify-content: center;

                @include breakpoint(1279 down) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 22px;
                }

                @include breakpoint(1024 down) {
                    display: block;
                }

                .tease {
                    &.civs-template {
                        width: calc(100% / 3);
                        margin-left: 11px;
                        margin-right: 11px;

                        @include breakpoint(1921 up) {
                            margin-left: 16px;
                            margin-right: 16px;
                        }

                        @include breakpoint(3840 up) {
                            width: 100%;
                            margin-left: 32px;
                            margin-right: 32px;
                        }

                        @include breakpoint(1279 down) {
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                        }

                        @include breakpoint(1024 down) {
                            margin-bottom:  1.454545rem;

                            &:last-of-type {
                                margin-bottom: 2.90909em;
                            }
                        }
                    } 
                } 

            }

            &.sections-1 {
                display: flex;
                justify-content: center;

                @include breakpoint(1279 down) {
                    width: calc(50% - 1.454545rem);
                }

                @include breakpoint(1024 down) {
                    display: block;
                    width: 100%;
                    padding-left: calc(0.45454em * 6);
                    padding-right: calc(0.45454em * 6);
                }

                .tease {
                    &.civs-template {
                        width: calc(100% / 3);
                        margin-left: 0.7272725rem;
                        margin-right: 0.7272725rem;

                        @include breakpoint(1279 down) {
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                        }
                    } 
                } 

            }
        }

    }
}

.civs-template {
    @include civs-template-border();
    border-width: 3px;

    &__light-blue-gradient {
        @include light-blue-gradient-civ-menu();
    }

    &__dark-blue-gradient {
        @include dark-blue-gradient-civ-menu();
    }

     .accessible-accordion-wrapper {
         button {
             font-size: 1.2rem;
             margin-bottom: 0;
             line-height: 1;
             @include parchment-font();
             padding: 0.5em;
             width: 100%;
             @include mobile-accordion-civ-menu-btn-bg();
             @include mobile-accordion-civ-menu-btn-border();
             position: relative;
             font-family: "trajan-pro-3", serif;
             font-style: normal;
             font-weight: 700;
             text-align: left;

             @include breakpoint(960 up) {
                 display: none;
             }

             &:hover, &:active, &:focus {
              @include white-font();
             }

             &::before {
                content: '';
                background-image: url($image-path + 'civilizations/buttons/icon-pointer-down-normal.svg');
                background-repeat: no-repeat;
                position: absolute;
                float: right;
                line-height: 1;
                margin: auto;
                bottom: 0;
                top: 0;
                right: 0.5em;
                width: 32px;
             }

         }
     }

    /*
    civilizations post type nav that can be
    on top of a page like:
    /games/age-of-empires-iv/civilizations/english/
    */
    &__nav {

        ul {
            margin: 0 auto;
            background-color: rgb(23, 27, 39);
            position: relative;
            width:90%;

            @include breakpoint(960 up) { 
                display: grid;
                grid-template-columns: 1fr;

                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr auto;
                padding: 0;
                gap: 15px;

                width: 100%;
                background-color: transparent;

            }

            @include breakpoint(1200 up) { 
                gap: 35px;
            }

            li {
                padding: 0 !important;
                margin: 0 0 1em 0 !important;
                background-image: none !important;
                @include breakpoint(960 down) { 
                    &.no_anchor {
                        display: none;
                    }
                }

                @include breakpoint(960 up) { 
                    margin: 0 !important;
                }

                a, div.no_anchor {
                    display: flex;
                    position: relative;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 0.727275rem;
                    height: 2.285714rem;
                    font-family: "trajan-pro-3", serif;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    @include parchment-font('important');
                    margin-left: 0.5em;
                    margin-right: 0.5em;

                    @include breakpoint(960 up) { 
                        width: calc(100% - 1.5em);                
                    }

                    &:before {
                        content: '';
                        @include dark-blue-gradient-civ-menu();
                        @include civs-template-border();
                        position: absolute;
                        height: 100%;
                        width: calc(100% - 2.5em - 2px);

                        @include breakpoint(960 up) { 
                          width: calc(100% - 1.5em);
                          left: 2.5em;                   
                        }

                    }

                    .nav-item-text {
                        position: relative;
                        z-index: 1;
                        
                        @include breakpoint(960 up) { 
                            margin-left: 2.5em;                   
                        }

                    }

                    img {
                        &.civs-template__nav-hover-img {
                            display: none;
                            position: absolute;
                            filter: drop-shadow(4px 0 2px black);
                            left: 0.5em;

                            @include breakpoint(960 up) { 
                                left: 1.5em;                    
                            }

                        }
                    }
                }

                a {
                    &.active, &:hover, &:active, &:focus {
                        &::before {
                            @include light-blue-gradient-civ-menu();
                            @include white-font('important');
                        }

                        img {
                            &.civs-template__nav-hover-img {
                                display: block;
                            }
                        }
                    }
                }

                a {
                    &.chinese-nav {                        
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-chinese-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-chinese-right-desk.png');
                                background-size: cover;
                            }

                        }
                    }

                    &.dehli-sultanate-nav {
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-sultanate-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-sultanate-right-desk.png');
                                background-size: cover;
                            }

                        }

                    }

                    &.english-nav {
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-english-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-english-right-desk.png');
                                background-size: cover;
                            }

                        }
                    
                    }

                    &.mongol-nav {
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-mongol-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-mongol-right-desk.png');
                                background-size: cover;
                            }

                        }

                    }

                    &.french-nav {
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-french-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-french-right-desk.png');
                                background-size: cover;
                            }

                        }
                        
                    }

                    &.holy-roman-empire-nav {
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-hre-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-hre-right-desk.png');
                                background-size: cover;
                            }

                        }

                    }

                    &.abbasids-nav {
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-abbasid-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-abbasid-right-desk.png');
                                background-size: cover;
                            }

                        }
                    }

                    &.rus-nav {
                        &::before {
                            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-rus-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/buttons/fp-button-bg-civ-rus-right-desk.png');
                                background-size: cover;
                            }

                        }
                    }
                }

                    /* no hover */
                div.no_anchor {
                    &.chinese-nav {                        
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-chinese-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-chinese-right-desk.png');
                                background-size: cover;
                            }

                        }
                    }

                    &.dehli-sultanate-nav {
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-sultanate-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-sultanate-right-desk.png');
                                background-size: cover;
                            }

                        }

                    }

                    &.english-nav {
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-english-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                               @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-english-right-desk.png');
                                background-size: cover;
                            }

                        }
                    
                    }

                    &.mongol-nav {
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-mongol-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-mongol-right-desk.png');
                                background-size: cover;
                            }

                        }

                    }

                    &.french-nav {
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-french-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                               @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-french-right-desk.png');
                                background-size: cover;
                            }

                        }
                        
                    }

                    &.holy-roman-empire-nav {
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-hre-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-hre-right-desk.png');
                                background-size: cover;
                            }

                        }

                    }

                    &.abbasids-nav {
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-abbasid-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-abbasid-right-desk.png');
                                background-size: cover;
                            }

                        }
                    }

                    &.rus-nav {
                        &::before {
                            @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-rus-right-desk.png');
                            background-size: cover;
                        }

                        &.active, &:hover, &:active, &:focus {
                            &::before {
                                @include single_civ_content_bgs_flat(#1c1c1c, 'civilizations/buttons/fp-button-bg-civ-rus-right-desk.png');
                                background-size: cover;
                            }

                        }
                    }
                }

                a, div.no_anchor {

                    &.nav-img-lg {
                        flex-direction: column;
                        height: auto;
                        padding: 0;
                        margin: auto;

                        @include breakpoint(960 up) { 
                          width: 100%;
                          margin: 0;
                        }

                        &::before {
                            bottom: 0;
                            height: 3.636363rem;
                            width:100%;
                            left: 0;
                        }

                        .nav-img-lg-wrapper {
                            width: 100%;
                            img {
                                @include civs-template-border();
                               
                                &.desk-img {
                                    display: none;
                                    width: 100%;
                                }
    
                                &.mobile-img {
                                    display: block;
                                }
    
                                @include breakpoint(960 up) { 
                                    &.desk-img {
                                        display: block;
                                        border-bottom: none;
                                    }
    
                                    &.mobile-img {
                                        display: none;
                                    }
                                }
                                
                            }

                        }

                        .civs-template__nav-hover-img {
                            bottom: calc(3.636363rem / 4);
                            left: 0;
                            left: -1em;
                        }

                        .nav-item-text {
                            bottom: 0;
                            width: 100%;
                            padding-left: 1em;
                            height: 3.636363rem;
                            line-height: 3.636363rem;
                            
                            @include breakpoint(960 up) {
                                left: 0;
                                margin-left: 0;
                            }

                        }

                    }
                
                }
            }
        }

    }

    .bg {
        background-position: right;
        background-image: none;
        flex-direction: column;
        background-position: right 20% top !important;
        width: auto;

        &__min-height-auto {
            min-height: auto !important;
        }
        
        &__align-items-flex-start {
            &.tease-custom-bg-image {
                align-items: flex-start !important;

                @include breakpoint(767 down) {
                    min-height: auto !important;
                }

            }
        }

        @include breakpoint(767 down) {
            background-image: none !important;
            flex-direction: column !important;
        }

        .text {
            @include civs-template-border();
            width: auto !important;

            &.chinese-right,
            &.chinese-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/chinese/fp-bg-civ-chinese-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.chinese-bottom,
            &.chinese,
            &.chinese-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/chinese/fp-bg-civ-chinese-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            &.dehli-sutanate-right,
            &.dehli-sutanate-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/dehli-sultanate/fp-bg-civ-sultanate-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.dehli-sutanate-bottom,
            &.dehli-sutanate,
            &.dehli-sutanate-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/dehli-sultanate/fp-bg-civ-sultanate-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            &.english-right,
            &.english-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/english/fp-bg-civ-english-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.english-bottom,
            &.english,
            &.english-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/english/fp-bg-civ-english-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            &.mongol-right,
            &.mongol-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/mongol/fp-bg-civ-mongol-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.mongol-bottom,
            &.mongol,
            &.mongol-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/mongol/fp-bg-civ-mongol-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            &.french-right,
            &.french-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/french/fp-bg-civ-french-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.french-bottom,
            &.french,
            &.french-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/french/fp-bg-civ-french-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            &.hre-right,
            &.hre-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/holy-roman-empire/fp-bg-civ-hre-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.hre-bottom,
            &.hre,
            &.hre-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/holy-roman-empire/fp-bg-civ-hre-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            &.rus-right,
            &.rus-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/rus/fp-bg-civ-rus-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.rus-bottom,
            &.rus,
            &.rus-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/rus/fp-bg-civ-rus-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            &.abbasid-right,
            &.abbasid-light {
                @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/abbasids/fp-bg-civ-abbasid-right-desk.png');
                background-position: right;
                background-repeat: repeat-y;
            }

            &.abbasid-bottom,
            &.abbasid,
            &.abbasid-dark {
                @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/abbasids/fp-bg-civ-abbasid-bottom-desk.png');
                background-position: bottom;
                background-repeat: repeat-x;
            }

            @include breakpoint(767 down) {
                width: auto !important;
                background-color: #000 !important;
                border-width: 2px 0 0 0;
                margin: 0 !important;
            }
        }

    }
    .text {
        @include civs-template-border();
        width: auto !important;
        &.chinese,
        &.chinese-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/chinese/fp-bg-civ-chinese-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.chinese-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/chinese/fp-bg-civ-chinese-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }

        &.dehli-sutanate,
        &.dehli-sutanate-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/dehli-sultanate/fp-bg-civ-sultanate-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.dehli-sutanate-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/dehli-sultanate/fp-bg-civ-sultanate-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }

        &.english,
        &.english-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/english/fp-bg-civ-english-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.english-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/english/fp-bg-civ-english-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }

        &.mongol,
        &.mongol-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/mongol/fp-bg-civ-mongol-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.mongol-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/mongol/fp-bg-civ-mongol-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }

        &.french,
        &.french-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/french/fp-bg-civ-french-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.french-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/french/fp-bg-civ-french-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }

        &.hre,
        &.hre-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/holy-roman-empire/fp-bg-civ-hre-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.hre-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/holy-roman-empire/fp-bg-civ-hre-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }

        &.rus,
        &.rus-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/rus/fp-bg-civ-rus-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.rus-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/rus/fp-bg-civ-rus-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }

        &.abbasids,
        &.abbasid,
        &.abbasids-dark,
        &.abbasid-dark {
            @include single_civ_content_bgs('dark-blue-gradient', 'civilizations/bgs/abbasids/fp-bg-civ-abbasid-bottom-desk.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
        &.abbasid-light {
            @include single_civ_content_bgs('light-blue-gradient', 'civilizations/bgs/abbasids/fp-bg-civ-abbasid-right-desk.png');
            background-position: right;
            background-repeat: repeat-y;
        }
    }

    // Dynasties section, like at the bottom of 
    // the /games/age-of-empires-iv/civilizations/chinese page
    .dynasty-section-banner-img {
        img {
            width: 100%;
            display: block;
            
            &.desktop-img, &.fourk-img {
                display: none;
            }

            @include breakpoint(601 up) {
                &.mobile-img {
                    display: none;
                }

                &.desktop-img {
                    display: block;
                }
            }

            @include breakpoint(1600 up) {
                &.desktop-img {
                    display: none;
                }
                
                &.fourk-img {
                    display: block;
                }
            }
        }
    }

    .dynasty-section-content {
        display: block !important;

            .text {
                margin: 0 !important;
                border: 0 !important;
                padding: 32px !important;

                @include breakpoint(1279 down) {
                    padding: 12px !important;
                }

                @include breakpoint(3840 up) {
                    padding: 64px !important;
                }

                .single-dynasty-wrapper {
                    margin-top: 32px;

                    @include breakpoint(1279 down) {
                        display: block;
                        width: 100% !important;
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                        margin-top: 12px !important;
                    }

                    @include breakpoint(3840 up) {
                        margin-top: 64px !important;
                    }

                    &.dynasty-1 {
                        width: calc(100% / 3);
                        margin: 0 auto;
                    }

                    &.dynasty-2 {
                        display: flex;
                        justify-content: center;
                        margin-left: 16px;
                        margin-right: 16px;

                        @include breakpoint(1279 down) {
                            display: block;
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                        }

                        @include breakpoint(3840 up) {
                            margin-left: 32px;
                            margin-right: 32px;
                        }

                        .single-dynasty {
                            width: calc(100% / 3);
                            margin-left: 16px;
                            margin-right: 16px;

                            @include breakpoint(1279 down) {
                                width: 100%;
                                height: auto;
                                margin-left: 0;
                                margin-right: 0;
                            }

                            
                            @include breakpoint(3840 up) {
                                margin-left: 32px;
                                margin-right: 32px;
                            }
                        }
                    }

                    &.dynasty-3,  &.dynasty-4 {
                        display: grid;
                        grid-auto-columns: 1fr;
                        grid-auto-flow: column;
                        grid-gap: 32px;

                        @include breakpoint(1279 down) {
                            display: block;
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                        }

                        @include breakpoint(3840 up) {
                            grid-gap: 64px;
                        }

                        .single-dynasty {
                            box-sizing: border-box;

                            @include breakpoint(1279 down) {
                                height: auto;
                            }

                        }
                    }

                    @include breakpoint(1279 down) {
                        display: block;
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }

                    .single-dynasty {
                        box-sizing: border-box;
                        padding: 32px;
                        height: 100%;
                        @include civs-template-border();

                        @include breakpoint(1279 down) {
                            width: 100%;
                            height: auto;
                            margin-left: 0;
                            margin-right: 0;
                            padding: 12px;
                            margin-bottom: 21px;
                        }

                        @include breakpoint(3840 up) {
                            padding: 64px;
                        }

                        h5, h6 {
                            text-align: center;
                        }

                        h5 {
                            font-size: 1.166666em;
                            line-height: 1.523809em;
                            font-family: "trajan-pro-3", serif;


                            @include breakpoint(1280 up) {
                                font-size: inherit;
                                line-height: calc(1.612903em * 0.8);
                            }
                        }

                        h6 {
                            font-size: calc(1.166666em * 0.9);
                            line-height: calc(1.523809em * 0.8);
                            font-weight: 700;

                            @include breakpoint(1280 up) {
                                font-size: inherit;
                                line-height: calc(1.612903em * 0.8);
                            }
                        }
                        
                        hr {
                            max-width: 100%;
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                            border-bottom: 2px solid $ui-color-parchment;

                            @include breakpoint(1280 up) {
                                margin-top: 0.5rem;
                                margin-bottom: 1.25rem;
                            }
                        }

                        .text-content {
                            font-size: calc(1.166666em * 0.75) !important;

                            @include breakpoint(1280 up) {
                                font-size: calc(1.40909em * 0.75 !important);
                            }

                            p:last-of-type {
                                margin-bottom: 0;
                            }
                        }

                    }
                }

            }

    }

}

/* inactive civs */
.civs-template__nav {
    ul {
        li {
            div.no_anchor.nav-img-lg {
                .nav-item-text {
                    opacity: 0.5;
                }
            }
        }
    }
}

// h1 tag style for blue fade out BG and
// top and bottom lines with fadeout gold colors
body.single-civilizations, body.post-type-archive-civilizations {
    .main {
        .banner {
            h1 {
                @include blue_fade_out_bg_color();
                @include gold_fade_out_bg_color_top_bottom_lines();
            }
        }
    }

    .civs-template {
        .accessible-accordion-heading {
            display: none !important;
        }
    }
}

body.single-games, body.post-type-archive-civilizations {
    .civs-template {
        .accessible-accordion-heading {
          display: block;
          margin-left: 0.3em;

          @include breakpoint(959 down) {
            margin-left: 1.75em;
          }

        }

        @include breakpoint(959 down) { 
          &__nav {
            ul {
              background-color: transparent;
              padding: 0.75em 0;
            }
          }
        }

    }
}


body.single-civilizations {
    .civs-template {


        &__nav {
            ul {
                li {
                    a {
                        .nav-item-text {
                            left: 0.25em; 
                        }
                    }
                    a.nav-img-lg, div.no_anchor.nav-img-lg {
                        margin-bottom: 2.285714rem;
                        &::before {
                            top: 0;
                            height: 100%;
                        }
                    }
                    @include breakpoint(960 up) {
                        a.nav-img-lg, div.no_anchor.nav-img-lg {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            @include breakpoint(959 down) {
                ul {    
                    li {
                        width:100%;
                        margin: 0 0 1.5em 0 !important;
                        a {
                            img {
                                &.civs-template__nav-hover-img {
                                   bottom: 3px;
                                }
                            } 

                            .nav-item-text {
                                left: 0;
                                padding-left: 0;
                                line-height: 2.285714rem;
                            }
                        }
                    }
    
                }
            }
        }

    }
}

// Newsletter section padding
body.single-civilizations {
    #newsletter-subscribe {
        @include breakpoint(767 down) {
            padding-left: calc(0.45454em * 6 - 10px);
            padding-right: calc(0.45454em * 6 - 10px);
        }
    }
}

@include breakpoint(960 down) { 
    // civ drop down on civ page only
    .accessible-accordion-content {
        background-color: #171b27;
        overflow: hidden; 
        max-height: 0px; 
        transition: max-height 200ms ease-in;
        &.active {
            max-height: 1000px;
        }
        .civs-template__nav {
            width: 100%;
            ul {
                width:70%;
                padding-top:1.5em;
                padding-bottom:1.5em;
                li {
                    a {
                        background-size:cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        display: block;
                        padding-left: 1em;
                        height:auto;
                    }
                }
            }
        }
    }
}
