.close-btn,
.button-uparrow {
  position: absolute;
  top: -27px;
  right: -27px;
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  &:hover {
    background-position-x: -32px;
  }
  &--vertical-align-center {
    @include vertical-align("absolute");
  }
}

.close-btn {
  background-image: url($image-path + 'close-button.png');
}

.button-uparrow {
  background-image: url($image-path + 'button-uparrow.png')
}

.close-button-offcanvas {
  width: 32px;
  height: 32px;
  display: block;
  z-index: 999999999;
  background-repeat: no-repeat;
  background-image: url($image-path + 'close-button.png');
  background-position: 0 0;
  cursor: pointer;
  &:hover {
    background-position-x: -32px;
  }
}

.btn-close {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url($image-path + 'close-button.png');
  background-position: 0 0;
  cursor: pointer;
  &:hover {
    background-position-x: -32px;
  }
  &--vertical-align-center {
    @include vertical-align("absolute");
  }
}