/*eslint-disable*/


#comparison-wrapper {
    width: 90%;
    height: auto;
    margin: 25px auto;
    box-shadow: 0px 6px 15px 0px rgba($black, .4); // simulate .frame-box shadow
    @include breakpoint(medium){
        width: 80%;
        margin: 40px auto;
    }
    @include breakpoint(large){
        width: 70%;
        max-width: 1600px;
        margin: 50px auto;
    }

    #comparison {
        width: 100%;
        height: auto;
        box-shadow: none; // override .frame-box
        margin-bottom: 0; // override .frame-box

        img {
            max-width: 100%;
            display: block;
        }

        video {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }

        .comparison-container {
            position: relative;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }
        .comparison-container img,
        .comparison-container video {
            //display: block;
        }

        .comparison-container img.mobile-only {
            @include breakpoint(medium){
                // hide mobile only images outside of mobile breakpoint
                display: none;
            }
        }

        .comparison-container video {
            @include breakpoint(small only){
                // hide video on mobile only
                display: none;
            }
        }

        .comparison-label {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 15px;
            white-space: nowrap;
            font-family: $serif-font-family;
            font-size: 10px;
            font-weight: bold;
            color: $light-alt;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            -webkit-font-smoothing: antialiased;
            opacity: 0;
            transform: translateY(20px);
            transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
            background-color: rgba(0,0,0,0.7);

            @include breakpoint(medium){
                font-size: 16px;
            }
            @include breakpoint(large){
                font-size: 20px;
            }
        }
        .comparison-label.is-hidden {
            visibility: hidden;
        }
        .is-visible .comparison-label {
            opacity: 1;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

        .resizable-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            /* Force Hardware Acceleration in WebKit */
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .resizable-container img,
        .resizable-container video {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            height: 100%;
            width: auto;
            max-width: none;
        }

        .resizable-container img.mobile-only {
            @include breakpoint(medium){
                // hide mobile only images outside of mobile breakpoint
                display: none;
            }
        }

        .resizable-container video {
            @include breakpoint(small only){
                // hide video on mobile only
                display: none;
            }
        }






        .comparison-label {
            //right: auto;
            &[data-type="after"] {
                left: 0;
                right: auto;
            }
            &[data-type="before"] {
                right: 0;
                left: auto;
            }

        }
        .is-visible .resizable-container {
            width: 50%;
            /* bounce in animation of the after item */
            -webkit-animation: comparison-bounce-in 0.7s;
            -moz-animation: comparison-bounce-in 0.7s;
            animation: comparison-bounce-in 0.7s;
        }

        @-webkit-keyframes comparison-bounce-in {
            0% {
                width: 0;
            }
            60% {
                width: 55%;
            }
            100% {
                width: 50%;
            }
        }
        @-moz-keyframes comparison-bounce-in {
            0% {
                width: 0;
            }
            60% {
                width: 55%;
            }
            100% {
                width: 50%;
            }
        }
        @keyframes comparison-bounce-in {
            0% {
                width: 0;
            }
            60% {
                width: 55%;
            }
            100% {
                width: 50%;
            }
        }
        .comparison-bar {
            border: none;
            position: absolute;
            //height: auto;
            height:100%;
            width: 50px;
            /* center the element */
            left: 50%;
            top: 0;
            margin-left: -25px;
            margin-top: 0;
            border-radius: 0;
            //background-image: url($image-path+'compare-divider-sm.png');
            background-image: url($image-path+'compare-divider-mobile.png');
            background-repeat: no-repeat;
            background-position: 0 center;
            cursor: not-allowed;
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0) scale(0);
            -moz-transform: translate3d(0, 0, 0) scale(0);
            -ms-transform: translate3d(0, 0, 0) scale(0);
            -o-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
            @include breakpoint(medium){
                width: 100px;
                margin-left: -50px;
                background-image: url($image-path+'compare-divider.png');
                cursor: ew-resize;
            }
            @include breakpoint(large){
                width: 100px;
                margin-left: -50px;
                background-image: url($image-path+'compare-divider.png');
                cursor: ew-resize;
            }
        }

        .comparison-bar:hover {
            background-color: transparent;
            //background-position: -50px center;
            @include breakpoint(medium){
                background-position: -100px center;
            }
            @include breakpoint(large){
                background-position: -100px center;
            }

        }
        .comparison-bar.draggable {
            /* change background color when element is active */
            background-color: transparent;
            //background-position: -100px center;
            @include breakpoint(medium){
                background-position: -200px center;
            }
            @include breakpoint(large){
                background-position: -200px center;
            }

        }
        .is-visible .comparison-bar {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0) scale(1);
            -moz-transform: translate3d(0, 0, 0) scale(1);
            -ms-transform: translate3d(0, 0, 0) scale(1);
            -o-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
            -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
            -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
            transition: transform 0.3s 0.7s, opacity 0s 0.7s;
        }

    }

    .heading-box {
        // styles
        border-right: 2px solid $neutral-grey;
        border-bottom: 2px solid $neutral-grey;
        border-left: 2px solid $neutral-grey;
        padding: 4px; // line up with .frame-box padding
        @include breakpoint(medium){
            padding: 8px; // line up with .frame-box padding
        }
        span.caption {
            text-align: left;
            font-size: 14px;
            line-height: 1.6;
            color: $light;
            margin: 0;
            padding: 0;
            @include breakpoint(medium){
                font-size: 20px;
            }
        }
    }

}


