.community-connections__container {
  @include grid-col-row(12);
  padding-bottom: 30px;
}
.community-connections__content-wrapper {
  @include grid-row();
  h1 {
    color: $light;
    margin-left: 0.625rem;
  }
}

.community-connections__content-video {
  @include grid-col(12, 0);
  @include breakpoint(medium) {
    @include grid-col(6, 0);
  }
  padding: 0;
  margin: 0;

  .video__container {
    border: 2px solid #26201c;
    margin: rem-calc(10) !important;
    .video__content-wrapper {
      margin: rem-calc(5) !important;
      border: 1px solid #f1e9d0;
      .responsive-embed.widescreen {
        margin-bottom: 0;
      }
    }

  }
}

.community-connections__content-wrapper .community-connections__social-feeds {
  .community-connections__content[data-social-account] {
    display: none;
  }
  &.--show-all {
    .community-connections__content[data-social-account]:nth-of-type(-n+8){
      display: inline-block;
    }
  }
  &.--show-twitter {
    .community-connections__content[data-social-account="twitter"]{
      display: inline-block;
    }
  }
  &.--show-facebook {
    .community-connections__content[data-social-account="facebook"]{
      display: inline-block;
    }
  }

}

.community-connections__content {
    width: 100%;
    float: left;
    padding-right: 0;
    padding-left: 0;
    padding: 0;
    margin: 0;

    @include grid-col(12,0);

    @include breakpoint(medium) {
        @include grid-col(3,0);
    }

    padding: 0;
    margin: 0;

    .social__container {
        border: 2px solid #26201c;
        margin: rem-calc(10) !important;

        .social__content-wrapper {
            position: relative;
            height: rem-calc(280) !important;
            border-bottom: 1px solid #26201c;
            background-color: #f1e9d0;
            margin: rem-calc(5) !important;
            padding: 1px 0 0 0;
            overflow: hidden;

            span.social-icon-background {
                display: inline-block;
                position: absolute;
                top: 1px;
                left: 1px;
                width: 100px;
                height: 100px;
                background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
                background: linear-gradient(135deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
            }

            span.social-icon {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 32px;
                //color: #762123;
                color: #ffffff;
                background-color: transparent;
            }

            a.social__content-link {
                display: block;
                color: black;

                .image__container {
                    height: 129px;
                    margin: 0 1px 10px 1px;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: top center;
                    -webkit-transition: height 0.5s, background-size 0.5s;
                    -moz-transition: height 0.5s, background-size 0.5s;
                    -ms-transition: height 0.5s, background-size 0.5s;
                    -o-transition: height 0.5s, background-size 0.5s;
                    transition: height 0.5s, background-size 0.5s;

                    @include breakpoint(medium) {
                        height: 114px;
                    }
                }

                &:hover .image__container {
                    height: 170px;
                    background-size: 140%;
                }

                .message__container {
                    margin: 0 5px;

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                        line-height: 19px;

                        @include breakpoint(medium) {
                            font-size: 15px;
                            line-height: 22px;
                        }
                    }

                    span.artificial-link {
                        font-weight: bold;
                        color: #762123;
                    }
                }
            }

            .info__container {
                z-index: 1;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 75px;
                padding-top: 25px;
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(250,247,239,1) 35%, rgba(241,233,208,1) 100%); /* FF3.6-15 */
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(250,247,239,1) 35%,rgba(241,233,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(250,247,239,1) 35%,rgba(241,233,208,1) 100%); /* Chrome10-25,Safari5.1-6 */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f1e9d0',GradientType=0 ); /* IE6-9 */

                a.avatar__container {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;
                    border: 1px solid #762123;
                    overflow: hidden;

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                a.social-username {
                    display: inline-block;
                    height: 40px;
                    margin-left: 10px;
                    font-size: 13px;
                    line-height: 40px;
                    font-weight: bold;
                    background-color: transparent;
                    vertical-align: top;

                    @include breakpoint(medium) {
                        font-size: 15px;
                    }
                }
            }

            span.social-post-date {
                z-index: 1;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 75px;
                padding-top: 25px;
                padding-right: 10px;
                font-size: 11px;
                //line-height: 16px;
                line-height: 40px;
                text-align: right;
                text-transform: uppercase;

                @include breakpoint(medium only) {
                    display: none;
                }

                @include breakpoint(large) {
                    font-size: 13px;
                    //line-height: 17px;
                }
            }
        }
    }
}


