.disclaimer {
	margin-bottom: 2.5rem;
	text-align: center;	
}

.disclaimer__message {
	display: inline-block;
	margin: 0;
	color: $light;
	background-color: rgba($black,0.66);
	padding: 1rem 2rem;
	text-align: center;
}