html {
  height: 100%;
}
body {
  height:100%;
}
.off-canvas-wrapper {
  min-height: 100%;
  padding-bottom: rem-calc(375px);
  @include breakpoint(medium down) {
    padding-bottom: 0;
  }
}
.footer {
  width: 100%;
  position: relative;
  @include breakpoint(medium down) {
    position: relative;
    height: auto;
  }
  &:before,
  &:after {
    z-index: 9;
  }
}
.footer__inner-wrapper {
  @include grid-row();
}

.footer__inner {
  @include grid-col(12);
}

.footer__brand {
  @include grid-row();
  padding-top: rem-calc(35);
  table {
    td.img {
      padding: 0;
    }
  }
}

.footer__brand-logos {
  @include grid-col(6, 0);
  display: flex;
  align-items: top;
  text-align: center;
  justify-content: space-between;
  a {
    display: inline-block;
    flex: 0 auto;
  }

  @include breakpoint(medium up) {
    a:focus {
      outline: 2px solid $ui-color-royalgold-hover;
    }
  }
  img {
    display: inline-block;
    height: 53px;
  }

  svg.js-esrb-icon {
    height: 68px;
    width: auto;
  }

  .publisher img {
    height: 80px;
  }

  @include breakpoint(small only) {
    height: auto;

    a {
      flex: unset;
      vertical-align: top;
    }

    a.publisher {
      width: 100%;
    }
  }
}

.footer__ratings {
  color: $light-alt;
  text-align: center;
  font-size:11px;
  padding: 0 8px;
}

ul.rating-descriptors {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 16em;
}
.esrb-icon.--pending { display: none; }
.footer__links {
  @include grid-col(12, 0);
  clear: both;
  text-align: center;
  font-weight: 300;
  color: $light;
  font-size: 13px;

  a {
    color: $light;
    padding: 0 0.5rem;
    white-space: nowrap;
  }
  @include breakpoint(medium up) {
    a:focus {
      outline: 2px solid $ui-color-royalgold-hover;
    }
  }

  .copyright { margin: 0; }
}

#wcpConsent-btn { 
  color:#fefefe;  
  padding: 0.5rem 0 0.5rem 0.5rem;  
  font-weight: 300; 
  margin: auto; 
  cursor: pointer;  
  &:hover { 
    text-decoration: underline; 
  } 
  &:after { 
    content:"|";  
    display:inline-block; 
    padding: 0 0 0 14px;  
  } 
}


.footer {
  &__brand-logos,
  &__links,
  &__social {
    @include breakpoint(medium down) {
      margin-bottom: rem-calc(20);
    }
  }

  @include breakpoint(small only) {
    &__brand-logos {
      display: unset;
    }
  }
}

.footer__social{
  @include grid-col(6, 0);

  ul {
    @extend %unstyled-list;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    li { padding: 0 0.25rem; }

    @include breakpoint(large) {
      float: right;
    }
  }

  .social__link {
    width: 2.5rem;
    height: 2.5rem;
  }

  @include breakpoint(medium) {
    li { padding: 0 0.5rem; }

    .social__link {
      width: 3rem;
      height: 3rem;
      &:focus {
        outline: 2px solid $ui-color-royalgold-hover;
      }
    }
  }
}

@include breakpoint(medium down) {
  .footer__brand-logos {
    @include grid-col(12);
    a {
      margin: 0 auto;
      padding: rem-calc(5);
    }
  }
  .footer__links {
    @include grid-col(12);
    text-align: center;
  }
  .footer__social{
    @include grid-col(12);
    ul {
      margin: 0 auto;
    }
  }
}
