.frame-illust {
  font-size: $ui-bodyfontsize-mobile;
  display: block; /* firefox dissapearing background trick fix */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url($image-path + 'borders/illust-corners.png'), url($image-path + 'borders/illust-corners.png'), url($image-path + 'borders/illust-corners.png'), url($image-path + 'borders/illust-corners.png'), url($image-path + 'borders/illust-horz.png'), url($image-path + 'borders/illust-horz.png'), url($image-path + 'borders/illust-vert.png'), url($image-path + 'borders/illust-vert.png'), linear-gradient(0deg, rgba(180, 125, 85, 0.7) 0%, rgba(180, 125, 85, 0) 20%, rgba(180, 125, 85, 0) 80%, rgba(180, 125, 85, 0.7) 100%), linear-gradient(90deg, rgba(180, 125, 85, 0.7) 0%, rgba(180, 125, 85, 0) 20%, rgba(180, 125, 85, 0) 80%, rgba(180, 125, 85, 0.7) 100%), url($image-path + 'bgs/illust-tile.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y, no-repeat, no-repeat, repeat;
  background-size: 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 100% 100%, 100% 100%, 23.272727em;
  background-position: left -5.818181em top -5.818181em, right -5.818181em top -5.818181em, left -5.818181em bottom -5.818181em, right -5.818181em bottom -5.818181em, left top -5.818181em, left bottom -5.818181em, left -5.818181em top, right -5.818181em top, left top, left top, left top;
  &.voices-of-babylon {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url($image-path + 'age1/bgs/illust-voices-of-babylon.png') right 1em top 1em no-repeat;
      background-size: calc(100% - 2em) auto;
    }
  }
}



@media (min-width: $ui-breakpoint-tablet) {
  .frame-illust {
    font-size: $ui-bodyfontsize-tablet;
    background-size: 7.111111em, 7.111111em, 7.111111em, 7.111111em, 7.111111em, 7.111111em, 7.111111em, 7.111111em, 100% 100%, 100% 100%, 14.222222em;
    background-position: left -3.555555em top -3.555555em, right -3.555555em top -3.555555em, left -3.555555em bottom -3.555555em, right -3.555555em bottom -3.555555em, left top -3.555555em, left bottom -3.555555em, left -3.555555em top, right -3.555555em top, left top, left top, left top;
    &.voices-of-babylon {
      &::after {
        background-size: 70% auto;
      }
    }
  }
}





@media (min-width: $ui-breakpoint-moblandscape) and (min-aspect-ratio: 33/32) {
  .frame-illust {
    font-size: $ui-bodyfontsize-moblandscape;
    background-size: 6.736842em, 6.736842em, 6.736842em, 6.736842em, 6.736842em, 6.736842em, 6.736842em, 6.736842em, 100% 100%, 100% 100%, 13.473684em;
    background-position: left -3.368421em top -3.368421em, right -3.368421em top -3.368421em, left -3.368421em bottom -3.368421em, right -3.368421em bottom -3.368421em, left top -3.368421em, left bottom -3.368421em, left -3.368421em top, right -3.368421em top, left top, left top, left top;
  }
}



@media (min-width: $ui-breakpoint-desk) {
  .frame-illust {
    font-size: $ui-bodyfontsize-desk;
    background-size: 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 11.636363em, 100% 100%, 100% 100%, 23.272727em;
    background-position: left -5.818181em top -5.818181em, right -5.818181em top -5.818181em, left -5.818181em bottom -5.818181em, right -5.818181em bottom -5.818181em, left top -5.818181em, left bottom -5.818181em, left -5.818181em top, right -5.818181em top, left top, left top, left top;
    &.voices-of-babylon {
      &::after {
        background-size: 40% auto;
      }
    }
  }
}




