// hero header

.hero-header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    min-height: 20rem;
    transition: all 0.25s ease-in-out;


    // give adjacent sibling divider a z-index to put it 
    // on top of the stream overlay when it's active
    & + .section--divider-frank-mid,
    & + .section--divider-egypt-mid {
        position: relative;
        z-index: 1;
    }

    &[data-show-stream="1"] {
        padding: 0;
    }

    @include breakpoint(medium) {
    	@include aspectRatioBox(4,1);

    	// IE needs a defined height in order for flex to work
    	.isIE & {
    		height: 30rem;
    	}
    }
}

.hero-header__background { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: -1;

	img {
		@include object-fit(cover);
		object-position: center 25%;
		width: 100%;
		height: 100%;
	}
}

.hero-header__content {
	padding: calc(1rem + 2vw) 0;
	width: 80%;

	&.text--light {
		.hero-header__title,
		.hero-header__title a,
		.hero-header__subtitle {
			color: $light;
			text-shadow: 0 0 0.2em rgba($black,0.5),
						 0 0 0.8em $black,
						 0 0 2.5em $black;
		}						
	}

	&.text--dark {
		.hero-header__title,
		.hero-header__title a,
		.hero-header__subtitle {
			color: $darkish;
			text-shadow: 0 0 0.2em $light,
						 0 0 0.8em $light,
						 0 0 1.5em $light;
		}
	}

    .btn-aoe--cta {
    	margin-bottom: 1rem;
    	min-width: 12em;

    	@include breakpoint(medium) {
    		width: auto;
    		min-width: 12em;
    		display: inline-block;
    	}
    }

    @include breakpoint(medium) {
    	width: 60%;
    }
}

.hero-header__logo {
	$heroLogoMultiplier: 15;
	display: block;
	height: auto;
	width: 60%; // on small sizes, restrict by width
	margin: 0 auto;
	@include object-fit(contain);

	// on larger sizes, restrict by height
	@media (min-width: $ui-breakpoint-tablet) {
		max-height: calc(#{$ui-bodylineheight-tablet} * #{$heroLogoMultiplier});
	}
	@media (min-width: $ui-breakpoint-desk) {
		max-height: calc(#{$ui-bodylineheight-desk} * #{$heroLogoMultiplier});
	}
	@media (min-width: $ui-breakpoint-ultra) {
		max-height: calc(#{$ui-bodylineheight-desk} * #{$heroLogoMultiplier});
	}
}

@mixin fluidType($minSize,$maxSize,$minLock:20,$maxLock:64) {
	font-size: $minSize * 1rem;

	@include breakpoint($minLock * 1em) {
		font-size: calc(#{$minSize} * 1rem + (#{$maxSize} - #{$minSize}) * ( (100vw - #{$minLock} * 1em) / (#{$maxLock} - #{$minLock}) ) );
	}

	@include breakpoint($maxLock * 1em) {
		font-size: $maxSize * 1rem;
	}
}

.hero-header__title {
	margin: 0 auto 2rem;
	line-height: 1.2;

	@include fluidType(1.5,3);
}

.hero-header__subtitle {
	max-width: 64ch;
	margin: 0 auto 1rem;

	p {
		line-height: 1.5;
		font-weight: bold;
		margin: 0;
		padding: 0;
		@include fluidType(1,1.5);
	}
}


// specific headers

// AOE II: DE
.aoeiide {
	// remove overlay
	.hero-header__background {
		&::before { display: none; }
	}

	// make move hero content to left so background image can show on mobile
	@media (max-width: 640px) { // breakpoint is specific to the mobile image size. This is bad practice! Be cautious and refactor if possible.

		.hero-header {
			justify-content: flex-start;
			align-items: flex-end;
		}

		// reduce padding on mobile. 
		// Larger padding on bottom is to accommodate divider size
		.hero-header__content {
			padding: 0.5rem 0.5rem 1rem;
			width: 100%;
		}

		.hero-header__logo {
			margin-left: -0.5rem; //negative container padding on left
		}
	}
}