.banner {
  &--home {
    height: 480px !important;
  }
}
.home-banner {
  &__content {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  &__content-inner {
    max-width: 600px;
    margin: 0 auto;
    p {
      color: $light-alt;
      font-size: rem-calc(19);
      line-height: rem-calc(26);
    }
  }
}