.post-image{
  margin-bottom: 15px;
  img{
    max-width:100%;
    width:300px;
  }
}

.section-image{
  position:relative;
  float: left;
  color: $light-alt;
  cursor: pointer;
  transition: .3s all ease;
  img {
    height:auto !important;
    max-height: 100%;
  }
  .post-image-hover{
    transition: .3s all ease;
    top: 0;
    left: 0;
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0);
    z-index:-1;
    transition: ease all .3s;
    cursor: pointer;
   // border: 2px solid $light-alt;
    .post-image-hover-inner{
      transition: .3s all ease;
      display: none;
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:hover{
    transition: .3s all ease;
    .post-image-hover {
      transition: .3s all ease;
      background: rgba(0,0,0,.4);
      z-index: 2;
      top: 0;
      left: 0;
      .post-image-hover-inner{
        transition: .3s all ease;
        display: block;
        font-size:30px;
      }
    }
  }
}

.image-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  transition: .3s all ease;
  max-width: 100%;
  max-height: 100%;
  img {
    height:auto !important;
    max-height: 85vh;
  }
  .image-modal-shade{
    transition: .3s all ease;
    position: fixed;
    z-index:999;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(193, 179, 135, 0.6);
  }
  .image-modal-close{
    transition: .3s all ease;
    color: $light-alt;
    position: absolute;
    right: -25px;
    top: -25px;
    font-size: 25px;
    cursor: pointer;
    z-index: 99999;
    @include breakpoint(small only) {
      right: 10px;
      top: 0;
    }
  }
  .image-modal-content{
    display: inline-block;
    margin: auto;
    position: relative;
    max-width: 100%;
    max-height: 95vh;
    padding: 20px;
    z-index: 99999;
    width: auto !important;
    @include breakpoint(small only) {
      height: auto !important;
    }
  }
  .image-modal-image{
    transition: .3s all ease;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height:100vh;
    .image-modal-image-inner{
      transition: .3s all ease;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height:auto;
      width:auto;
      max-height: 95vh;
      display: flex;
    }
  }
  .image-modal-caption {
    width: 100%;
    display: block;
    margin: auto;
    color: white;
    padding: 20px;
    background: rgba(55, 42, 34, .7);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    max-height: 50%;
    overflow-y: auto;
  }
  &--captionLong {
    img {
      float: left;
      width: 60%;
      max-height: 85vh;
    }
    .image-modal-content-inner {
      width: 70% !important;
      background: rgba(55, 42, 34, 0.7);
    }
    .image-modal-caption {
      position: relative;
      float: left;
      width: 40%;
      height: 100%;
    }
  }
  .image-modal-content-inner {
    //height: 95vh;
    width: 70% !important;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    @include breakpoint(small only) {
      height: auto !important;
    }
  }

}