.language_switcher_wrapper {
	display: block;
    max-width: 300px;
    width: 100%;
    float: right;
    margin: 2em 0 0;
}
#home-lang-select {
	position: relative;
	z-index: 9999;
}
#home-lang-select + .section--padding.news {
	padding-top: 0;
}