/*eslint-disable*/

#header-hero-media {
    width: 100%;
    height: 17vw;

    .relative__container {
        position: relative;
        width: inherit;
        height: inherit;
        min-height: inherit;
        @include breakpoint(medium) {
            //width: inherit;
            //height: inherit;
            //min-height: inherit;
        }
        div#hero-background {
            // background image
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            min-height: inherit;
            @include breakpoint(medium) {
                //width: inherit;
                //height: inherit;
                //min-height: inherit;
            }
            background-image: url($image-path + 'hero-news-desk.jpg');
            background-position: top center;
            background-size: 100%;
            background-size: cover;

            @include breakpoint(small only) {
                background-image: url($image-path + 'hero-news-mobile.jpg') 
            }

            @include breakpoint(ultra up) {
                background-image: url($image-path + 'hero-news-4k.jpg') 
            }
        }
        div#hero-overlay {
            display: block;
            @include absolute-position(50%, 50%); // parent element must be positioned relative
            width: inherit;
            height: inherit;
            min-height: inherit;
            @include breakpoint(medium) {
                //width: inherit;
                //height: inherit;
                //min-height: inherit;
            }
            //background-color: rgba(107, 43, 15, 0.4);
        }
        h1 {
            @include breakpoint(small only){
                font-size: 27px;
                line-height: 27px;
            }
            @include absolute-position(50%, 50%); // parent element must be positioned relative
            text-align: center;
        }

    }
}

/*eslint-enable*/


