/*eslint-disable*/

#wallpapers.media {
    @include breakpoint(small only){
        //min-height: 750px;
    }
    @include breakpoint(medium only){
        min-height: 950px;
    }
    @include breakpoint(large){
        min-height: 1050px;
    }
}

#media-wallpapers__container {
    // styles here
    .media-display__container {
        // styles
        margin: 0 16px 8px 16px;

        background-color: $brown;
        background-image: url($image-path+'ui/texture-dark.jpg');
        background-position: top center;
        background-repeat: repeat;
        @include breakpoint(medium){
            margin: 0 10px 20px 10px;
        }
        .media-display-frame__container {
            // styles
            padding: 7px;
            border: 2px solid #27211d;
            background-color: $brown;
            background-image: url($image-path+'ui/frame-box-texture.jpg');
            background-position: top center;
            background-repeat: repeat;

            .media-display-content_container {
                // styles
                border: 1px solid #916140;
                .media-display-header__container {
                    // styles
                    min-height: 76px;
                    padding: 0 20px;
                     @include breakpoint(small only){
                        padding: 0 10px;
                    }
                    background-color: $brown;
                    background-image: url($image-path+'ui/texture-dark.jpg');
                    background-position: top center;
                    background-repeat: repeat;
                    h1 {
                        display: inline-block;
                        font-size: 23px;
                        line-height: 36px;
                        color: white;
                        @include breakpoint(medium){
                            font-size: 40px;
                            line-height: 76px;
                        }
                    }

                    div.select__container {
                        text-align: left;
                        @include breakpoint(small only){
                            padding-bottom: 15px;
                        }
                        @include breakpoint(medium){
                            text-align: right;
                            padding-top: 20px;
                        }
                        select#wallpaper-options {
                            display: inline-block;
                            width: 100%;
                            @include breakpoint(small only){
                                font-size: 1rem;
                                padding-right: 1rem;
                            }
                            @include breakpoint(medium){
                                width: 320px;
                            }

                        }

                    }

                }

                #media-carousel-wallpapers-display {
                    // display
                    background-color: $brown;
                    background-image: url($image-path+'ui/texture-dark.jpg');
                    background-position: top center;
                    background-repeat: repeat;

                    .relative__container {
                        // styles
                        position: relative;
                        z-index: 10000000000;
                        width: 100%;
                        height: 0;
                        overflow: visible;
                        font-size: 0;
                        span.download-btn {
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            z-index: 300;
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            overflow: hidden;
                            background-repeat: no-repeat;
                            background-image: url($image-path+'media-download-button-32.png');
                            @include breakpoint(medium){
                                top: 10px;
                                left: 10px;
                                width: 64px;
                                height: 64px;
                                background-image: url($image-path+'media-download-button-64.png');
                            }
                            &:hover {
                                background-position-x: -32px;
                                cursor: pointer;
                                @include breakpoint(medium){
                                    background-position-x: -64px;
                                }
                            }
                        }
                        .download__container {
                            position: absolute;
                            top: 15px;
                            left: 21px;
                            z-index: 200;
                            width: 250px;
                            height: auto;
                            background-color: #f1e9d0;
                            // initially hidden then,
                            // revealed with javascript
                            display: none;
                            @include breakpoint(medium){
                                top: 42px;
                                left: 42px;
                                width: 298px;
                            }

                            .download-frame__container {
                                // styles
                                padding: 7px;
                                border: 2px solid #27211d;
                                background-color: $brown;
                                background-image: url($image-path+ 'ui/frame-box-texture.jpg');
                                background-position: top center;
                                background-repeat: repeat;

                                .download-content_container {
                                    // styles
                                    text-align: center;
                                    padding: 10px;
                                    background-color: #f1e9d0;
                                    border: 1px solid #916140;
                                    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.17), 0px 3px 7px 0px rgba(0,0,0,0.25);
                                    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.17), 0px 3px 7px 0px rgba(0,0,0,0.25);
                                    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.17), 0px 3px 7px 0px rgba(0,0,0,0.25);
                                    @include breakpoint(medium){
                                        text-align: left;
                                        padding: 15px;
                                    }
                                    h1 {
                                        display: none;
                                        margin: 0;
                                        padding: 0;
                                        font-size: 20px;
                                        line-height: 32px;
                                        color: #65422c;
                                        @include breakpoint(medium){
                                            display: block;
                                            margin: 0 0 15px 0 ;
                                            font-size: 30px;
                                            line-height: 42px;
                                        }
                                    }
                                    h2 {
                                        margin: 0;
                                        padding: 0;
                                        font-size: 16px;
                                        line-height: 28px;
                                        color: #65422c;
                                        @include breakpoint(medium){
                                            margin: 0;
                                            font-size: 20px;
                                            line-height: 32px;
                                        }
                                    }
                                    ul {
                                        margin: 0 0 10px 0;
                                        list-style: none;
                                        @include breakpoint(medium){
                                            margin: 0 0 15px 0;
                                        }
                                        li {
                                            font-size: 14px;
                                            line-height: 24px;
                                            @include breakpoint(medium){
                                                font-size: 20px;
                                                line-height: 32px;
                                            }
                                            a {
                                                font-size: inherit;
                                                line-height: inherit;
                                                font-weight: bold;
                                            }
                                        }

                                    }
                                }

                            }

                        }

                    }


                    div.wallpaper {
                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                            margin: 0;
                            padding: 0;
                            border: none;
                            vertical-align: middle;
                        }
                    }

                }

            }
        }
    }


    .media-nav__container {

        #media-carousel-wallpapers-nav {
            // styles

            // slick arrows are absolutely positioned natively
            // via the slick slider JavaScript
            // repositioning navigation slide arrows to display
            // within the display container located above the nav slider
            .nav-arrow {
                position: absolute;
                display: block;
                cursor: pointer;
                // ----------
                top: -364px;
                height: 100px;
                width: 75px;
                //overflow: hidden;
                color: white;
                background-color: transparent;
                font-size: 100px;
                line-height: 100px;
                opacity: 0.7;
                &:hover {
                    opacity: 1.0;
                }
            }

            .nav-arrow-prev {
                left: 50px;
                // ------------
                transform: translate(0, -50%);
                padding: 0;
                border: none;
                outline: none;
                text-align: left;

            }

            .nav-arrow-next {
                right: 50px;
                // ------------
                transform: translate(0, -50%);
                padding: 0;
                border: none;
                outline: none;
                text-align: right;
            }

            .media-nav-frame__container {
                // styles
                margin: 0 4px;
                padding: 7px;
                border: 2px solid #27211d;
                background-color: $brown;
                background-image: url($image-path+ 'ui/frame-box-texture.jpg');
                background-position: top center;
                background-repeat: repeat;
                @include breakpoint(medium){
                    margin: 0 10px;
                }

                .media-nav-content_container {
                    // styles
                    border: 1px solid #916140;

                    img.wallpaper {
                        width: 100%;
                        height: auto;
                        display: block;

                    }

                }

            }


        }

    }
    
}

/*eslint-enable*/





