/*eslint-disable*/

#screenshots.media {
    @include breakpoint(small only){
        //min-height: 750px;
    }
    @include breakpoint(medium only){
        min-height: 950px;
    }
    @include breakpoint(large){
        min-height: 1050px;
    }
}


#media-screenshots__container {
    // styles here

    .media-display__container {
        // styles
        margin: 0 16px 8px 16px;

        background-color: $brown;
        background-image: url($image-path+'ui/texture-dark.jpg');
        background-position: top center;
        background-repeat: repeat;
        @include breakpoint(medium){
            margin: 0 10px 20px 10px;
        }
        .media-display-frame__container {
            // styles
            padding: 7px;
            border: 2px solid #27211d;
            background-color: $brown;
            background-image: url($image-path+'ui/frame-box-texture.jpg');
            background-position: top center;
            background-repeat: repeat;

            .media-display-content_container {
                // styles
                border: 1px solid #916140;
                .media-display-header__container {
                    // styles
                    min-height: 76px;
                    padding: 0 20px;
                    @include breakpoint(small only){
                        padding: 0 10px;
                    }
                    background-color: $brown;
                    background-image: url($image-path+'ui/texture-dark.jpg');
                    background-position: top center;
                    background-repeat: repeat;

                    h1 {
                        display: inline-block;
                        font-size: 23px;
                        line-height: 36px;
                        color: white;
                        @include breakpoint(medium){
                            font-size: 40px;
                            line-height: 76px;
                        }
                    }

                    div.select__container {
                        text-align: left;
                        @include breakpoint(small only){
                            padding-bottom: 15px;
                        }
                        @include breakpoint(medium){
                            text-align: right;
                            padding-top: 20px;
                        }
                        select#screenshot-options {
                            display: inline-block;
                            width: 100%;
                            @include breakpoint(small only){
                                font-size: 1rem;
                                padding-right: 1rem;
                            }
                            @include breakpoint(medium){
                                width: 320px;
                            }

                        }

                    }

                }

                #media-carousel-screenshots-display {
                    // display
                    background-color: $brown;
                    background-image: url($image-path+'ui/texture-dark.jpg');
                    background-position: top center;
                    background-repeat: repeat;

                    div.screenshot {
                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                            margin: 0;
                            padding: 0;
                            border: none;
                            vertical-align: middle;
                            &:hover {
                                cursor: zoom-in;
                            }
                        }
                    }

                }

            }
        }
    }


    .media-nav__container {

        #media-carousel-screenshots-nav {
            // styles

            // slick arrows are absolutely positioned natively
            // via the slick slider JavaScript
            // repositioning navigation slide arrows to display
            // within the display container located above the nav slider
            .nav-arrow {
                position: absolute;
                display: block;
                cursor: pointer;
                // ----------
                top: -364px;
                height: 100px;
                width: 75px;
                //overflow: hidden;
                color: white;
                background-color: transparent;
                font-size: 100px;
                line-height: 100px;
                opacity: 0.7;
                &:hover {
                    opacity: 1.0;
                }
            }

            .nav-arrow-prev {
                left: 50px;
                // ------------
                transform: translate(0, -50%);
                padding: 0;
                border: none;
                outline: none;
                text-align: left;

            }

            .nav-arrow-next {
                right: 50px;
                // ------------
                transform: translate(0, -50%);
                padding: 0;
                border: none;
                outline: none;
                text-align: right;
            }

            .media-nav-frame__container {
                // styles
                margin: 0 4px;
                padding: 7px;
                border: 2px solid #27211d;
                background-color: $brown;
                background-image: url($image-path+ 'ui/frame-box-texture.jpg');
                background-position: top center;
                background-repeat: repeat;
                @include breakpoint(medium){
                    margin: 0 10px;
                }

                .media-nav-content_container {
                    // styles
                    border: 1px solid #916140;

                    img.screenshot {
                        width: 100%;
                        height: auto;
                        display: block;

                    }

                }

            }


        }

    }
}


// Unique Modal added after launch via request

#media-carousel-screenshots-modal.reveal.borderless {




    button.close-button {
        display: none;
        background: url(../images/close-button.png) no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        top: calc(((32px / 2) + (25px)) * -1);
        right: calc(((32px / 2) + (25px + 25px)) * -1);
        @include breakpoint(small down) {
            top: calc(((32px / 2) + (25px)) * -1);
            right: calc(((32px / 2) + (25px + 25px)) * -1);
        }
    }

    #modal-content__container {
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: rgba(0,0,0,0.75);
        &:hover {
            cursor: zoom-out;
        }

        img#modal-screenshot {
            display: inline-block;
            &:hover {
                cursor: zoom-out;
            }
            @include breakpoint(landscape) {
                // CSS for landscape-oriented devices only
                width: auto;
                max-width: 100%;
                height: 95vh;
                max-height: 95vh;
                margin: 0;
                padding: 0;
                border: 3px solid $dark-brown;
                @include absolute-position(50%,50%);
            }
            @include breakpoint(portrait) {
                // CSS for landscape-oriented devices only
            }
        }


    }



}




/*eslint-enable*/


