// setup

$menu-border-width: 5px; // the width of the gold border, baked into the image.
                         // I dislike using pixels here, but I don't have a better option

@keyframes fadein {
    0% { display: none; opacity: 0; }

    1% { display: block; opacity: 0; }

    100% { opacity: 1; }
}

// has built-in delay
@keyframes slidein {
    0% { display: none; opacity: 0; max-width: 0; }

    15% { display: block; opacity: 0; max-width: 0; }

    100% { opacity: 1; max-width: 200%; }
}

@mixin redMenuItemStyles {
    position: relative;
    background: $ui-color-scarlet url($image-path + "ui/mobile-nav-buttons.png") no-repeat;
    background-size: auto 1000%;

    // spread out the 5 bespoke bgs
    &:nth-of-type(5n + 2) { background-position-y: 11.111111%; } //2,7,12,17...
    &:nth-of-type(5n + 3) { background-position-y: 22.222222%; } //3,8,13,18...
    &:nth-of-type(5n + 4) { background-position-y: 33.333333%; } //4,9,14,19...
    &:nth-of-type(5n + 5) { background-position-y: 44.444444%; } //5,10,15,20...

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 12%;
        background: url($image-path + "ui/mobile-nav-buttons.png") 100% 55.555555% no-repeat;
        background-size: auto 1000%;

        &:nth-of-type(5n + 2) { background-position-y: 66.666666%; } //2,7,12,17...
        &:nth-of-type(5n + 3) { background-position-y: 77.777777%; } //3,8,13,18...
        &:nth-of-type(5n + 4) { background-position-y: 88.888888%; } //4,9,14,19...
        &:nth-of-type(5n + 5) { background-position-y: 99.999999%; } //5,10,15,20...
    }
}



@mixin menuItemHasChildren() {
    padding-right: calc(#{$header-icon-size} + 0.5em);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        vertical-align: middle;
        width: $header-icon-size;
        height: $header-icon-size;
        @include icon(15, 1); // icon--arrow-right
        z-index: 1;
    }

    &:hover,
    &:focus {
        &::before { @include icon-change-row-to(2); }
    }
}
// end setup


@mixin menuItemFocusStyles() { // for local use only
    & > .menu__item__label {
        color: $ui-color-royalgold-hover;
    }

    & > .dropdown {
        @include visible;
        animation: fadein .5s;
    }

    & > .dropdown.lvl-2 {
        max-width: 200%;
        animation: slidein .75s;
    }
}

li.menu__item { // need specific selector to override %unstyled-list

    @include breakpoint(large) {
        position: relative;

        &.--back { display: none; }

        // must separate focus-within for IE and Edge
        &:hover,
        &:focus {
            @include menuItemFocusStyles;
        }

        &:focus-within {
            @include menuItemFocusStyles;
        }
    }
}

.menu__item__label {
    display: block;
    width: 100%;
    color: $ui-color-parchment;
    padding: 1rem;
    font-size: 0.825rem;
    font-family: $serif-font-family;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: $cap-spacing;
    white-space: nowrap;

    .has-touch .has-children > & {
        pointer-events: none;
    }


    @include breakpoint(medium down) {

        @include redMenuItemStyles;

        .has-children > & {
            @include menuItemHasChildren;

            pointer-events: none;
        }

        .--back & {
            padding-left: calc(#{$header-icon-size} + 0.5em);

            &::before {
                content: "";
                @include icon(14, 1); // icon--arrow-left
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                vertical-align: middle;
                width: $header-icon-size;
                height: $header-icon-size;
            }
        }
    }

    @include breakpoint(large) {
        padding: 0.75rem 1rem;
        transition: color 0.25s ease;
        font-weight: normal;
        position: relative;
        z-index: 1;
        text-align: center;
        cursor: pointer;

        &:focus { outline: 1px solid; }
    }
}


// header nav styles

.header__navigation {
    position: absolute;
    right: 0;
    width: $menu-width;
    max-width: 85%;
    height: 100vh;
    z-index: map-get($z-index, 'nav');
    background: $ui-color-marble url($image-path + "tile-blackmarble.jpg");
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow: hidden;
    
    // this is a band-aid until we implement global box-sizing
    box-sizing: border-box;
    & * { box-sizing: border-box; }
    //

    &.is-open {
        box-shadow: 0 0 10px rgba(0,0,0,0.7);
        transform: translateX(0%);
        transition: transform 0.3s ease;
    }

    @include breakpoint(large) {
        transform: translateX(0);
        position: relative;
        width: 100%;
        height: auto;
        max-width: none;
        overflow: visible;
        background: $ui-color-walnut url($image-path + "ui/sprite-mainmenu-desk.png") 0 100% repeat-x;
        background-size: auto 300%;
        padding-top: $menu-border-width;

        &::before,
        &::after { display: none; }
    }
}

.primary-nav {  
    @extend %unstyled-list;
    padding: 0.5rem;
    width: $menu-width;
    max-width: 85vw;
    transform: translateX(0);
    transition: transform 0.25s ease;

    &[data-state="lvl-2"] { transform: translateX(-100%); }

    &[data-state="lvl-3"] { transform: translateX(-200%); }

    &[data-state="lvl-4"] { transform: translateX(-300%); }

    // necessary overrides
    a { 
        color: $ui-color-parchment; 
        text-decoration: none;
    } 

    @include breakpoint(large) {
        padding: 0;
        position: relative;
        width: 100%;
        max-width: none;
        display: flex;
        justify-content: space-between;
        transform: none;

        li.menu__item { // need specific selector to override %unstyled-list

            flex: 1 999 auto;

            // spacers
            // default is the left-end spacer
            &::before {
                content: "";
                width: 20px;
                height: calc(100% + #{$menu-border-width});
                background: url($image-path + "ui/sprite-mainmenu-desk.png") no-repeat;
                background-position: right 17.5% top;
                background-size: auto 300%;
                position: absolute;
                top: -$menu-border-width;
                left: 0;
                transform: translateX(-50%);
            }
            // spread out the 5 bespoke spacers
            &:nth-of-type(5n + 1)::before { background-position: right 5% top; } //1,6,11,16...
            &:nth-of-type(5n + 2)::before { background-position: right 7.5% top; } //2,7,12,17...
            &:nth-of-type(5n + 3)::before { background-position: right 10% top; } //3,8,13,18...
            &:nth-of-type(5n + 4)::before { background-position: right 12.5% top; } //4,9,14,19...
            &:nth-of-type(5n + 5)::before { background-position: right 15% top; } //5,10,15,20...
        }
    }    
}

@mixin dopdownMenuItemHoverStyles() { // for local use only
    outline: none;

    &::after {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

@mixin dropdownMenuItemParentHoverStyles() { // for local use only
     &::after {
        width: 100%;
        transition: width 0.2s ease, opacity 0.1s ease;
    }
}

.dropdown {
    @extend %unstyled-list;
    display: none;
    position: absolute;
    transition: all 0.5s ease;
    left: 100%;
    top: 0;
    padding: 0.5rem;
    width: $menu-width;
    max-width: 85vw;

    li.menu__item { // need specific selector to override %unstyled-list
        &::before { display: none; } // no spacers

        &.has-children {

            & > .menu__item__label {
                @include menuItemHasChildren();
            }
        }
    }

    @include breakpoint(large) {
        @include invisible;
        top: 100%;
        left: 0;
        padding: 0;
        width: auto;
        max-width: none;
        min-width: 100%;
        background-color: $ui-color-walnut; //fallback

        &:hover,
        &:focus {
            @include visible;

            .dropdown {
                max-width: 200%;
                animation: slidein .75s;
            }
        }

        .menu__item {
            background: url($image-path + "ui/button-simple-walnut-desk.png");

            &::after { 
                @include pseudo-cover;
                background: url($image-path + "ui/button-simple-scarlet-desk.png");
                will-change: opacity;
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 0;
            }

            //must separate focus-within styles for IE and Edge
            &:hover,
            &:focus {
                @include dopdownMenuItemHoverStyles();
            }

            &:focus-within { @include dopdownMenuItemHoverStyles(); }
            //

            &.has-children {
                &::after { 
                    width: 0%;
                    transition: width 0.2s ease, opacity 0.1s ease;
                }

                //must separate focus-within styles for IE and Edge
                &:hover,
                &:focus {
                    @include dropdownMenuItemParentHoverStyles;
                }

                &:focus-within { @include dropdownMenuItemParentHoverStyles; }
                //
            }
        }

        .menu__item__label {
            text-align: left;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
    }
}

.dropdown.lvl-2, .dropdown.lvl-3, .dropdown.lvl-4 {
    left: 100%;
    top: 0;

    @include breakpoint(large) {
        min-width: 0; // overrides lvl1 style
        max-width: 0; // used for animation

        .menu__item {
            box-shadow: inset 40px 0px 40px 0px rgba(0, 0, 0, 0.7);
        }
    }
}

.insider_icon {
    & > .menu__item__label {
        &::before {
            content: "";
            @extend %icon--insider;
            width: 2em;
            height: 2em;
            margin: -0.5em 0; // keeps the icon's height from increasing the height of the menu item
        }

        &:hover,
        &:focus {
            &::before {
                @include icon-change-row-to(2);
            }
        }
    }
}

.ageIV_icon {
    & > .menu__item__label {
        &::before {
            content: "";
            background: url($image-path + 'age4/bgs/icon-iv-small.png');
            background-position: center center;
            background-repeat: no-repeat;
            width: 2em;
            height: 2em;
            margin: -0.5em 0;
            display: block;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.fan_preview_icon {
    & > .menu__item__label {
        display: flex;
        justify-content: center;
        margin-bottom: -0.5em;

        @include breakpoint(medium down) {    
            justify-content: flex-start;
            margin-bottom: 0;
        }

        &::before {
            content: "";
            width: 2.5em;
            height: 2.2em;
            margin: -0.8em 0 0;
            background: url($image-path + 'ui/fp-flag-icon.svg') no-repeat;

            @include breakpoint(medium down) { 
                width: 2em;
                height: 2em;
                margin: -0.5em 0;
                background-size: contain;
            }

        }
    }

    // @include breakpoint(medium down) {
    //     justify-content: flex-start;
    //     margin-bottom: 0;

    //     &::before {
    //         width: 2em;
    //         height: 2.2em;
    //         margin: -0.7em 0;
    //         background-size: contain;
    //     }        
    // }
}

.menu__item.highlight {
    &::before,
    &::after { display: none; }

    & > .menu__item__label {
        height: auto;
        background-image: url($image-path + "ui/sprite-mainmenu-desk.png");
        background-size: auto 300%;
        background-position: 0 0;
        background-repeat: no-repeat;
        font-weight: bold;
        color: $light-alt;

        // for alignment, because this one's taller than the others
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1rem;
            background-image: url($image-path + "ui/sprite-mainmenu-desk.png");
            background-size: auto 300%;
            background-position: 100% 0;
            background-repeat: no-repeat;
        }    
    }

    @include breakpoint(large) {
        margin-top: -$menu-border-width;

        &:hover,
        &:focus {
            background-position-y: 50%;
            color: #fff;

            &::after { background-position-y: 50%; }
        }
    }
}