/*eslint-disable*/

/**
#media-carousel-screenshots-modal.reveal.borders-egyptian,
#media-carousel-screenshots-modal.reveal.borders-egyptian {
    width: 60vw;
    height: 34vw;
    max-width: 1600px;
    max-height: 900px;
    // height of window - modal content height - border offsets x 2
    margin-top: calc((100vh - (34vw + (25px * 2))) / 2);
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0.5);
    box-shadow: none;
    overflow: visible;
    &:focus {
        outline: none;
    }

    button.close-button {
        background: url(../images/close-button.png) no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        top: calc(((32px / 2) + (25px)) * -1);
        right: calc(((32px / 2) + (25px + 25px)) * -1);
        @include breakpoint(small down) {
            top: calc(((32px / 2) + (25px)) * -1);
            right: calc(((32px / 2) + (25px + 25px)) * -1);
        }
    }

    #modal-content__container {
        // 16:9 aspect ratio
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60vw;
        height: 34vw;
        max-width: 1600px;
        max-height: 900px;
        overflow: hidden;
        background-color: rgba(0,0,0,0.65);
        .responsive-embed,
        .responsive-embed.widescreen {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            img {
                width: 60vw;
                height: 34vw;
                max-width: 1600px;
                max-height: 900px;




            }
        }
    }

    .modal-border {
        z-index: 2;
    }

    .modal-border.top {
        //styles
        position: absolute;
        top: -25px;
        left: 0;
        height: 27px;
        width: 60vw;
        max-width: 1600px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egyptian-top.png);
        background-repeat: repeat-x;
        background-position: top center;
    }
    .modal-border.bottom {
        //styles
        position: absolute;
        left: 0px;
        bottom: -25px;
        width: 60vw;
        max-width: 1600px;
        height: 27px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egyptian-bottom.png);
        background-repeat: repeat-x;
        background-position: bottom center;
    }
    .modal-border.left {
        //styles
        position: absolute;
        top: 0;
        left: -25px;
        width: 27px;
        height: 34vw;
        max-height: 900px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egyptian-left.png);
        background-repeat: repeat-y;
        background-position: top left;
    }
    .modal-border.right {
        //styles
        position: absolute;
        top: 0;
        right: -25px;
        width: 27px;
        height: 34vw;
        max-height: 900px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egyptian-right.png);
        background-repeat: repeat-y;
        background-position: top right;
    }

    .modal-corner {
        z-index: 3;
    }

    .modal-corner.top.left {
        //styles
        position: absolute;
        top: -25px;
        left: -25px;
        width: 195px;
        height: 195px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egypt-corners.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    .modal-corner.top.right {
        //styles
        position: absolute;
        top: -25px;
        right: -25px;
        width: 195px;
        height: 195px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egypt-corners.png);
        background-repeat: no-repeat;
        background-position: bottom left;
    }
    .modal-corner.bottom.left {
        //styles
        position: absolute;
        bottom: -25px;
        left: -25px;
        width: 195px;
        height: 195px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egypt-corners.png);
        background-repeat: no-repeat;
        background-position: top right;
    }
    .modal-corner.bottom.right {
        //styles
        position: absolute;
        bottom: -25px;
        right: -25px;
        width: 195px;
        height: 195px;
        overflow: hidden;
        background-image: url(../images/modal/image/egyptian/border-egypt-corners.png);
        background-repeat: no-repeat;
        background-position: top left;
    }


}
*/

/*eslint-enable*/


