/*eslint-disable*/

.reveal {

    &.aoe-modal {

        &.simple {

            .modal-content {
                padding: 1rem;
            }

            .modal-inner {
                @include goldBorder();
                background-image: url($image-path + 'bgs/framebox-dark-texture-desk.jpg');
                color: $light-alt;
            }

            @media screen and (min-width: 44.9375em) {
                overflow: visible;

                .modal-content {
                    padding: 2rem;
                }

                .close-button {
                    position: absolute;
                    top: -1.25rem;
                    right: -1.25rem;
                }
            }
            
        }

        // Egyptian Version
        &.borders-egyptian {
            //width: calc(850px + 71px + 71px);
            //height: calc(478px + 89px + 50px);
            width: auto !important;
            max-width: 850px;
            height: 720px !important;
            margin-top: 35px;
            padding: 0;
            border: none;
            background-color: transparent;
            box-shadow: none;
            overflow: visible;
            &:focus {
                outline: none;
            }

            button.close-button {
                background: url(../images/close-button.png) no-repeat;
                width: 32px;
                height: 32px;
                position: absolute;
                top: -10px;
                right: -40px;
                @include breakpoint(small down) {
                    top: 10px;
                    right: 10px;
                }
            }

            #modal-content__container {
                // 850x478 or 16:9 aspect ratio
                position: absolute;
                top: 50px;
                left: 71px;
                width: 850px;
                height: 478px;
                overflow: hidden;
                background-color: rgba(0,0,0,0.65);
                text-align: center;

                .responsive-embed,
                .responsive-embed.widescreen {
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                }

                .btn-close-modal {
                   margin: rem-calc(30px) auto;
                }

                h1,h2,h3,h4,h5,h6 {
                    text-align: center;
                }

                p {
                    text-align: left;
                }

            }

            .modal-border.top {
                //styles
                position: absolute;
                top: 0;
                left: 71px;
                height: 60px;
                width: 850px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-horz02.png);
                background-repeat: no-repeat;
                background-position: top center;
            }
            .modal-border.bottom {
                //styles
                position: absolute;
                left: 71px;
                bottom: 0;
                width: 850px;
                height: 89px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-horz02.png);
                background-repeat: no-repeat;
                background-position: bottom center;
            }
            .modal-border.left {
                //styles
                position: absolute;
                top: 50px;
                left: 0;
                width: 71px;
                height: 478px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-verts02.png);
                background-repeat: no-repeat;
                background-position: top left;
            }
            .modal-border.right {
                //styles
                position: absolute;
                top: 50px;
                right: 0;
                width: 71px;
                height: 478px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-verts02.png);
                background-repeat: no-repeat;
                background-position: top right;
            }
            .modal-corner.top.left {
                //styles
                position: absolute;
                top: 0;
                left: 0;
                width: 239px;
                height: 220px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-corners02.png);
                background-repeat: no-repeat;
                background-position: bottom right;
            }
            .modal-corner.top.right {
                //styles
                position: absolute;
                top: 0;
                right: 0;
                width: 239px;
                height: 220px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-corners02.png);
                background-repeat: no-repeat;
                background-position: bottom left;
            }
            .modal-corner.bottom.left {
                //styles
                position: absolute;
                bottom: 0;
                left: 0;
                width: 239px;
                height: 258px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-corners02.png);
                background-repeat: no-repeat;
                background-position: top right;
            }
            .modal-corner.bottom.right {
                //styles
                position: absolute;
                bottom: 0;
                right: 0;
                width: 239px;
                height: 258px;
                overflow: hidden;
                background-image: url(../images/modal/border-egypt-corners02.png);
                background-repeat: no-repeat;
                background-position: top left;
            }


        }

        // Bordes Frank
        &.borders-frank {

            width: auto !important;
            max-width: 850px;
            height: auto;

            //width: calc(850px + 71px + 71px);
            //height: calc(478px + 89px + 50px);
            margin-top: 50px !important;
            padding: 0;
            border: none;
            background-color: transparent;
            box-shadow: none;
            overflow: visible;

            @include breakpoint(medium up){
                max-height: calc(100vh - (50px * 2));
            }

            &:focus {
                outline: none;
            }

            button.close-button {
                background: url(../images/close-button.png) no-repeat;
                width: 32px;
                height: 32px;
                position: absolute;
                top: -10px;
                right: -40px;
                @include breakpoint(small down) {
                    top: 10px;
                    right: 10px;
                }
            }

            .modal-content__container {
                // 850x478 or 16:9 aspect ratio
                position: relative;
                z-index: 4;
                //top: 50px;
                //left: 71px;
                //width: 850px;
                width: 100%;
                //height: 478px;
                height: auto;
                max-height: 100%;
                overflow: visible;
                text-align: center;
                border: none;
                background-color: transparent;
                .modal-content {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                    padding: 65px;
                    background-color: transparent;
                }

                .responsive-embed,
                .responsive-embed.widescreen {
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                }

                .btn-close-modal {
                    margin: 0 auto;
                }

                h1,h2,h3,h4,h5,h6 {
                    text-align: center;
                }

                p {
                    text-align: left;
                }

            }

            .modal-background {
                // currently the modal background is a class in the HTML
                // would be good to change this and apply the background here
                position: absolute;
                top: 13px;
                right: 13px;
                bottom: 13px;
                left: 13px;
                z-index: 1;
            }

            .modal-border.top {
                //styles
                position: absolute;
                top: 0;
                z-index: 2;
                left: 13px;
                height: 26px;
                //width: 850px;
                width: calc(100% - (13px * 2));
                overflow: hidden;
                background-image: url(../images/modal/corners-frank-horz-desk.png);
                //background-position: top center;
                //background-repeat: no-repeat;
                background-position: center -24px;
                background-repeat: repeat;
            }
            .modal-border.bottom {
                //styles
                position: absolute;
                left: 13px;
                bottom: 0;
                z-index: 2;
                //width: 850px;
                width: calc(100% - (13px * 2));
                height: 26px;
                overflow: hidden;
                background-image: url(../images/modal/corners-frank-horz-desk.png);
                //background-position: bottom center;
                //background-repeat: no-repeat;
                background-position: center -24px;
                background-repeat: repeat;
            }
            .modal-border.left {
                //styles
                position: absolute;
                top: 13px;
                left: 0;
                z-index: 2;
                width: 27px;
                //height: 478px;
                height: calc(100% - (13px * 2));
                overflow: hidden;
                background-image: url(../images/modal/corners-frank-vert-desk.png);
                //background-repeat: no-repeat;
                //background-position: top left;
                background-repeat: repeat;
                background-position: -44px center;
            }
            .modal-border.right {
                //styles
                position: absolute;
                top: 13px;
                right: 0;
                width: 27px;
                z-index: 2;
                //height: 478px;
                height: calc(100% - (13px * 2));
                overflow: hidden;
                background-image: url(../images/modal/corners-frank-vert-desk.png);
                //background-repeat: no-repeat;
                //background-position: top right;
                background-repeat: repeat;
                background-position: -44px center;
            }
            .modal-corner.top.left {
                //styles
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                //width: 239px;
                //height: 220px;
                width: 83px;
                height: 83px;
                overflow: hidden;
                background-image: url(../images/modal/corners-frank-desk.png);
                background-repeat: no-repeat;
                //background-position: bottom right;
                background-position: -283px -283px;
                background-color: transparent;
                border: none;
            }
            .modal-corner.top.right {
                //styles
                position: absolute;
                top: 0;
                right: 0;
                z-index: 3;
                width: 83px;
                height: 83px;
                //width: 239px;
                //height: 220px;
;                overflow: hidden;
                background-image: url(../images/modal/corners-frank-desk.png);
                background-repeat: no-repeat;
                //background-position: bottom left;
                background-position: -112px -283px;
                background-color: transparent;
                border: none;
            }
            .modal-corner.bottom.left {
                //styles
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 3;
                width: 83px;
                height: 83px;
                //width: 239px;
                //height: 258px;
                overflow: hidden;
                background-image: url(../images/modal/corners-frank-desk.png);
                background-repeat: no-repeat;
               // background-position: top right;
                background-position: -284px -112px;
                background-color: transparent;
                border: none;
            }
            .modal-corner.bottom.right {
                //styles
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 3;
                width: 83px;
                height: 83px;
                //width: 239px;
                //height: 258px;
                overflow: hidden;
                background-image: url(../images/modal/corners-frank-desk.png);
                background-repeat: no-repeat;
                //background-position: top left;
                background-position: -112px -112px;
                background-color: transparent;
                border: none;
            }
        }

        @include breakpoint(small only) {

            &.borders-frank,
            &.borders-frank #modal-content__container {
                height: auto;
                width: 100%;
                position: relative;
                left: unset;
            }
        }

    }

}

@include breakpoint(small only) {
    .modal-border,
    .modal-corner {
        display: none;
    }
}

/*eslint-enable*/








