/*eslint-disable*/



#hero-franchise-video-modal.reveal.borders-egyptian,
#hero-video-modal.reveal.borders-egyptian {
    width: calc(850px + 71px + 71px);
    height: calc(478px + 89px + 50px);
    margin-top: 35px;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    overflow: visible;
    &:focus {
        outline: none;
    }

    button.close-button {
        background: url(../images/close-button.png) no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        top: -10px;
        right: -40px;
        @include breakpoint(small down) {
            top: 10px;
            right: 10px;
        }
    }

    #modal-content__container {
        // 850x478 or 16:9 aspect ratio
        position: absolute;
        top: 50px;
        left: 71px;
        width: 850px;
        height: 478px;
        overflow: hidden;
        background-color: rgba(0,0,0,0.65);
        .responsive-embed,
        .responsive-embed.widescreen {
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    .modal-border.top {
        //styles
        position: absolute;
        top: 0;
        left: 71px;
        height: 60px;
        width: 850px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-horz02.png);
        background-repeat: no-repeat;
        background-position: top center;
    }
    .modal-border.bottom {
        //styles
        position: absolute;
        left: 71px;
        bottom: 0;
        width: 850px;
        height: 89px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-horz02.png);
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    .modal-border.left {
        //styles
        position: absolute;
        top: 50px;
        left: 0;
        width: 71px;
        height: 478px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-verts02.png);
        background-repeat: no-repeat;
        background-position: top left;
    }
    .modal-border.right {
        //styles
        position: absolute;
        top: 50px;
        right: 0;
        width: 71px;
        height: 478px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-verts02.png);
        background-repeat: no-repeat;
        background-position: top right;
    }
    .modal-corner.top.left {
        //styles
        position: absolute;
        top: 0;
        left: 0;
        width: 239px;
        height: 220px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-corners02.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
    .modal-corner.top.right {
        //styles
        position: absolute;
        top: 0;
        right: 0;
        width: 239px;
        height: 220px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-corners02.png);
        background-repeat: no-repeat;
        background-position: bottom left;
    }
    .modal-corner.bottom.left {
        //styles
        position: absolute;
        bottom: 0;
        left: 0;
        width: 239px;
        height: 258px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-corners02.png);
        background-repeat: no-repeat;
        background-position: top right;
    }
    .modal-corner.bottom.right {
        //styles
        position: absolute;
        bottom: 0;
        right: 0;
        width: 239px;
        height: 258px;
        overflow: hidden;
        background-image: url(../images/modal/border-egypt-corners02.png);
        background-repeat: no-repeat;
        background-position: top left;
    }


}

/*eslint-enable*/


