#newsletter-subscribe {
    //TODO - Add to main theme styles
    ul {
        padding-left: 0px;
        li {
            list-style: none;
            background: url($image-path + 'forms/bullet.png') left 0.8em top 0.5em no-repeat;
            background-size: 0.4em 0.4em;
            padding-left: 1.5em;
            margin-bottom: 0.5em;
        }
    }

    p {
        //font-family: kinesis-pro-3, serif;
        margin-top: 0.5rem;
    }

    .smalltext {
        font-size: 0.727272em;
        line-height: 1.375em;
    }

    .center {
        text-align: center;
    }

    .flexcol {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: flex-start;
        .col {
            flex: 0 1 auto;
        }
    }
    .teasers {
        .tease {
            position: relative;
            padding: 0.55rem;
            .bg {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: flex-end;
                align-content: flex-end;
                position: relative;
                min-height: 39.181818em;
                margin: -1px; /*hide seams behind gold border*/
                .buttons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-content: flex-start;
                    align-items: flex-start;
                    a {
                        flex: 0 1 auto;
                        margin-bottom: 0.5em;
                        white-space: nowrap;
                    }
                }

                .sandbutton {
                    color: #000;
                    min-width: 15em;
                    max-width: 27.5em;
                    margin: 0 auto;
                    display: inline-block;
                }

                .text {
                    flex: 0 0 calc(90.977443% - 3.090909em);
                    margin: 1.545454em;
                    width: calc(90.977443% - 3.090909em);
                    padding: 1.090909em;
                    color: $ui-color-parchment;
                    background-color: rgba(0, 0, 0, 0.8);
                    position: relative;
                    //font-family: kinesis-pro-3, serif;
                    box-sizing: initial;
                    p {
                        line-height: 1.454545em;
                    }
                    h4.title {
                        font-size: 1.090909em;
                        line-height: 1.541666em;
                        margin: 0px;
                        text-align: center;
                        font-family: trajan-pro-3, serif;
                    }
                }
            }
            &.insider {
                .bg {
                    background: url($image-path + 'insiders/bgs/bg-tease-age2-vert-mobile.jpg') left top;
                    background-size: cover;
                }
                @include breakpoint(medium up) {
                  a:focus-within {
                    outline: 2px solid $ui-color-royalgold-hover;
                  }
                }
                &.lotw {
                    .bg {
                        background: url($image-path + 'insiders/bgs/lotw/fp-bg-insider-signup-mobile.jpg') left top;
                        background-size: cover;

                        @include breakpoint(767 down) { 
                            background-image: none !important; 
                            min-height: auto;
                            display: block;
                        }
                    
                        .newsletter-subscribe-mobile-image {
                            width: 100%;
                    
                            @media (min-width: $ui-breakpoint-tablet) {
                                display: none;  
                            }
                        }  

                        .text {
                            margin: 0;
                            width: auto;
                            background-color: #000;
                            
                            @media (min-width: $ui-breakpoint-tablet) {
                                margin: 7.142857%; 
                                width: 76.691729%;
                                background-color: rgba(0,0,0,0.8);
                            }      
                            
                            @include breakpoint(767 down) {
                                .text-inner {
                                    margin-top: -20%;
                                }
                            }
                        }

                    }
                    @include breakpoint(medium up) {
                        a:focus-within {
                          outline: 2px solid $ui-color-royalgold-hover;
                        }
                    }
                }
            }

            &.left {
                .bg {
                    justify-content: flex-start;
                }
            }
            .insider_sign_btn_wrapper {
                text-align: center;
                margin: 0 auto;
                width: 100%;
                max-width:15em;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    right: 0px;
                    top: 0;
                    height: 100%;
                    width: 18%;
                    background: url($image-path + 'btn/button-age2.png') right top;
                    background-size: auto 200%;
                    z-index: 0;
                }
                .button.cta {
                    padding-left: 0px;
                    margin-right:0;
                    display: block;
                    max-width:100%;
                    background: none;
                    &:before {
                        content:'';
                        border: 0; // only needed with old selector
                        padding: 0; // only needed with old selector
                        position: absolute;
                        display: inline-block;
                        line-height: 2;
                        background: url($image-path + 'btn/button-age2.png') left top;
                        background-size: auto 200%;
                        max-width: 27.5em; // background is only so wide. Must restrict width
                        z-index: -1;
                        width:88%;
                        height: 100%;
                        left: 0;
                    }
                    &:after {
                        display: none;
                    }
                }
                .cta-anim-right {
                    right: 0;
                }
            }
        }
    }
}

/************************************* TABLET ***************************************************/
@media (min-width: $ui-breakpoint-tablet) {
    #newsletter-subscribe {
        .teasers {
            .tease {
                .bg {
                    min-height: 20.944444em;
                    justify-content: flex-end;
                    .text {
                        flex: 0 0 calc(67.164179% - 1.666666em);
                        margin: 1.666666em 3.055555em;
                        width: calc(67.164179% - 1.666666em);
                        padding: 0.833333em;
                        h4.title {
                            font-size: 1.166666em;
                            line-height: 1.523809em;
                        }
                        .words {
                            font-size: 0.777777em;
                            line-height: 1.5em;
                        }
                    }
                }
                &.insider {
                    .bg {
                        background: url($image-path + 'insiders/bgs/bg-tease-age2-right-tablet.jpg') left top;
                        background-size: cover;
                    }
                    &.lotw {
                        .bg {
                            background: url($image-path + 'insiders/bgs/lotw/fp-bg-insider-signup-desk.jpg') left top;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}

/*********************************** DESKTOP ***********************************************************/

@media (min-width: $ui-breakpoint-desk){
    #newsletter-subscribe {
        .teasers {
            .tease {
                .bg {
                    min-height: 30.545454em;
                    margin: -1px; /*hide seams behind gold border*/
                    .text {
                        flex: 0 0 calc(49.620253% - 2.90909em);
                        margin: 1.454545em 4em;
                        width: calc(49.620253% - 2.90909em);
                        padding: 1.454545em;
                        h4.title {
                            font-size: 1.40909em;
                            line-height: 1.612903em;
                        }
                        .words {
                            font-size: 0.90909em;
                            line-height: 1.4875em;
                        }
                    }
                }
                &.insider {
                    .bg {
                        background: url($image-path + 'insiders/bgs/bg-tease-age2-right-desk.jpg') left top;
                        background-size: cover;
                    }
                    &.lotw {
                        .bg {
                            background: url($image-path + 'insiders/bgs/lotw/fp-bg-insider-signup-desk.jpg') left top;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}

/*********************************** ULTRA *************************************************************/
@media (min-width: $ui-breakpoint-ultra){
    #newsletter-subscribe {
        .teasers {
            .tease {
                .bg {
                    min-height: 30.088888em;
                    margin: -1px; /*hide seams behind gold border*/
                    .text {
                        flex: 0 0 calc(49.620253% - 2.844444em);
                        margin: 1.422222em 3.911111em;
                        width: calc(49.620253% - 2.844444em);
                        padding: 1.422222em;
                        h4.title {
                            font-size: 1.40909em;
                            line-height: 1.612903em;
                        }
                        .words {
                            font-size: 0.90909em;
                            line-height: 1.4875em;
                        }
                    }
                }
                &.insider {
                    .bg {
                        background: url($image-path + 'insiders/bgs/bg-tease-age2-right-desk.jpg') left top;
                        background-size: cover;
                    }
                    &.lotw {
                        .bg {
                            background: url($image-path + 'insiders/bgs/lotw/fp-bg-insider-signup-desk.jpg') left top;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}