
// Common styles for pagination
// ------------------------------------------------+
//

// Outer container
.pagination-container {
  min-height: 3rem;
  padding: 0 2rem;

  @include breakpoint(medium down) {
    text-align: center;
  }

  @include breakpoint(small down) {
    padding: 0;
  }
}

// Displaying X-XX (h4)
.pagination-title {
  color: $light-alt;
  font-weight: 400;
  margin-bottom: 1rem;

  @include breakpoint(large) {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
  }
}

// List of pages
.pagination {
  @include breakpoint(large) {
    display: inline-block;
    max-width: 70%;
    vertical-align: middle;
  }
  
  &__ellipses {
    color: $light-alt;
  }

  li {
    font-weight: 700;
    height: 1.75em;
    line-height: 1.75em;
    margin: 0 5px;
    min-width: 1.75em;
    text-align: center;
    color: $light-alt;
    @include breakpoint(small down) {
      font-size: 0.9rem;
      height: 1.5em;
      line-height: 1.5em;
      margin: 0 3px 0.5rem;
      min-width: 1.5em;
    }
    &.current {
      a {
        background: $light-alt;
        color: $brand-primary;
      }
    }
  }

  a,
  button {
    background-color: $brand-primary;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba($xdark-brown, 0.7);
    display: inline-block;
    font-weight: 700;
    height: 100%;
    transition: all 0.3s ease-in-out;
    width: 100%;

    &:hover,
    &:focus {
      color: $brand-primary;
      cursor: pointer;
    }
  }
}


// Clans Members List
// ------------------------------------------------+
//

.clans-players-list__pagination {
  @include breakpoint(large) {
    display: block;
    float: left;
    width: 40%;

    .pagination {
      max-width: 100%;

      .ellipsis {
        margin: 0;
        min-width: 0;
      }
    }
  }

  @include breakpoint(medium down) {
    text-align: center;
  }

  .pagination-title {
    display: none;
  }
}

// Mods List
// ------------------------------------------------+
//

.mods-list__pagination {
  .show-for-large {
    padding-left: 2rem;
  }

  .large-align-right {
    padding: 0;

    li:last-of-type {
      margin-right: 0px;
    }

    .pagination-container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}