//extends .dark-content-box
.primary-stats {
  margin-top: 100px;

  .arrow-badge-hr--custom-badge {
    background-position: center top;
    margin-bottom: 20px;
    min-height: 110px;
    padding-top: 0;

    .progress-circle {
      //width & height = 180
      left: calc(50% - 90px);
      position: absolute;
      top: -70px;
    }

    .league-badge {
      background: url($image-path+'league-badge.png') no-repeat center center;
      height: 180px;
      left: calc(50% - 90px);
      padding-top: 50px;
      position: absolute;
      text-align: center;
      top: -70px;
      width: 180px;

      .stat-label {
        color: $light;
        font-weight: bold;
        text-shadow: 0 0 8px $black;
        text-transform: uppercase;
      }

      .stat {
        color: $light-alt;
        font-family: $serif-font-family;
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 0 0 8px $black;
      }

    }

  }

  .primary-stats__stats-columns {

    @include breakpoint(medium) {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    @include breakpoint(large) {
      align-items: flex-end;
    }

    &.three-stats-columns {
      @include breakpoint(large) {
        padding: 0 60px;
      }
    }

  }

  .primary-stats__stat-column {
    padding: 0 10px;
    text-align: center;
    width: 100%;

    @include breakpoint(small only) {
      margin-bottom: 1rem;
    }

    @include breakpoint(medium) {
      flex-grow: 1;
    }

    .stat {
      color: $light;

      sub {
        bottom: auto;
      }

      &.large-stat {
        font-size: 2.75rem;
        font-weight: bold;
      }
    }

    .stat-label {
      color: $light-alt;
      font-weight: bold;
    }

  }

}
