div.bargraph, progress.bargraph {
  position: relative;
  height: 25px;
  line-height: 25px;
  &.bargraph--high-val {
    color: #f19d17;

    &::-webkit-progress-value {
      background: #f19d17;
      //border-bottom: 2px solid #eb760e;
      //border-right: 2px solid #eb760e;
    }

    &::-moz-progress-bar {
      background: #f19d17;
      //border-bottom: 2px solid #eb760e;
      //border-right: 2px solid #eb760e;
    }
  }

  &.bargraph--med-val {
    color: #d18a12;

    &::-webkit-progress-value {
      background: #d18a12;
      //border-bottom: 2px solid #bf5b0b;
      //border-right: 2px solid #bf5b0b;
    }

    &::-moz-progress-bar {
      background: #d18a12;
      //border-bottom: 2px solid #bf5b0b;
      //border-right: 2px solid #bf5b0b;
    }
  }

  &.bargraph--low-val {
    color: #b87412;

    &::-webkit-progress-value {
      background: #b87412;
      //border-bottom: 2px solid #9c460b;
      //border-right: 2px solid #9c460b;
    }

    &::-moz-progress-bar {
      background: #b87412;
      //border-bottom: 2px solid #9c460b;
      //border-right: 2px solid #9c460b;
    }
  }

  &.bargraph--em-val {
    color: #8c0a26;
    margin-top: 0.3rem;

    &.stacked {
      position: absolute;
      top: 0.3em;
    }

    &::before {
      content: attr(data-label) + ' ' + attr(data-param);
      font-weight: 600;
      color: #fff;
      position: absolute;
      left: 1rem;
      opacity: 0;
      transition: opacity 0.5s;
    }

    &.show_data {
      &::before {
        opacity: 1;
      }
    }

    /*&::-webkit-progress-value {
      //background: rgb(214, 98, 29);
      background: -webkit-linear-gradient(-45deg,transparent 33%, rgba(0, 0, 0, .1) 33%,rgba(0,0, 0, .1) 66%, transparent 66%),
      -webkit-linear-gradient(top,gba(255, 255, 255, .25),rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #cc3200, #ff7600);
      //border-bottom: 2px solid #9c460b;
      //border-right: 2px solid #9c460b;
    }*/

    &::-webkit-progress-value {
        //background: rgb(214, 98, 29);
        background: linear-gradient(to right, rgba(176,35,35,1) 0%,rgba(209,122,0,1) 100%);
        //border-bottom: 2px solid #9c460b;
        //border-right: 2px solid #9c460b;
    }

    &::-moz-progress-bar {
        //background:#553b75;
        background: linear-gradient(to right, rgba(176,35,35,1) 0%,rgba(209,122,0,1) 100%);
        //border-bottom: 2px solid #9c460b;
        //border-right: 2px solid #9c460b;
    }

    &.usage {
      &::-webkit-progress-value {
        //background: rgb(214, 98, 29);
        background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
        //border-bottom: 2px solid #9c460b;
        //border-right: 2px solid #9c460b;
      }
    }
    &.usage {
      &::-moz-progress-bar {
        //background: rgb(214, 98, 29);
        background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
        //border-bottom: 2px solid #9c460b;
        //border-right: 2px solid #9c460b;
      }
    }
  }
}

.phoenix_stats {
  div.bargraph, progress.bargraph {
    &.bargraph--high-val {
      color: #675e52;
      &::-webkit-progress-value {
        background:#675e52;
        //border-bottom: 2px solid #eb760e;
        //border-right: 2px solid #eb760e;
      }

      &::-moz-progress-bar {
        background: #675e52;
        //border-bottom: 2px solid #eb760e;
        //border-right: 2px solid #eb760e;
      }
    }
  }

  &#chart-maps {
    progress.bargraph {
      &.bargraph--high-val {
        color: #675e52;

        &::-webkit-progress-value {
          background: #675e52;
          //border-bottom: 2px solid #eb760e;
          //border-right: 2px solid #eb760e;
        }

        &::-moz-progress-bar {
          background: #675e52;
          //border-bottom: 2px solid #eb760e;
          //border-right: 2px solid #eb760e;
        }
      }
      &.bargraph--em-val {
        color: #675e52;
        margin-top: 0.3rem;
        &.stacked {
          position: absolute;
          top: 0.3em;
        }

        &::before {
          content: attr(data-label) + ' ' + attr(data-param);
          font-weight: 600;
          color: #fff;
          position: absolute;
          left: 1rem;
          opacity: 0;
          transition: opacity 0.5s;
        }

        &.show_data {
          &::before {
            opacity: 1;
          }
        }

        &::-webkit-progress-value {
          //background: rgb(214, 98, 29);
          background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
          //border-bottom: 2px solid #9c460b;
          //border-right: 2px solid #9c460b;
        }

        &::-moz-progress-bar {
          background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
          //border-bottom: 2px solid #9c460b;
          //border-right: 2px solid #9c460b;
        }
      }
    }
  }
}

.stats-career-age2 {
  #chart-civs-wins {
    th {
      width:40%;
      &:first-child {
        width:20%;
      }
    }
  }
  progress.bargraph {
    &.bargraph--em-val {
      &.conquers, &.won {
        &::-moz-progress-bar {
          //background: rgb(214, 98, 29);
          background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
          //border-bottom: 2px solid #9c460b;
          //border-right: 2px solid #9c460b;
        }
        &::-webkit-progress-value {
          //background: rgb(214, 98, 29);
          background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
          //border-bottom: 2px solid #9c460b;
          //border-right: 2px solid #9c460b;
        }
      }
      &:before {
        /*content: attr(data-param);
        opacity: 1;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;*/
        display: none;
      }
    }
  }
}

#chart-maps-top-play {
  progress.bargraph {
    &.bargraph--high-val {
      &::-moz-progress-bar {
        background: transparent;
      }
      &::-webkit-progress-value {
        background: transparent;
      }
    }
    &.bargraph--em-val {
      &::-moz-progress-bar {
        //background: rgb(214, 98, 29);
        background: linear-gradient(to right, rgba(176,35,35,1) 0%,rgba(209,122,0,1) 100%);
        //border-bottom: 2px solid #9c460b;
        //border-right: 2px solid #9c460b;
      }
      &::-webkit-progress-value {
        //background: rgb(214, 98, 29);
        background: linear-gradient(to right, rgba(176,35,35,1) 0%,rgba(209,122,0,1) 100%);
        //border-bottom: 2px solid #9c460b;
        //border-right: 2px solid #9c460b;
      }
      &:before {
        /*content: attr(data-param);
        opacity: 1;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;*/
        display: none;
      }
    }
  }
}

#chart-civs {
  progress.bargraph {
    &.bargraph--em-val {
      &.played {
        &::-moz-progress-bar {
          //background: rgb(214, 98, 29);
          background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
          //border-bottom: 2px solid #9c460b;
          //border-right: 2px solid #9c460b;
        }
        &::-webkit-progress-value {
          //background: rgb(214, 98, 29);
          background: linear-gradient(to right, #1a5782 0%,#0d8585 90%)
          //border-bottom: 2px solid #9c460b;
          //border-right: 2px solid #9c460b;
        }
      }
      &:before {
        /*display: block;
        content: attr(data-param);
        opacity: 1;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;*/
        display: none;
      }
    }
  }
}

#chart-maps-top-play {
  th {
    width:70%;
    &:first-child {
      width:30%;
    }
  }
  progress.bargraph {
    &.bargraph--em-val {
      &:before {
        content: attr(data-param);
        opacity: 1;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
}

span.progress_percentage {
  display: block;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  top:0.5rem;
  left:1rem;
}