// user profile page

.profile-wrapper {  @include grid-row(); }

.profile-sidebar {
    @include grid-column(3, 16);

    @include breakpoint(medium only) {
        @include grid-column(2, 16);

        dt,
        dd {
            font-size: rem-calc(12);
            text-align: center;
        }
    }

    @include breakpoint(small only) {
        @include grid-column(12, 16);
    }

    &__pic,
    &__gamertag {
        text-align: center;
    }
}

.profile-main {
    @include grid-column(9, 16);

    @include breakpoint(medium only) {
        @include grid-column(10, 16);
    }

    @include breakpoint(small only) {
        @include grid-column(12, 16);
    }
}

.profile-newsletter {
    &__input,
    &__submit {
        height: 70px;
    }

    &__submit {
        @include grid-column(12, 16);

        @include breakpoint(medium only) {
            @include grid-column(12, 16);
        }

        @include breakpoint(small only) {
            @include grid-column(12, 16);
        }
    }

    &__input {
        @include grid-column(6, 16);

        @include breakpoint(medium only) {
            @include grid-column(12, 16);
        }

        @include breakpoint(small only) {
            @include grid-column(12, 16);
        }

        input {
            width: 100%;
            font-size: 13px;
            height: 32px;
            text-indent: 8px;
        }
    }

    &__submit {
        button { @include vertical-align(); }
    }
}

#profile_error {
    background: #8a2727;
    width: 100%;
    text-align: center;

    span {
        display: block;
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
        padding: 1em;
        @include alert_icon(9, 35, 0, top);
    }
}

.link_to_steam {  margin-bottom: 1em; }

.modal-content.opt-out, 
.modal-content.upload_dxdiag { display: none; }

#insiderSettings {
    h3 {
        button {
            float: right;
            margin-right: 10px;
        }
    }
}

.form-toggle,
%form-toggle {
    color: $black;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    label {
        flex-shrink: 0;
        font-size: 1.4em;
        margin-left: 0;
    }
}

.form-toggle__label {
    a { white-space: nowrap; }
}

.insider_settings_tg, 
.insider_settings_cb {
    list-style: none;
    margin-left: 0;

    li {
        @extend %form-toggle;
        margin-bottom: 0.25rem;

        .other_label { flex-shrink: 0; }
        
        .other_input {
            flex-shrink: 0;
            max-width: 20em;
        }
    }
}


.insider_label {
    font-weight: 700;
    color: black;
}



.insider_block {
    margin-bottom: 1em;

    .subscription_info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* maybe still want */
    button.title {
        width:100%;
        text-align: left;
    }

    span.title, 
    a.title,
    button.title {
        display: block;
        background: #362b1b;
        font-family: "trajan-pro-3", serif;
        font-style: normal;
        font-weight: 700;
        line-height: 2em;
        padding-left: 0.5em;
        position: relative;
        color: #e3d9b7;

        &.flex_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }

        .title_name {
            &.flex_item { flex: 0 0 auto; }
        }

        .tooltip_icon {
            margin-right: 10px;
            @include icon_old_after(9, 30, 1, text-bottom);

            &.flex_item { flex: 0 0 auto; }

            &:hover {
                @include icon_old_after(9, 30, 2, text-bottom);
            }
        }

        button {
            &.flex_item {
                flex: 0 0 auto;
                margin-right: 1em;
            }
        }

        .date_label {
            font-size: 0.8rem;
            font-family: "Source Sans Pro";
            text-transform: uppercase;
            float: right;
            margin-right: 10px;
        }
    }

    .insider_label {
        font-weight: 400;
        color: black;
    }

    .insider_content {
        padding: 1em;
        background-color: rgba(161,138,62,0.3);
        overflow: hidden;

        .relink_steam { display: inline-block; }

        .steam_id {
            font-weight: 700;
            color: $ui-color-royalgold;
            margin-left: 10px;
        }

        h1,h2,h3,h4,h5 {
          color: $ui-color-darkgold;
        }
    }
}


// Icons

.title_name {
    &.complete {
        @include icon_old_after(17, 30, 0, middle);
    }

    &.incomplete {
        @include icon_old_after(20, 30, 0, middle);
    }
}

.upload_dxdiag .error_msg {
    list-style: none;
    margin-top: 1rem;
    color: $light;
    padding: 0 0.5rem;
}

.upload_dxdiag .success_msg {
    padding-top: 10px;
    text-align: center;
    color: darkgreen;
}

// Flex
.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;

    &.spaced {
        align-items: flex-start;
        align-content: space-between;
        justify-content: space-between;
    }

    .flex_item {
        flex: 0 1 auto;
        margin-top: 10px;
        margin-bottom: 10px;

        &.flex_end { margin-top: 1em; }

        &.insider_input_center {
            flex: 1 1 33%;
            align-self: auto;
            margin-top: 1em;
            margin-bottom: 1em;

            @include breakpoint(medium) {
                display: flex;
            }
        }
    }
}

.insider_input_center { margin: 1em; }

.center_content { text-align: center; }

.insider-profile__contact-prefs {
    margin-bottom: 2rem;

    &__toggle {
        margin-bottom: 2rem;
    }
}

.insider-profile__email {
    margin-bottom: 1rem;
    position: relative;

    &::before {
        content: "(required)";
        font-weight: normal;
        margin-left: 0.25em;
        color: $red-error-dark;
        vertical-align: text-top;
        position: absolute;
        top: -1.5rem;
        left: 7rem;
    }

    @include breakpoint(medium) {
        display: flex;
        align-items: center;
    }

    .email_input {
        margin: 0;
    }
}

.insider_label.pref_country {
    position: relative;

    &::before {
        content: "(required)";
        font-weight: normal;
        margin-left: 0.25em;
        color: $red-error-dark;
        vertical-align: text-top;
        position: absolute;
        top: 0rem;
        left: 7rem;
    }
}

.email_status {
    font-weight: 400;
    color: black;
    white-space: nowrap;
    margin-top: 0.5rem;

    #status_verified { @include icon_old(17, 20, 0, text-bottom); }
    #status_unverified { 
        @include icon_old(20, 20, 0, text-bottom); 

        a::before { 
            content: " \2013 "; 
            color: $black;
        }
    }

    @include breakpoint(medium) {
        margin-left: 0.5em;
        margin-top: 0;

        #status_unverified {
            a {
                display: block;

                &::before { display: none; }
            }
        }
    }
}



@include breakpoint(medium down) {
    .flex_container {
        justify-content: flex-start;

        &.spaced {
            align-items: flex-start;
            align-content: space-between;
            justify-content: space-between;
        }

        .flex_item {
            &.insider_input_center {
                margin: 0;
                margin-top: 1em;
                margin-bottom: 1em;
                flex: 1 1 100%;
            }
        }

        .js-update_pref_email { margin-bottom: 1em; }
    }
}


/* button and input accessibiity changes */
.profile-wrapper {
    .button.cta {
        &:focus {
            outline: 1px solid #cab163;
        }
    }
    select, input[type="email"] {
        &:focus {
            border: 2px solid #ad2b2d;
        }
    }
}

#clanProfileSettings button[type="submit"] {
    margin-left: 0.625rem;
}

@media print, screen and (min-width: 64em) {
    #clanProfileSettings button[type="submit"] {
        margin-left: 0.9375rem;
    }
}
