
.related-card__thumb {
  @include aspectRatioBox(16,9);
  width: 100%;
  background-color: $neutral-grey;
  background-size: cover;
  background-position: 50% 50%;
}

.related-card__date {
  font-size: 0.75rem;
}
