
// Modals (Foundation Reveal customizations)
// ------------------------------------------------+
//

body.is-reveal-open {
  overflow: auto  !important;
}

.reveal-overlay {
  background: rgba($black, 0.6);
  overflow-y: hidden;
}

.reveal {
  box-shadow: 0 6px 15px 0 rgba($black, .4);
  padding: 2.5rem;

  &--warning,
  &--error {
    border: none;
    color: $white;
    padding-left: 6rem;

    .icon {
      left: 2.5rem;
      min-width: 30px;
      position: absolute;
      top: 2.5rem;
      width: 30px;
    }

    .close-button {
      color: $white;

      &:hover,
      &:focus {
        color: $yellow;
      }
    }

    a {
      color: $white;
      text-decoration: underline;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $yellow;
      }
    }
  }

  &--warning {
    background: $brand-alt;
  }

  &--error {
    background: $brand-primary;
  }
}

/* pull iframe content to top for interaction */
#hero-franchise-video-modal.reveal.borders-egyptian #modal-content__container, #hero-video-modal.reveal.borders-egyptian #modal-content__container {
  z-index: 9999;
}
