//extends .frame-box
.stats-gamer-info {

  .gamerpic-thumb {
    border: 2px solid $dark-yellow;
    margin-bottom: 1.0em;

    @include breakpoint(medium only) {
      max-width: 94px;
    }
  }

  h4 {
    color: $light;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  p {
    color: $light-alt;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .stat {
    color: $light;
  }

  .stat-label {
    color: $light-alt;
    text-transform: uppercase;
  }

}
