.match-details-modal {
  &__inner {
    border: 2px solid #010101;
    border-bottom: 4px solid #010101;
    border-right: 4px solid #010101;
    margin: 0 auto;
    box-shadow: 5px 5px 1px rgba(0,0,0,.1);
    text-align: center;
    padding: 40px;
  }
}
.icon_matchReplay {
  margin:0 5px;
  span {
    width: 24px;
    height: 24px;
    background: url($image-path+'ui/recording-scarlet.svg') top center no-repeat;
    text-indent:-9999em;
    background-size: contain;
    display: inline-block;
  }
}


.stats-match-header {
  margin-top: -140px;
  a.how_help_link {
    display: block;
    width:100%;
    max-width:195px;
    color: #e3d9b7;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    text-decoration: none;
    background-image: -webkit-linear-gradient(#ad2b2d,#ad2b2d);
    background-image: -o-linear-gradient(#ad2b2d,#ad2b2d);
    background-image: linear-gradient(#ad2b2d,#ad2b2d);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 .1em;
    -webkit-transition: background-size .5s ease-out,background-image .5s;
    -o-transition: background-size .5s ease-out,background-image .5s;
    transition: background-size .5s ease-out,background-image .5s;
    &:hover {
      color: #d1413f;
      background-image: -webkit-linear-gradient(#d1413f,#d1413f);
      background-image: -o-linear-gradient(#d1413f,#d1413f);
      background-image: linear-gradient(#d1413f,#d1413f);
      background-size: 100% .1em;
    }
  }
  
  @include breakpoint(small only) {
    margin-top: 0;
  }
  &__flexer {
    display: flex;
    justify-content: space-between;
    @include breakpoint(small only) {
      display: block;
    }
  }
  &__map_image {
    width: 158px;
    height: 118px;
    float: left;
    background: #eee;
    margin-right: 20px;
    display: none;
  }
  &__meta {
    float: left;
    @include breakpoint(small only) {
      float: none;
    }
  }
  &__map-name {
    h4 {
      font-size: 30px;
      line-height: 48px;
    }
  }
  &__stats {

  }
  &__label {
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: $light-alt;
    margin-right: 10px;
  }
  &__value {
    font-size: 20px;
    line-height: 32px;
  }
  &__left {
    @include breakpoint(small only) {
      @include clearfix;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__right {
    @include breakpoint(small only) {
      @include clearfix;
      text-align: center;
    }
    text-align: right;
  }
  &__social {
    margin-bottom: 23px;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include breakpoint(small only) {
        width: auto;
        margin: auto;
        justify-content: center;
      }
      li {
        list-style: none;
        text-align: center;
        padding: 5px;
        font-size: 15px;
        line-height: 32px;
        color: $light;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  &__page-title {
    span {
      color: rgba(239,230,201,0.2);
      font-family: $serif-font-family;
      font-size: 54px;
      line-height: 54px;
      text-transform: uppercase;
    }
  }
}
.stats-match-details-main {

}

.stats-match-details-players {
  td,
  span {
    color: #4c473b;
  }
  > .frame-box {
    padding: 0;
  }
  &__th {
    background: #3d2e21;
    text-align: center;
    color: $light-alt;
    font-size: 15px;
    line-height: 32px;
  }
  &__content,
  &__inner-content {
    background-color: transparent;
  }
  &__inner-td {
    padding: 0;
    height: 64px;
    &--civ-img-wrapper {
      width: 64px;
    }
  }
  &__row {
    background: rgba(248, 245, 232, 0.5);
    &:nth-child(even) {
      background: rgba(115, 71, 22, 0.1);
    }
  }
  &__civ-image {
    width: 64px;
    height: 64px;
    background:#eee;
    float: left;
    margin-right: 10px;
  }
  &__gamertag {
    text-align: left;
  }
  &__civName {
    span {
      display: block;
      padding: .25rem 0;
      font-size: 15px;
      line-height: 32px;
      width:100%;
    }
  }
  &__player-info {
    &--right {
      .stats-match-details-players {
        &__civ-image {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
    h5 {
      color: #4c473b;
      font-size: 24px;
      line-height: 42px;
    }
    span {
      font-size: 15px;
      line-height: 20px;
      background: blue;
      padding: .125rem 1rem;
      text-shadow: 0px 1px 0px black;
      width: 100%;
      display: inline-block;
      text-align: center;
      color: white
    }
  }
  &__player-info-meta {
  }
  &__total-score {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    width: 150px;
    span {
      display: block;
    }
  }
  &__team {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    span {
      display: block;
    }
  }
  &__outcome {
    font-family:$serif-font-family;
    width: 160px;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    &--win {
      color: #36af00;
    }
    &--right {
      text-align: right;
    }
  }
}