/*eslint-disable*/


/* Basic styling */


/* ---------------------------------------------------------- */
/*  Tech Tree Page Background                                 */
/* ---------------------------------------------------------- */

section#tech-tree {
    // styles
    div#tech-tree-banner {
        display: block;
        position: relative;
        z-index: 0;
        width: 100%;
        height: 300px;
        background-image: url(../images/tech-tree/banner-tech-tree.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            display: block;
            @include absolute-position(15%, 50%);
            text-align: center;
            color: #f1e9d0;
            text-shadow: 0 2px 8px rgba(34,27,22,.7);
        }
    }

    .section-divider,
    .section--divider-egypt-mid {
        height: 80px;
    }
}

/* ---------------------------------------------------------- */
/*  Tech Tree Frame                                           */
/* ---------------------------------------------------------- */

$tt_tech_trees_frame_content_height: 1400px;


section#tech-tree {

    #tech-tree-frame-wrapper {
        // styles
        display: block;
        position: relative;
        z-index: 1;
        width: 1228px;
        height: auto;
        margin: -250px auto 0 auto;
        //text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
        .tech-tree-frame {
            // styles
            &.border-outside {
                border: 2px solid #26211d;
            }
            &.background {
                padding: 8px 7px;
                background-color: $brown;
                background-image: url($image-path+'ui/frame-box-texture.jpg');
                background-position: top center;
                background-repeat: repeat;
            }
            &.border-inside {
                border: 1px solid #926140;
            }
            &.content {
                width: 100%;
                height: $tt_tech_trees_frame_content_height;
                overflow: hidden;
                //background-color: $brown;
                background-color: #27201a; // this just looks better when loading
                background-image: url($image-path+'ui/texture-dark.jpg');
                background-position: top center;
                background-repeat: repeat;
            }
        }

    }

}




/* ---------------------------------------------------------- */
/*  Tech Tree Tabs                                            */
/* ---------------------------------------------------------- */

$tt_tabs_height: 60px;

section#tech-tree {

    ul#tech-tree-tabs {
        @extend %unstyled-list;
        display: flex;
        align-items: stretch; /* Default */
        justify-content: space-between;
        width: 100%;
        height: $tt_tabs_height;
        margin: 0;
        padding: 0;
        text-align: center;
        li.tech-tree-tab {
            display: block;
            //flex: 0 1 auto; /* Default */
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            list-style-type: none;
            //margin: 0 15px 0 0;
            //padding: 0;
            font-size: 14px;
            line-height: $tt_tabs_height;
            color: #f1e9d0;
            background-color: transparent;
            &:first-of-type {
                padding-left: 20px;
            }
            &:last-of-type {
                padding-right: 20px;
            }
            &.active {
                background-color: transparent;
                pointer-events: none;
                color: #f0a42a;
            }
            &.inactive {
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(80,63,45,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(80,63,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(80,63,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#503f2d',GradientType=0 ); /* IE6-9 */
                a {
                    color: #f1e9d0;
                    transition: all 300ms ease;
                    &:hover {
                        color: #f0a42a;
                    }
                }
            }

        }

    }

}

/* ---------------------------------------------------------- */
/*  Tech Tree Civilization Bonuses                            */
/* ---------------------------------------------------------- */

$tt_civ_bonus_wrapper_height: 80px;

section#tech-tree {

    div#civ-bonus-wrapper {
        display: block;
        width: 100%;
        height: $tt_civ_bonus_wrapper_height;
        margin: 0;
        padding: 0 30px;
        text-align: left;
        div#bonus-heading {
            display: block;
            width: 100%;
            height: 40px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            line-height: 40px;
            font-size: 24px;
            font-weight: bold;
            color: #f1e9d0;
        }
        ul {
            display: block;
            width: 100%;
            height: 40px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            line-height: 20px;
            li {
                display: inline-block;
                margin: 0 15px 0 0;
                line-height: 20px;
                font-size: 16px;
                color: #f1e9d0;
                list-style-position: inside;
                span {
                    display: list-item;
                }
            }
        }
    }

}

/* ---------------------------------------------------------- */
/*  Tech Tree Info Bar                                        */
/* ---------------------------------------------------------- */

section#tech-tree {

    div#tech-tree-info-bar {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0 30px;
        background-color: #4f3e2e;
        font-size: 0;
        line-height: 0;

        > div {
            vertical-align: top;
        }

        div#tech-tree-legend {
            //legend
            display: inline-block;
            width: 50%;
            height: auto;
            margin: 4px 0px 4px 0px;
            padding: 0;
            font-size: inherit;
            line-height: inherit;

            ul {
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                list-style: none;
                font-size: inherit;
                line-height: inherit;

                li {
                    display: inline-block;
                    width: 35%;
                    height: 20px;
                    overflow: hidden;
                    //border: 1px solid yellow;
                    font-size: 0px;
                    line-height: 20px;
                    color: #f1e9d0;
                    margin: 4px 15px 4px 0px;
                    padding: 0px;
                    &:last-of-type {
                        margin: 4px 0px 4px 0px;
                    }
                    span {
                        display: inline-block;
                        vertical-align: top;
                    }
                    span.color-code {
                        font-size: 20px;
                        //line-height: 0;
                        width: 20px;
                        height: 20px;
                        overflow: hidden;
                        line-height: 20px;
                        margin-right: 10px;
                    }
                    span.text {
                        height: 14px;
                        overflow: visible;
                        margin-top: 3px;
                        font-size: 14px;
                        line-height: 14px;
                        padding: 0;
                    }
                    &.u {
                        width: auto;
                    }
                    &.tb span.color-code {
                        background-color: #b50201;
                    }
                    &.ntb span.color-code  {
                        background-color: #556f2c;
                    }
                    &.u span.color-code  {
                        background-color: #0b7acf;
                    }
                    &.ru span.color-code  {
                        background-color: #be7d00;
                    }
                    &.ur span.color-code  {
                        background-color: #571b8a;
                    }

                }
            }

        }

        #tt-zoom-controls {
            display: inline-block;
            width: 50%;
            height: auto;
            margin: 4px 0 4px 0;
            padding: 0;
            font-size: inherit;
            line-height: inherit;
            text-align: right;

            #tt-compress,
            #tt-zoom-in,
            #tt-zoom-out {
                display: inline-block;
                width: 48px;
                height: 48px;
                overflow: hidden;
                margin: 4px 15px 4px 0px;
                padding: 0;
                font-size: 30px;
                line-height: 48px;
                text-align: center;
                //color: #f0a42a;
                color: #94794c;
                border: 1px solid #94794c;
                background-color: rgba(241,234,208,1);
                transition: all 300ms ease;
                &:hover {
                    color: white;
                    cursor: pointer;
                    background-color: rgba(39,32,26, 0.6);
                }
                &.disabled {
                    opacity: 0.8;
                    color: dimgray;
                    background-color: lightgray;
                    border: 1px solid dimgray;
                    &:hover {
                        background-color: lightgray;
                        cursor: not-allowed;
                    }
                }
            }


            #tt-compress {
                margin: 4px 0 4px 0;
            }

            #tt-zoom-status {
                display: inline-block;
                width: auto;
                height: 50px;
                overflow: hidden;
                margin: 4px 15px 4px 0;
                padding: 0;
                text-align: center;
                //color: #f0a42a;
                color: rgba(241,234,208,1);
                background-color: transparent;
                border: none;
                //transition: all 300ms ease;
                .percentage {
                    display: block;
                    width: 100%;
                    height: 50px;
                    overflow: hidden;
                    font-size: 20px;
                    line-height: 50px;
                    font-weight: 600;
                    transition: all 300ms ease;
                    .value {

                    }
                }
                .status {
                    display: none;
                    transition: all 300ms ease;
                }
                &.status-message {
                    .percentage {
                        height: 25px;
                        line-height: 25px;
                        font-weight: 600;
                    }
                    .status {
                        display: block;
                        width: 100%;
                        height: 25px;
                        overflow: hidden;
                        font-size: 14px;
                        line-height: 25px;
                        font-weight: normal;

                    }
                }

            }




        }






    }

}






/* ---------------------------------------------------------- */
/*  Tech Tree                                                 */
/* ---------------------------------------------------------- */

section#tech-tree {

    #tech-tree-wrapper {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .relative-container {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            #tech-tree-bkg {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-image: url(../images/tech-tree/bkg-tech-tree.jpg);
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
            }

            #tech-tree-container {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%; /* remove */
                //height: 100%; /* remove */
                height: auto;
                &.transition-style {
                    transition: all 0.5s ease;
                }
                .relative-container {
                    display: block;
                    position: relative;
                    width: 100%; /* remove */
                    height: auto;
                    //height: 100%; /* remove */
                    #tech-tree-ages,
                    #tech-tree-image,
                    #tech-tree-labels {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    #tech-tree-image,
                    #tech-tree-labels {
                        display: block;
                        > img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                    }

                    #tech-tree-image {
                        z-index: 1;
                        background-color: transparent;
                        background-image: url(../images/tech-tree/bkg-ages.png);
                        background-size: cover;
                        background-position: top center;
                        background-repeat: no-repeat;
                    }

                    #tech-tree-labels {
                        z-index: 2;
                    }

                    // removing these for now
                    #tech-tree-ages,
                    #tech-tree-labels {
                        display: none;
                    }

                }

            }


        }
    }

}


/* ---------------------------------------------------------- */
/*  Draggable Cursors                                         */
/* ---------------------------------------------------------- */

section#tech-tree {

    #tech-tree-container.ui-draggable-handle:hover {
        cursor: move;
    }

    #tech-tree-container.ui-draggable-handle.moving {
        cursor: grabbing;
    }

}

/*eslint-enable*/


