/*@import "base/vars";
@import "base/shared_mixins";
*/
@font-face {
  font-family: "NarkisimRegular";
  src: url("narkisim.eot");
  src: font-url("narkisim.eot?#iefix") format("embedded-opentype"), font-url("narkisim.woff") format("woff"), font-url("narkisim.ttf") format("truetype"), font-url("narkisim.svg#NarkisimRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

#app-account {
  font-size:16px;

  &.no-layout {

    #container-main {
      width: 100%;
      margin: 0;
    }

    #additional-requirements {
      float: none;
      background: image-url("launcher/bg.png") no-repeat 0 0;
      width: 339px;
      height: 400px;
      overflow: hidden;

      form {
        margin-top: 10px;

        .row {
          font-size:12px;
          margin-left:10px;
        }

        .input4_width { width:280px; }

        .input4{width:280px; font-size:12px; background: image-url("account/input-bg-5.png") no-repeat;
          input{width:270px;}
          .input-default {
            left:-286px;
          }
        }

        .input, .input4 {
          &.focus{ background-position: 0px -50px; }
          &.with_errors{ background-position: 0px -100px; }
          input.with_errors, a.easy-select-box-disp.with_errors {background-position: 0px -100px !important; }
        }

        #submit-btn {
          width: 200px;

          input {
            width: 200px;
            font-size: 20px;
          }
        }
      }
      .easy-select-box{position:relative;width:280px;height:41px;font-size:11px;color:#0c2245;
        .easy-select-box-disp,.easy-select-box-disp:visited {background: image-url("account/tiny-select-bg.png") no-repeat 0 0;display:block;color:#0c2245;padding:0 3px;height:37px;line-height:37px; vertical-align: middle; text-decoration:none; font-size: 12px; padding-left: 10px; padding-right: 50px; width: 220px; overflow: hidden; }
        ul{position:absolute;top:100%;left:0;border:1px solid #cccccc;display:none;z-index:99;width:277px;max-height:300px;overflow:auto;background:$white;
          li a{padding:3px;background:$white;display:block;color:#000;cursor:default;font-size: 12px; padding-left: 10px; }
          li.selected a {background:$blue !important;color:$white;text-decoration:none; }
        }
      }
    }

  }

  &.registration {
    background: #fff;
  }
  em {
    font-style: italic;
    font-weight: inherit;
  }

  hr {
    background-color:#282929;color:#282929;height:1px;margin:20px 0;
  }

  #content {
    &.landing {
      background: none !important;
      padding-bottom: 0;
      min-height: 1000px;
    }
    .content-header {
      width: 100%;
      h1 {
        display: block;
        text-align: center;
      }
      img {
        padding-right: 120px;
      }
      margin-top: 14px;
      margin-bottom: 12px;
    }
    .content-top {
      h1 {
        font-size: 32px;
      }
      &.short {
        height: 10px;
      }
    }
    .content-block {
      &.activation {
        background: #121212;
        border-left: 1px #181818 solid;
        border-right: 1px #181818 solid;
        hr {
          margin:10px 0;
        }
        h2 {
          font-size: 20px;
          font-weight: bold;
          color: $white;
          border: none;
        }
        p {
          width: 620px;
          line-height: 24px;
        }
        #security-box {
          background-color: #282929;
          float: right;
          width: 418px;
          form {
            label{font-weight:bold; color:$white; font-size:16px;}

            .row{height:39px;padding:10px 10px 25px 10px;font-size:16px;}
            .row.selected {
              .easy-select-box-disp {position:relative;background-position: 0 -50px;text-decoration:none;}
            }
            .label1{width:200px;float:left;padding-bottom:8px;}
            .input{float:left; width:194px; height:37px;background: image-url("account/input-bg.png") no-repeat;
              input{margin-top:0px;margin-left:0px;height:18px;width:184px;padding:9px 5px 10px 5px; background: none;}
              input:focus{background-position:0px -50px;}
              input:active{background-position:0px -50px;}
            }

            .input4_width { width:376px; }

            .input4{width:376px; height:29px;float:left;font-size:16px;background: image-url("account/input-bg-4.png") no-repeat;
              input{width:377px;padding-left:5px;height:18px;padding:10px 5px;}
              input:focus{background-position:0px -50px;}
              .input-default {
                left:-382px;
              }
            }

            .input, .input4 {
              &.focus{ background-position: 0px -50px; }
              &.with_errors{ background-position: 0px -100px; }
              input.with_errors, a.easy-select-box-disp.with_errors {background-position: 0px -100px !important; }
            }

            .check{margin-left:10px;margin-top:12px;width:12px;height: 10px; }
            .check.with_errors { background: image-url("site/icons.png") no-repeat 0px 0px !important; }
            .check.valid { background: image-url("site/icons.png") no-repeat 0px -20px !important; }
            .input-text { float: left; width: 478px; padding-top: 8px; }

            #submit-btn {
              position: relative;
              margin: 10px auto;
              width: 336px;
              height: 39px;
              @include mask;
              @include rounded-corners(3px);
              input {
                position: relative;
                display: block;
                color: $white;
                text-align:center;
                vertical-align: middle;
                font-weight: bold;
                font-size: 24px;
                width: 336px;
                height: 39px;
                line-height: 38px;
                border-top: 1px #008bec solid;
                @include rounded-corners(3px);
                @include gradient(#0160a3,#00385e);
                &:hover {
                  border-top: 1px #00b7fa solid;
                  @include gradient(#0184ce,#004d81);
                }
                &.disabled {
                  cursor: default;
                  border-top: 1px #929292 solid;
                  @include gradient(#797979,#343434);
                }
              }
            }
          }
          .easy-select-box{position:relative;width:381px;height:41px;font-size:11px;color:#0c2245;
            .easy-select-box-disp,.easy-select-box-disp:visited {background: image-url("account/short-select-bg.png") no-repeat 0 0;display:block;color:#0c2245;padding:0 3px;height:37px;line-height:37px; vertical-align: middle; text-decoration:none; font-size: 15px; padding-left: 10px; padding-right: 50px; width: 321px; overflow: hidden; }
            ul{position:absolute;top:100%;left:0;border:1px solid #cccccc;display:none;z-index:99;width:378px;max-height:300px;overflow:auto;background:$white;
              li a{padding:3px;background:$white;display:block;color:#000;cursor:default;font-size: 15px; padding-left: 10px; }
              li.selected a {background:$blue !important;color:$white;text-decoration:none; }
            }
          }
        }
      }
      &.verified {
        border-left: 1px #181818 solid;
        border-right: 1px #181818 solid;
        background: #121212 image-url("account/download-bg.png") no-repeat center 4px;
        h2 {
          font-size: 24px;
          font-weight: bold;
          color: $white;
          border: none;
        }
        hr {
          margin:10px 0;
        }
        .border-highlight:before {
          width: 1009px;
        }
        #download-btn {
          position: relative;
          margin: 88px auto;
          width: 262px;
          height: 65px;
          @include mask;
          @include rounded-corners(2px);
          a {
            position: relative;
            display: block;
            color: $white;
            text-align:center;
            vertical-align: middle;
            font-weight: bold;
            font-size: 24px;
            width: 262px;
            height: 65px;
            line-height: 64px;
            border-top: 1px #008bec solid;
            @include rounded-corners(2px);
            @include gradient(#0160a3,#00385e);
            &:hover {
              border-top: 1px #00b7fa solid;
              @include gradient(#0184ce,#004d81);
            }
          }
        }
        #learn-more {
          width: 1011px;
          height: 148px;
          margin: 0 auto;
          background: image-url("account/learn-more-full/learn-more-full.jpg") no-repeat 0 0;
          #learn-more-menu {
            position:absolute;
            top: 0;
            left: 0;
            width: 1011px;
            height: 148px;
            &.one {
              background: image-url("account/learn-more-full/one.png") no-repeat 0 0;
            }
            &.two {
              background: image-url("account/learn-more-full/two.png") no-repeat 68px 0;
            }
            &.three {
              background: image-url("account/learn-more-full/three.png") no-repeat 217px 0;
            }
            &.four {
              background: image-url("account/learn-more-full/four.png") no-repeat 371px 0;
            }
            &.five {
              background: image-url("account/learn-more-full/five.png") no-repeat 528px 0;
            }
            &.six {
              background: image-url("account/learn-more-full/six.png") no-repeat 687px 0;
            }
            &.seven {
              background: image-url("account/learn-more-full/seven.png") no-repeat 844px 0;
            }
            span {
              font-weight: bold;
              position:absolute;
              top: 3px;
              &#menu-one {
                left: 20px;
              }
              &#menu-two {
                left: 159px;
              }
              &#menu-three {
                left: 343px;
              }
              &#menu-four {
                left: 490px;
              }
              &#menu-five {
                left: 670px;
              }
              &#menu-six {
                left: 810px;
              }
              &#menu-seven {
                left: 950px;
              }
              &.active {
                color: #fff;
              }
            }
          }
        }
      }
      &#registration {
        padding-right:16px;
        background: none;
        form {
          .row{position:relative;margin:7px 10px;font-size:16px;
            label {
              &.label_check {
                white-space: nowrap;
              }
              &.email_label {
                font-family: "NarkisimRegular";
                font-size: 24px;
                color: #d6d6d6;
              }
              &.password_label {
                font-family: "NarkisimRegular";
                font-size: 20px;
                color: #d6d6d6;
              }
            }
            &.checkbox {
              padding: 3px 0 10px 0;
              height: 10px;
            }
            &#dob {
              .check {
                right: 126px;
              }
              span {
                &#first {
                  position: absolute;
                  font-size: 20px;
                  left: 40px;
                  top: 26px;
                }
                &#second {
                  position: absolute;
                  font-size: 20px;
                  left: 89px;
                  top: 26px;
                }
              }
            }
          }
          .label1{width:200px;float:left;}

          .input, .input-dob{
            position:relative;
            float:left;
            width:280px;
            font-size:16px;
            background: image-url("account/input-bg-5.png") no-repeat;
            box-shadow:none;
            input {
              background:none;
              width:270px;
              height:18px;
              padding:10px 5px;
            }
            &.focus {
              background-position: 0px -50px;
            }
            &.with_errors {
              background-position: 0px -100px;
            }
          }

          .input-dob {
            width:200px;
            background: image-url("account/input-dob.png") no-repeat;
            div {
              &.day {
                .input-default {
                  left:-26px;
                }
                input.input-day {
                  margin-left:22px;
                  padding:10px 0;
                  width:26px;
                  height:18px;
                }
              }
              &.month {
                .input-default {
                  left:-28px;
                }
                input.input-month {
                  margin-left:5px;
                  padding:10px 0;
                  width:28px;
                  height:18px;
                }
              }
              &.year {
                .input-default {
                  left:-42px;
                }
                input.input-year {
                  margin-left:22px;
                  padding:10px 0;
                  width:44px;
                  height:18px;
                }
              }
            }
          }

          .check { float:right;position:relative;margin-left:6px;margin-top:13px;width:12px;height:10px; }
          .check.with_errors { background: image-url("site/icons.png") no-repeat 0px 0px !important; }
          .check.valid { background: image-url("site/icons.png") no-repeat 0px -20px !important; }
          .date { margin-top:8px;margin-left:10px;width:115px;float:left;font-size:16px;}
          .input-text { float: left; width: 478px; padding-top: 8px; }

          #submit-btn {
            position: relative;
            margin: 7px auto;
            width: 235px;
            height: 68px;
            text-align: center;

            #btn-create-account, #btn-success {
              display: inline-block;
              background: image-url("account/signup-btn.png") no-repeat 0 0;
              text-indent: -9999px;
              position: relative;
              text-transform: uppercase;
              color: $white;
              text-align: center;
              vertical-align: middle;
              font-weight: bold;
              font-family: 'serif6_beta_rgbold','Georgia',Garamond,serif;
              font-size: 28px;
              width: 235px;
              height: 68px;
              line-height: 68px;
              &:hover {
                background-position: 0 -68px;
              }
              &.disabled {
                cursor: default;
              }
            }
            #btn-create-account {
              display: block;
            }
            #btn-success {
              display: none;
            }
          }

          label {
            font-weight: normal;
            &.label_check {
              font-size: 14px;
              line-height: 16px;
            }
          }
          .checkbox{padding:5px 0px 5px 0px;}
        }
        #errorExplanation {
          margin-left: 12px;
        }
        #left-column {
          float: left;
          padding-left: 12px;
          width: 695px;
          .column-content {
            background-color: #121212;
            padding: 0;
            &.border-grey {
              margin-top: 1px;
              border-top: 2px #383838 solid;
              border-left: 2px #383838 solid;
              border-bottom: 2px #383838 solid;
              border-right: 2px #383838 solid;
              &.border-highlight:before {
                top: -3px;
                left: -1px;
              }
            }
            &.border-highlight:before {
              width: 693px;
            }
          }
          #video-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: image-url("account/overlay-full-access.jpg") 0 0 no-repeat;
            cursor: pointer; cursor: hand;
            z-index: 1;
            &:hover {
              #video-overlay-hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: image-url("account/overlay-hover.png") 0 0 no-repeat;
                z-index: 1;
              }
            }
          }
        }
        #right-column {
          float: right;
          width: 339px;
          .column-content {
            background: image-url("account/registration-frame.png") 0 0 no-repeat;
          }
        }
        #signup-column {
          .heading {
            margin-top: 23px;

            text-align: center;
            // Facebook button
            .signup-facebook-btn {
              display: inline-block;
              width: 205px;
              height: 37px;
              background-image: image-url("account/login-facebook-btn.png");
              background-repeat: no-repeat;

              &:hover {
                background-position: 0 -37px;
              }
            }
          }
          .emblem-hr {
            width: 200px;
            height: 19px;
            line-height: 19px;
            background-image: image-url("account/emblem.png");
            background-repeat: no-repeat;
            color: #fffefe;
            font-size: 18px;
            margin: 12px auto;
            text-align: center;
          }
        }
      }
      .column-content {
        background: #121212;
        margin-bottom: 20px;
        padding: 10px;
        h2 {
          font-size: 24px;
          font-weight: bold;
          color: $white;
          border: none;
          padding: 0;
        }
        p {
          &.download-callout {
            font-size: 14px;
            text-align: center;
          }
        }
        p {
          &.notice-callout {
            font-size: 14px;
            text-align: left;
          }
        }
        span {
          &.video {
            display: block;
            height: 400px;
          }
        }
      }
      #landing-quote {
        color: $white;
        margin-top: 48px;
        margin-left: 21px;
        margin-right: 20px;

        p {
          &.quote {
            font-size: 24px;
            font-family: 'serif6_beta_rgbold','Georgia',Garamond,serif;
            font-weight: bold;
            text-align: center;
            line-height: 27px;
          }
          &.source {
            color: #ccc;
            margin-right: 8px;
            margin-top: 9px;
            font-size: 20px;
            font-family: Arial;
            font-weight: bold;
            text-align: right;
          }
        }
      }
      .border-highlight {
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -1px;
          left: 1px;
          border-top: solid 1px #383838;
          border-bottom: solid 1px #6f6f6f;
          z-index: 10;
          opacity: 0.6;
        }
      }
    }
  }

  #am-nav{height:49px;
    li{float:left;padding-right:25px;
      a{display:block;padding:10px;font-weight:bold;
        span{background: image-url("site/icons.png") -20px 0px no-repeat;height:20px;margin-left:5px;}
      }
      a.active, a:hover{background-color:#272727;}
    }
    ul#user-details{padding-top:10px;float:right;color:#606060;
      li{padding-right:5px;
        a{color:#055084;padding:0px;display:inline;font-weight:normal;}
        a:hover{background:none;text-decoration:underline;}
      }
    }
  }
  .sub-nav-btn{width:475px;float:right;
    li{float:right; margin-left: 5px;
      a { font-size: 14px !important; }
    }
  }

  .games{background:#212222;width:483px;height:auto;margin-top:12px;padding:16px;
    .game-info {
      .col1 { float: left; width: 125px; text-align: center;
        h3 { margin-bottom: 3px !important; font-size: 11pt; width: 125px; height: 20px; white-space: nowrap; overflow: hidden; text-transform: none;
          a { font-weight: bold; }
          a:hover { text-decoration: underline; }
        }
        p { margin: 5px 0px; font-size: 9pt; }
        p.label { font-weight: bold; }
      }
      .col2 { float: left; width: 230px; font-size: 9pt; padding-top: 2px;
        table { width: 220px;
          tr.row-header {
            td { padding-top: 12px; border-bottom: 1px solid #282929; padding-bottom: 4px !important; font-weight: bold; }
          }
          tr.row-header.first { td { padding-top: 0px !important }}
          td { padding-top: 5px; vertical-align: top; }
          td.label { width: 55px; text-align: right; padding-right: 5px; font-size: 9pt; }
          td.desc { width: 165px; font-size: 9pt; }
        }
      }
      .col3 { float: left; width: 117px; padding-top: 12px; padding-bottom: 8px; text-align: right; border-left: 1px solid #282929;
        .default-button { font-size: 8pt !important; font-weight: normal; margin-bottom: 8px; margin-left: 14px; }
      }
    }
    hr{margin-top:5px;margin-bottom:5px;}
  }

  .no-games{text-align:center;
    .new-game{display:block; background: image-url("account/new-game-btn.png"); width:268px;height:52px;padding:0px;color:$white;font-size:18px;font-weight:bold;margin:20px auto;}
    .new-game:hover{background-position:0px -60px;cursor:pointer;}
  }

  .code-list{font-size:14px;float:right;
    a:hover{text-decoration:underline;}
  }

  .left-column, .right-column{
    hr{margin-top:12px;margin-bottom:10px;}
  }

  .notifications{background:#212222;height:auto;margin-top:12px;padding:11px 16px 20px 14px;
    h1{font-size:16px;text-transform:uppercase;font-weight:bold;}
    hr{background-color:#353636; color:#353636;margin-top:13px;margin-bottom:13px;}
    ul{list-style-type:disc;padding-left:16px;line-height:24px;color:$grey;font-size:11px;
      a{font-size:16px;}
      a:hover{text-decoration:underline;}
    }
    .identity{text-align:center;margin-bottom:10px;
      h3 { font-size: 18px; text-transform: none; }
      a{background: image-url("account/profile-btn.png"); display: block; width: 225px; height: 41px; line-height: 41px; vertical-align: middle; font-size:16px;color:$white;font-weight:bold;margin: 0 auto; }
      a:hover{background-position:0px -41px;cursor:pointer;}
    }
    .verification{background: image-url("account/verification-btn.png");width:154px; height:19px; font-size:16px;color:$white;font-weight:bold;padding:6px 16px;float:right;margin-top:15px;}
    .verification:hover{background-position:0px -31px;cursor:pointer;}
  }

  .settings{background:#212222;height:auto;margin-top:12px;padding:11px 16px 20px 14px;
    h3{font-size:16px;text-transform:uppercase;font-weight:bold;font-weight:bold;color:$white;margin-bottom:0; }
    hr{background-color:#353636; color:#353636;margin-top:13px;margin-bottom:13px;}
    p { font-size: 16px; font-weight: bold; }
    ul{float:left; list-style-type:none;line-height:24px;color:$grey;font-size:16px;
      li { padding-bottom: 12px; }
    }
    ul.labels { margin-right: 20px;
      li { font-weight: bold; text-align: right; }
    }
    ul.buttons { float: right !important; margin-right: 1px; }
  }

  form{
    &.default {
      label{font-weight:bold;}
      #left-column{width:723px;float:left;}

      #right-column{float:right;width:305px;height:318px;background-color:#212222;padding:15px;font-size:16px;color:#828181;
        .hint{float:left;margin:3px 10px 200px 0px;}
        .warning{color:$red;font-weight:bold;}
        p{margin-bottom:18px;}
      }
      .row{height:39px;padding:10px;font-size:16px;}
      .row.selected {background:#212222;
        .easy-select-box-disp {position:relative;background-position: 0 -50px;text-decoration:none;}
      }
      .label1{width:200px;float:left;padding-top:8px;}
      .label2{width:55px;font-weight:bold;font-size:16px;float:left;padding-top:8px;margin-left:14px;}
      .input{float:left; width:194px; height:37px;background: image-url("account/input-bg.png") no-repeat;
        input{margin-top:0px;margin-left:0px;height:18px;width:184px;padding:9px 5px 10px 5px; background: none;}
        input:focus{background-position:0px -50px;}
        input:active{background-position:0px -50px;}
      }

      .input3{width:476px; height:29px;float:left;font-size:16px;background: image-url("account/input-bg-3.png") no-repeat;
        input{width:477px;padding-left:5px;height:18px;padding:10px 5px;}
        input:focus{background-position:0px -50px;}
      }

      .input2{height:37px;width:481px;
        input{width:473px;height:30px;margin:3px 0px 0px 3px;}
      }

      .input, .input2, .input3 {
        &.focus{ background-position: 0px -50px; }
        &.with_errors{ background-position: 0px -100px; }
        input.with_errors, a.easy-select-box-disp.with_errors {background-position: 0px -100px !important; }
      }

      .check{margin-left:10px;float: none;margin-top:6px;width:12px;height: 10px; }
      .check.with_errors { background: image-url("site/icons.png") no-repeat 0px 0px !important; }
      .check.valid { background: image-url("site/icons.png") no-repeat 0px -20px !important; }
      .date{margin-top:8px;margin-left:10px;width:115px;float:left;font-size:16px;}
      .input-text { float: left; width: 478px; padding-top: 8px; }
    }
    .input-holder {
      position: relative;
    }
    .input-default {
      color: #ccc;
      position: absolute;
      top: 25px;
      left: -274px;
    }
  }

  .pstrength-meter-cont { width: 100%;
    .pstrength-bar { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #333333 !important; border-right-color: #333333 !important; border-bottom-color: #333333 !important; border-left-color: #333333 !important; font-size: 1px; height: 14px !important; width: 5%; background-color: rgb(204, 204, 204); }
    .password { font-size : 12px; width : 200px; font-family : arial, sans-serif; }
    .pstrength-minchar { display: none; }
    .pstrength-info { color: #ccc; float:left;}
  }


  #checkbox{
    float:left;
  }

  img#checkbox{
    margin-right:10px;
  }

  input:focus{}

  #hint {
    position: absolute;
    left: -340px;
    top: 0;
    z-index: 9999;
    width: 300px;
    padding: 9px;
    background: #212222;
    color: #828181;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid $white;
    @include rounded-corners(8px);
    ul { list-style-type: square; margin-left: 32px; padding-bottom: 16px;
      li { font-weight: bold; }
    }
    p {
      font-weight: bold;
    }
    #arrow {
      position: absolute;
      top: 7px;
      right: -12px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $white;
    }
    &.warning {
      background: #711d14;
    }
  }

  .btn{font-size:16px;font-weight:bold;color:$white;text-align:center;
    a{background: image-url("site/btn.png");color:$white;font-weight:bold;display:block;padding:0px 3px;width:175px;height:40px;line-height:40px;vertical-align:middle;}
    a:hover{background-position:0px -41px;}
  }

  .newsletter{ margin-left:34px; }

  /* Easy Select Box */
  .easy-select-box{position:relative;width:481px;height:41px;font-size:11px;color:#0c2245;
    .easy-select-box-disp,.easy-select-box-disp:visited {background: image-url("account/select-bg.png") no-repeat 0 0;display:block;color:#0c2245;padding:0 3px;height:37px;line-height:37px; vertical-align: middle; text-decoration:none; font-size: 15px; padding-left: 10px; padding-right: 50px; width: 421px; overflow: hidden; }
    ul{position:absolute;top:100%;left:0;border:1px solid #cccccc;display:none;z-index:99;width:478px;max-height:300px;overflow:auto;background:$white;
      li a{padding:3px;background:$white;display:block;color:#000;cursor:default;font-size: 15px; padding-left: 10px; }
      li.selected a {background:$blue !important;color:$white;text-decoration:none; }
    }
  }

  /*public identity*/
  /*#public-nickname{text-align:left;padding:10px;font-size:16px;
    hr{background-color:#4d4d4d;color:#4d4d4d;margin-top:10px;margin-bottom:5px;}
    p{margin:10px;}
    #nickname-form{width:770px;text-align:center;
      form{text-align:center;margin:10px auto;}
      input{background: image-url("account/nickname-field-bg.png") no-repeat;width:328px;height:17px;float:left;margin:10px 0px 5px 0px;padding:10px; font-size:16px; }
      .error{background-position:0px -38px;}
      label{float:left;margin:17px 20px 5px 120px;}
      #alternate-names {background:#4d4d4d;padding:1px;margin:10px;font-size:16px;
        a{font-weight:bold;}
      }
      .err-msg{color:$red;font-weight:bold;margin:0px 0px 10px 270px; text-align:left; width: 507px; }
      .check { margin-top: 23px !important; }
    }
  }*/

  #create {
    margin-top: 20px;
    a { margin: 0 auto; }
  }

  .cancel{
    a{font-size:14px;}
    a:hover{text-decoration:underline;}
  }

  /*tooltip*/
  #preview {
    z-index: 10000 !important;
    &.image{position:absolute;margin-top:-120px;background: image-url("account/tooltip-bg.png") no-repeat 5px -2px;display:none;width:334px; height:275px;color:$white;
      img { position: absolute; top: 10px; left: 27px; }
    }
    &.text{display:block; position:absolute;margin-top:-20px;background: image-url("site/tooltip-text-bg.png") no-repeat;display:none; width:336px; height:51px;color:#000;
      p { display: block; background-color: #212222; height: 22px; width: 295px; margin: 12px 0px 0px 22px; color: #828181; font-size: 10pt; font-weight: bold; text-align: left; padding-top: 6px; padding-left: 6px; }
    }

  }

  #preview-rounded {
    z-index: 10000 !important;
    &.image{position:absolute;margin-top:-120px;background: image-url("account/tooltip-bg-rounded.png") no-repeat 0px 0px;display:none;width:333px; height:273px;color:$white;
      img { position: absolute; top: 12px; left: 20px; }
    }

    &.text{display:block; position:absolute;margin-top:-10px;background: image-url("site/tooltip-text-bg-rounded.png") no-repeat;display:none; width:330px; height:50px;color:#000;
      p { @include rounded-corners(6px); display: block; background-color: #212222; height: 22px; width: 305px; margin: 11px 0px 0px 17px; color: #828181; font-size: 10pt; font-weight: bold; text-align: left; padding-top: 6px; padding-left: 6px; }
    }

    &.right{
      &.image{position:absolute;margin-top:-120px;background: image-url("account/tooltip-bg-rounded-right-arrow.png") no-repeat 0px 0px;display:none;width:333px; height:273px;color:$white;
        img { position: absolute; top: 12px; left: 12px; }
      }
      &.text{display:block; position:absolute;margin-top:-10px;background: image-url("site/tooltip-text-bg-rounded-right-arrow.png") no-repeat;display:none; width:330px; height:50px;color:#000;
        p { @include rounded-corners(6px); display: block; background-color: #212222; height: 22px; width: 305px; margin: 11px 0px 0px 2px; color: #828181; font-size: 10pt; font-weight: bold; text-align: left; padding-top: 6px; padding-left: 6px; }
      }
    }
  }

  /*terms*/
  #terms{text-align:center;padding:5px;height:310px;
    h1{margin-bottom:10px;text-align:left;}
    #terms-content{background-color:#000;color:$white;height:240px;overflow:auto;border:1px solid $white;padding:10px;margin-bottom:28px;text-align:left;
      p{margin-bottom:10px;}
    }
    #terms-btn{width:310px;height:45px;background: image-url("account/terms-btn.png") no-repeat;margin:0 auto;
    a{ color:$white;font-size:16px;font-weight:bold;height:100%;width:100%;display:block;padding:12px 0px; }
  }
  #terms-btn:hover{background-position:0px -45px;}
  }

  /*verification*/
  #verification{text-align:center;padding:10px;height:210px;
    a {
      font-weight: bold;
    }
    h1{font-size:24px;padding:5px;text-align:left;white-space:nowrap;overflow:hidden;}
    hr{background-color:#4d4d4d;margin:5px 0 15px 0;}
    #verification-content{font-size:16px;color:$white;height:140px;text-align:left;
      p{line-height:28px;padding:5px;}
      span{display:block;font-size:28px;text-align:center;margin-top:20px;}
    }
  }

  /* disconnect-authorization */
  #disconnect-authorization-form-cont {
    p {
      color: #999;
      font-size: 16px;
      padding-bottom: 16px;
    }
    .form-buttons {
      text-align: center;

      a.default-button {
        display: inline-block;
      }
    }
  }

  /* change password */
  #change-password-form-cont {
    /*.iparent { width: 481px; }
    .hint { float: left; width: 459px; margin-bottom: 20px; padding: 10px; background-color: #575757 !important; color: #c0c0c0;
      ul { list-style-type: square; margin-left: 32px; padding-bottom: 0px; }
      .hint-text { font-size: 13px;
        p { font-size: 13px; padding-bottom: 0px !important; width: auto !important; line-height: 15px; }
        ul { line-height: 16px !important; }
      }
    }
    .hint-text { display: block !important; text-align: left; height: 80px; }
    .pstrength-meter-cont { width: 475px; margin-bottom: 20px; float: left; }
    .pstrength-bar { max-width: 375px; float: left; }
    .pstrength-info { float: right; }
    #user_new_password { margin-bottom: 5px !important; }*/
    .hint { 
      width: 100%; margin-bottom: 20px; padding: 10px; background-color: #575757 !important; color: #c0c0c0;
      ul { list-style-type: square; margin-left: 32px; padding-bottom: 0px; }
      .hint-text { font-size: 13px;
        p { font-size: 13px; padding-bottom: 0px !important; width: auto !important; line-height: 15px; }
        ul { line-height: 16px !important; }
      }
    }
    .hint-text { display: block; text-align: left; }
    .pstrength-meter-cont { width: 100%; margin-bottom: 20px; }
    .pstrength-bar { max-width: 100%; }
    .pstrength-info {  }
  }

  /* change email */
  /*#change-email-form-cont {
    .iparent { width: 481px; }
    .hint { float: left; width: 459px; margin-bottom: 20px; padding: 10px; background-color: #575757 !important; color: #c0c0c0;
      ul { padding-bottom: 0px !important; }
      p { padding-bottom: 12px; }
    }
    .hint-text { display: block !important; text-align: left; }
    #user_new_email_notice { color: $white; }
  }*/

  #pending-email-change-cont {
    a.resend-email-link { text-transform: none; float: right; }
    a.cancel-email-link { text-transform: none; float: right; margin-right: 5px; }
  }

  #update-notifications-form {
    input[type='radio'] { margin-bottom: 0 !important; padding: 0px !important; background: none !important; }
    ul.values {
      li { float: left; }
      li.radio { padding-top: 3px; }
      li.radio-text { padding-left: 5px; padding-right: 15px; font-size: 15px; }
    }
  }

  .pass-reset-step-1 {
    #right-column { height: 225px !important; }
  }

  .pass-reset-step-2 {
    #right-column { height: 275px !important; }
  }

  .pass-reset-step-3 {
    #right-column { height: 365px !important; }
  }

  .password-reset-cont {
    p.info { color: $white !important; width: 675px !important; }
    label { float: left; display: block; width: 175px; text-align: right; margin-right: 10px; color: $white; margin-top: 10px; }
    .iparent { float: left;  width: 400px; text-align: left; }
    a.submit-link { text-transform: none !important; }
  }

  #engarde-form-cont { 
    /*text-align: left !important; padding: 0px 10px 10px 10px;*/
    /*p { color: #999; font-size: 16px; padding-bottom: 16px; }*/
    ul.values { padding-bottom: 20px;
      /*li { float: left; }*/
      li.radio { padding-top: 3px; float: left; margin-right:5px;}
      li.radio-text { padding-left: 5px; padding-right: 15px; font-size: 15px;
        label { float: none; width: 300px; text-align: left; margin-top: 0 !important;  font-weight: normal; }
      }
      /*li.radio-text.main {
        label { color: $white !important; }
      }*/
      li.check-box { padding-top: 5px; padding-left: 12px;
        label { float: none; width: 300px; text-align: left; margin-top: 0 !important;  font-weight: normal; }
      }
    }
    div.submit { margin-top: 10px; }
    div.cancel { text-align: center; }
  }

  #enter-code p {
    text-indent: 0px;
  }

  #game-time-card-form-container {
    display: none;

    .submit {
      margin: 0px 0px 10px 270px;
    }

    .submit-placeholder {
      visibility: hidden;
    }
  }

  #game-time-card-form-container #game-time-card-flash {
    color: red;
    margin-bottom: 10px;

    &.success {
      color: green;
    }
  }

  // FOOTER
  .footer-wrapper {
    height: 220px;
    .copy p { font-size:14px; }
  }

  // Facebook Buttons
  .connect-facebook-btn {
    display: inline-block;
    width: 94px;
    height: 26px;
    background-image: image-url("account/facebook-connect-btn.png");
    background-repeat: no-repeat;

    &:hover {
      background-position: 0 -26px;
    }
  }

  .disconnect-facebook-btn {
    display: inline-block;
    width: 110px;
    height: 26px;
    background-image: image-url("account/disconnect-facebook-btn.png");
    background-repeat: no-repeat;

    &:hover {
      background-position: 0 -26px;
    }
  }

  // Add an additional margin to flash info box in "Enter a new Game Code" dialog box
  #enter-code-container #code-form-container #info-box {
    margin-bottom: 30px;
  }

 /* #additional-requirements {
    background-color: transparent;
    float: none;
    width: 70%;
    form {
      label{font-weight:bold; color:$white; font-size:16px;}

      .row{height:39px;padding:10px 10px 25px 10px;font-size:16px;}
      .row.selected {
        .easy-select-box-disp {position:relative;background-position: 0 -50px;text-decoration:none;}
      }
      .label1{width:200px;float:left;padding-bottom:8px;}
      .input{float:left; width:194px; height:37px;background: image-url("account/input-bg.png") no-repeat;
        input{margin-top:0px;margin-left:0px;height:18px;width:184px;padding:9px 5px 10px 5px; background: none;}
        input:focus{background-position:0px -50px;}
        input:active{background-position:0px -50px;}
      }

      .input4_width { width:376px; }

      .input4{width:376px; height:29px;float:left;font-size:16px;background: image-url("account/input-bg-4.png") no-repeat;
        input{width:377px;padding-left:5px;height:18px;padding:10px 5px;}
        input:focus{background-position:0px -50px;}
        .input-default {
          left:-382px;
        }
      }

      .input, .input4 {
        &.focus{ background-position: 0px -50px; }
        &.with_errors{ background-position: 0px -100px; }
        input.with_errors, a.easy-select-box-disp.with_errors {background-position: 0px -100px !important; }
      }

      .check{margin-left:10px;float:left;margin-top:12px;width:12px;height: 10px; }
      .check.with_errors { background: image-url("site/icons.png") no-repeat 0px 0px !important; }
      .check.valid { background: image-url("site/icons.png") no-repeat 0px -20px !important; }
      .input-text { float: left; width: 478px; padding-top: 8px; }

      #submit-btn {
        position: relative;
        margin: 10px auto;
        width: 336px;
        height: 39px;
        .mask;
        .rounded-corners(3px);
        input {
          position: relative;
          display: block;
          color: $white;
          text-align:center;
          vertical-align: middle;
          font-weight: bold;
          font-size: 24px;
          width: 336px;
          height: 39px;
          line-height: 38px;
          border-top: 1px #008bec solid;
          .rounded-corners(3px);
          .gradient(#0160a3,#00385e);
          &:hover {
            border-top: 1px #00b7fa solid;
            .gradient(#0184ce,#004d81);
          }
          &.disabled {
            cursor: default;
            border-top: 1px #929292 solid;
            .gradient(#797979,#343434);
          }
        }
      }
    }
    .easy-select-box{position:relative;width:381px;height:41px;font-size:11px;color:#0c2245;
      .easy-select-box-disp,.easy-select-box-disp:visited {background: image-url("account/short-select-bg.png") no-repeat 0 0;display:block;color:#0c2245;padding:0 3px;height:37px;line-height:37px; vertical-align: middle; text-decoration:none; font-size: 15px; padding-left: 10px; padding-right: 50px; width: 321px; overflow: hidden; }
      ul{position:absolute;top:100%;left:0;border:1px solid #cccccc;display:none;z-index:99;width:378px;max-height:300px;overflow:auto;background:$white;
        li a{padding:3px;background:$white;display:block;color:#000;cursor:default;font-size: 15px; padding-left: 10px; }
        li.selected a {background:$blue !important;color:$white;text-decoration:none; }
      }
    }
  } */

}

/***** Account sign-up styles *****/
.register-content .signup-facebook-link {
  display: block;
  width: 251px;
  height: 44px;
  margin: 10px auto;

  background: url(/assets/account/btn_facebook.png) no-repeat;
  background-position: 0 0;
  border: 3px solid #182f5c;
  border-radius: 6px;
}

.register-content .signup-facebook-link:hover {
  background-position: 0 -44px;
}

.main_content {
  background: url(/assets/account/gradient-btm.jpg) no-repeat;
  padding-top: 25px;
}

.main_content .content {
  width: 330px;
  border-radius: 5px;
  background-color: #121212;
  border: 1px solid #000;
  margin-bottom: 25px;
  padding: 20px;
  position: relative;
  .input {
    position: relative;
  }
}

.register-content .emblem-hr {
  width: 222px;
  height: 24px;
  margin: 10px auto;
  padding-top: 6px;

  background: url(/assets/account/bg_emblem.png) no-repeat 0 50%;
  text-align: center;
  vertical-align: middle;
  font-style: italic;
}

.main_content {
  label {
    color: #ddd;
    line-height: 20px;
    font-weight: normal;
  }
  input.input {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 6px 6px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 4px;
  }
  #user_email {
    margin-bottom: 15px;
  }

  #btn-create-account, #btn-success {
    display: inline-block;
    background: image-url("site/eme_sign_up_btn.png") no-repeat 0 0;
    text-indent: -9999px;
    position: relative;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'serif6_beta_rgbold','Georgia',Garamond,serif;
    font-size: 28px;
    width: 235px;
    height: 58px;
    line-height: 68px;
    margin: 0 auto;
    border-radius: 5px;
    &:hover {
      background-position: 0 -58px;
    }
    &.disabled {
      cursor: default;
    }
  }
  #btn-create-account {
    display: block;
  }
  #btn-success {
    display: none;
  }
}

.games .thumb {
  border: 2px solid #30343b;
  border-radius: 3px;
}

#available-games {
  height: 385px;
  height:auto;
  position: relative;

  .game-box {
    height: 365px;
    width: 275px;

    height:344px;
    width:260px;
    border: 2px solid #30343b;
    border-radius: 5px;
    float: none;
    display: inline-block;
    vertical-align:top;
    margin: 5px 0;
    //background: url(/assets/account/bg_box_art.jpg) no-repeat 0 0;
    background: url(/assets/account/gamebox_Sprite.png) no-repeat 0 0;
    position: relative;

    &:before {
      content: "";
      border: 2px solid #000;
      border-radius: 3px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
    }

    &:after {
      content: "";
      border: 2px solid #000;
      top: -4px;
      bottom: -4px;
      right: -4px;
      left: -4px;
      position: absolute;
      border-radius: 7px;
    }

    &.TERA {
      background-position: 0 0;
    }

    &.ZMR {
      background-position: -261px 0;
    }

    &.AVA {
      background-position: -519px 0;
    }

    &.KRITIKA {
      background-position: -780px 0;
    }

    a {
      display: block;
      width: 260px;
      height: 38px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      background: url(/assets/account/btn-addgameLrg.png) no-repeat 0 -6px;
      color: #fff;
      box-sizing: border-box;
      padding: 10px 0 0 50px;
      z-index: 30;
      border-radius: 0 0 5px 5px;
    }

    a:hover {
      background-position: 0 -53px;
    }
  }
}

/* account migration pages */
.inner-content {
  background: #121212;
  border-radius: 8px 8px 0 0;
  border: 1px solid #1c1c1c;
  width:100%;
  box-sizing:border-box;
  padding: 40px 25px 50px;
  margin-bottom:100px;
  a {
    color:#017dd3;
    &:hover {
      color:#ffffff;
      cursor: pointer;
    }
  }
  .leftSleeve, .rightSleeve {
    display:inline-block;
    width:45%;
    vertical-align:top;
  }
  .rightSleeve {
    text-align:center;
    img {
      margin-left: 60px;
    }
  }
  .leftSleeve {
    width:54%;
    p, ul, .buttons {
      box-sizing: border-box;
      padding-left: 45px;
    }
  }
  h2 {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:21px;
    font-weight:bold;
    border: none;
    &:before {
      content: "";
      display:none;
      width:32px;
      height:32px;
      vertical-align:middle;
      margin-right: 15px;
    }
    &.error {
      &:before {
        display:inline-block;
        background: url(/assets/account/icons.png) top center no-repeat;
      }
    }
    &.success {
      &:before {
        display:inline-block;
        background: url(/assets/account/icons.png) 0 -32px no-repeat;
      }
    }
    &.noicon {
      padding-left:45px;
    }
  }
  p, ul {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:normal;
    font-size:16px;
    margin-bottom:24px;
  }
  ul {
    li {
      list-style-type: decimal;
      list-style-position: inside;
      margin-bottom:5px;
    }
  }
  .subhead {
    font-weight:bold;
  }
  .buttons {
    padding-top:20px;
    button, p, .button {
      display:inline-block;
      vertical-align:middle
    }
    p {
      padding:0;
      margin:0;
    }
    .or {
      margin:0 15px;
    }
  }
  button {
    a {
      @include gradient(#0f3e62, #0f2b41);
      border: 1px solid #000000;
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      font-weight:normal;
      color: #ffffff;
      font-size:21px;
      box-sizing: border-box;
      padding: 10px 35px;
      border-radius: 3px;
      -moz-box-shadow:    inset 0px 1px 0px rgb(0,88,151);
      -webkit-box-shadow: inset 0px 1px 0px rgb(0,88,151);
      box-shadow:         inset 0px 1px 0px rgb(0,88,151);
      &:hover {
        @include gradient(#0f2b41, #0f3e62);
        cursor: pointer;
      }
    }
  }
  .button {
    a {
      @include gradient(#0f3e62, #0f2b41);
      border: 1px solid #000000;
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      font-weight:normal;
      color: #ffffff;
      font-size:21px;
      box-sizing: border-box;
      padding: 10px 35px;
      border-radius: 3px;
      -moz-box-shadow:    inset 0px 1px 0px rgb(0,88,151);
      -webkit-box-shadow: inset 0px 1px 0px rgb(0,88,151);
      box-shadow:         inset 0px 1px 0px rgb(0,88,151);
      &:hover {
        @include gradient(#0f2b41, #0f3e62);
        cursor: pointer;
      }
    }
  }
}