.alert-error {
	@include alertbox;
	&:before {
		border-left: 17px solid $errorRed;
	}
}
.alert-warning {
	@include alertbox;
	&:before {
		border-left: 17px solid $warnOrange;
	}
}
.alert-success {
	@include alertbox;
	&:before {
		border-left: 17px solid $infoGreen;
	}
}