body.acct_pages {
	form {
		label {
			color:$black;
			display: block;
			margin: 10px 0 5px;
			text-align:left;
		}
		input[type="text"], input[type="password"] {
			background:$blueInput;
			border: none;
			outline: none;
			color: $white;
		}
		.icon {
			&.armor {
				background-image: image-url("icons/site_sprite.png");
	  			background-repeat: no-repeat;
				background-position: 0 -235px;
				width:28px;
			  	height:35px;
			  	display: inline-block;
			  	vertical-align:middle;
			}
		}
		.styled {
			.label_check {
				span {
					background-image: image-url("icons/site_sprite.png");
		  			background-repeat: no-repeat;
			  		background-position: 0 -24px;
			  		width:26px;
			  		height:24px;
			  		display: inline-block;
					vertical-align:bottom;
				}
				p {
					display: inline-block;
					vertical-align:bottom;
				}
			}
			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"]:checked {
				+ span {
					background-position: 0 0;
				}
				
			}
			.label_togglebar {
				span.toggle {
					background-image: image-url("icons/site_sprite.png");
		  			background-repeat: no-repeat;
		  			background-position: 0 -452px;
		  			width:35px;
		  			height:35px;
		  			display: block;
		  			transition: margin-left 250ms;
		  			&.checked {
		  				background-position: 0 -487px;
						margin-left:29px;
		  			}
		  		}
		  		span.togglewrapper {
		  			background-image: image-url("icons/site_sprite.png");
		  			background-repeat: no-repeat;
				  	background-position: 0 -417px;
				  	width:64px;
				  	height:35px;
				  	display: inline-block;
					vertical-align:top;
				}
				span.icon, p {
					display: inline-block;
					vertical-align:top;
				}
				p {
					width:calc(100% - 115px);
				}
			}
			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"]:checked {
				+ .label_togglebar {
					span.toggle {
						background-position: 0 -487px;
						margin-left:29px;
					}
				}
			}
			.disconnect {
				display: inline-block;
			}
			&.checked {
				.disconnect {
					display: none;
				}
			}
		}
		input[type="text"] {
			&.searchbox {
				background: image-url("icons/site_sprite.png") -39px 0 no-repeat $white;
				color:$searchgrey;
				border-radius: 3px;
				border: 2px solid $gray;
				padding: 9px 5px 9px 35px;
				box-sizing: border-box;
				width:230px;
				font-size: 16px;
				font-style: italic;
				font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
			}
		}
		input[type="submit"] {
			&.searchSubmit {
				padding: 7px;
				display: inline-block;
				vertical-align:top;
			}
		}
		.newsletters-save {
			margin: 20px 0 0 auto;
		}
	}
}