body.acct_pages {
	.game-accounts {
		background: $blueInput;
		padding-bottom: 30px;
		.game_section_header {
			background: $blueWrapper;
			color: $white;
			font-style: italic;
			font-size:19px;
			text-align:center;
			padding: 10px 0;
			display: block;
			margin:15px auto;
			position: relative;
			width: 100%;
			h2 {
				border: 0;
				padding: 0;
				font-size:19px;
				font-weight: normal;
			}
		}
		.game_account_bundle {
			background: $white;
			padding: 10px 20px;
			display: block;
			margin:15px auto 30px;
			box-shadow: 0px 10px 0px $blueLightShadow;
			position: relative;
			width: 100%;
			.content {
				display: none;
				display: block;
				//font-size:0;
				.thumb {
					display: none;
					background-image: image-url("game_thumbs/box_art_sprite.png");
					background-position: 0 0;
					background-repeat: no-repeat;
					&.tera {
						background-position: 0 0;
					}
					&.zmr {
						background-position: -241px 0;
					}
					&.ava {
						background-position: -482px 0;
					}
					&.kritika {
						background-position: -723px 0;
					}
				}
			}
			.rightCol {
				display: none;
			}
			.reveal-game {
				display: block;
				width: 20px;
				height: 6px;
				background:$white;
				margin:7px auto 0;
				&:after {
					content: '';
					background:$white;
					width: 6px;
					height: 20px;
					margin:0 auto;
					display: block;
					position: relative;
					top:-7px;
				}
			}
			&.open {
				.content {
					display: block;
					.thumb {
						display: block;
					}
				}
				.reveal-game {
					&:after {
						display: none;
					}
				}
				.rightCol {
					display: block;
				}
			}
			.nameplate, .nav {
				//font-size: 0;
				//display: inline-block;
				//vertical-align:top;
				display: block;
			}
			.nameplate {
				width: auto;
				text-align:left;
			}
			.nav {
				background: $blueDark;
				width:30px;
				height:30px;
				padding:5px 3px;
				margin: 0;
				position: absolute;
				top: 10px;
				right:10px;
			}
			.game_name {
				font-weight:bold;
				font-size:28px;
				display: block;
				//display: inline-block;
				//vertical-align:middle;
				.game_name_icon {
					background-image: url(/assets/icons/game_icons_sprite.jpg);
					background-repeat: no-repeat;
					display: inline-block;
					vertical-align: middle;
					width:64px;
					height:64px;
					margin-right:15px;
					border: 2px solid $blueBorder;
					&.closers {
						background-position: 0 0;
					}
					&.tera {
						background-position: -65px 0;
					}
					&.kritika {
						background-position: -131px 0;
					}
					&.ava {
						background-position: -197px 0;
					}
					&.zmr {
						background-position: -262px 0;
					}
				}
			}
			.game_type {
				font-weight:normal;
				font-size: 17px;
				display: block;
				//display: inline-block;
				//vertical-align:middle;
				/*&:before {
					content: "-";
					display: inline-block;
					vertical-align:top;
					padding:0 2px;
				}*/
			}
			&.open {
				.game_name {
					.game_name_icon {
						display: none;
					}
				}
				.game_type {
					display: block;
					&:before {
						display: none;
					}
				}
			}
			.more_detail {
				margin: 30px auto;
			}
		}

		.thumb {
			border: 2px solid $blueBorder;
			border-radius: 3px;
			overflow:hidden;
			width:241px;
			height:281px;
			position: relative;
			display: inline-block;
			vertical-align:top;
			background-image: image-url("game_thumbs/box_art_sprite.png");
			background-position: 0 0;
			background-repeat: no-repeat;
			&.tera {
				background-position: 0 0;
			}
			&.zmr {
				background-position: -241px 0;
			}
			&.ava {
				background-position: -482px 0;
			}
			&.kritika {
				background-position: -723px 0;
			}
			.flair {
				display: block;
				position: absolute;
				top:0;
				right:0;
				padding: 10px;
				color:$white;
				text-transform:uppercase;
				font-size:22px;
				&.beta {
					background: $green;
					box-shadow: 0 5px 0 $greenShadow;
				}
			}
		}
		.about {
			font-size: 17px;
			text-align:left;
			h3 {
				font-weight:bold;
				font-size:24px;
			}
			h5 {
				font-weight:bold;
				display: block;
				span {
					font-weight: normal;
				}
			}
		}
		.actions {
			width:260px;
			button, input {
				width:260px;
				margin-bottom: 12px;
				padding: 8px 0;
			}
		}
	}

	@include breakpoint(tablet) {
		.account-settings {
			h1, button.enter-code-btn {
				display: inline-block;
				vertical-align: middle;
			}
			h1 {
				font-size: 32px;
				padding: 20px 8px;
			}
			button.enter-code-btn {
				position: relative;
				top:35px;
				float:right;
			}
			#support_tickets {
				.button_wrapper {
					position: relative;
					left: calc(100% - 400px);
					button {
						display: inline-block;
					}
				}
			}
		}
		#update-notifications-form {
			.checkbox {
				display: inline-block;
				vertical-align: top;
				width:33%;
			}
		}
		.game-accounts {
			.game_account_bundle {
				.leftCol {
					width:auto;
				}
				&.open {
					.content {
						.thumb {
							display: inline-block;
						}
					}
					.rightCol {
						display: inline-block;
						width:auto;
						width:calc(100% - 265px);
					}
					.nameplate {
						padding-left: 0px;
						padding-top: 0px;
					}
				}
				/*.nameplate, .nav {
					font-size: 0;
					display: inline-block;
					vertical-align:top;
				}*/
				.game_name {
					display: inline-block;
					vertical-align:middle;
				}
				.game_type {
					display: inline-block;
					vertical-align:middle;
					&:before {
						content: "-";
						display: inline-block;
						vertical-align:top;
						padding:0 2px;
					}
				}
			}
			.about, .actions {
				display: inline-block;
				vertical-align:top;
			}
			.about {
				width: calc(100% - 275px);
				padding-left:20px;
			}
			.actions {
				margin-top:50px;
			}
		}
	}

	@include breakpoint(desktop) {
		.game-accounts {
			.game_section_header {
				border-radius: 3px;
				width: calc(100% - 40px);
			}
			.game_account_bundle {
				border-radius: 3px;
				width: calc(100% - 40px);
				.leftCol {
					width:auto;
				}
				&.open {
					.rightCol {
						display: inline-block;
						//width:auto;
					}
				}
				.nameplate {
					display: block;
					//width: calc(100% - 35px);
				}
			}
			/*.about {
				width:300px;
			}*/
		}
	}
}