body.acct_pages {
	/* the login blocks */
	.in_our_out {
		display: block;
	}
	.regular_in, .console_in {
		display: none;
	}
	.dropdownLogin {
		color: #adadad;
    	font-family: 'Exo 2', sans-serif;
    	font-weight: bold;
    	display: block;
    	padding: 10px 20px;
    	text-decoration: none;
    	background: $black;
    	width:100%;
    	text-align:left;
    	&:hover {
    		color:$white;
    		background: $blueDark;
    	}
	}
	.account-home {
		form {
			input[type="text"], input[type="password"] {
				background: $white;
				color:$black;
				border: 1px solid $lightgrey;
				border-radius: 5px;
				width:100%;
				padding: 5px;
				box-shadow: inset 0 2px 3px rgba(182,183,186,0.6);
			}
		}
	}
	.game_tile {
		a {
			background: $brightBlueShadow;
			box-shadow: inset 0 2px 0 $tileHightlight, 0 3px 0 $tileShadow;
			color:$white;
			display: block;
			/*width:285px;
			height:380px;*/
			border-radius: 5px;
			padding: 20px;
			text-decoration: none;
			margin:0 auto 20px;
			&:hover {
				background: $white;
				color:$black;
				box-shadow: 0 3px 0 $brightBlueShadow;
			}
		}
		.nameplate {
			display: block;
			margin: 10px auto;
			.game_name {
				display: block;
				font-weight:bold;
				font-size:28px;
			}
			.game_type {
				font-weight: normal;
				font-size:16px;
			}
		}
	}
	#open-signedout {
		.wrapper {
			background: $white;
			text-align:center;
		}
		.leftCol {
			margin-top:20px;
		}
		p {
			font-size:24px;
			line-height:30px;
			margin-bottom: 10px;
		}
		.block {
			background: $brightBlue;
			box-shadow: inset 0 2px 0 $brightBlueHighlight, 0 3px 0 $brightBlueShadow;
			color:$white;
			display: block;
			width:305px;
			border-radius: 10px;
			padding: 20px 20px 50px 20px;
			margin: 0 auto 20px;
			.buttonYellow {
				margin:0 auto 20px;
				padding: 15px 0;
				width:100%;
			}
			p {
				font-size:18px;
				line-height:24px;
			}
		}
	}
	#open-signedin {
		h2.heading {
			display: none;
		}
		.wrapper {
			background: $white;
		}
		.leftCol {
			text-align:center;
			border-bottom: 1px solid $gray;
			&:after {
				content: 'or';
				display: block;
				font-size: 16px;
				color:$gray;
				background: $white;
				width:37px;
				height:37px;
				border-radius: 20px;
				padding-top:5px;
				margin:0 auto;
				position: relative;
				top:19px;
			}
		}
		.rightCol {
			margin-top:30px;
			.leftCol {
				border-bottom: none;
				&:after {
					content:'';
					display: none;
				}
			}
		}
		.fb-login {
			border-radius: 5px;
			background: image-url("icons/fb.png") 10px 9px no-repeat $fbBlue;
			color:$white;
			font-size:18px;
			padding: 14px 20px 14px 60px;
			border: none;
			outline:none;
			box-shadow: 0 0 5px rgba(0,0,0,0.6);
			&:hover {
				background: image-url("icons/fb.png") 10px 9px no-repeat $fbBlueHover;
			}
		}
		p.console-callout {
			margin:15px auto;
			max-width:320px;
		}
		button.console-callout {
			background: none;
			border:none;
			outline: none;
			color:$goodoleinternetblue;
			&:hover {
				text-decoration: underline;
			}
		}
		.buttonYellow {
			margin: 20px auto;
			max-width:160px;
			height:60px;
			padding: 16px 0;
		}
	}
	#console-signin {
		background: $white;
		.wrapper {
			background: $blueWrapper;
			box-shadow: inset 0 2px 0 $whiteBlue, 0 3px 0 $whiteBlueShadow;
		}
		.heading {
			background: none;
		}
		.buttonLight {
			padding: 5px 12px 5px 8px;
			margin: 10px 0;
			font-weight: bold;
		}
		.leftCol {
			font-size:0;
		}
		#email_text, #pwd_text {
			color:$white;
		}
		.console-select {
			display: inline-block;
			vertical-align:top;
			padding: 10px;
			span {
				text-indent: -9999em;
				display: block;
			}
			&#console-select-xboxone {
				background:$xboxgreen;
				border-right: 2px solid $xboxgreen;
				border-top: 3px solid $xboxgreen;
				span {
					text-indent: -9999em;
					display: block;
					background: image-url("icons/site_sprite.png") 0 -566px no-repeat;
					//background: image-url("icons/xboxone.png") top left no-repeat;
					width:60px;
					height:60px;
				}
				&:hover, &.active {
					border-right: 2px solid $white;
				}
			}
			&#console-select-ps4 {
				background:$black;
				border-right: 2px solid $black;
				border-top: 3px solid $black;
				span {
					text-indent: -9999em;
					display: block;
					background: image-url("icons/site_sprite.png") 0 -634px no-repeat;
					//background: image-url("icons/ps4.png") top left no-repeat;
					width:70px;
					height:60px;
				}
				&:hover, &.active {
					border-right: 2px solid $white;
					border-top: 3px solid $xboxgreenDark;
				}
			}
		}
		.rightCol {
			padding: 20px;
			p {
				color: $white;
				a {
					color: $white;
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.console-select-xboxone {
			.rightCol {
				background: $xboxgreen;
			}
		}
		.console-select-ps4 {
			.rightCol {
				background: $black;
			}
		}
		.console-select-xboxone, .console-select-ps4 {
			form {
				label {
					margin:0 0 5px;
					color: $white;
				}
				input[type="text"], input[type="password"] {
					margin-bottom: 15px;
				}
			}
		}
		.buttonYellow {
			margin: 0px auto;
			margin: 20px 0;
    		max-width: 160px;
    		height: 60px;
    		padding: 16px 0;
		}
	}
	#filterTitle {
		display: none;
		text-align:center;
		color:$white;
		padding: 20px 0 0;
	}
	#filter_clear {
		color: $white;
		padding-left:20px;
		font-style:italic;
		font-size:14px;
		&:hover {
			color:$blueDark;
		}
	}
	#game_tile_grid {
		.filtersblock {
			display: block;
			font-size: 0;
			.game-filter {
				display: inline-block;
				vertical-align: top;
				position: relative;
				top:9px;
				ul.selectable-filters {
					position: absolute;
					left: -9999em;
					z-index:100;
					background:$white;
					color:$filterBlueLight;
					display: none;
				}
				h6 {
					color:$white;
					background:$filterBlueDark;
					font-size:16px;
					border-bottom: 5px solid $filterBorder;
					padding: 5px 10px;
					margin:0;
					&:before {
						content: "v";
						display: inline-block;
						padding-right: 5px;
					}
				}
				&:hover, &.active {
					h6 {
						background: $filterBlueLight;
						border-bottom:5px solid $white;
					}
					ul.selectable-filters {
						left: 0;
						width:150px;
						display: inline-block;
						padding: 0;
						li {
							font-size:14px;
							display: block;
							text-align:left;
							padding: 5px;
							&:hover, &.active {
								background: $filterBlueDark;
								color:$white;
							}
						}
					}
				}
			}
		}
	}
	#homepage-games-searchbox_results {
		color:$white;
		h3 {
			padding-left: 20px;
			color:$white;
			margin-bottom: 0;
		}
		.search_fail {
			color:$red;
			min-height:100px;
			padding: 10px 20px;
		}
		.keyword {
			font-weight: bold;
			color:$filterBlueLight;
		}
		.clearsearch {
			padding-left: 20px;
			color:$white;
		}
	}
	#homepage-games-searchbox_results ul,
	#game_tile_grid ul {
	    /* flexbox */
	    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
	    display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
	    display: -ms-flexbox;           /* TWEENER - IE 10 */
	    display: -webkit-flex;          /* NEW - Chrome */
	    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    padding: 30px 20px;
	    &:after {
	      content: "";
	      width:285px;
	      /* allow last row of two to have proper spacing */
	    }
	}
	/*homepage specific game accounts section*/
	&#app-homepage {
		.game-accounts {
			background: $black;
			padding-bottom: 0;
			h1.heading {
				font-size:32px;
				text-align: center;
				padding:20px 0;
				margin:0 auto;
			}
			form {
				text-align:center;
			}
			.filtersblock {
				text-align: center;
				margin-bottom: 0;
			}
			#game_tile_grid {
				background: $blueInput;
				position: relative;
			}
		}
	}

	@include breakpoint(tablet) {
		.account-home {
			padding: 0 20px;
		}
		#console-signin {
			.wrapper {
				border-radius: 5px;
				padding: 20px;
			}
			.rightCol {
				position: relative;
			}
			.backRegLogin {
				display: inline-block;
				vertical-align: middle;
			}
			h2.heading {
				display: inline-block;
				vertical-align: middle;
				width: 90%;
			}
			.column_wrapper {
				display: block;
				width:100%;
				.leftCol {
					width:320px;
				}
				.rightCol {
					width:calc(100% - 326px);
				}
				form {
					.leftCol {
						width:150px;
					}
					.rightCol {
						width: calc(100% - 160px);
						padding: 0 0 0 5px;
					}
				}
				&.console-select-xboxone {
					background: $xboxgreen;
				}
				&.console-select-ps4 {
					background: $black;
				}
			}
			.console-select {
				display: block;
				width:100%;
				height:144px;
				padding-top:35px;
				&#console-select-xboxone {
					padding-left: 25px;
					border-right: 2px solid $white;
					border-top: 3px solid $xboxgreen;
					&:hover, &.active {
						border-right: 2px solid $xboxgreen;
						border-top: 3px solid $xboxgreen;
					}
					span {
						width:100%;
					}
				}
				&#console-select-ps4 {
					padding-left: 35px;
					border-right: 2px solid $white;
					border-top: 3px solid $xboxgreenDark;
					&:hover, &.active {
						border-right: 2px solid $black;
						border-top: 3px solid $black;
					}
					span {
						width:100%;
					}
				}
			}
			.console-select-xboxone {
				.rightCol {
					background: none;
				}
			}
			.console-select-ps4 {
				.rightCol {
					background: none;
				}
			}
		}
		#open-signedout {
			.rightCol {
				margin-top:20px;
			}
		}
		#open-signedin {
			h2.heading {
				display: block;
				background: $blueWrapper;
				text-align:center;
				box-shadow: inset 0 2px 0 $whiteBlue;
			}
			.wrapper {
				background: $blueWrapper;
				box-shadow: 0 3px 0 $whiteBlueShadow;
			}
			.leftCol {
				border: none;
				width:35%;
				&:after {
					content: '';
					display: none;
				}
				padding-top:70px;
			}
			.rightCol {
				border-left: 2px solid $white;
				padding-left:20px;
				margin-top:0;
				position: relative;
				width:64%;
			}
			.controls {
				a.login-submit {
					width:160px;
				}
				a.login-submit, p {
					display: inline-block;
					vertical-align:top;
				}
				.clear {
					display: none;
				}
			}
			.buttonYellow {
				margin: 20px 0;
			}
		}
		.login-ft {
			display: block;
			position: absolute;
			bottom: 0;
			left: 195px;
			p {
				line-height: 1.2;
			}
		}
		&#app-homepage {
			.game-accounts {
				position: relative;
				form {
					position: absolute;
					right:20px;
					top:25px;
				}
				.filtersblock {
					position: absolute;
					left:20px;
					top:-44px;
				}
				h1 {
					&.heading {
						text-align:left;
						padding:20px 0 40px 20px;
					}
				}
			}
		}
	}

	@include breakpoint(desktop) {
		#console-signin {
			.wrapper {
				padding: 20px 30px;
			}
		}
		#homepage-games-searchbox_results ul,
		#game_tile_grid ul {
			justify-content: space-between;
		}
		&#app-homepage {
			.game-accounts {
				h1 {
					&.heading {
						text-align:center;
						padding: 20px 0;
					}
				}
			}
		}
		.login-ft {
			bottom: 10px;
		}
	}

}