body.acct_pages {
  /* icon sprite */
  .icon {
    background-image: image-url("icons/site_sprite.png");
  	&.check_check {
    		background-repeat: no-repeat;
  	  	background-position: 0 0;
  	}
  }

  .icon {
  	&.check_empty {
    		background-repeat: no-repeat;
  	  	background-position: 0 -24px;
  	}
  }

  .elite_subscription_logo {
  	background-image: image-url("icons/site_sprite.png");
    background-repeat: no-repeat;
   	background-position: 0 -48px;
   	width:258px;
   	height:148px;
   	display: block;
    margin:0 auto;
  }

  .icon {
  	&.facebook {
    	background-repeat: no-repeat;
    	background-position: 0 -196px;
    	width:39px;
    	height:39px;
    	display: block;
  	}
  }

  .icon {
  	&.emp {
    	background-repeat: no-repeat;
    	background-position: 0 -270px;
    	width: 37px;
    	height: 37px;
    	display: inline-block;
      vertical-align:top;
    }
  }

  .icon {
  	&.mastercard {
    	background-repeat: no-repeat;
    	background-position: 0 -307px;
    	width:52px;
    	height:32px;
    	display: inline-block;
      vertical-align:middle;
  	}
  }
  .icon {
    &.visa {
      background-repeat: no-repeat;
      background-position: -66px -297px;
      width:59px;
      height:42px;
      display: inline-block;
      vertical-align:middle;
    }
  }
  .icon {
    &.amex {
      background-repeat: no-repeat;
      background-position: -66px -297px;
      width:59px;
      height:42px;
      display: inline-block;
      vertical-align:middle;
    }
  }


  .icon {
  	&.steam {
    	background-repeat: no-repeat;
    	background-position: 0 -378px;
    	width:39px;
    	height:39px;
    	display: block;
  	}
  	&.xbox {
    	background-repeat: no-repeat;
  	 	background-position: 0 -522px;
  	 	width:39px;
    	height:39px;
    	display: block;
  	}
  	&.playstation {
    	background-repeat: no-repeat;
  	  background-position: 0 -339px;
  	  width:39px;
    	height:39px;
    	display: block;
  	}
  }

  .icon {
  	&.togglebar {
    	background-repeat: no-repeat;
    	background-position: 0 -417px;
    	width:64px;
    	height:35px;
    	display: block;
    	.account_on {
    		background-repeat: no-repeat;
    		background-position: 0 -487px;
    		width:35px;
    		height:35px;
    		display: block;
    	}
    	.account_off {
    		background-repeat: no-repeat;
    		background-position: 0 -452px;
    		width:35px;
    		height:35px;
    		display: block;
    	}
  	}
  }

  @include breakpoint(tablet) {
    .elite_subscription_logo {
      margin: 0;
      display: inline-block;
      vertical-align:top;
    }
  }

}