#app-launcher {
  background: transparent; color: #fff; text-align: left;

  #container-main { width: 100% !important; }
  span.blocked { font-style: italic; color: #808080; }
  #account-selection { padding: 10px; }
  /* THIS IS TEMPORARY WHILE WE TEST THE INTERFACE */
  ul.menu { margin-left: 12px; float: left;
    li { margin-bottom: 12px; }
  }
  #game-message-popup {
    h1 { margin-bottom: 12px; }
    p { margin-bottom: 12px; }
  }
  .content-launcher {
    #info-box { width: 100%; margin: 0; position: absolute; top: 0; left: 0;
    }
  }
  //Launcher Content
  #global-alerts {
    min-height: 25px;
    margin: 0 10px;
    .alert {
      margin-top: 0px;
      padding-right: 0px;

      .message {
        width: 242px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .content-launcher { 
    position: relative;
    z-index: 1;
    width: 531px;
    min-height: 400px;
    padding: 1px 0px 0;
    background: white;
    margin: 36px;

    -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);

    .logo {
      width: 158px;
      height: 59px;
      background: image-url("launcher/small-tera.png") no-repeat 0 0;
      margin: 10px auto 15px;
    }
    .offscreen {
      position: absolute;
      left: -999em;
    }
    .account-links {
      font-size: 14px;
      text-align: center;
      a { color: #0297ff; text-decoration: underline; }
    }
    #login {
      padding: 0;
      .or {
        color: #666666;
        text-align: center;
        font-size: 18px;
        margin: 10px;
      }
      .input-text { margin-left: 0; }
      .login-btn {
        width: 200px;
        height: auto;
        margin: 0;
        background: none;
        cursor: default;
      }
      .heading {
        background: #dee7f2;
        padding: 6px 0;
        .login-facebook-btn {
          background: image-url("account/log_in_with_fb.png") no-repeat 0 0;
          height: 36px;
        }
        .login-facebook-btn:hover { background-position: 0 -36px; }
        .login-facebook-btn:active { background-position: 0 -72px; }
        .switch-user-link {
          color: #0297ff;
          font-size: 14px;
          display: inline-block;
          margin-top: 4px;
        }
      }

      #email_text { padding-left:2px; }
      #pwd_text { padding-left:2px; }

      .input-text {
        margin: 5px auto;
        font:16px Arial;
        color:#bbbbbb;
        width: 285px;
        height: 45px;
        padding: 5px;
        input.field {
          margin: 0; padding: 0 5px;
          background: white;
          width: 275px;
          height: 45px;
          line-height: 45px;
          border: 1px solid #a8a8a8;
          color: #666666;
          -webkit-box-shadow: inset 0px 2px 3px 0px rgba(168,168,168,1);
          text-align: center;
          font: bold 20px/45px 'exo_2light';
        }
      }

      #remember_username  {display:none;}
      #remember_div   {
        display:block;
        margin: 0 auto 20px;
        width: 180px;
      }
      #remember_label   {
        display:inline-block;
        height:16px;
        width:16px;
        background: image-url("launcher/chkbox.png") no-repeat 0 -17px;
      }
      #remember_text    {
        display:inline-block;
        font:14px Arial;
        color:#bbbbbb;
        width:160px;
        padding-left:22px;
        color: #666666;
      }

      .controls {
        margin: 10px auto 0;

        .btn-login {
          width: 200px;
          height: 42px;
          outline: none;
          font: bold 28px/50px 'exo_2light';
          padding: 0 0 8px;
          color: black;
          text-shadow: none;
          border: 1px solid #e6b300;
          background: #fef9f1;
          background: -webkit-linear-gradient(top, #fef9f1 0%,#ecb75c 100%);
        }
        .btn-login:hover {
          background: #e6b300;
          background: -webkit-linear-gradient(top, #e6b300 0%,#ffffff 0%,#f1cb8a 100%);
        }
        .btn-login:active {
          background: #e6b300;
          background: -webkit-linear-gradient(top, #e6b300 0%,#ecb75c 0%,#fef9f1 100%)
        }
        .disabled {
          cursor: default;
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(162,162,162,0.7) 100%);
          -webkit-box-shadow: inset 0 0 3px 0 rgba(255,255,255,1);
          border: 1px solid #8e8e8e;
        }
      }
    }
    -webkit-user-select: none;
  }
  .content-launcher.alt { background: #000; }
  .content-launcher:before {
    content: "";
    width: 603px;
    height: 117px;
    position: absolute;
    bottom: -83px;
    left: -36px;
    z-index: -1;
    background: image-url("launcher/login-bottom.png") no-repeat 0 0;
  }


  //Border
  .listing { width: 344px; margin: 0 auto;
    .listing-head, .listing-foot { width: 344px; height: 15px; }
    // .listing-head { background: image-url("launcher/listing_head.png") no-repeat 0 0; }
    // .listing-foot { background: image-url("launcher/listing_foot.png") no-repeat 0 0; }
    .listing-body {
      width: 314px;
      padding: 0 15px;
      // background: image-url("launcher/listing_body.png") repeat-y 0 0;
      h2 {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #4d4d4d;
        color: #000;
        font-size: 21px;
        font-weight: bold;
        text-transform: capitalize;
      }
      .list { width: 314px; max-height: 310px; }
      .message { font-weight: bold; font-size: 20px; text-align: center; }
      .standByMsg {
        font-weight: bold; font-size: 20px; text-align: center;
        span { opacity: 0; -webkit-animation: dot 1.3s infinite; }
        .one { -webkit-animation-delay: 0.0s; }
        .two { -webkit-animation-delay: 0.2s; }
        .three { -webkit-animation-delay: 0.3s; }
        @-webkit-keyframes dot {
            0% { opacity: 0; }
           50% { opacity: 0; }
          100% { opacity: 1; }
        }
      }
    }
  }
  //Multiple Accounts
  .accounts-listing {
    ul {
      li { margin-top: 5px; padding-left: 25px; background: image-url("launcher/icon_eme.png") no-repeat left top; color: #949494;
        a { color: #1a81c4; }
        a:hover { color: #349BDE; }
      }
      li:first-child { margin-top: 0; }
      li.blocked { background: image-url("launcher/icon_blocked.png") no-repeat 3px 3px;
        span.msg { font-size: 9pt !important;
          a { display: inline; font-size: 9pt !important; }
        }
      }
    }
  }
  //No Accounts
  .listing.no-accounts { position: relative; top: 60px;
    #refreshBtn { display: none; }
    .options { margin-top: 20px; text-align: center;
      a { color: #0297ff; }
      a:hover { color: #a8a8a8; text-decoration: underline; }
      .or { margin: 10px 0; font-weight: bold; font-size: 20px; text-align: center; }
    }
  }
  //Overlays
  #cboxOverlay { background: #000 !important; }

}
