@import "base/vars";

#app-maintenance {
  font-size:16px;

  &.no-layout #container-main { width: 100% !important; }
  hr {
    background-color:#282929;color:#282929;height:1px;margin:20px 0;
  }

  //Launcher Content
  .content-launcher { width: 568px; height: 398px; overflow: hidden; padding: 16px; background: image-url("launcher/bg.png") no-repeat 0 0; position: relative;
    .content-container { -moz-border-radius: 15px; border-radius: 15px; background-color: #262626; padding: 15px; width: 80%; height: 250px; margin: 0 auto; margin-top: 50px;
      .content-body { height: 250px;
        hr { background-color:#333; color:#333;height:1px;margin:10px 0; }
      }
    }
  }

}