body.acct_pages {
	.pass-reset-step-1, .pass-reset-step-2, .pass-reset-validate, .pass-reset-complete {
		.iparent {
			margin: 20px auto;
		}
		.buttonDark {
			max-width: 200px;
		}
		section {
			margin-bottom: 0;
		}
		.input_wrap {
			input[type="text"] {
				margin: 0;
				padding: 0;
			}
		}
	}
	.pass-reset-complete {
		.buttonLight {
			max-width: 200px;
		}
	}
}

@include breakpoint(tablet) {
	body.acct_pages {
		.pass-reset-step-1, .pass-reset-step-2, .pass-reset-validate, .pass-reset-complete {
			section {
				padding: 100px 0;
			}
			h2 {
				border: none;
			}
			.leftCol {
				border-right:1px solid $black;
				padding-right: 1em;
			}
			.rightCol {
				padding-left: 1em;
				padding-top: 1em;
			}
		}
	}
}