/* fix colorbox, sigh */
#cboxOverlay {
	background-image: none !important;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
}

	#cboxContent {
		background: $black;
		//border: 10px solid $blueWrapper;
		//border-radius: 10px;
		float: none !important;
		margin:0 auto;
	}
	#cboxOverlay {
		background-image: none !important;
		background: rgb(0,0,0);
		background: rgba(0,0,0,0.6);
	}
	#cboxTopLeft, #cboxTopCenter, #cboxTopRight,
	#cboxMiddleLeft, #cboxMiddleRight,
	#cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
		display: none !important;
	}
	#cboxClose {
		background-image: none !important;
		background: $tileShadow;
		width:25px;
		height:25px;
		border-radius: 3px;
		top:5px;
		right:5px;
		&:after {
			content: 'X';
			color: $white;
			display: block;
			width:25px;
			height:25px;
			position: relative;
			margin-top: -21px;
			text-indent: 0;
		}
	}
	.iparent {
		float:none;
		max-width:300px;
		width: 90%;
		display: inline-block;
		vertical-align:top;
	}
	/*#enter-code {
		.iparent {
			max-width:300px;
			width: 100%;
		}
	}
	.cb-cont {
		h3 {
			color: $black !important;
		}
		label {
			text-align:left;
			float:none;
		}
		.clear {
			display: none;
		}
	}*/

/* end colorbox */
/* the new popup parts */
body.acct_pages {
	#cboxClose {
		display: none;
	}
	.properPop_wrapper {
		margin:0 auto;
		width:100%;
		max-width: 350px;
	}
	.pop-header {
		background: $black;
		color:$white;
		border-bottom: 2px solid $greyBorder;
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			color: $white;
			padding: 15px 18px;
		}
		h1 {
			font-size:21px;
		}
	}
	.pop-content {
		background: $white;
		color:$black;
		padding: 25px;
		p {
			margin: 0 0 10px;
			padding-left: 0;
			padding-right: 0;
		}
		form {
			label {
				margin: 15px 0 0 0;
				text-align:left;
				float:none;
			}
			input[type="text"], input[type="password"] {
				padding: 5px;
				border-radius: 3px;
				width:100%;
			}
			.check {
				display: none;
				margin-top: 12px;
				height: 11px;
				width: 12px;
				&.with_errors {
					display: inline-block;
					vertical-align: top;
					background: image-url("site/icons.png") no-repeat 0px 0px;
				}
			}
		}
		.actions {
			display: block;
			font-size: 0;
			button {
				display: inline-block;
				font-size:19px;
				padding: 15px 25px;
				&.cancel {
					float: right;
				}
			}
		}
	}
	.err-msg {
		color: $red;
		font-weight:bold;
		margin: 0;
		min-height:25px;
		width:100%;
		font-size:14px;
	}

}


@include breakpoint(tablet) {
	body.acct_pages {
		.properPop_wrapper {
			max-width: 650px;
		}
		.pop-header {
			h1 {
				font-size:32px;
			}
		}
		.iparent {
			max-width: 600px;
		}
	}
}

@include breakpoint(desktop) {
	body.acct_pages {
		.pop-content {
			.actions {
				text-align:center;
			}
			.actions {
				button {
					margin: 0 10px;
					&.cancel {
						float: none;
					}
				}
			}
		}
	}
}


/*body.acct_pages {
	h1 {
		font-size:21px;
		padding: 15px 0 5px;
	}
	&#app-account #engarde-form-cont p,
	&#app-account #engarde-form-cont ul.values li.radio-text.main label,
	&#app-account #engarde-form-cont ul.values li.check-box label,
	&#app-account #engarde-form-cont ul.values li.radio-text label {
		color: $black !important;
	}
	&#app-account {
		#change-email-form-cont {
			.iparent {
    			max-width:300px;
				width: 90%;
			}
			.hint {
				float:none;
				max-width:300px;
				width: 100%;
			}
		}
		#change-password-form-cont {
			.pstrength-meter-cont {
				float:none;
				max-width:300px;
				width: 100%;
			}
			.hint {
				float:none;
				max-width:300px;
				width: 100%;
				ul {
					margin-left: 10px;
				}
			}
			.hint-text {
				height:auto;
			}
		}
		#public-nickname {
			max-width:300px;
			width:100%;
			#nickname-form {
				max-width:300px;
				width: 100%;
				text-align:left;
				.iparent {
					width:100%;
				}
				.check {
					display: none;
				}
				label {
					float:none;
					margin: 15px 0 0 0px;
				}
				input {
					width:100%;
					height:25px;
					color:$white;
					background: $blueInput;
				}
				.err-msg {
					margin:0px 0px 10px 10px;
					max-width:300px;
					width:100%;
				}
			}
		}
		#engarde-form-cont {
			max-width:310px;
			width:100%;
		}
		#engarde-form-cont {
			ul.values li {
				float:none;
				display: inline-block;
				vertical-align: top;
				&.radio-text {
					width:90%;
					label {
						max-width:300px;
						width:100%;
					}
				}
			}
		}
		hr {
			background-color:$gray;
			color:$gray;
		}
		#redeemed-code {
			color: $white;
			.sku-info {
				&.left, &.right {
					float:none;
				}
			}
			p {
				max-width:310px;
				width:100%;
			}
		}
	}
	.notcb {
		&#colorbox {
			left: 0 !important;
			right: 0 !important;
			margin:0 auto;
			#cboxWrapper {
				left: 0;
				right: 0;
				margin:0 auto;
			}
		}
		form {
			label {
				margin: 6px 7px 0 0;
				width:auto;
			}
			input[type="text"], input[type="password"] {
				padding: 15px 5px;
				border-radius: 3px;
			}
			.submit {
				button {
					margin:0 auto 10px;
				}
			}
			.cancel {
				text-align:center;
				button, input[type="submit"], a {
					background: none;
					border: none;
					outline: none;
					color: $white;
					&:hover {
						text-decoration: underline;
						color: $black;
					}
				}
			}
			&.default {
				input.input-4 {
				  width:100%;
				}
				.check {
					float:none !important;
					display: inline-block;
					vertical-align:top;
				}
			}
		}
	}
}

@include breakpoint(desktop) {
	.notcb {
		.cb-cont {
			label {
			}
		}
		.iparent {
			max-width:500px;
		}
		#enter-code {
			.iparent {
				max-width:500px;
			}
		}
	}
	body.acct_pages {
		.notcb {
			form {
				label {
				}
			}
		}
		&#app-account {
			#change-email-form-cont {
				.iparent {
	    			max-width:481px;
				}
				.hint {
					max-width:459px;
					width: 100%;
				}
			}
			#change-password-form-cont {
				.pstrength-meter-cont {
					max-width:500px;
					width: 100%;
				}
				.hint {
					max-width:459px;
					width: 100%;
				}
			}
			#public-nickname {
				max-width:600px;
				#nickname-form {
					max-width:500px;
					width: 100%;

					max-width:770px;
					width: 100%;
					.err-msg {
						margin:0px 0px 10px 10px;
						max-width:500px;
					}
				}
			}
			#engarde-form-cont {
				max-width:600px;
			}
			#redeemed-code {
				p {
					max-width:500px;
					width: 100%;
				}
			}
		}
	}
}

#login {
	input {
		&.field {
			color:$black;
		}
	}
}
*/
