body.acct_pages {
	table {
		width:100%;
		th {
			text-align:left;
		}
		tr {
			background: $tableOdd;
			color:$white;
			&:nth-child(even) {
				background: $tableEven;
			}
		}
		td {
			display: block;
			padding: 0 20px;
			text-align: left;
		}
		thead {
			display: none;
			tr {
				background: none;
			}
		}
		.ticket-summary {
			color: $tableLink;
			padding-top:20px;
			a {
				color: $tableLink;
			}
			&:before {
				content: 'Ticket Summary:';
				display: inline-block;
				color:$white;
				padding: 0 3px 0 0;
			}
		}
		.ticket-game {
			&:before {
				content: 'Game:';
				display: inline-block;
				color:$white;
				padding: 0 3px 0 0;
			}
		}
		.ticket-updated {
			padding-bottom: 20px;
			&:before {
				content: 'Date Updated:';
				display: inline-block;
				color:$white;
				padding: 0 3px 0 0;
			}
		}
		.ticket-status {
			display: none;
			&.open {
				color: $statusGreen;
			}
			&.closed {
				color: $statusOrange;
			}
		}
	}
	.notify, #payment_details {
		table {
			thead {
				display: table;
			}
			td {
				padding: 10px;
			}
		}
	}

	@include breakpoint(tablet) {
		table {
			thead {
				display: table-header-group;
			}
			td {
				display: table-cell;
				padding:5px;
			}
			.ticket-summary, .ticket-game, .ticket-updated {
				padding: 0 0 0 5px;
				&:before {
					display: none;
				}
			}
			.ticket-status {
				display: table-cell;
			}
		}
	}
}