pay_letter:
  url: "http://edge.api.billing.enmasse.com"
  ssl: false
  name: "PayLetter"
  purchase_url: "http://billing.edge.enmasse.com/payment.aspx"
  purchase_item_url: "http://edge.billing.enmasse.com/payment_direct.aspx"
  mystery_key: "5FADCAFDFAA36452E7068705DA2A73E7F3979FE3A941AACC28D0591315B4C6AF"
  api_key: "C568B7FE4040FEAC125BB51DC8C4A7CEB971B7AE1841C91CE287B2215D798F41"
  use_memcache: true
  memcache_hosts:
    - "localhost:11211"
  cache_prefix: "payletter-dev"
  type: json

