$white: #ffffff;
$black: #000000;

$bglight: #e4e4e6;
$bgcontainer: #465262;
$bgaccent: #2f3c4c;

$headlinelight: #b5b5b5;
$copyright: #939393;
$bgcard: #126ba2;
$bgcardhighlight:#1481c5;
$bonus: #ff9000;
$selecthover: #26acff;

$lightRed: #960909 !default;
$midRed: #820707 !default;
$darkRed: #530202 !default;

$internetblue: #029fff;
$internetbluehover: #4fbbfd;

$darkorange:#8b4500;
$lightorange:#ee7600;
$borderorange: #cd6600;