/* ie8 corrections */
.ie8 {
  input[type="text"] {
    border: 1px solid #000000;
  }
  .input-default {
    display:none;
  }
  #hint #arrow {
    right: -10px !important;
    display:inline-block;
  }
  #password #hint {
    width: 300px;
    display: block;
    left: -690px;
    margin-top: -50px;
  }
  #password #hint p {
    width:98% !important;
    padding-left:10px;
  }
    #hint.warning {
    width: 300px !important;
    display: block;
    left: -690px !important;
    margin-top: -50px;
  }
  .check {
    left:94%;
  }
  .styled-select {
    select {
      background: #ffffff;
      padding: 5px;
      width:100%;
    }
  }
}

/* other IEs */

.ie9 {
  // IE9+ CSS
  .styled-select select {
    background: #ffffff;
    padding: 5px;
    width:100%;
  }
  .input-default {
    display:none;
  }
}

html[data-useragent*='MSIE 10.0'] {
  // ie 10
  .styled-select select {
    background: #ffffff;
    padding: 5px;
    width:100%;
  }
}

html[data-useragent*='Trident/7.0'] {
  // ie 11
  .styled-select select {
    background: #ffffff;
    padding: 5px;
    width:100%;
  }
}
