.receipt {
  section {
    background:$bgcontainer;
    color:$white;
    position: relative;
    margin-bottom: 0;
    h2 {
      &.heading {
        background:$bgaccent;
        color:$white;
        box-sizing: border-box;
        padding-left: 45px;
      }
    }
    p {
      text-align:center;
    }
    span {
      @include font-exo;
      display:block;
      font-size:20px;
    }
  }
  .ellipses {
    border-bottom: 2px dashed $white;
    height:10px;
    margin-bottom: 10px;
    width:100%;
    display:block;
  }
  .left-col, .right-col {
    display:block;
    width:100%;
    text-align:left;
    span {
      display: block;
    }
  }
  .receipt-info {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:20px;
    box-sizing:border-box;
    padding: 40px 50px 70px;
    .receipt-emp, .receipt-total {
      font-weight:bold;
    }
  }

  #billing-info {
    .receipt-info {
      padding: 25px 50px 30px;
    }
  }

  #payment-info {
    padding-bottom: 20px;
    .receipt-info {
      padding: 15px 50px;
    }
  }

  .receipt-details {
    box-sizing: border-box;
    padding:30px 45px;
    p {
      margin-bottom: 20px;
    }
  }
  .submitBTN {
    text-align:center;
    margin:25px auto 0;
    display:block;
    width:230px;
    height:65px;
    a {
      @include yellowBTN();
      width:100%;
      height:100%;
      padding:15px 20px;
      &:hover {
        @include yellowBTNhover();
      }
      &:active {
        @include yellowBTNhover();
      }
      &.disabled {
        @include greyedOutBTN();
      }
    }
  }

} // end receipt

// tablet styles
//@media only screen and (min-width: 768px) {
@include breakpoint(tablet) {
  .receipt {
    .left-col, .right-col {
      display:inline-block;
      vertical-align:top;
      width:49%;
    }
    .left-col {
      text-align:left;
    }
    .right-col {
      text-align:right;
    }
  } // end of receipt
}


