//accordion

// Arguements - we have no arguements for the accordion at this time
// The width is controlled via the parent element
// See Style Guide page for example use

@mixin accordion() {
	width: 100%;
	margin: $baseline 0;

	.accordion__title__bar {
		position: relative;
		margin: $baseline 0 0;
		padding-bottom: $baseline * 0.75;
		background-color: $shade85;
	}
	.accordion__title__container {
		@include linebox();
		cursor: pointer;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background: linear-gradient(180deg,$shade70,$shade85);
		border: 1px solid $shade60;
		box-shadow: 0 2px 4px 1px $shade95;

		&.--is-closed {
			.accordion__pointer {
				transform: rotate(180deg);
				filter: drop-shadow(-1px -3px 3px $shade95);
			}
		}

		&:focus { 
			color: $gold5;
			background: linear-gradient(180deg,$shade65,$shade85);
			border: 1px solid;
			border-image-slice: 1;
			border-width: 1px;
			border-image-source: linear-gradient(to bottom, $gold10, $gold40);
		}

		&:disabled, &:disabled:focus {
			cursor: not-allowed;
			background: $shade90;
			border-color: $shade70;
			color: $gold70;
		}	
	}

	.accordion__title {
		padding-right: 1rem;
		font-family: $bodyFont;
		font-size: modScale(1);
		font-weight: 400;
		line-height: $baseline;
		color: $gold10;
		text-align: left;
		text-shadow: $textShadow;
	}

	.accordion__pointer {
		@include icon($pointer: up,$usePointerFill: true);
		filter: drop-shadow(-2px 3px 3px  $shade95);
	}

	.accordion__panel {
		@include removeFirstChildSpacing();
		padding: 0 $baseline* 0.75 $baseline * 0.75;
		background-color: $shade85;

		&:hidden {
			@include isVisible(false);
		}
	}
}

.accordion {
	@include accordion();
}
