// card


// Card Background
// Used to set or update a card's background gradient color
// Arguments:
//   $background 	: optional, default is null / medium, accepts ['light','dark']
//   $hasGradient 	: optional bool, default is true, when false bg is flat color
//   $hasTexture 	: optional bool, default is true, when false bg has no texture overlay

@mixin cardBackground($background: null, $hasGradient: true, $hasTexture: true) {
	// default variables (medium)
	$gradient: linear-gradient($shade70, $shade90);
	$bg-color: $shade80;

	@if $background == light {
		$gradient: linear-gradient($marine70, $marine90);
		$bg-color: $marine80;
	}
	@if $background == dark {
		$gradient: linear-gradient($shade80, $shade95);
		$bg-color: $shade90;
	}

	@if $hasGradient {
		@if $hasTexture {
			@include texture($gradient: $gradient);
		} @else {
			background-image: $gradient;
		}
	} @else {
		@if $hasTexture {
			@include texture($bg-color: $bg-color);
		} @else {
			background-image: none;
			background-color: $bg-color;
		}
	}
}


// Card Padding
// Used to set or update a card's padding/proportions
// Arguments:
//   $size : string, default is standard, accepts ['tight', 'responsive', or a custom size]

// Note: a custom $size value will always be static, but no responsive breakpoints will be defined, so you can define your own static breakpoints without the need for overrides 

@mixin cardPadding($size: responsive) {
	// initiate variables with defaults
	$base-padding: $baseline*0.75;
	$m-bp-padding: $baseline;
	$l-bp-padding: $baseline $baseline*1.25;

	// set variables based on args
	@if $size == tight {
		$base-padding: $baseline*0.5;
	}
	@if ($size != standard and $size != responsive and $size != tight) {
		// if $size is not any of the keywords, we assume it's a custom value
		$base-padding: $size;
	} 

	// apply css
	padding: $base-padding;

	// apply responsive css if applicable
	@if ($size == responsive) {
		@include breakpoint(min-width, $bpMedium) { padding: $m-bp-padding; }

		@include breakpoint(min-width, $bpLarge) { padding: $l-bp-padding; }
	}	
}


// Card Glow
// Used to set or update a glow at the top of the element (light-colored radial gradient)
// Arguments:
//   $hasGlow 		: optional bool, defaults to true, if false no glow is added
//   $glowSize 		: optional, null is default size, accepts 2-part size arg that works with radial-gradient i.e. "10% 2rem"
//   $glowPosition 	: optional, defaults to 0 0, accepts 2-part position arg that works with radial-gradient i.e. "50% 50%"
//   $removeGlow 	: optional bool, defaults to false, if true glow css will be negated. 
//   				  only use when updating a card's glow

@mixin cardGlow($hasGlow: true, $size: null, $position: null, $background: null, $removeGlow: false) {
	$glowSize: 40% $baseline*3;
	$glowPosition: 0 0;
	$glowColor: $shade60;

	@if $size { 
		$glowSize: $size;
	}
	@if $position { 
		$glowPosition: $position; 
	}
	@if $background == light { 
		$glowColor: $marine60; 
	}
	@if $background == dark {
		$glowColor: $shade70;
	}

	@if $hasGlow {

		&::after {
			@include absoluteCover();
			content: "";
			background: radial-gradient(ellipse $glowSize at $glowPosition, rgba($glowColor, 0.9), rgba($glowColor, 0));
			z-index: 0;
		}

		& > * {
			position: relative;
			z-index: 1;
		}
	} @else if $removeGlow {
		&::after {
			background: none;
			position: static;
		}

		& > * {
			position: static;
		}
	}
}


// Card
// arguments:
//   $background 	: optional, default is null / medium, accepts ['light', 'dark']
//   $hasGradient 	: optional bool, default is true, when false bg is flat color
//   $hasTexture 	: optional bool, default is true, when false bg has no texture overlay
//   $padding 		: string, options [standard, custom], defaults to standard. When custom, padding can be overwritten
//   $hasGlow 		: bool, true: adds light blue glow to top of element, false: no glow, defaults to false
//   $glowSize 		: css value: size of radial-gradient ellipse, 1-2 values representing width and height, has default size
//   $glowPosition 	: css value: x y position of radial-gradient ellipse, defaults to top, offcenter

@mixin card($background: medium, $hasGradient: true, $hasTexture: true, $padding: responsive, $hasGlow: false, $glowSize: null, $glowPosition: null ) {
	@include removeFirstChildSpacing();
	@include cardBackground($background: $background, $hasGradient: $hasGradient, $hasTexture: $hasTexture);
	@include cardPadding($padding);
	@include cardGlow($hasGlow: $hasGlow, $size: $glowSize, $position: $glowPosition, $background: $background);
	position: relative;
	margin-bottom: $baseline;
	color: $grey20;
	text-shadow: $textShadow;
	box-shadow: $boxShadow;
}


// Card Title
// Standard header style for cards. This style is typically used for smaller cards (in sidebars or more than one up)

@mixin cardTitle() {
	font-family: $bodyFont;
	font-size: modScale(1);
	color: $gold10;
	margin-bottom: $baseline*0.25;
}

.card { 
	@include card(); 

	&.--light { 
		@include cardBackground(light); 

		&.--flat:not(--solid) { @include cardBackground(light, $hasTexture: false); }

		&.--solid:not(--flat) { @include cardBackground(light, $hasGradient: false); }
		
		&.--flat.--solid { @include cardBackground(light, $hasGradient: false, $hasTexture: false); }

		&.--has-glow { @include cardGlow($background: light); }
	}

	&.--dark { 
		@include cardBackground(dark); 

		&.--flat:not(--solid) { @include cardBackground(dark, $hasTexture: false); }

		&.--solid:not(--flat) { @include cardBackground(dark, $hasGradient: false); }
		
		&.--flat.--solid { @include cardBackground(dark, $hasGradient: false, $hasTexture: false); }

		&.--has-glow { @include cardGlow($background: dark); }
	}

	&.--tight { @include cardPadding(tight); }

	&.--standard { @include cardPadding(standard); }

	&.--flat:not(--solid) { @include cardBackground($hasTexture: false); }

	&.--solid:not(--flat) { @include cardBackground($hasGradient: false); }

	&.--flat.--solid { @include cardBackground($hasTexture: false, $hasGradient: false); }

	&.--has-glow:not(--light):not(--dark) { @include cardGlow(); }
}

.card__title {
	@include cardTitle();
}
