// video thumbnails

@mixin videoThumb() {
	@include aspectRatioBox(16,9);
	display: block;
	background-color: $black;
	margin-bottom: $baseline;
	box-shadow: $boxShadow;

	iframe { 
		position: absolute; 
		width: calc(100% - 1px); //accommodates for aspectRatioBox ::before
	}

	@include breakpoint(min-width, $bpNavBreak) {
		margin-bottom: 0;
	}
}

@mixin videoThumbTitle() {
	@include linebox(small);
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba($black, 0.8);
	font-family: $notoCondensed;
	color: $grey20;
	font-size: modScale(-1);
	font-weight: normal;

	& > * {
		max-height: $lineHeight*2em;
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
	}
}