.item-container {
  text-align: center;
  margin: 0;
  padding: 0;

  .item {
    color: $txtColor;
    width: 255px;
    position: relative;
    display: inline-block;
    margin: 10px 5px 0;
    @include standardBorder();

    a:hover { text-decoration: none; }
    .flipper {
      position: relative;
      z-index: 1;
    }
    .card, .item-content {
      background: #30343b;
      @include background(linear-gradient(darken($midGray, 15%), darken($darkGray, 10%)));
      font: 21px/23px Arial, Helvetica, sans-serif;
      h3.title-bar-dark, h3.title-bar-light {
        margin: 0;
        line-height: 1.2;
        display: table-cell;
        vertical-align: middle;
      }
      .detail-info { display: none; }
    }
    .card {
      cursor: pointer; cursor: hand;
      position: relative;
      margin: 0 auto;
      width: 251px;
      a:hover { text-decoration: none; }
      .title-bar-dark, .title-bar-light {
        height: 100px;
        width: 251px;
        padding: 10px 5px;
      }
    }
    .item-content {
      @include box-shadow(0px 5px 10px rgba(#000, 1));
      display: none;
      position: absolute;
      top: 15px;
      width: 325px;
      border: 2px solid $lightBlue;

      &.left { left: -342px; }
      &.right { right: -342px; }
      .title-bar-dark, .title-bar-light {
        width: 321px;
        padding-left: 100px;
        min-height: 100px;
        h3 {
          margin: 0;
          line-height: 1.2;
          display: table-cell;
          vertical-align: middle;
        }
        .item-thumb {
          @include border-radius(10px);
          position: absolute;
          top: 10px;
          left: 10px;
          border: 1px solid black;
          width: 75px;
          height: 75px;
          margin: 0;

          &:after {
            @include border-radius(10px);
            content: "";
            position: absolute;
            top: -3px;
            left: -3px;
            border: 2px solid $lightGray;
            width:79px;
            height:79px;
          }
        }
      }
      .item-desc {
        border: 1px solid $black;
        border-top: none;
        text-align: left;
        color: $txtColor;
        p {
          padding: 10px;
          font: 16px/18px Arial, Helvetica, sans-serif;
        }
      }
      .item-info { display: none; }
      .checkout { display: none; }
      p { text-align: left; }
    }
    .details { display: none; }
  }
  .front .item-image {
    background-position: 0 -76px;
    border: 1px solid $black;
    border-top: none;
    width: 251px;
    height: 201px;
    position: relative;

    .loot-box, .bundle {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    .item-alert {
      top: auto;
      bottom: -15px;
    }
  }
  .item .back {
    h4.title-bar-dark {
      padding: 10px 10px 10px 5px;
      margin: 0;
      min-height: 95px;
      max-height: 95px;
    }
    .item-image {
      width: 75px;
      height: 75px;
      position: relative;
      border: 1px solid black;
      margin: 0 5px;
      float: left;

      &:after {
        @include border-radius(10px);
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        border: 2px solid $lightGray;
        width:79px;
        height:79px;
      }
    }
  }
  .item-info {
    width: 251px;
    margin: 0 auto;
    background: #30343b;
    @include background(linear-gradient(darken($midGray, 10%), darken($darkGray, 5%)));
    position: relative;
    border: 1px solid $black;
    border-top: 2px solid $lightGray;
    p { margin-bottom: 10px; }
  }
  .prices {
    background: image-url('image-sprite.png') no-repeat -263px -288px;
    margin: 10px 0 0;
    position: relative;
    .emp-icon.medium { margin-bottom: -6px; }
    & > div {
      display: inline-block;
      color: #DDDDDD;
      font: 24px/26px Arial, Helvetica, sans-serif;
      height: 65px;
      padding: 15px 15px 0 0;
      position: relative;
      z-index: 2;

      &.elite {
        z-index: 1;

        &:before, &:after {
          position: absolute;
          z-index: -1;
        }
        // orange bg
        &:before {
          content: "";
          right: -30px;
          top: -5px;
          background: image-url('image-sprite.png') no-repeat -395px -185px;
          width: 180px;
          height: 70px;
        }
        // elite icon
        &:after {
          content: "Elite Price";
          font: italic 14px/18px Arial, Helvetica, sans-serif;
          right: -25px;
          top: 0;
          width: 80px;
          color: $white;
          text-shadow: -1px 0px 4px rgba($lightOranges,0.7),
                       1px 0px 4px rgba($lightOranges,0.7),
                       0px 1px 4px rgba($lightOranges,0.7),
                       -1px 0px 4px rgba($lightOranges,0.7);
          z-index: 2;
        }
      }
    }
  }

  .button-secondary {
    margin: 0;
    padding: 5px;
    width: 230px;
    font: bold 21px/23px Arial, Helvetica, sans-serif;
  }
}

// Special case to shrink item cards for small devices
@media only screen and (max-width: 562px) {
  .item-container {
    .item .card {
      h3.title-bar-dark, h3.title-bar-light { display: block; }
      .item-info {
        .prices {
          background: none;
          &> div {
            height: auto;
            padding: 10px;
            &.elite:before { background: none; }
          }
        }
      }
    }
  }
}

@media #{$small} {
  .item-container {
    .item .card { margin: 10px auto; }
  }
}

@media #{$screen} {
  // popup hover behavior
  .item-container {
    .item {
      &:hover { 
        border: 2px solid $lightBlue;
        z-index: 10;
      }
      &:last-child { float: none; }

      .card:hover {
        & + .item-content {
          background: #30343b;
          @include background(linear-gradient(darken($lightGray, 15%), darken($midGray, 10%)));
          display: block;

          &.right .title-bar-dark, &.right .title-bar-light {
            &:after {
              @include cssTriangle(17px, $lightBlue, right);
              position: absolute;
              left: -36px;
              top: 5%;
            }
          }
          &.left .title-bar-dark, &.left .title-bar-light {
            &:after {
              @include cssTriangle(17px, $lightBlue, left);
              position: absolute;
              right: -36px;
              top: 5%;
            }
          }
        }
      }
    }
  }
}

// Card flip if supported
@supports #{$transform} {
  .item-container {
    // style resets
    .item {
      @include box-shadow(0px 5px 10px rgba(#000, 1));
      &:hover { z-index: 0; }
      .card {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        // remove hover triangle
        &:hover + .item-content {
          &.right, &.left {
            .title-bar-dark, .title-bar-light {
              &:after { display: none; }
            }
          }
        }
      }
      .item-content {
        @include box-shadow(none);
        width: 251px;
        height: 301px;
        top: 0;
        right: auto;
        display: block;
        &.left, &.right {
          left: 0;
          border: none;
        }
        .title-bar-dark, .title-bar-light {
          width: 251px;
          padding: 10px 5px;
          h3 {
            width: 241px;
            height: 76px;
          }
          .item-thumb { display: none; }
        }
        .item-desc {
          background: #30343b;
          @include background(linear-gradient(darken($lightGray, 15%), darken($midGray, 10%)));
          position: relative;
          border: none;
          min-height: 206px;
          height: 206px;
          overflow: hidden;
          .detail-info {
            display: block;
            background: #30343b;
            @include background(linear-gradient(rgba(#1C1E21, 0.0), rgba(#1A1C20, 1.0) 60%, #1a1c20));
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            height: 75px;
            line-height: 120px;
            color: $lightBlue;
          }
          p { margin: 0; }
        }
        .item-info {
          display: block;
          .item-alert { display: none; }
        }
        .checkout {
          margin: 0 auto;
          display: block;
        }
      }
      &> a:hover .detail-info, .flipper:hover .detail-info { text-decoration: underline; }
    }
    // Card animation
    .flip-container {
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -ms-perspective: 1000;
      perspective: 1000;
      -ms-transform: perspective(1000px);
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;

      /* flip the pane when hovered */
      &:hover .flipper, &.hover .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
      /* flip speed goes here */
      .flipper {
        width: 251px;
        height: 301px;
        -webkit-transition: 0.3s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 0.3s;
        transform-style: preserve-3d;
      }
      /* hide back of pane during swap */
      .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 0.3s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 0.3s;
        -moz-transform-style: preserve-3d;
        -o-transition: 0.3s;
        -o-transform-style: preserve-3d;
        -ms-transition: 0.3s;
        -ms-transform-style: preserve-3d;
        transition: 0.3s;
        transform-style: preserve-3d;

        position: absolute;
        top: 0;
        left: 0;
      }
      /* front pane, placed above back */
      .front {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
      }
      /* back, initially hidden pane */
      .back {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        // -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(180deg);
      }
    }
  }
}
