#menu,
#eme-bar-wrapper, 
#tera-item-menu,
.breadcrumb, 
.purchase-tracker,
.footer-wrapper,
#foundation-modal,
#success-modal,
#clear-cache { display: none; }

#page_container {
  width: 900px;
  margin: 10px auto;
}

#header-logo {
  display: block;
  height: 147px;
  width: 270px;
  background: url(//store-cdn2.enmasse-game.com/assets/image-sprite.77322c014e0ec476c64eec593fa65091.png) no-repeat 0px -5px;
}

#purchase-receipt { text-align: center; }
#purchase-receipt > ul { list-style-type: none; }
#purchase-receipt > ul > li {
    margin: 10px auto;
    padding: 10px;
    display: block;
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
}
#purchase-receipt > ul { margin: 0; }
#purchase-receipt h3 { border-bottom: 1px solid black; }