.substance {
  width: $ui-content-width-mobile;
  font-size: $ui-bodyfontsize-mobile;
  line-height: $ui-bodylineheight-mobile;
  margin: auto;
}

/*********************************** MOBILE LANDSCAPE ****************************************************/
@media (min-width: $ui-breakpoint-moblandscape) and (min-aspect-ratio: 33/32) {
  .substance {
    font-size: $ui-bodyfontsize-moblandscape;
    line-height: $ui-bodylineheight-moblandscape;
    width: $ui-content-width-moblandscape;
  }
}

/************************************* TABLET ***************************************************/
@media (min-width: $ui-breakpoint-tablet) {
  .substance {
    font-size: $ui-bodyfontsize-tablet;
    line-height: $ui-bodylineheight-tablet;
    width: $ui-content-width-tablet;
  }
}
/*********************************** DESKTOP ***********************************************************/
@media (min-width: $ui-breakpoint-desk) {
  .substance {
    width: $ui-content-width-desk;
    font-size: $ui-bodyfontsize-desk;
    line-height: $ui-bodylineheight-desk;
  }
}
/*********************************** ULTRA *************************************************************/
@media (min-width: $ui-breakpoint-ultra) {
  .substance {
    width: $ui-content-width-ultra;
    font-size: $ui-bodyfontsize-ultra;
    line-height: $ui-bodylineheight-ultra;
  }
}