
// Paths
$font-path: '../fonts/';
$image-path: '../images/';
$fa-font-path: '~font-awesome/fonts';

/************* New Variables ****************/

$ui-color-parchment: #e3d9b7;
$ui-color-walnut: #251b0e;
$ui-color-scarlet: #8a2727;
$ui-color-royalgold: #a18a3e;
$ui-color-royalgold-hover: #cab163;
$ui-color-darkgold: #665527;
$ui-color-marble: #222526;
$ui-color-textlink: #ad2b2d;
$ui-color-textlink-hover: #d1413f;
$ui-color-darklink: #dbb32d;
$ui-color-darklink-hover: #ffffff;
$ui-color-imageoverlay: rgba(0,0,0,0.8);
$ui-color-texthighlight: rgba(161,138,62,0.2);

$ui-form-control-scale-mobile: 2.482424;
$ui-form-control-scale-moblandscape: 1.68421;
$ui-form-control-scale-tablet: 1.333333;
$ui-form-control-scale-desk: 1;
$ui-form-control-scale-ultra: 1;

$ui-breakpoint-mobile: 0px;
$ui-breakpoint-tablet: 768px;
$ui-breakpoint-moblandscape: 768px; /*requires aspect ratio above 1:1*/
$ui-breakpoint-desk: 1280px;
$ui-breakpoint-ultra: 1921px;


$ui-content-width-mobile: 100%;
$ui-content-width-moblandscape: 86%;
$ui-content-width-tablet: 92%;
$ui-content-width-desk: 83.333333%;
$ui-content-width-ultra: 83.333333%;


  /*                                     		    Xpx @design size*/
$ui-bodyfontsize-mobile: 3.4375vw;          /*11px @320*/
$ui-bodyfontsize-moblandscape: 2.339901vw;  /*19px @812*/
$ui-bodyfontsize-tablet: 2.34375vw;        /*18px @768*/
$ui-bodyfontsize-desk: 1.145833vw;            /*22px @1920*/
$ui-bodyfontsize-ultra: 1.171875vw;          /*45px @3840*/

$ui-bodylineheight-mobile: 1.454545em;        /*16px @320*/
$ui-bodylineheight-moblandscape: 1.478125em;  /*29px @812*/
$ui-bodylineheight-tablet: 1.46875em;         /*27px @768*/
$ui-bodylineheight-desk: 1.545454em;          /*34px @1920*/
$ui-bodylineheight-ultra: 1.733333em;         /*78px @3840*/


$ui-opac-container-1: rgba(161,138,62,0.2);

$gutter: 1.25rem;

$cap-spacing: 0.05em;

$baseline: 1.5rem;

$header-height: 50px;
$header-icon-size: 36px; // same as logo height

$menu-width: 18rem;

$icon-sprite: $image-path + 'ui/icon-set.png';
$icon-sprite-columns: 22;
$icon-sprite-rows: 4;

$z-index: (
  "modal": 700,
  "modal-overlay": 600,
  "header": 500,
  "nav": 400,
  "nav-overlay": 300,
  "base": 200,
  "background" : 100
);

$teasers-padding: 0.454545em;
$teasers-padding-tablet: 1.666666em;
$teasers-padding-desk: 2.909090em;

/*********** End New Variables **************/





/*
1. Colors
2. Fonts
3. Font-sizes
4. Paths
5. More Foundation Overrides
*/

// Colors
// Brand
$brand-primary: #762123; // The red variation
$brand-secondary: #f0a429; // The yellow variation
$brand-alt: #372a22; // The brown variation
$brand-alt-2: #e5d194;
// Variations
$green: #669f40;
$orange: #c08840;
$bright-orange: #ef9c16;
$dark-orange: #c74203;
$brown: #734716;
$light-brown: #8d6839;
$dark-brown: #442504;
$xdark-brown: #221b16;
$dark-yellow: #b98b14;
$yellow: #cca655;
$red-error: #d96f60;
$red-error-dark: #a41b16;
// Neutral
$grey: #979797;
$neutral-tan: #f8f5e8;
$neutral-grey: #2d2a23;
$neutral-overlay: #6b2b0f;
$neutral-brown: #614b27;
$neutral-sand: #b45f21;
$neutral-yellow: #c1b387;
$neutral-hr: #ded1b4;

// Black/white
$black: #000;
$dark: #3f3625;
$darkish: #402c0d;

$light: #fefefe;
$light-alt: #f1e9d0;
$white: #fff;

//typography colors
$text: $black;
$text-alt: #524f46;
// links
$anchor-color: #cc3939;
$anchor-color-hover: #e45f4b;

// Fonts
$body-font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$serif-font-family: 'trajan-pro-3', serif;

// Font-sizes
$header-styles: (
  small: (
    'h1': ('fs': 24, 'lh': 26),
    '.h1': ('fs': 24, 'lh': 26),
    'h2': ('fs': 20, 'lh': 22),
    '.h2': ('fs': 20, 'lh': 22),
    'h3': ('fs': 19, 'lh': 21),
    '.h3': ('fs': 19, 'lh': 21),
    'h4': ('fs': 18, 'lh': 22),
    '.h4': ('fs': 18, 'lh': 22),
  ),
  medium: (
    'h1': ('fs': 48, 'lh': 50),
    '.h1': ('fs': 48, 'lh': 50),
    'h2': ('fs': 40, 'lh': 42, 'mb': 35),
    '.h2': ('fs': 40, 'lh': 42, 'mb': 35),
    'h3': ('fs': 30, 'lh': 32),
    '.h3': ('fs': 30, 'lh': 32),
    'h4': ('fs': 20, 'lh': 24, 'font-weight': 700),
    '.h4': ('fs': 20, 'lh': 24, 'font-weight': 700),
  ),
);
// shorthand font-size variables
$h1: 48px;
$h2: 40px;
$h3: 30px;
$h4: 20px;
$p: 16px;
$small: 13px;
$label-font-size: .8rem;

// Paths
$font-path: '../fonts/';
$image-path: '../images/';
$fa-font-path: '~font-awesome/fonts';

$logos: (
  age1: url("#{$image-path}hero-logo-age1.png"),
  age2: url("#{$image-path}hero-logo-age2.png"),
  age3: url("#{$image-path}hero-logo-age3.png"),
  age4: url("#{$image-path}hero-logo-age4.png"),
  myth: url("#{$image-path}hero-logo-myth.png")
);

// Foundation overrides
$foundation-palette: (
  primary: $brand-primary,
  secondary: $brand-secondary,
  success: $green,
  warning: $yellow,
  alert: $red-error,
);
$grid-column-gutter: (
  small: 20px,
  medium: 20px,
  large: 30px,
);

//$global-width: rem-calc(1228);

$breakpoints: (
  small: 0,
  medium: 720px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
  ultra: 1920px,
);

$base-font-family: $body-font-family;

$offcanvas-size: 300px;
$dropdownmenu-arrows: false;
$dropdownmenu-border: 0px;
$menu-item-padding: 0.6rem 1rem;
$accordionmenu-arrow-size: 8px;
$accordionmenu-arrow-color: $brand-primary;

$reveal-width: 700px;

$button-padding: 0.5rem 0.8rem;
$button-background-hover: $dark-yellow;

// Foundation form overrides
$input-background: $neutral-tan;
$input-color: $brand-alt;
$input-placeholder-color: $grey;
$input-font-family: $body-font-family;
$input-font-size: 1.125rem;
$input-font-weight: 500;
$input-border: 2px solid $neutral-brown;
$input-border-focus: 2px solid $dark;
$select-background: $neutral-tan;
$select-triangle-color: $brand-primary;
$form-label-color: $black;
$form-label-font-size: 1.25rem;
$helptext-color: $dark;
$helptext-font-size: 1rem;
$helptext-font-style: normal;
$button-margin: 0;
$button-padding: 0.25em 0.55em;
$button-radius: 3px;
$progress-background: transparent;
$progress-height: 20px;
$progress-margin-bottom: 0;

// Foundation pagination overrides
$pagination-font-size: 1rem;
$pagination-item-color: $light-alt;
$pagination-item-padding: 0;
$pagination-item-spacing: 10px;
$pagination-radius: 50%;
$pagination-item-background-hover: $light-alt;
$pagination-item-background-current: $light-alt;
$pagination-item-color-current: $brand-primary;
$pagination-ellipsis-color: $light-alt;
$pagination-mobile-items: true;
$pagination-mobile-current-item: true;
$pagination-arrows: false;

// Foundation misc overrides
$stat-font-size: 1.75rem;
$thumbnail-border: 2px solid $dark-brown;
$thumbnail-shadow: none;
