$blue: #1481c5;
$lightblue: #b5c9e3;
$hoverblue: #26acff;
$white: #ffffff;
$black: #000000;
$grey: #868686;
$lightgrey: #e6e6e6;
$versiongrey: #989898;
$bluegrey: #465262;
$red: #ff0000;
$darkorange: #e06a13;
$lightorange: #f4b383;
$failred: #DE1111;