/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.exobold {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600; }

/* popup screens */
.ng-modal {
  /* A centered div above the overlay with a box shadow. */
  z-index: 999999;
  position: absolute;
  width: 50%;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto; }
  .ng-modal.nopop {
    top: 0; }
    .ng-modal.nopop.signinPop {
      width: 420px; }
  .ng-modal.alert .pop-content {
    padding: 20px 25px; }
  .ng-modal.alert .pop-footer {
    display: none; }

.ng-modal-dialog {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
  background: url(../img/popup-bg.jpg) top center repeat; }

.ng-modal-dialog-content {
  text-align: left; }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

#sheerShown {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  display: block;
  top: 0; }
  #sheerShown .ng-modal-dialog {
    display: none; }

.pop-header {
  background: url(../img/eme-bar-texture.png) top center repeat #000000;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0 10px; }

.pop-content {
  box-sizing: border-box;
  padding: 40px 25px 20px; }
  .pop-content.innerSteps {
    padding: 40px 30px 20px 50px; }
  .pop-content.narrowlayout {
    padding: 40px 50px 20px; }
  .pop-content.didntpass {
    padding: 20px 25px; }
  .pop-content h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px; }
  .pop-content .inner-pop {
    box-sizing: border-box;
    padding: 0 5px; }
    .pop-content .inner-pop p, .pop-content .inner-pop div, .pop-content .inner-pop ul {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      font-size: 14px;
      line-height: 18px;
      margin: 0 auto 10px;
      text-align: left; }
      .pop-content .inner-pop p.closer, .pop-content .inner-pop div.closer, .pop-content .inner-pop ul.closer {
        text-align: center;
        font-size: 14px; }
    .pop-content .inner-pop .fbBTN {
      text-align: center; }
    .pop-content .inner-pop .leftSleeve {
      display: inline-block;
      vertical-align: top;
      width: 49%; }
    .pop-content .inner-pop .rightSleeve {
      display: inline-block;
      vertical-align: top;
      width: 49%; }

.signupPop .pop-content .inner-pop .fbBTN, .signupPop .pop-content .inner-pop .or.signup {
  vertical-align: middle;
  display: inline-block; }
.signupPop .pop-content .inner-pop .leftSleeve {
  padding-top: 50px; }
.signupPop .pop-content .inner-pop .or.signup {
  margin: 0 auto 15px 20px; }
.signupPop .error {
  color: #DE1111; }
.signupPop .fail {
  /* position: absolute;
   top: 77px;
   left: 352px;
   h2 {
     margin: 0 0 5px 0;
   }*/ }
  .signupPop .fail .error {
    width: 350px;
    text-align: left;
    display: block; }

.signinPop .registration_errors h2 {
  margin-bottom: 10px;
  margin-left: -35px; }
.signinPop .registration_errors p {
  text-align: center; }

.pop-footer {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 25px; }
  .pop-footer a {
    font-size: 14px;
    font-weight: bold;
    color: #1481c5; }
  .pop-footer p a {
    font-weight: normal; }

/* login and other forms */
form label {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 16px;
  display: block;
  margin-bottom: 5px; }
form input[type="text"], form input[type="password"] {
  border: 1px solid #000000;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  font-size: 14px;
  margin-bottom: 10px; }

.pop-content .inner-pop input[type="checkbox"] + label p {
  font-size: 12px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin: 13px auto 0; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 27px;
  height: 26px;
  margin: 3px 0 0 0px;
  vertical-align: top;
  position: relative;
  left: 5px;
  background: url(../img/checkbox.png) left top no-repeat;
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url(../img/checkbox.png) -27px top no-repeat; }

#repeatSelect {
  width: 98%;
  height: 40px;
  margin-bottom: 20px; }

.steps {
  display: inline-block;
  vertical-align: middle;
  background: #6d6d6d;
  color: #ffffff;
  border-radius: 18px;
  width: 33px;
  height: 32px;
  margin: 0 7px 0 -40px;
  text-align: center;
  font-size: 16px;
  line-height: 35px; }

/* facebook */
.or {
  display: inline-block;
  vertical-align: top;
  background: #6d6d6d;
  color: #ffffff;
  border-radius: 10px;
  width: 23px;
  height: 23px;
  margin: 10px auto 10px 167px;
  text-align: center;
  font-size: 14px;
  line-height: 21px; }
  .or.signup {
    margin: 100px auto 15px 20px; }

.login-facebook-btn {
  display: inline-block;
  vertical-align: middle;
  width: 288px;
  height: 57px;
  background-image: url(../img/log_in_with_fb.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  text-indent: -9999em; }
  .login-facebook-btn:hover {
    background-position: 0 -57px; }
  .login-facebook-btn:active {
    background-position: 0 -57px; }

.signup-facebook-btn {
  display: inline-block;
  vertical-align: middle;
  width: 288px;
  height: 57px;
  background-image: url(../img/sign_up_with_fb.png);
  background-repeat: no-repeat;
  margin: 85px auto 0; }
  .signup-facebook-btn:hover {
    background-position: 0 -57px; }
  .signup-facebook-btn:active {
    background-position: 0 -57px; }

.facebook-picture {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  border: none;
  padding: 0; }

/* custom scrollbar */
.customscroll {
  /* Track */
  /* Handle */ }
  .customscroll.inner-pop {
    overflow-y: scroll;
    background: #dcdcdc;
    max-height: 359px; }
  .customscroll.inner-pop::-webkit-scrollbar {
    width: 12px; }
  .customscroll.inner-pop::-webkit-scrollbar-track {
    background: url(../img/trackback.png) top center repeat-y;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .customscroll.inner-pop::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #1481c5; }
  .customscroll.inner-pop::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4); }

/* steam patching popup */
.patch-game-options span {
  display: inline-block;
  vertical-align: middle; }
.patch-game-options button {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  padding-top: 0;
  text-align: center;
  border-radius: 3px;
  border: none;
  background: #ffffff;
  color: #1481c5;
  width: 139px;
  height: 32px; }
  .patch-game-options button:hover {
    background: #26acff;
    color: #ffffff; }
  .patch-game-options button.patch-pause {
    width: 106px;
    display: inline-block;
    vertical-align: middle; }
    .patch-game-options button.patch-pause:hover {
      background: #26acff;
      color: #ffffff; }

.launcher_slider {
  width: 411px;
  height: 271px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative; }
  .launcher_slider .buttons {
    position: absolute;
    top: 100%;
    width: 411px;
    height: 40px;
    z-index: 8; }
    .launcher_slider .buttons.prev {
      float: left; }
    .launcher_slider .buttons.next {
      float: right; }
  .launcher_slider .pagers {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    width: auto;
    z-index: 8;
    background-repeat: no-repeat;
    background-position: 311px -2917px;
    height: 131px;
    display: none; }
    .launcher_slider .pagers .carouselpager {
      display: inline-block;
      position: relative;
      top: 50px; }

.eme_slide {
  position: absolute;
  width: 411px;
  height: 231px;
  left: -9999em;
  z-index: 6;
  display: none; }
  .eme_slide.active {
    display: block;
    left: 0;
    top: 0; }

body {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600; }

.launcher {
  width: 1100px;
  height: 700px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #1481c5; }
  a:hover {
    color: #000000;
    cursor: pointer; }

.alert {
  color: #ff0000; }

.fail h2:before, .success h2:before {
  content: "";
  width: 32px;
  height: 34px;
  display: inline-block;
  vertical-align: top;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: 0 -66px;
  margin-top: -5px;
  margin-right: 10px;
  margin-left: 35px; }
.fail .inner-pop, .success .inner-pop {
  margin-left: 70px; }

.success h2:before {
  background-position: 0 -31px; }

.registration_errors p {
  color: #DE1111; }

b {
  font-weight: bold; }

i, em {
  font-style: italic; }

.inline-block {
  display: inline-block; }

.nomargin {
  margin: 0 !important; }

/* allow window to move */
#dragMe {
  position: absolute;
  left: 210px;
  width: 570px;
  height: 44px;
  top: 0; }

.nopop #dragMe {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 44px;
  top: 0; }

.wrapper {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0; }

/* account bar area */
.account-wrapper {
  background: url(../img/eme-bar-texture.png) top center repeat #000000;
  height: 45px;
  box-sizing: border-box;
  padding-top: 9px; }
  .account-wrapper .close-launcher {
    display: inline-block;
    vertical-align: top;
    margin-right: 11px;
    margin-left: 15px; }
    .account-wrapper .close-launcher span {
      display: inline-block;
      width: 25px;
      height: 26px; }
      .account-wrapper .close-launcher span a {
        font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
        border-radius: 3px;
        background: #1481c5;
        color: #ffffff;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 6px 0 0 0; }
        .account-wrapper .close-launcher span a:hover {
          background: #26acff; }

.nopop .close-launcher {
  display: inline-block;
  vertical-align: top;
  margin-right: 11px;
  margin-left: 15px;
  position: absolute;
  top: 8px;
  right: 0; }
  .nopop .close-launcher span {
    display: inline-block;
    width: 25px;
    height: 26px; }
    .nopop .close-launcher span a {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      border-radius: 3px;
      background: #1481c5;
      color: #ffffff;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      box-sizing: border-box;
      padding: 6px 0 0 0; }
      .nopop .close-launcher span a:hover {
        background: #26acff; }

/* ngdialog overwrite */
.ng-modal {
  width: 100%;
  height: auto; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 95%;
  max-width: 400px; }

#ngdialog1 {
  padding: 0;
  margin: 30px auto 0; }

.ngdialog-open .ng-modal-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #ffffff; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #ffffff; }

.eme-alert {
  color: #ff0000; }
  .eme-alert:before {
    content: "";
    background: url(../img/icons.png) top center no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 33px;
    width: 33px; }
  .eme-alert p, .eme-alert div {
    display: inline-block;
    vertical-align: middle; }
  .eme-alert a {
    color: #ff0000; }
    .eme-alert a:hover {
      color: #ffffff; }

.showSheer {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 705px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

#acct-settings {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #ffffff;
  background-color: #1481c5;
  width: 210px;
  height: 45px;
  margin-top: -9px;
  position: relative;
  z-index: 99999; }
  #acct-settings .eme-logo {
    text-indent: -9999em;
    display: inline-block;
    vertical-align: top;
    background: url(../img/eme-logo.png) top center no-repeat;
    width: 26px;
    height: 27px;
    margin-right: 5px;
    margin-top: -6px; }
  #acct-settings .toplevel, #acct-settings a {
    padding: 18px 0 0 12px;
    box-sizing: border-box;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: top; }
    #acct-settings .toplevel:hover, #acct-settings a:hover {
      background: #26acff; }
    #acct-settings .toplevel .arrow-down, #acct-settings .toplevel .arrow-up, #acct-settings a .arrow-down, #acct-settings a .arrow-up {
      float: right;
      margin-top: 6px;
      margin-right: 18px; }
  #acct-settings li {
    height: 100%; }
    #acct-settings li ul {
      position: relative;
      left: -9999em;
      background: #3b3b3b;
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25); }
      #acct-settings li ul li {
        border: none;
        border-radius: 0;
        height: 33px; }
        #acct-settings li ul li:hover a {
          background: #ffffff;
          color: #000000; }
        #acct-settings li ul li a {
          padding: 8px 0 8px 45px;
          line-height: 1; }
    #acct-settings li:hover ul {
      left: 0; }

#user-message {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px; }

#user-greet {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #ffffff;
  font-size: 14px; }
  #user-greet p {
    margin-top: 8px; }

#user-emp {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  float: right; }
  #user-emp .btn {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 26px;
    margin: 0 auto;
    text-align: center;
    margin-right: 15px; }
    #user-emp .btn a {
      width: 100%;
      height: 100%;
      color: #ffffff;
      background: #1481c5;
      border-radius: 3px;
      display: block; }
      #user-emp .btn a:hover {
        background: #26acff; }
      #user-emp .btn a span {
        display: block;
        padding-top: 5px;
        color: #ffffff;
        font-size: 17px; }
  #user-emp .user_emp {
    display: inline-block;
    vertical-align: middle;
    background: #b5c9e3;
    border-radius: 3px;
    width: 150px;
    height: 22px; }
    #user-emp .user_emp span {
      display: inline-block;
      vertical-align: middle;
      margin: 1px 0 0 0; }
      #user-emp .user_emp span:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        background: url(../img/emp-logo.png) center left no-repeat;
        width: 26px;
        height: 25px;
        position: relative;
        top: -3px;
        left: -7px; }

/* game bar area */
.game-bar-wrapper {
  background: url(../img/game-bar-texture.jpg) top center repeat-x;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 0;
  position: relative;
  z-index: 99;
  height: 127px; }
  .game-bar-wrapper .game-wrapper {
    display: inline;
    float: left;
    vertical-align: top;
    width: 16.667%;
    height: 127px;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px 0 0 0; }
    .game-bar-wrapper .game-wrapper input {
      position: absolute;
      z-index: -1; }
    .game-bar-wrapper .game-wrapper .thumb {
      width: 144px;
      height: 83px;
      border-radius: 3px;
      background-position: top center;
      background-repeat: no-repeat;
      display: block;
      margin: 0 19px; }
    .game-bar-wrapper .game-wrapper.haveGame .thumb {
      background-position: 0 -83px; }
    .game-bar-wrapper .game-wrapper.active, .game-bar-wrapper .game-wrapper:hover {
      background-color: #465262; }
      .game-bar-wrapper .game-wrapper.active .thumb, .game-bar-wrapper .game-wrapper:hover .thumb {
        background-position: 0 -83px; }
      .game-bar-wrapper .game-wrapper.active .title, .game-bar-wrapper .game-wrapper:hover .title {
        color: #ffffff; }
    .game-bar-wrapper .game-wrapper .title {
      font-family: 'Exo 2', sans-serif;
      font-weight: 400;
      display: block;
      text-transform: uppercase;
      color: #868686;
      margin: 5px auto 0; }
    .game-bar-wrapper .game-wrapper .game-info {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      position: relative;
      width: 146px;
      height: 20px;
      margin: -17px auto -3px;
      padding-left: 1px;
      padding-right: 1px;
      color: #ffffff;
      font-size: 14px;
      box-sizing: border-box; }
      .game-bar-wrapper .game-wrapper .game-info .nav-patching-label {
        position: absolute;
        top: 2px;
        left: 0;
        right: 0; }
      .game-bar-wrapper .game-wrapper .game-info progress {
        height: 17px; }
      .game-bar-wrapper .game-wrapper .game-info progress[value] {
        height: 17px; }
    .game-bar-wrapper .game-wrapper .add-game {
      background: #1481c5;
      width: 29px;
      height: 29px;
      display: block;
      position: absolute;
      margin-left: 140px;
      margin-top: -10px;
      border-radius: 3px; }
      .game-bar-wrapper .game-wrapper .add-game .plus-me {
        font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
        color: #ffffff;
        font-weight: bold;
        font-size: 33px;
        line-height: 31px; }
      .game-bar-wrapper .game-wrapper .add-game:hover {
        background: #b5c9e3; }

.game-window-lower {
  margin-top: 10px;
  font-size: 0; }

/* specific game screens */
.game-options, .code-box, .game-accounts {
  display: inline-block;
  vertical-align: top; }

.manage-bar {
  position: relative;
  z-index: 9999; }

nav.select-like ul {
  background: #ffffff; }
  nav.select-like ul li {
    border: 2px solid #bfbfbf;
    border-radius: 3px;
    height: 30px; }
    nav.select-like ul li .arrow-wrapper {
      display: inline-block;
      background: #1481c5;
      width: 32px;
      height: 30px;
      position: relative;
      top: -7px;
      right: -7px; }
      nav.select-like ul li .arrow-wrapper .arrow-down {
        position: relative;
        top: 21px;
        left: 10px; }
    nav.select-like ul li a, nav.select-like ul li .toplevel {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
      font-size: 14px;
      box-sizing: border-box;
      padding: 7px 5px 0;
      color: #000000;
      display: block;
      height: 100%; }
    nav.select-like ul li ul {
      position: relative;
      left: -9999em;
      background: #e5e5e5;
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25); }
      nav.select-like ul li ul li {
        border: none;
        border-radius: 0; }
        nav.select-like ul li ul li:hover a {
          background: #1481c5;
          color: #ffffff; }
    nav.select-like ul li:hover ul {
      left: 0; }
    nav.select-like ul li:hover ul li ul {
      left: -9999em; }
nav.select-like ul li ul li ul {
  position: relative;
  left: 133px;
  top: -30px;
  background: #e5e5e5;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  color: #000000;
  padding: 5px; }
nav.select-like ul li ul li:hover ul {
  left: 133px; }

.redeem-code, .question {
  display: inline-block;
  vertical-align: middle; }

.redeem-code {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  padding-top: 8px;
  text-align: center;
  border-radius: 3px;
  background: #1481c5;
  color: #ffffff;
  width: 139px;
  height: 32px; }
  .redeem-code:hover {
    background: #26acff;
    color: #ffffff; }

.code-box ul {
  display: inline-block;
  vertical-align: middle; }

.code-box ul ul {
  position: absolute;
  left: -9999em; }

.code-box ul li {
  cursor: pointer; }

.code-box ul li:hover ul {
  left: auto;
  margin: -25px 0 0 25px;
  width: 250px; }

.code-box ul li li {
  cursor: default; }

.question {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: #1481c5;
  font-size: 15px; }

.answer {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  z-index: 9999;
  background: #465262;
  color: #ffffff;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px; }

.game-window-wrapper {
  background: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 410px;
  padding: 20px 32px; }
  .game-window-wrapper h1 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 39px;
    margin-bottom: 10px; }

.left, .center, .right {
  display: inline-block;
  vertical-align: top; }

.center {
  margin: 0 20px; }

/* the emeCarousel styles */
.left {
  width: 411px;
  font-size: 14px; }

.galleryWrapper {
  width: 411px;
  height: 271px;
  position: relative;
  overflow: hidden;
  background: #454545;
  display: block; }

.emeslides {
  margin: 0;
  padding: 0; }
  .emeslides a {
    color: #000000; }

.emeslides img {
  display: block; }

.emeslides li {
  font-size: 36px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  position: absolute;
  /*top: 420px;*/
  top: 0; }

.emeslides li.active {
  top: 0px; }

.buttons {
  text-align: center;
  z-index: 10;
  position: absolute;
  margin-top: -40px;
  width: 411px; }

.buttons button {
  display: inline-block;
  vertical-align: middle;
  background: #1481c5;
  color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
  outline: 0; }
  .buttons button.prev {
    float: left; }
  .buttons button.next {
    float: right; }

.arrow {
  font-size: 55px;
  position: relative;
  top: -18px; }

.offscreen {
  position: absolute;
  left: -2000px; }

.pagers li {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2px; }

.pagers li a {
  text-indent: -9999em;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #dddddd; }

.slide-tagline {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  height: 40px;
  width: 331px;
  margin-left: 40px;
  box-sizing: border-box;
  padding: 12px 0 0 17px;
  font-size: 15px;
  color: #000000;
  background: #e6e6e6;
  text-align: left; }
  .slide-tagline a {
    color: #000000; }

/* the gumball */
.gumballs a {
  color: #000000; }

.center {
  width: 242px; }
  .center img {
    display: block;
    width: 100%;
    height: auto; }
  .center .gumball-copy {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 21px;
    width: 233px;
    box-sizing: border-box;
    padding-top: 12px;
    padding-left: 3px; }

/* promo or maintenance */
.right {
  width: 325px;
  height: 268px; }

.maintenance {
  width: 100%;
  height: 100%;
  background: #f4b383;
  font-size: 14px;
  line-height: 16px;
  z-index: 99;
  position: relative; }
  .maintenance .header {
    background: #e06a13;
    box-sizing: border-box;
    padding: 15px 25px;
    height: 55px; }
    .maintenance .header h4 {
      color: #ffffff;
      font-size: 17px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle; }
      .maintenance .header h4:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        background: url(../img/icons.png) 0 -101px no-repeat;
        height: 40px;
        width: 32px;
        margin-left: -10px; }
  .maintenance .content {
    box-sizing: border-box;
    padding: 15px 25px; }

#progress-bar, #play {
  display: inline-block;
  vertical-align: top; }

/* progress bar */
.progress-wrapper {
  background: url(../img/progress-wrapper-bg.jpg) top center no-repeat;
  height: 118px;
  box-sizing: border-box;
  padding: 15px 33px; }
  .progress-wrapper h5 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top; }
  .progress-wrapper .update_and_patch {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    margin-top: -4px;
    margin-left: 20px; }
  .progress-wrapper #progress-outer {
    background: #465262;
    width: 780px;
    height: 30px;
    border-radius: 2px;
    overflow: hidden; }
  .progress-wrapper #progress-inner {
    border-radius: 2px;
    height: 50px; }

progress {
  height: 50px;
  border-radius: 2px; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  border-radius: 2px;
  width: 100%;
  height: 50px; }

progress[value]::-webkit-progress-value {
  background: -webkit-linear-gradient(left, #1481c5 0%, #26acff 100%); }

button.btn {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 35px;
  line-height: 78px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 212px;
  height: 81px;
  overflow: hidden;
  display: block;
  border-radius: 2px;
  border: none;
  background-image: url(../img/btn_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -81px;
  text-align: center;
  background-color: transparent; }
  button.btn:hover {
    background-position: 0 -162px;
    cursor: pointer;
    height: 81px; }
  button.btn.disabled {
    background-position: 0 0; }

.btn {
  width: 212px;
  height: 81px;
  overflow: hidden;
  display: block;
  border-radius: 2px;
  border: none;
  background-color: transparent; }
  .btn.play {
    background-image: url(../img/btn_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
  .btn.submit a {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 35px;
    line-height: 78px;
    text-transform: uppercase; }
  .btn input[type="submit"] {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 35px;
    text-transform: uppercase; }
  .btn .beABTN {
    width: 100%;
    height: 81px;
    display: block;
    background-image: url(../img/btn_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -81px;
    text-align: center;
    border: none;
    background-color: transparent; }
  .btn a, .btn input[type="submit"] {
    width: 100%;
    height: 81px;
    display: block;
    background-image: url(../img/btn_sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -81px;
    text-align: center;
    border: none;
    background-color: transparent; }
    .btn a:hover, .btn input[type="submit"]:hover {
      background-position: 0 -162px;
      cursor: pointer;
      height: 81px; }
    .btn a.disabled, .btn input[type="submit"].disabled {
      background-position: 0 0; }
  .btn span {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 35px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-top: 20px;
    display: block; }
  .btn.centerspace {
    margin: 20px auto; }

#play {
  margin-left: 20px; }
  #play .btn {
    position: absolute; }

#versionInfo {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 14px;
  color: #989898;
  display: block;
  clear: both;
  margin: 0.5em 0; }

.instructional_link {
  display: block; }

/* layout for no interface patching */
#updateNoInterface {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
  background: url(../img/popup-bg.jpg) top center repeat;
  width: 98%; }
  #updateNoInterface h2 {
    font-size: 18px;
    box-sizing: border-box;
    padding: 1em 0.5em; }
  #updateNoInterface p {
    margin: 0 auto 0.5em; }
  #updateNoInterface #myBar {
    background: -webkit-linear-gradient(left, #1481c5 0%, #26acff 100%);
    display: block;
    height: 30px;
    max-width: 450px;
    position: absolute; }
  #updateNoInterface .progress-wrapper {
    height: 60px;
    padding: 15px 0; }
  #updateNoInterface #myProgress {
    display: block; }
  #updateNoInterface #progress-outer {
    width: 450px;
    display: block;
    height: 30px; }

/* beta */
.progress-wrapper.beta {
  text-align: right; }

.betabtn {
  width: 212px;
  height: 55px;
  overflow: hidden;
  border-radius: 2px;
  border: none;
  background: #1481c5;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  position: absolute;
  right: 30px; }
  .betabtn:hover {
    background: #26acff; }
  .betabtn.disable {
    background: #868686; }
    .betabtn.disable:hover {
      background: #868686; }

/*# sourceMappingURL=styles.css.map */
