// borders

// arguments:
//   $modifier is the type of border to apply
//             accepts 'gradient','drawn-bars','drawn-bar-bottom','drawn-bar-top'
//   $z is the z-index to use (use one of the $z- variables in _variables.scss)
//   $mask - optional- if true, masks horizontal sides
//   $position - optional - allows you to specifiy absolute or fixed position
@mixin border($modifier: 'gradient', $z: $zBase, $mask: null, $position: relative) {    

    @if(str-index($modifier,'drawn-bar')) {
        position: $position;
        z-index: $z;

        &::after {
            content: "";
            position: absolute;
            top: -2px;
            left: 0;
            height: calc(100% + 4px);
            width: 100%;
            z-index: -1;

            @if ($mask) {
                mask-image: linear-gradient(90deg, transparent, #000 20%, #000 80%, transparent);
            }
            
            @if($modifier == drawn-bar-bottom) {
                background-image: url($imagePath + "ui/gold-line-drawn.svg"),
                                  linear-gradient(0deg, rgba($black, 0.6), rgba($black, 0) 6px);
                background-size: 100% 3px, 100% 100%;
                background-repeat: no-repeat;
                background-position: 0 100%;
            } 
            @if ($modifier == drawn-bar-top) {
                background-image: url($imagePath + "ui/gold-line-drawn.svg"),
                                  linear-gradient(180deg, rgba($black, 0.6), rgba($black, 0) 6px);
                background-size: 100% 3px, 100%;
                background-repeat: no-repeat;
                background-position: 0 0;
            } 
            @if ($modifier == drawn-bars) {
                background-image: url($imagePath + "ui/gold-line-drawn.svg"),
                                url($imagePath + "ui/gold-line-drawn.svg"),
                                linear-gradient(rgba($black, 0.6), rgba($black, 0) 6px calc(100% - 6px), rgba($black, 0.6));
                background-size: 100% 3px, 100% 3px, 100% 100%;
                background-position: 0 0, 0 100%, 0 0;
                background-repeat: no-repeat, no-repeat, no-repeat;
            }
            @if ($modifier == drawn-bar-vbars) {
                top: -22px;
                z-index: 1;
                height: 43px;
                background-image: url($imagePath + "ui/divider-section-mobile.svg");
                background-size: 100% 43px, 100% 43px;
                background-position: 0 0;
                background-repeat: no-repeat;

                @include breakpoint(min-width, $bpMedium) {
                    background-image: url($imagePath + "ui/divider-section-desk.svg");
                }
            }
        }
    }

    
    @if ($modifier == gradient) {
        border: 2px solid;
        border-image-slice: 2;
        border-width: 2px;
        border-image-source: linear-gradient(88deg, $gold70, $gold30, $gold20, $gold30, $gold70);
    }
}
