// icons

//Gradient colors on SVG - Linear Gradients
.linear-gradient-one {
	stop-color: $gold40;
	stop-opacity: 1;
}
.linear-gradient-two {
	stop-color: $gold50;
	stop-opacity: 1;
}
.linear-gradient-three {
	stop-color: $gold60;
	stop-opacity: 1;
}
.linear-gradient-four {
	stop-color: $gold25;
	stop-opacity: 1;
}



// Icon Background 
// Used when we must use icons as background-images, when they 
// can't be included inline.
// Because these are bg images, we can't use fill, and therefore 
// can't use our svg-defined gradients. Instead, we use the gradients
// defined in assets/styles/setup/_variables
//
// arguments:
//   $icon 			: the name of the icon file (sans extension)
// 	 $color 		: optional, fill color or gradient
//   $hoverColor 	: optional, fill color or gradient on hover
//	 $state 		: optional, accepts 'hover' or 'focus', triggering which color to use

@mixin iconBackground($icon, $color: $iconGradient, $hoverColor: $iconGradientHover, $state: null) {
	background: $color;
	mask-image: url($iconPath + $icon + '.svg');

	@if $state == hover or $state == focus {
		background: $hoverColor;
	}
}


// Icon Fill
// Used to set or update an icon's fill color or gradient
// Note: remember, this is a function, not a mixin!
//
// arguments:
//   $state  : optional, default is null / static icon gradient, accepts ['hover']
//   $pointer: optional, default is null, accepts ['up','down','left','right']

@function standardIconFill($state: null, $pointer: null) {
	
	@if $pointer {

		@if $pointer == down {
			@if $state == hover {
				@return url(#pointerHoverDown);
			} @else {
				@return url(#pointerDown);
			}
		}
		@if $pointer == up { 
			@if $state == hover {
				@return url(#pointerHoverUp);
			} @else {
				@return url(#pointerUp);
			}
		}
		@if ($pointer == right or $pointer == left) { 

			@if $state == hover {
				@return url(#pointerLeftRight);
			} @else {
				@return url(#pointerHoverLeftRight);
			}
		}
	}
	@if $state == hover {
		@return url(#iconGradientHover);
	} @else {
		@return url(#iconGradient);
	}
}

// Icon 
// Used for inline svgs
// Because these are svgs, we must use the svg-defined gradients 
// defined in views/partials/icon-gradients
//
// arguments:
//   $color				: optional, fill color, default is null / standard icon or pointer gradient
//   $hasHover			: optional bool, default is false, if true icon will change color on hover
//   $hoverColor 		: optional, fill color on hover, default is null / standard icon or pointer hover gradient
//   $size				: optional, size of the icon, default in $iconSize, defined in _variables.scss
//   $pointer			: optional, specifies if this is pointer and which direction it points. 
//              		  accepts ['up', 'down', 'left', 'right']

@mixin icon($color: null, $hasHover: false, $hoverColor: null, $size: $iconSize, $pointer: null, $usePointerFill: true) {
	// default fill colors
	$fillColor: standardIconFill();
	$hoverFillColor: standardIconFill($state:hover);

	// static styles
	display: inline-block;
	vertical-align: middle;
	width: $size;
	height: $size;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	line-height: $baseline;
	text-decoration: none;

	// define fill & hover colors based on args
	@if $color {
		$fillColor: $color;
	} @else if $pointer {
		$fillColor: standardIconFill($pointer: $pointer);
	}

	@if $hoverColor {
		$hoverFillColor: $hoverColor;
	}

	// set colors
	fill: $fillColor;

	@if $hasHover {
		&:hover,
		&:focus { fill: $hoverFillColor; }
	}	
}

.icon {
	@include icon();

	// pointers point down by default. For other directions use one of the following classes
	&.--pointer-down {
		@include icon($pointer: down, $usePointerFill: true);
	}

	&.--pointer-up { 
		@include icon($pointer: up, $usePointerFill: true);
	}

	&.--pointer-right { 
		@include icon($pointer: right, $usePointerFill: true); 
	}

	&.--pointer-left { 
		@include icon($pointer: left, $usePointerFill: true);
	}
}

.button-icon {
	@include icon($hasHover: false);

	*:hover > & {
		//include hover color here
	}
}

.play-icon {
	@include icon();
	width: auto;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0.5rem;
	background-color: $black;
	border-radius: 50%;
	cursor: pointer;

	@include breakpoint(min-width, $bpSmall) {
		height: 40%;
	}

	@include breakpoint(min-width, $bpMedium) {
		height: 30%;
		padding: 0.25rem;
	}
}

