/*.pullUp {
	-webkit-animation: pullUp 250ms ease-in forwards;
	-moz-animation: pullUp 250ms ease-in forwards;
	-o-animation: pullUp 250ms ease-in forwards;
	animation: pullUp 250ms ease-in forwards;
}*/
@keyframes pullUp {
	0%   { top: 15px; opacity: 0; }
	100% { top: 0px; opacity: 1;}
}

/*.slowAppear {
	-webkit-animation: slowAppear 250ms ease-in forwards;
	-moz-animation: slowAppear 250ms ease-in forwards;
	-o-animation: slowAppear 250ms ease-in forwards;
	animation: slowAppear 250ms ease-in forwards;
}*/
@keyframes slowAppear {
	0%   { opacity: 0; }
	100% { opacity: 1;}
}

/*.fillIn {
	-webkit-animation: fillIn 250ms ease-in forwards;
	-moz-animation: fillIn 250ms ease-in forwards;
	-o-animation: fillIn 250ms ease-in forwards;
	animation: fillIn 250ms ease-in forwards;
}*/
@keyframes fillIn {
	0%   { height:auto; opacity: 0; }
	100% { height:auto; opacity: 1; }
}