$white: #ffffff;
$black: #000000;

$bglight: #e4e4e6;
$bgcontainer: #465262;
$bgaccent: #2f3c4c;

$headlinelight: #b5b5b5;
$copyright: #939393;
$bgcard: #126ba2;
$bgcardhighlight:#1481c5;
$bonus: #ff9000;
$selecthover: #26acff;

$lightRed: #960909 !default;
$midRed: #820707 !default;
$darkRed: #530202 !default;

$internetblue: #029fff;
$internetbluehover: #4fbbfd;

$darkorange:#8b4500;
$lightorange:#ee7600;
$borderorange: #cd6600;

$green: #009900;



$yellow: #ffe48b;
$grey: #666;
$blue: #017dd3;
$red: #cc0000;
$breach_headings_color: #eeeeee;
$breach_body_color: #d5d9fa;
$breach_link_color: #e2cc0c;
$breach_orange_glow: #f0a306;
$breach_lighter_blue: #00baff;
$breach_blue_glow: #0182f0;
$breach_darker_blue: #161a6b;
$breach_slate: #25304e;
$breach_purple_glow: #4240bc;
$breach_darker_purple: #0d0d55;
$breach_background_color: #04041a;
$breach_lighter_purple: #4e4970;
$yellowBlack: #302c1e;