@font-face {
  font-family: "Shentox";
  font-style: normal;
  font-weight: normal;
  src: font-url('breach/Shentox.woff2') format("woff2"),
       font-url('breach/Shentox.woff') format("woff");
}
@font-face {
  font-family: "ShentoxItalic";
  font-style: normal;
  font-weight: normal;
  src: font-url('breach/ShentoxItalic.woff2') format("woff2"),
       font-url('breach/ShentoxItalic.woff') format("woff");
}
@font-face {
  font-family: "ShentoxBoldItalic";
  font-style: normal;
  font-weight: normal;
  src: font-url('breach/ShentoxBoldItalic.woff2') format("woff2"),
       font-url('breach/ShentoxBoldItalic.woff') format("woff");
}

@font-face {
  font-family: "HailsGRBook";
  font-style: normal;
  font-weight: normal;
  src: font-url('breach/HalisGRRegular.woff2') format("woff2"),
       font-url('breach/HalisGRRegular.woff') format("woff");
}
@font-face {
  font-family: "HailsGRBold";
  font-style: normal;
  font-weight: normal;
  src: font-url('breach/HalisGRBold.woff2') format("woff2"),
       font-url('breach/HalisGRBold.woff') format("woff");
}
            
@mixin breach_h1 {
	font-size: 72px;
	line-height: 76px;
	text-transform: uppercase;
	color:$breach_headings_color;
	text-shadow: 0px 0px 5px $breach_blue_glow, 0px 0px 15px $breach_blue_glow, 0px 0px 30px $breach_blue_glow;
	font-family: "ShentoxBoldItalic";
}
@mixin breach_h2 {
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;
	color:$breach_headings_color;
	text-shadow: 0px 0px 5px $breach_blue_glow, 0px 0px 15px $breach_blue_glow, 0px 0px 30px $breach_blue_glow;
	font-family: "ShentoxBoldItalic";
}
@mixin breach_h3 {
	font-size: 44px;
	line-height: 48px;
	text-transform: uppercase;
	color:$breach_headings_color;
	text-shadow: 0px 0px 5px $breach_blue_glow, 0px 0px 15px $breach_blue_glow, 0px 0px 30px $breach_blue_glow;
	font-family: "ShentoxBoldItalic";
}
@mixin breach_h4 {
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
	color:$breach_headings_color;
	text-shadow: 0px 0px 5px $breach_blue_glow, 0px 0px 15px $breach_blue_glow, 0px 0px 30px $breach_blue_glow;
	font-family: "ShentoxBoldItalic";
}
@mixin breach_h5 {
	font-size: 32px;
	line-height: 36px;
	text-transform: uppercase;
	color:$breach_headings_color;
	text-shadow: 0px 0px 5px $breach_blue_glow, 0px 0px 15px $breach_blue_glow, 0px 0px 30px $breach_blue_glow;
	font-family: "ShentoxItalic";
	//letter-spacing: 6px;
}
@mixin breach_h6 {
	font-size: 28px;
	line-height: 32px;
	text-transform: uppercase;
	color:$breach_headings_color;
	text-shadow: 0px 0px 5px $breach_blue_glow, 0px 0px 15px $breach_blue_glow, 0px 0px 30px $breach_blue_glow;
	font-family: "ShentoxItalic";
	//letter-spacing: 6px;
}
@mixin breach_body-text {
	//font: 22px/34px "HailsGRBook";
	font-family: "HailsGRBook";
	font-size: 1em;
	//line-height: 34px;
	//font-family: "HailsGRBook";
	color: $breach_body_color;
}

@mixin hr {
	background-color: rgb(213,217,250);
    background-color: rgba(213,217,250,0.6);
    color: rgb(213,217,250);
    color: rgba(213,217,250,0.6);
    background: -webkit-linear-gradient(to left, rgba(126, 116, 125, 0.3), rgba(213, 217, 250, 0.6), rgba(126, 116, 125, 0.3));
    background: linear-gradient(to left, rgba(126, 116, 125, 0.3), rgba(213, 217, 250, 0.6), rgba(126, 116, 125, 0.3));
}

@mixin css_btn {
	font-family: "HailsGRBook";
	cursor: pointer; 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 auto; 
    flex: 0 0 auto; 
    display: inline-block; 
    padding: 1.125em 1.875em; 
    border: 0; 
    background: none; 
    outline: 0; 
    min-width: 210px; 
    color: #00baff; 
    fill: currentColor; 
    text-align: center; 
    text-transform: uppercase; 
    font-size: .72727273rem; 
    letter-spacing: .015em; 
    line-height: 1; 
    font-weight: 700; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-transition: .15s; 
    transition: .15s; 
    position: relative; 
    z-index: 0;
    &:hover {
    	color: #04041a;
    	text-decoration: none;
    	-webkit-filter: brightness(120%);
    	filter: brightness(120%);
    }
}

@mixin css_btn_primary {
	color: #04041a; 
    -webkit-box-shadow: 0 0 21px #fa6705; 
    box-shadow: 0 0 21px #fa6705; 
    background: linear-gradient(-13deg,#d99d0e,#dec90d 90%) 50% no-repeat,linear-gradient(-45deg,#e2cc0c,#ffff1c 50%,#e9b700 0,#ece00f 80%); 
    background-size: calc(100% - 6px) calc(100% - 6px),100% 100%;
}

@mixin css_btn_blue {
	color: #eee;
    background: linear-gradient(-45deg,rgba(36,45,81,.8),rgba(56,65,97,.8) 50%,rgba(32,43,77,.8) 0,rgba(57,62,89,.8)) 50% no-repeat,linear-gradient(-45deg,rgba(74,90,120,.8),rgba(89,102,129,.8) 50%,rgba(73,86,115,.8) 0,rgba(81,88,112,.8));
    background-size: calc(100% - 6px) calc(100% - 6px),100% 100%;
    &:hover {
    	color:#eeeeee;
    	text-decoration: none;
    	-webkit-filter: brightness(120%);
    	filter: brightness(120%);
    }
}

@mixin btnbutton {
  background: red;
  background: -webkit-linear-gradient(top, rgba(223,71,25,1) 0%, rgba(255,179,0,1) 100%);
  background: linear-gradient(to bottom, rgba(223,71,25,1) 0%, rgba(255,179,0,1) 100%);
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.4), inset 1px 1px 4px yellow, inset -1px -1px 4px yellow;
  text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.35);
  cursor: pointer;
  span {
      font-weight:bold;
    }
    &:hover {
      text-decoration: none;
      background: yellow;
      text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.35);
    }
}
