.receipt {
  #receipt-notes {
    opacity: 0;
    -webkit-animation: slowAppear 500ms ease-in forwards;
    -moz-animation: slowAppear 500ms ease-in forwards;
    -o-animation: slowAppear 500ms ease-in forwards;
    animation: slowAppear 500ms ease-in forwards;
  }
  h2 {
    margin: 0;
    opacity: 0;
    -webkit-animation: slowAppear 500ms ease-in forwards;
    -moz-animation: slowAppear 500ms ease-in forwards;
    -o-animation: slowAppear 500ms ease-in forwards;
    animation: slowAppear 500ms ease-in forwards;
  }
  #receipt-notes {
    &.sleeve {
      padding: 20px;
      color:$white;
      background: none;
    }
  }
  .purchase-recap {
    border-bottom: none;
    position: relative;
    top: 15px;
    opacity: 0;
    -webkit-animation: pullUp 225ms ease-in-out forwards;
    -moz-animation: pullUp 225ms ease-in-out forwards;
    -o-animation: pullUp 225ms ease-in-out forwards;
    animation: pullUp 225ms ease-in-out forwards;
    p {
      max-width:75%;
      width:100%;
      margin: 3em 0 1em;
    }
  }
  #selected-amt-price {
    padding-bottom: 10px;
  }
  #selected-amt, #selected-amt-price {
    vertical-align:top;
  }
  .total-price {
    width:100%;
    border-top: 2px solid #cccccc;
    padding-top:10px;
    text-align: right;
    font-weight: bold;
    font-size: larger;
  }
}
