footer {
  font-size: 0.8em;

  .footer-linkroll {
    text-align: center;
    ul {
      display: block;
      padding: 0px;
      margin: 0px;

      li {
        display: inline-block;
        padding: 10px 20px;
      }
    }
  }

  #footer-logos {
    margin: 20px 0px;

    .footer-sprite {
      background: image_url('global/ft-logo-sprite.png') no-repeat 0 0;

      &#foot-eme {
        background-position: 0 0;
        width: 227px;
        height: 100px;
      }
      &#foot-bhs {
        background-position: -243px 0;
        width: 135px;
        height: 100px;
        float: right;
      }
    }
  }
  .ft-redduck, .clogo-redduck {
    background: image_url('global/ft-logo-sprite.png') no-repeat 0 0;
    background-position: 0 -1795px;
    a {
      text-indent:-9999em;
      display: block;
      height:100%;
    }
  }
  .ft-enmasse, .clogo-enmasse-darkbg {
    background: image_url('global/ft-logo-sprite.png') no-repeat 0 0;
    background-position: 0 -166px;
    width:210px;
    height:100px;
    a {
      text-indent:-9999em;
      display: block;
      height:100%;
    }
  }
  .clogo-enmasse-lightbg {
    background: image_url('global/ft-logo-sprite.png') no-repeat 0 0;
    background-position: 0 0px;
    width: 227px;
    height: 100px;
    a {
      text-indent:-9999em;
      display: block;
      height:100%;
    }
  }
  .clogo-bluehole {
    background: image_url('global/ft-logo-sprite.png') no-repeat 0 0;
    background-position: -243px 0px;
    width: 135px;
    height: 100px;
    float:right;
    a {
      text-indent:-9999em;
      display: block;
      height:100%;
    }
  }

  a {
    text-decoration: none;
    color: #48b3FF;
    font-weight: normal;

    &:hover {
      color: #fff;
    }
  }
  .disclaimer {
    text-align: center;
    margin: 10px 0 50px 0;
    p {
      line-height: 1.25em;
      font-size: 12px;
    }
  }
}
.eme-footer {
  position: relative;
  padding: 50px 20px 10px;
  max-width: 1140px;
  margin: 0 auto;
}

@media only screen 
  and (max-width: 480px) {
  footer {
    nav li {
      display: block;
      border-right: none;
    }
    .logo a { margin: 0 auto; }
  }
}

