// breakpoint indicator

.breakpoint-indicator {
	position: absolute;
	left: 100%;
	top: 100%;
	z-index: 1;

	@include breakpoint(min-width, $bpSmallest) { z-index: 2; }
	@include breakpoint(min-width, $bpSmall) { z-index: 3; }
	@include breakpoint(min-width, $bpMedium) { z-index: 4; }
	@include breakpoint(min-width, $bpNavBreak) { z-index: 5; }
	@include breakpoint(min-width, $bpLarge) { z-index: 6; }
	@include breakpoint(min-width, $bpContentMax) { z-index: 7; }
	@include breakpoint(min-width, $bpSiteMax) { z-index: 8; }
}