$campaign: 'wintera'; // wintera || vday || anniversary
body.tera {
    &.gifting {
        a.colorbtn {
            color: #ffffff;
            background: #1a81c4;
            border-bottom: 3px solid #0b649e;
            border-radius: 5px;
            &:hover {
                text-decoration: none;
                background: #000000;
            }
        }
        // ********** ********** ********** ********** 
        //            Breadcrumbs
        // ********** ********** ********** ********** 
        .breadcrumbs_wrapper {
            li:first-child {
                a {
                    background: image-url('gifting/logos/tera.png') top center no-repeat;
                    width: 243px;
                    height: 95px;
                }
            }
        }
        // ********** ********** ********** ********** 
        //            Carousel
        // ********** ********** ********** **********
        .carousel_about {
            border-top: 40px solid #1a81c4;
            background: #90adc0;
            .heading {
                span.icon {
                    width: 62px;
                    height: 62px;
                    background-image: url(http://download.enmasse.com/store/tera/wintera/gifting_rewards/gifting_icon_sprite.jpg);
                    background-repeat: no-repeat;
                    &.first {
                        background-position: 0 0;
                    }
                    &.fifth {
                        background-position: 0 -62px;
                    }
                    &.tenth {
                        background-position: 0 -124px;
                    }
                    &.fifteenth {
                        background-position: 0 -186px;
                    }
                    &.twenty {
                        background-position: 0 -248px;
                    }
                }
            }
        }
        // ********** ********** ********** ********** 
        //            Tabs
        // ********** ********** ********** **********
        #tabs {
            a {
                color: #1b7fc0;
                background: #000000;
                &.active, &:hover {
                    color: #ffffff;
                    background: #1b7fc0;
                }
            }
        }
        .box_section {
            background: #e1f9ff;
            h4 {
                background: #90adc0;
            }
        }
        #page-content {
            background: $white;
        }
        // ********** ********** ********** ********** 
        //            Wintera Specific
        // ********** ********** ********** **********
        .wintera {
            .gifting {
                .inner {
                    background: #90adc0;
                }
            }
            .login-buttons {
                li {
                    color: #ffffff;
                    background: #1a81c4;
                    border-bottom: 3px solid #0b649e;
                    &:hover {
                        text-decoration: none;
                        background: #000000;
                    }
                }
            }
        }
        #inventory, #history {
            background: #e1f9ff;
        }
        #inventory, #history, #gift-sent {
            .gift-card {
                &.empty {
                    .gc_icon {
                        background: image-url('gifting/#{$campaign}/tera/gift-bg.jpg') no-repeat -374px -321px;
                    }
                    a {
                        color: #0297ff;
                    }
                }
            }
        }
        @media all and (min-width: 768px) {
            #inventory {
                background: #e1f9ff;
            }
            .golden_gift_icon {
                background: image-url('gifting/#{$campaign}/tera/gift-bg.png') 0 0 no-repeat;
            }
            .carousel_about {
                border-top: none;
                background: #545556;
            }
        }
    } // end gifting

    // ********** ********** ********** ********** 
    //            Home Page Take Over
    // ********** ********** ********** ********** 
    &.takeover #page-content {
        background: black image-url('gifting/#{$campaign}/bg-takeover.jpg') no-repeat top center;
    }
    &.takeover #header {
        margin-bottom: 70px;
    }
    &.takeover .promotions.row {
        margin-top: 70px;
    }
    .takover-button {
        display: none;
    }
    &.takeover .takover-button {
        display: block;
        position: absolute;
        right: 160px;
        top: 215px;
        background: image-url('gifting/#{$campaign}/takeover-button.jpg') no-repeat -2px 0;
        width: 239px;
        height: 49px;
        line-height: 46px;
        text-align: center;
        border: 2px solid;
        @if $campaign == 'wintera' {
            border-color: lighten($lightBlue, 10%);
        }
        else {
            border-color: lighten($lightRed, 10%);
        }
        @include box-shadow(rgba(black,0.6) 0 6px 25px);
        @include border-radius(5px);
        a {
            display: block;
            color: white;
            font-size: 28px;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            background-position: -2px -45px;
            border-color: white;
        }
    }
    &.takeover #wide_body {
        @include background(linear-gradient(rgba($black, 0.8), rgba($black, 0.9)));
    }
    &.takeover .breadcrumb {
        background: #30343b;
        @include background(linear-gradient(rgba($black, 0.8), rgba($black, 0.9)));
        margin-top: 60px;
    }
    
    
    // ********** ********** ********** ********** 
    //            Anniversary Specific
    // ********** ********** ********** **********
    &.anniversary .gifting h1 {
        line-height: 42px;
    }
    // anniversary progress bar is yellow
    &.anniversary .purchased {
        @include border-radius(15px);
        position: relative;
        background: image-url('gifting/#{$campaign}/progress.png') no-repeat -1px -1px;
        width: 1119px;
        height: 522px;
        .after {
            display: none;
        }
        .bar {
            .left-section, .right-section {
                position: absolute;
                top: 0;
                height: 23px;
            }
            .left-section {
                left: -26px;
                width: 26px;
                background: #bf2c2b;
                /* Old browsers */
                background: -moz-linear-gradient(top, #bf2c2b 0%, #f14e4e 10%, #bf2c2b 20%, #590404 80%, #bf2c2b 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #bf2c2b 0%, #f14e4e 10%, #bf2c2b 20%, #590404 80%, #bf2c2b 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #bf2c2b 0%, #f14e4e 10%, #bf2c2b 20%, #590404 80%, #bf2c2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2c2b', endColorstr='#bf2c2b', GradientType=0); /* IE6-9 */
            }
            .right-section {
                right: -23px;
                width: 23px;
            }
            span[id^=fill] {
                background: #ffae00; /* Old browsers */
                background: -moz-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae00', endColorstr='#bf2c2b', GradientType=0); /* IE6-9 */
            }
        }
        &.whale {
            .left-section, .right-section, #fill-20 {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1981b+0,f0d18d+10,c1981b+20,965312+80,c1981b+100 */
                background: #ffae00; /* Old browsers */
                background: -moz-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae00', endColorstr='#bf2c2b', GradientType=0); /* IE6-9 */
            }
            .bar {
                #fill-0, span[id^=fill] {
                    width: 100%;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1981b+0,f0d18d+10,c1981b+20,965312+80,c1981b+100 */
                    background: #ffae00; /* Old browsers */
                    background: -moz-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae00', endColorstr='#bf2c2b', GradientType=0); /* IE6-9 */
                }
            }
            #fill-0, #fill-1, #fill-2, #fill-3, #fill-4, #fill-5, #fill-6, #fill-7, #fill-8, #fill-9, #fill-10, #fill-11, #fill-12, #fill-13, #fill-14, #fill-15 {
                width: 100%;
                &:before {
                    content: '';
                    display: inline-block;
                    height: 23px;
                    width: 26px;
                    position: relative;
                    left: -26px;
                    background: #ffae00; /* Old browsers */
                    background: -moz-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* FF3.6-15 */ 
                    background: -webkit-linear-gradient(top, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #ffda2b 0%, #fff547 10%, #ffbb0c 20%, #ffb90a 80%, #ffd223 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae00', endColorstr='#bf2c2b', GradientType=0); /* IE6-9 */
                }
            }
        }
        #fill-16, #fill-17, #fill-18, #fill-19, #fill-20 {
            width: 103%;
        }
    }
    // ********** ********** ********** ********** 
    //            Vday Specific
    // ********** ********** ********** **********
    // Vday progress bar is pink
    &.vday {
        .purchased {
            @include border-radius(15px);
            position: relative;
            background: image-url('gifting/#{$campaign}/progress.png') no-repeat -1px -1px;
            width: 1119px;
            height: 522px;
            .after {
                display: none;
            }
            .bar {
                span[id^=fill] {
                    background: $lightPink;
                    @include background-image(linear-gradient(left, $darkPink, $lightPink, $darkPink));
                }
            }
            &.whale {
                #fill-20, {
                    @include background-image(linear-gradient(left, $darkRed, $lightRed, $darkRed));
                }
            }
        }
    }
    
} // end tera