
// compass is currently busted, but i need the navigation bar to match our global propertires
@media (min-width: 72.5em) {
  .eme-menu {
    //padding-left: calc((100% - 880px) / 2);
  }
}
.eme a {
  background: image-url('eme-bar/eme-bar-sprite.png') no-repeat -39px -531px;
}
#eme-bar #games .trigger span:after {
  background-image: image-url('eme-bar/eme-bar-sprite.png');
}
.games-link.tera {
    background-image: image-url('eme-bar/games/games_thumb_tera@2x.jpg');
}
.games-link.zmr {
    background-image: image-url('eme-bar/games/games_thumb_zmr@2x.jpg');
}
.games-link.ava {
    background-image: image-url('eme-bar/games/games_thumb_ava@2x.jpg');
}
.games-link.battleplans {
    background-image: image-url('eme-bar/games/games_thumb_battleplans@2x.jpg');
}
.games-link.fruit-attacks {
    background-image: image-url('eme-bar/games/games_thumb_fruitattacks@2x.jpg');
}
.games-link.kritika {
    background-image:image-url('eme-bar/games/games_thumb_kritika@2x.jpg');
}
.games-link.closers {
    background-image:image-url('eme-bar/games/closers_fornav_withoutzmr.jpg');
}
.games-link.breach {
    background-image:image-url('eme-bar/games/games_thumb_breach@2x.jpg');
}
footer {
    .clogo-enmasse-lightbg, .clogo-naddic, .clogo-naddic-colored, .clogo-allm, .clogo-redduck, .clogo-enmasse-darkbg, .clogo-enmasse-white, .clogo-bluehole {
        background-image: image-url('gifting/wintera/greyLogos.png')
    }
    .clogo-bluehole {
        display: block;
        float: none;
        background-position: 0 -33px;
        width:125px;
        height:88px;
    }
    .clogo-allm {
        background-position: 0 0;
        width:90px;
        height:33px;
    }
    .clogo-naddic, .clogo-naddic-colored {
        background-position: 0 -147px;
        width:155px;
        height:26px;
    }
    .clogo-redduck {
        background-position: 0 -173px;
        width:180px;
        height:22px;
    }
    .clogo-enmasse-lightbg, .clogo-enmasse-darkbg, .clogo-enmasse-white {
        background-position: 0 -121px;
        width:177px;
        height:26px;
    }
}

// global files provide for smallest width of 320px - we need to go down to only 300px
#eme-bar .wrapper {
  min-width:300px;
}
