body.apex-guide {
    #main-wrapper {
        background-image: url(https://eme01.enmasse-game.com/images/tera/events/apex-guide/header-fade.png);
        background-position: top;
        background-repeat: no-repeat;
        background-color: white;
        min-height: 300px;
        background-position: 0 -300px;
    }
    .steps {
        width: 100%;
        max-width: 1535px;
        margin: 20px auto;
        background: #cbcbcb;
        text-align: center;
        h2 {
            background: #003173;
            width: 100%;
            color: white;
            font-size: 34px;
            padding: 35px;
            font-weight: normal;
            text-align: left;
        }
        .text {
            width: 100%;
            text-align: center;
            color: black;
            font-size: 18px;
            padding: 40px 10px;
            font-family: Arial;
        }
        .step {
            width: 550px;
            border: solid 3px #003173;
            text-align: left;
            display: inline-block;
            margin: 10px auto;
            vertical-align: top;
            max-width: 95%;
            .step-heading {
                width: 100%;
                height: 70px;
                background: #003173;
                .number {
                    display: inline-block;
                    vertical-align: top;
                    background: white;
                    color: black;
                    font-size: 40px;
                    font-family: Exo 2;
                    width: 20%;
                    height: 100%;
                    text-align: center;
                    line-height: 70px;
                }
                .text {
                    color: white;
                    font-size: 18px;
                    line-height: 1.2em;
                    vertical-align: top;
                    padding-left: 20px;
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                    width: 75%;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .desc {
                color: #003173;
                background: #acc6e8;
                text-align: center;
                padding: 15px;
                min-height: 140px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
            }
        }
    }
    @include breakpoint(tablet) {
        .steps {
            .text {
                font-size: 26px;
            }
            .step {
                margin: 30px;
                max-width: 90%;
                .step-heading {
                    height: 110px;
                    .number {
                        line-height: 110px;
                        font-size: 90px;
                    }
                    .text {
                        font-size: 26px;
                    }
                }
                .desc {
                    font-size: 21.008px;
                }
            }
        }
    }
}