body.deathwrack-update {
    #main-wrapper {
        background-image: url(https://eme01.enmasse-game.com/images/tera/events/v59/top-background.png);
        background-repeat: no-repeat;
    }
    .emeGallery_wrapper {
        padding: 0px 10px;
    }
    .placeholder {
        padding: 15px 35px;
        h3 {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: normal;
            display: block;
            padding: 35px;
            margin: 0;
            width: 100%;
            background: #003173;
            font-size: 35px;
        }
        @media (max-width: 800px) {
            h3 {
                font-size: 20px;
            }
        }
    }
    .grayFilter {
        filter: grayscale(100%);
    }
    .placeholder {
        display: none;
    }
    .locked {
        .pack_bundle, .section-block {
            display: none;
        }
        .placeholder {
            display: block;
        }
    }
    #dungeons {
        padding: 15px 35px;
        h3 {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: normal;
            display: block;
            padding: 35px;
            margin: 0;
            width: 100%;
            background: #003173;
            font-size: 35px;
        }
        .placeholder {
            padding: 0;
            h3 {
                display: block !important;
            }
        }
        .vid-wrap.emeGallery_wrapper {
            padding: 0;
        }
        .details {
            background: #cbcbcb;
            padding: 15px;
            padding-bottom: 100px;
            h5 {
                background: #7e7e7e;
                color: white;
                text-align: center;
                margin: 0;
                font-size: 28px;
                padding: 20px;
                margin-bottom: 30px;
                line-height: 1.4em;
            }
            .text {
                width: 49.5%;
                color: black;
                font-size: 21px;
                vertical-align: top;
                display: inline-block;
                h6 {
                    font-size: 32px;
                    margin-bottom: 15px;
                }
            }
        }
        @media (max-width: 800px) {
            h3 {
                font-size: 20px;
            }
        }
        &.locked {
            h3, .emelightbox-pop, .details, .section-block {
                display: none;
            }
        }
    }
    .eme-lightbox li.vidholder.ytube:before {
        background: url(https://eme01.enmasse-game.com/images/tera/events/youtube_play_btn.png) center center no-repeat;
        width: 100%;
        height: 100%;
        max-width: 87px;
        background-size: contain;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        display: block;
        content: "";
        pointer-events: none;
        transition: 250ms;
    }
    .eme-lightbox li.videholder.ytube {
        width: 100%;
        &:hover {
            &:before {
                transform: scale(1.2);
            }
        }
    }
}