$clearingBg: rgba(0,0,0,0.8) !default;
$clearingOldBrowserBg: rgb(0,0,0) !default;
$clearingCaptionBg: rgba(0,0,0,0.7) !default;
$clearingCaptionOldBrowserBg: rgb(0,0,0) !default;
$clearingCaptionFontColor: #fff !default;
$clearingCloseColor: #fff !default;
$clearingArrowColor: #fff !default;
$clearingArrowSize: 16px !default;
$clearingCarouselBg: rgba(0,0,0,0.75) !default;
$clearingCarouselOldBrowserBg: rgb(0,0,0) !default;
$clearingCarouselHeight: 150px !default;
$clearingActiveImgHeight: 75% !default;
$clearingCarouselThumbWidth: 175px;
$clearingCarouselThumbActiveBorder: 4px solid rgb(255,255,255) !default;
$clearingImgBg: rgba(0,0,0,0.75) !default;
$clearingImgOldBrowserBg: rgb(0,0,0) !default;