$smallScreen: 768px !default;
//$mediumScreen: 960px !default;
$largeScreen: 1140px !default;

// $screenSmall: 768px !default;
// $screenMedium: 1279px !default;
// $screenXlarge: 1441px !default;

$small: "only screen and (max-width: "#{$smallScreen}")";
$medium: "only screen and (min-width: "#{$smallScreen + 1}") and (max-width: "#{$largeScreen - 1}")";
$mediumDown: "only screen and (max-width: "#{$largeScreen - 1}")";
$screen: "only screen and (min-width: "#{$largeScreen}")";


// Saving for better em-based testing
$screenSmall: $smallScreen;
$screenMedium: 1279px !default;
$screenXlarge: $largeScreen;

// Saving for Sass 3.2 stable release
// $mediaSmall: "only screen and (max-width: 767px)" !default;
// $mediaMedium: "only screen and (max-width: 1279px) and (min-width: 768px)" !default;
// $mediaXlarge: "only screen and (min-width: 1441px)" !default;
// $mediaLandscape: "screen and (orientation: landscape)" !default;
// $mediaPortrait: "screen and (orientation: portrait)" !default;
// $mediaAll: "only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px)" !default;

// @support checks
$transform: "(-webkit-transform-style: preserve-3d) or (-moz-transform-style: preserve-3d) or (transform-style: preserve-3d)";