/* SITE WIDE ALERTS AND ERRORS */
  .site-alert {
    width: 100%;
    margin-left: 0px;

    article {
      width: 1140px;
      margin: 0 auto;
    }
    div.error {
      margin-bottom: 0;
      @include background(linear-gradient(top, #820707, #530202));
      border:none;
      padding: 10px;
    }

    div.warning {
      margin-bottom: 0;
      @include background(linear-gradient(top, #c36e00, #663d00));
      border:none;
      padding: 10px;
    }

    div.info {
      margin-bottom: 0;
      @include background(linear-gradient(top, #198607, #115f02));
      border:none;
      padding: 10px;
    }
  }
  .error-alert, .site-alert .error, #subsEmailMsgAlert, #modal-error .error  {
    background: #4c0609;
    background: rgba(#960909, 0.5);
    border:1px solid  #820707;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.2em;

    span.icon {
      display: block;
      float: left;
      width: 24px;
      height: 28px;
      background: image-url('image-sprite.png') no-repeat -251px -420px;
      margin: -2px 10px 0 10px;
    }

    a {
      color: #6ec3ff;
      text-decoration: underline;
      &:hover {
        color: #b1dfff;
      }
    }
  }
  .warn-alert, .site-alert .warning, #foundation-modal .warning {
    background: #643d02;
    background: rgba(#c36e00,0.5);
    border:1px solid #ff9400;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;

    span.icon {
      display: block;
      float: left;
      width: 7px;
      height: 22px;
      background: image-url('image-sprite.png') no-repeat -370px -421px;
      margin: 2px 10px 0 0;
    }
    a {
      color: #6ec3ff;
      text-decoration: underline;
      &:hover {
        color: #b1dfff;
      }
    }
  }
  .success-alert, .site-alert .info, #foundation-modal .info { 
    background: #144a04;
    background: rgba( #198607,0.5);
    border:1px solid #1C9509;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;

    span.icon {
      display: block;
      float: left;
      width: 24px;
      height: 18px;
      background: image-url('image-sprite.png') no-repeat -221px -420px;
      margin: 3px 10px 0 0;
    }
    a {
      color: #6ec3ff;
      text-decoration: underline;
      &:hover {
        color: #b1dfff;
      }
    }
  }

// Item Callouts for global use
  .item-alert {
    @include border-top-right-radius(10px);
    @include box-shadow(0px 5px 10px rgba(#000, 1));
    position: absolute;
    top: -20px;
    left: -1px;
    padding: 2px 20px 0;
    font: bold #{ms(1)}/28px Arial, Helvetica, sans-serif;
    color: #FFFFFF;

    &.orange, &.badge-elite {
      background: #c36e00;
      @include background(linear-gradient(left, darken(#c36e00, 10%), darken(#ff9400, 10%), darken(#c36e00, 10%)));
      @include box-shadow(#c36e00 0 1px 2px, #ff9400 0 2px inset);
    }
    &.green, &.badge-sale, &.badge-bogo {
      background: #198607;
      @include background(linear-gradient(left, #115f02, #1C9509, #115f02));
      @include box-shadow(#115f02 0 1px 2px, #1C9509 0 2px inset);
    }
    &.blue, &.badge-new {
      background: #0875D1;
      @include background(linear-gradient(left, darken(#4387ed, 10%), darken(#68a7f6, 10%), darken(#4387ed, 10%)));
      @include box-shadow(#4387ed 0 1px 2px, #68a7f6 0 2px inset);
    }
    &.purple, &.badge-event {
      background: #491bdb;
      @include background(linear-gradient(left, darken(#491bdb, 10%), darken(#7b3aff, 10%), darken(#491bdb, 10%)));
      @include box-shadow(#491bdb 0 1px 2px, #7b3aff 0 2px inset);
    }
    &.peach, &.badge-featured {
      background: #bf5134;
      @include background(linear-gradient(left, darken(#bf5134, 10%), darken(#ff6e42, 10%), darken(#bf5134, 10%)));
      @include box-shadow(#bf5134 0 1px 2px, #ff6e42 0 2px inset);
    }
  }

  .bestSllers_alert {
    background: #fb7ab3;
    color:#ffffff;
    padding:10px 10px 1px 10px;
  }
