body#notfound_404, body#notfound_500 {
  width:100%;
  height:100%;
  background: -webkit-linear-gradient(right, #0a1528, #142a50, #0a1528);
  background: linear-gradient(to right, #0a1528, #142a50, #0a1528);

  background: #0a1528;
  color:#ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
main.notfound {
	display: block;
	text-align:center;
	padding:100px 0;
	width:100%;
	max-width:1366px;
	background: none;
	background: -webkit-linear-gradient(left, rgba(10,21,40,1) 0%, rgba(10,21,40,0) 3%, rgba(10,21,40,0) 97%, rgba(10,21,40,1) 100%),
	url(https://eme04.enmasse-game.com/images/enm/bgs/dots_full.jpg) bottom center no-repeat, 
	url(https://eme04.enmasse-game.com/images/enm/bgs/internal_bg_tiler.jpg) top center repeat-y;
	background: linear-gradient(to right, rgba(10,21,40,1) 0%, rgba(10,21,40,0) 3%, rgba(10,21,40,0) 97%, rgba(10,21,40,1) 100%),
	url(https://eme04.enmasse-game.com/images/enm/bgs/dots_full.jpg) bottom center no-repeat, 
	url(https://eme04.enmasse-game.com/images/enm/bgs/internal_bg_tiler.jpg) top center repeat-y;
	h1 {
		font-size:30px;
		color: $white;
		text-transform: none;
		margin-bottom: 20px;
	}
	p {
		font-size:18px;
		color: $copyblue;
	}
	.inner {
		background: url(https://eme04.enmasse-game.com/images/enm/bgs/tired_chibi.png) bottom center no-repeat;
		min-height:430px;
	}
}


@media all and (min-width: 768px) {
	main.notfound {
		h1 {
			font-size:60px;
		}
		p {
			font-size:30px;
		}
		.inner {
			min-height:490px;
		}
	}
}