.tera_packs {
	background: -webkit-linear-gradient(right, #0a1528 15%, #142a50 50%, #0a1528 85%);
  	background: linear-gradient(to right, #0a1528 15%, #142a50 50%, #0a1528 85%);
	.pack_pack {
		width:100%;
		max-width:1190px;
		margin:0 auto;
		padding: 0 20px;
		h1 {
			color: $white;
			font-size: 30px;
			font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-align:center;
            margin:0 auto 40px;
            //border-bottom: 1px solid $hrBlue;
            padding-top:50px;
            padding-bottom: 25px;
            &:after {
            	content:'';
            	margin: 25px 0;
    			height: 1px;
    			display: block;
    			width:100%;
    			background: black;
    			background: -webkit-linear-gradient(right, #0a1528 0%, $hrBlue 15%, $hrBlue 85%, #0a1528 100%);
  				background: linear-gradient(to right, #0a1528 0%, $hrBlue 15%, $hrBlue 85%, #0a1528 100%);
            }
		}
		img {
			width:100%;
			max-width: 581px;
			display: block;
		}
		.pack_details {
			h2 {
				color: $white;
				font-family: 'Montserrat', sans-serif;
            	font-weight: 700;
            	text-transform: uppercase;
            	font-size:21px;
			}
		}
		dt {
			font-family: 'Montserrat', sans-serif;
			font-weight:400;
			color:$white;
			font-size:18px;
		}
		li {
			font-family: 'Titillium Web', sans-serif;
   			font-weight: 400;
			color: $copyblue;
			font-size:16px;
			position: relative;
			padding-left: 15px;
			margin-bottom: 5px;
			&:before {
				content:'';
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: $hrBlue;
				display: block;
				position: absolute;
				top: 8px;
    			left: -2px;
			}
		}
		.action {
			padding: 50px 0 35px;
			text-align: center;
			display: block;
			width:100%;
			.price_reveal {
				font-family: 'Montserrat', sans-serif;
            	font-weight: 700;
				font-size: 30px;
				color: $white;
				display: inline-block;
	  			vertical-align: middle;
				&:before, &:after {
					content:'';
	    			height: 1px;
	    			display: block;
	    			width: 80px;
	    			background: black;
	    			background: -webkit-linear-gradient(right, #0a1528 0%, $hrBlue 15%, $hrBlue 85%, #0a1528 100%);
	  				background: linear-gradient(to right, #0a1528 0%, $hrBlue 15%, $hrBlue 85%, #0a1528 100%);
	  				display: inline-block;
	  				vertical-align: middle;
				}
			}
			.btn_blue {
				background: rgba(0,204,255,0.1);
				border: 2px solid $hrBlue;
				border-radius: 5px;
				max-width: 300px;
				width:100%;
				margin:1em auto 0;
				display: block;
				a, span {
					font-family: 'Titillium Web', sans-serif;
   					font-weight: 700;
					color: $white;
					text-transform: uppercase;
					font-size:20px;
					text-decoration: none;
					padding: 15px;
					display: block;
					width:100%;
					height: 100%;
				}
				input[type="submit"] {
					background: none;
					outline: none;
					font-family: 'Titillium Web', sans-serif;
   					font-weight: 700;
					color: $white;
					text-transform: uppercase;
					font-size:20px;
					text-decoration: none;
					padding: 15px;
					display: block;
					width:100%;
					height: 100%;
				}
				&:hover {
					background: $hrBlue;
				}
			}
			.one_per {
				text-align: center;
			    margin:0px auto 20px;
			    color:#b8cbeb;
			}
		}
		.extra_copy {
			font-family: 'Titillium Web', sans-serif;
   			font-weight: 400;
			text-align: center;
			color: $copyblue;
			font-size:16px;
			padding: 10px 0;
		}
	}
	.receipt {
		.extra_copy {
			padding-bottom: 3em;
		}
		a {
			color:#ffffff;
			text-decoration: none;
			&:hover {
				color: #b8cbeb;
			}
		}
	}
	#gofillup-screen {
      position:fixed;
      top:50%;
      left:0;
      right:0;
      width:750px;
      height:810px;
      margin-top: -350px;
      margin-left: auto;
      margin-right: auto;
      z-index:100;
      background: rgb(255, 255, 255);

      .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
      }
      .close:hover {
        background: #00d9ff;
      }
    }
}

@media all and (min-width: 768px) {
	.tera_packs {
		.pack_pack {
			h1 {
				font-size: 48px;
			}
			img {
				margin:0 auto;
			}
			.pack_details {
				max-width: 600px;
				margin:0 auto;
				h2 {
					font-size:26px;
				}
			}
			dl {
				columns: 2 auto;
			}
			dd {
				max-width: 300px;
			}
			dt {
				font-size:20px;
			}
			.action {
				.price_reveal {
					font-size: 48px;
				}
			}
		}
	}
}

@media all and (min-width: 1024px) {
	.tera_packs {
		.pack_pack {
			padding: 0;
			h1 {
				font-size: 60px;
				padding-top: 100px;
				padding-bottom: 0px;
			}
			img {
				margin: 0;
				padding:0 20px;
			}
			img, .pack_details {
				display: inline-block;
				vertical-align: top;
				width:49%;
			}
			.pack_details {
				h2 {
					font-size:35px;
				}
			}
			.action {
				.price_reveal {
					font-size: 60px;
				}
			}
			&.confirm {
				.pack_details {
					display: block;
				}
			}
		}
	}
}