@import "vars";

// Container Main
#container-main { width: $w_base; margin: 0 auto; position: relative;
  #header, #footer, #content-featured { width: $w_base;}
}
// 1 col
#content-container-1col { position: relative;
  #content-primary { width: $w_primary_1_col; position: relative; }
}
// 2col
#content-container-2col {
  #content-primary { width: $w_primary_2_col; float: right; }
  #content-secondary { width: $w_secondary; float: left; }
}

.row {
  zoom: 1;  /* For IE 6/7 (trigger hasLayout) */
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.column, .columns {
  min-height: 1px;
  float: left;
  padding: 0 10px;
  position: relative;
}
// .one {
//   width: 8.33333%;
// }
// .two {
//   width: 16.66667%;
// }
// .three {
//   width: 25%;
// }
.four {
  width: 33.33333%;
}
// .five {
//   width: 41.66667%;
// }
// .six {
//   width: 50%;
// }
.seven {
  width: 58.33333%;
}
// .eight {
//   width: 66.66667%;
// }
// .nine {
//   width: 75%;
// }
// .ten {
//   width: 83.333333%;
// }
// .eleven {
//   width: 91.66667%;
// }
// .twelve {
//   width: 100%;
// }