* { margin: 0; padding: 0; outline: none; border: 0; font-weight: normal; font-style: inherit; font-family: inherit; vertical-align: bottom; }
html body { font-size: 87.5%; /* 16px × 87.5% = 14px */ }
h1, h2 ,h3, h4, h5, h6, pre, code, p, a, table, code, kbd, samp, pre, tt, var, blockquote, q, abbr, acronym, form, select, isindex, listing, xmp, plaintext, img, address, sup, sub, caption, del, strong, span, textarea, input { font-size: 1em; }
article, aside, details, figcaption, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }
abbr { border: 0; }
fieldset { border: 0; }
textarea, input { vertical-align: top; text-align: left; }
textarea { overflow: auto; }
input { width: auto; overflow: visible; }
input[type=submit] { cursor: pointer; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; } /* table still needs cellspacing="0" */
caption, tr, th, td { text-align: left; }
ul, ol, dir, menu { list-style-type: none; }
a { text-decoration: none; }
a img { border: 0; }
blockquote, q { quotes: none;	}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
address { font-style: normal; }
del { text-decoration: line-through; }
strong, strong a, strong span { font-weight: bold; }
.left {float:left;}
.right {float:right;}