/* Dimensions */
$w_base: 1100px;
$w_primary_1_col: 1003px;
$w_primary_2_col: 660px;
$w_secondary: 310px;
/* Colors */
$white: #fff;
$black: #000;
$yellow: #ffe48b;
$grey: #666;
$blue: #017dd3;
$green: #009900;
$red: #cc0000;
