body.account {
  background: url(/assets/bg-white.jpg) repeat-y top center white;
  #page-content {
    background: none;
  }
  #page_container {
    background: url(/assets/sign-up-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    min-width: 100%; max-width: 100%;
    min-height: 980px;

    -webkit-box-shadow: 0px 5px 10px 0 rgba(137,137,137,1);
    -moz-box-shadow: 0px 5px 10px 0 rgba(137,137,137,1);
    box-shadow: 0px 5px 10px 0 rgba(137,137,137,1);

    &:after {
      content: "";
      position: absolute;
      bottom: 0; left: 50%;
      height: 77px;
      width: 1200px;
      margin-left: -600px;

      background: url(/assets/white-cover.png) no-repeat top center;
    }
    .free-gift { text-indent: -9999px; }
  }

  #header-logo {
    display: block;
    height: 147px;
    width: 270px;
    background: url(/assets/image-sprite.png) no-repeat 0px -5px;
    margin: 0 auto;
  }

  .login-facebook-btn {
      display: block;
      width: 205px;
      height: 36px;
      background-image: url(/assets/log_in_with_fb.png);
      background-repeat: no-repeat;
      margin: 0 auto;
      &:hover { background-position: 0 -36px; }
      &:active { background-position: 0 -72px; }
  }

  #sign-up {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 460px;
    margin-left: -230px;
    background: rgba(255,255,255,0.8);

    &> div {
      margin: 25px auto 0;
      text-align: center;
      width: 70%;
      &> span { font: 22px/22px 'exo_2light'; }
      &.error-alert {
        width: 90%;
        text-align: left;
      }
      &.signupOffer {
        margin:0 auto;
        width:100%;
      }
    }
    label {
      display: block;
      text-align: left;
      width: 100%;
      font: 22px/28px 'exo_2light';
    }
    input[type=text], input[type=password] {
      outline: none;
      width: 100%;
      font: 22px/28px 'exo_2light';
      border: none;
      padding: 6px;

      -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    }
    #newsletter {
      margin-right: 3px;
      background: red;
    }

    #create-account {
      outline: none;
      font: bold 28px/50px 'exo_2light';
      padding: 8px 25px 5px;
      color: black;
      text-shadow: none;
      border: 1px solid #e6b300;
      background: rgb(254,249,241); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(254,249,241,1) 0%, rgba(236,183,92,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,249,241,1)), color-stop(100%,rgba(236,183,92,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f1', endColorstr='#ecb75c',GradientType=0 ); /* IE6-9 */
      &:hover {
        text-decoration: none;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ffffff+0,f1cb8a+100 */
        background: rgb(230,179,0); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(255,255,255,1) 0%, rgba(241,203,138,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,203,138,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#f1cb8a',GradientType=0 ); /* IE6-9 */
      }
      &:active {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ecb75c+0,fef9f1+100 */
        background: rgb(230,179,0); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(236,183,92,1) 0%, rgba(254,249,241,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(236,183,92,1)), color-stop(100%,rgba(254,249,241,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#fef9f1',GradientType=0 ); /* IE6-9 */
      }
    }

    // AUTH
    .email {
      position: relative;
      margin-top: 0;
      .msg, .taken {
        display: none;
        position: absolute;
        top: 29px;
        right: 105%;
        width: 190px;
        padding: 6px 10px;
        background: #b91621;
        color: white;
        &:after {
          content: "";
          position: absolute;
          right: -16px;
          top: 10px;
          display: block;
          width: 0;
          height: 0;
          border: solid 8px;
          border-color: transparent transparent transparent #b91621;
        }
      }
      .taken { width: 240px; }
      &.error {
        .msg { display: block; }
      }
      &.taken {
        .taken { display: block; }
      }
    }
    .password {
      position: relative;
      text-align: left;
      input[type=password], .strength {
        position: relative;
        background: none;
        z-index: 1;
      }
      #hint {
        display: none;
        position: absolute;
        top: 29px;
        right: 105%;
        width: 380px;
        padding: 6px 10px;
        background: #475e72;
        text-align: left;
        color: white;
        &:after {
          content: "";
          position: absolute;
          right: -16px;
          top: 10px;
          display: block;
          width: 0;
          height: 0;
          border: solid 8px;
          border-color: transparent transparent transparent #475e72;
        }
        p, ul { margin-bottom: 0; }
        ul { margin-left: 10px; }
      }
      // strength meter
      .strength_meter {
        position: absolute;
        top: 28px;
        z-index: 0;
        height: 40px;
        width: 100%;
        background: white;
        &> div {
          -webkit-transition: all .3s ease-in-out;
          width: 0%;
          height: 40px;
          text-align: right;
          color: black;
          font-weight: bold;
          line-height: 23px;
          p {
            position: absolute;
            top: 38px;
            right: 0;
            font-size: 80%;
          }
        }
        .veryweak{
          background-color: #FFA0A0;
          border-color: #F04040!important;
          width: 25%;
        }
        .weak{
          background-color: #FFB78C;
          border-color: #FF853C!important;
          width: 50%;
        }
        .medium{
          background-color: #FFEC8B;
          border-color: #FC0!important;
          width: 75%;
        }
        .strong{
          background-color: #C3FF88;
          border-color: #8DFF1C!important;
          width: 100%;
        }
      }
      .button_strength { font-size: 80%; }
    }
  }

  .footer-wrapper { margin-top: 0; }
}

// @media (max-width: 47.9em)
@include breakpoint(mobileonly) {
  body.account {
    background: none;

    #page_container {
      background: none;
      min-width: auto; max-width: auto;
      min-height: none;
      &:after { display: none; }
    }

    #sign-up {
      position: relative;
      margin: 0 auto;
      left: auto;
      width: 100%;
      padding: 15px;

      &> div {
        margin: 15px auto 0;
        width: 90%;
      }
      .email .msg, .email .taken {
        position: relative;
        top: 10px;
        right: auto;
        &:after { display: none; }
      }
      .password #hint {
        position: relative;
        top: 10px;
        right: auto;
        width: 100%;
        &:after { display: none; }
      }
    }
  }
}
