.class_guide {
  #eme-bar {
    z-index:9999;
  }
  #eme-bar .wrapper {
      min-width: 320px;
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
      height:auto;
      overflow:visible;
  }
  h1 {
    text-transform:uppercase;
    text-align:center;
    margin: 0 auto;
    color:#ffffff;
    //background-image: url(<%= asset_path "sorcerer/class/title_back.png" %>);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    font-size:38px;
    line-height:40px;
    font-family: 'Abel', sans-serif;
    height:145px;
    padding-top: 53px;
    text-shadow: 1px 0px 10px #000000, 0px 1px 10px #000000, 1px 0px 10px #000000, 0px 1px 10px #000000;
    position: relative;
    z-index:1;
  }
  h1.tagline {
    position: relative;
    background: none;
    top:524px;
    left:726px;
    text-align:left;
    width:auto;
    height:auto;
    padding: 0;
  }
  p {
    color:#000000;
    font-size:16px;
    line-height:20px;
    font-family: "myriad-pro",sans-serif;
  }
  .wrapper {
    width:1140px;
    height:100%;
    margin:0 auto;
    overflow-x: hidden;
  }
  #header {
    width: 1140px;
    min-width: 1140px;
    max-width: 1140px;
  }
  #header > div.three {
    width:274px !important;
    float:left;
  }
  nav#menu {
    width: 670px !important;
  }
  #main-nav {
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 0px 10px rgb(0,0,0);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 9999;
    z-index:0;
    display:block;
    top:654px;
    width:100%;
    height: 74px;
    left:0;
    right:0;
    padding: 13px 0;
  }
  #main-nav .wrapper {
    box-sizing: border-box;
    padding: 0 0 0 103px;
  }
  #main-nav.scroll {
    position: fixed;
    top: 0px;
    left: 0;
    right:0;
    z-index: 6;
  }
  #main-nav ul {
    display:inline-block;
    vertical-align:middle;
    margin: 0;
  }
  #main-nav ul.nav-page {
    margin-left: 110px;
    padding-top: 8px;
  }
  #main-nav ul.nav-page li {
    margin: 0 20px;
  }
  #main-nav li {
    display:inline-block;
    vertical-align:middle;
    width:auto;
    margin: 0;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size:18px;
  }
  #main-nav ul.nav-social li {
    margin-right: 10px;
  }
  #main-nav a {
    text-transform: uppercase;
    color: #000000;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
  #main-nav ul.nav-page a:hover {
    border-bottom: 4px solid #d24e00;
  }
  #main-nav ul.nav-page a.active {
    border-bottom: 4px solid #d24e00;
  }
  #share-facebook {
    display:block;
    height:31px;
    width:16px;
    text-indent: -9999em;
    //background-image: url(<%= asset_path "sorcerer/class/social-icons.png" %>);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  #share-facebook:hover {
    background-position: 0px -31px;
  }
  #share-twitter {
    display:block;
    height: 31px;
    width:32px;
    text-indent: -9999em;
    //background-image: url(<%= asset_path "sorcerer/class/social-icons.png" %>);
    background-repeat: no-repeat;
    background-position: -30px 0;
  }
  #share-twitter:hover {
    background-position: -30px -31px;
  }
  #main-nav .play-now {
    position: relative;
    z-index: 1;
    float: right;
    display:inline-block;
    vertical-align:middle;
    width: 150px;
    height: 45px;
    margin-top: 0;
    margin-right:80px;
  }

  .leftcol {
    width:500px;
    box-sizing: border-box;
    display:inline-block;
  }
  .rightcol {
    width:510px;
    position:relative;
    left: 613px;
    display:inline-block;
    margin-top:20px;
  }
  #wide_body {
    background: none;
  }

  /* fix video grey background on windows browsers */
  .brightness{
    filter: brightness(108.5%);
    -webkit-filter:brightness(108.5%); /* Chrome 19+ & Safari 6+ we do need this*/
  }

  .intro {
    position:absolute;
    top:0;
    right:0;
    left: 0;
  }
  .intro .wrapper {
    height:688px;
    //background-image: url(<%= asset_path "sorcerer/class/header.jpg" %>);
    background-position: 50% 45px;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }
  #highlights {
    position:relative;
    margin-top:554px;
    display:block;
    clear:both;
    padding-top:10px;
    padding: 0px 0 40px;
  }
  #highlights .wrapper:before {
    content: "";
    display:block;
    width:1234px;
    height:925px;
    position: absolute;
    z-index:-1;
    //background-image: url(<%= asset_path "sorcerer/class/hightlight.png" %>);
    background-position: 100% 94px;
    background-repeat: no-repeat;
  }
  #highlights .innerwrapper {
    width:1140px;
    margin:0 auto;
  }
  #highlights .leftcol {
    margin-left: 60px;
    margin-top: 60px;
  }
  #highlights .leftcol p {
    margin-left: 30px;
    margin-bottom:62px;
    width: 506px;
  }
  #highlights .highlights {
    //background-image: url(<%= asset_path "sorcerer/class/Sorc_bullet_icon.png" %>);
    background-position: top left;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 100px;
    padding-top:0px;
    min-height:48px;
    position: relative;
    overflow: hidden;
    margin-left:12px;
    margin-bottom:40px;
  }
  #highlights .highlights h4 {
    font-size:18px;
    line-height:1;
    font-family: "myriad-pro",sans-serif;
    font-weight:bold;
    margin: 0;
  }
  #highlights .highlights p {
    margin-left: 0;
    margin-bottom:0;
    width: 370px;
  }
  #skills .wrapper {
    background: image-url("brawler/class/leftEdge.png") top left repeat-y, image-url("brawler/class/rightEdge.png") top right repeat-y #e5e6e6;
  }
  #skillTable {
    box-sizing: border-box;
    padding-bottom: 50px;
    /*background: url(<%= asset_path "brawler/class/leftEdge.png" %>) top left repeat-y;*/
  }
  #skillTable h3 {
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size: 18px;
    display:inline-block;
    vertical-align:middle;
    width:200px;
    margin-left: 60px;
  }
  #skillTable h4 {
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size:18px;
    display:inline-block;
    vertical-align:middle;
    width:auto;
  }
  #skillTable h5 {
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size: 16px;
    text-transform:uppercase;
    margin: 1em 0 0.5em;
  }
  #skillTable h6 {
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size: 16px;
    text-transform:none;
  }
  .glyphs {
    box-sizing: border-box;
    padding-left: 15px;
  }
  .glyph .icon,
  .glyph h6,
  .glyph p {
    display:inline-block;
    vertical-align:middle;
  }
  .glyph h6 {
    margin-right:15px;
  }
  .glyph p {
    margin: 0;
  }

/* skill glyph */
/*  .glyphGlyphs-sprite, .glyph-Skill_Fireball, .glyph-Skill_FlamePillar, .glyph-Skill_Backstep, .glyph-Skill_ManaInfusion, .glyph-Skill_LightningStrike, .glyph-Skill_PainfulTrap, .glyph-Skill_TimeGyre, .glyph-Skill_FrostSphere, .glyph-Skill_Retaliate, .glyph-Skill_Painblast, .glyph-Skill_ManaSiphon, .glyph-Skill_ArcanePulse, .glyph-Skill_GlacialRetreat, .glyph-Skill_FlamingBarrage, .glyph-Skill_BurstofCelerity, .glyph-Skill_TeleportJaunt, .glyph-Skill_Mindblast, .glyph-Skill_MeteorStrike, .glyph-Skill_LightningTrap, .glyph-Skill_ManaBoost, .glyph-Skill_VoidPulse, .glyph-Skill_ManaBarrier, .glyph-Skill_BurningBreath, .glyph-Skill_HailStorm, .glyph-Skill_NerveExhaustion, .glyph-Skill_ManaVolley, .glyph-Skill_StoneSkin, .glyph-Skill_Nova, .glyph-Skill_WarpBarrier  {
    background-image: url(<%= asset_path "sorcerer/class/skill_glyphs.jpg" %>);
    background-repeat: no-repeat;
    display:block;
    width:95px;
    height:95px;
    margin: 0 auto;
  }

  .glyph-Skill_Fireball {
    background-position: 0 -98px;
  }
  .glyph-Skill_FlamePillar {
    background-position: 0 -759px;
  }
  .glyph-Skill_Backstep {
    background-position: 0 -2469px;
  }
  .glyph-Skill_ManaInfusion {
    background-position: 0 -572px;
  }
  .glyph-Skill_LightningStrike {
    background-position: 0 -854px;
  }
  .glyph-Skill_PainfulTrap {
    background-position: 0 -1330px;
  }
  .glyph-Skill_TimeGyre {
    background-position: 0px -2564px;
  }
  .glyph-Skill_FrostSphere {
    background-position: 0px -286px;
  }
  .glyph-Skill_Retaliate {
    background-position: 0px -1141px;
  }
  .glyph-Skill_Painblast {
    background-position: 0px -1236px;
  }
  .glyph-Skill_ManaSiphon {
    background-position: 0px -1424px;
  }
  .glyph-Skill_ArcanePulse {
    background-position: 0px -476px;
  }
  .glyph-Skill_GlacialRetreat {
    background-position: 0px -2661px;
  }
  .glyph-Skill_FlamingBarrage {
    background-position: 0px -1710px;
  }
  .glyph-Skill_BurstofCelerity {
    background-position: 0px -2758px;
  }
  .glyph-Skill_TeleportJaunt {
    background-position: 0px -2090px;
  }
  .glyph-Skill_Mindblast {
    background-position: 0px -1046px;
  }
  .glyph-Skill_MeteorStrike {
    background-position: 0px -667px;
  }
  .glyph-Skill_LightningTrap {
    background-position: 0px -382px;
  }
  .glyph-Skill_ManaBoost {
    background-position: 0px -2852px;
  }
  .glyph-Skill_VoidPulse {
    background-position: 0px -952px;
  }
  .glyph-Skill_ManaBarrier {
    background-position: 0px -2945px;
  }
  .glyph-Skill_BurningBreath {
    background-position: 0px -1900px;
  }
  .glyph-Skill_HailStorm {
    background-position: 0px -2186px;
  }
  .glyph-Skill_NerveExhaustion {
    background-position: 0px -1807px;
  }
  .glyph-Skill_ManaVolley {
    background-position: 0px -1994px;
  }
  .glyph-Skill_StoneSkin {
    background-position: 0px -2281px;
  }
  .glyph-Skill_Nova {
    background-position: 0px -2375px;
  }
  .glyph-Skill_WarpBarrier {
    background-position: 0px -190px;
  }
*/

  
/* end glyph glyphs */
  
/* icon glyphs */
/*.glyphIcons-sprite, .glyph-Icon_Longshot, .glyph-Icon_Empowered, .glyph-Icon_Blazing, .glyph-Icon_Energetic, .glyph-Icon_Shielding, .glyph-Icon_Fleetfooted, .glyph-Icon_Spirited, .glyph-Icon_Brilliant, .glyph-Icon_Carving, .glyph-Icon_Persistent, .glyph-Icon_Influential, .glyph-Icon_Multiplicative, .glyph-Icon_Lingering, .glyph-Icon_Slowing, .glyph-Icon_Blossoming, .glyph-Icon_Powerlinked, .glyph-Icon_Keen, .glyph-Icon_Slick, .glyph-Icon_Hastened, .glyph-Icon_Shared, .glyph-Icon_Warding, .glyph-Icon_Hindering, .glyph-Icon_Grounded {
  background-image: url(<%= asset_path "sorcerer/class/glyph_Glyphs.png" %>);
  background-repeat: no-repeat;
  display:block;
  width:40px;
  height:40px;
}

.glyph-Icon_Longshot {
  background-position: 0 -683px;
}
.glyph-Icon_Empowered {
  background-position: 0 -401px;
}
.glyph-Icon_Blazing {
  background-position: 0 -602px;
}
.glyph-Icon_Energetic {
  background-position: 0 -122px;
}
.glyph-Icon_Shielding {
  background-position: 0 -803px;
}
.glyph-Icon_Fleetfooted {
  background-position: 0 -641px;
}
.glyph-Icon_Spirited {
  background-position: 0 -242px;
}
.glyph-Icon_Brilliant {
  background-position: 0 -481px;
}
.glyph-Icon_Carving {
  background-position: 0 -83px;
}
.glyph-Icon_Persistent {
  background-position: 0 -201px;
}
.glyph-Icon_Influential {
  background-position: 0 -1003px;
}
.glyph-Icon_Multiplicative {
  background-position: 0 -960px;
}
.glyph-Icon_Lingering {
  background-position: 0 -561px;
}
.glyph-Icon_Slowing {
  background-position: 0 -640px;
}
.glyph-Icon_Blossoming {
  background-position: 0 -640px;
}
.glyph-Icon_Powerlinked {
  background-position: 0 -281px;
}
.glyph-Icon_Keen {
  background-position: 0px -81px;
}
.glyph-Icon_Slick {
  background-position: 0px -720px;
}
.glyph-Icon_Hastened {
  background-position: 0px -641px;
}
.glyph-Icon_Shared {
  background-position: 0px -881px;
}
.glyph-Icon_Warding {
  background-position: 0px -844px;
}
.glyph-Icon_Hindering {
  background-position: 0px -520px;
}
.glyph-Icon_Grounded {
  background-position: 0px -163px;
}
*/
/* end glyph skills */


  .skillRow {
    box-sizing:border-box;
    padding: 15px 0;
  }
  .skillRow.odd, .skillRow:nth-child(odd) {
    background: image-url("brawler/class/leftEdge.png") top left repeat-y, image-url("brawler/class/rightEdge.png") top right repeat-y #cfd0d2;
  }
  .skillRow.even, .skillRow:nth-child(even) {
    background: image-url("brawler/class/leftEdge.png") top left repeat-y, image-url("brawler/class/rightEdge.png") top right repeat-y #e5e6e6;
  }
  #skillTable .skillRow h4 {
    margin:0 0 5px 0;
    width:100%;
    box-sizing: border-box;
    padding-left: 60px;
  }
  .skillcol {
    display:inline-block;
    vertical-align:top;
  }
  .colfirst {
    width:250px;
    /*box-sizing: border-box;
    padding-left: 60px;*/
  }
  .colsecond {
    width:788px;
  }
  
  
  .trailer {
    //border: 6px solid #d24e00;
    border-radius: 5px;
    box-shadow: 0px 10px 20px #999999;
    height:555px;
    width:983px;
    margin:0 auto;
    display:block;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .trailer:hover {
    //border: 6px solid #d24e00;
    box-shadow: 0px 10px 20px #999999;
    background-position:-984px 0;
  }
  #trailerthumb {
    //background-image: url(<%= asset_path "sorcerer/class/video_sprite.png" %>);
    margin:20px auto 70px;
  }
  .eme-footer {
    margin-top: 0;
    background: none;
  }
  .eme-footer nav {
    width: 652px;
  }
  #classguide-footer .wrapper {
    //background-image: image-url("sorcerer/class/footer.png");
    background-position: top center;
    background-repeat: no-repeat;
    height:637px;
    padding-top:283px;
  }
  #classguide-footer .play-now {
    width:385px;
    height:77px;
    margin:0 auto;
    float:none;
  }
  #classguide-footer .play-now a {
    width:385px;
    height:77px;
    font-size:34px;
    padding-top:15px;
  }
  #classguide-footer a em {
    color: inherit;
  }


  /***** Lightbox *****/
  #lb-blackout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
  }
  #lightbox {
    position: absolute;
    left: 0;
    z-index: 9005;
    width: 100%;
    top: 150px;
  }
  #lightbox-container {
    width: 640px;
    padding: 8px;
    position: relative;
    margin: 0 auto;
  }
  #lightbox-container.video {
    background: none;
  }
  #lightbox-content {
    box-shadow: 0px 0px 0px 2px #d24e00;
    //border: 1px solid  #d24e00;
    background-color: #000000;
  }
  .lightbox-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: -5px;
    /*background: url(<%#= asset_path "brawler/lightbox-close.png" %>) no-repeat 0 0;*/
    //background: #d24e00;
    color: #ffffff;
    font-weight:bold;
    font-size:24px;
    text-align:center;
    padding-top:2px;
    border-radius: 21px;
  }
  .lightbox-close:hover {
    background-position: 0 -110px;
    text-decoration: none;
  }
}    
  

.ie8 {
  .class_guide {
  	.intro .wrapper {
  	  //background-image: url(<%= asset_path "sorcerer/class/header.jpg" %>);
  	  background-position: center center;
  	  background-repeat: no-repeat;
  	}
  /*	#highlights .highlights {
  	background: url(<%= asset_path "sorcerer/class/hightlight.png" %>) top left no-repeat;
  	}*/
  	#skills .wrapper {
  	  background: #e5e6e6;
  	}
  	.odd.skillRow {
  	  background: #cfd0d2;
  	}
  	.even.skillRow {
  	  background: #e5e6e6;
  	}
  }
}
