#wide_body {
  .community {
    .com-icons {
      width: auto;
      margin: 10px;
      text-align: center;

      .com-block {
        display: inline-block;
        margin: 8px;
        border: 2px solid $black;
        background: $midGray;
        @include border-radius(10px);
        padding: 3px;
        height: 155px;
      }

      .com-icon {
        position: relative;
        border: 1px solid $black;
        @include border-radius(5px);
        background: #{$image-sprite} no-repeat 0 0;
        width: 150px;
        height: 145px;
        opacity: 0.8;

        &.forums      { background-position: 0px -520px; }
        &.resources   { background-position: -150px -520px; }
        &.support     { background-position: -300px -520px; }
        &.answers     { background-position: 0px -665px; }
        &.kit         { background-position: -150px -665px; }
        &.twitch      { background-position: -300px -665px; }

        &.google      { background-position: 0px -810px; }
        &.facebook    { background-position: -150px -810px; }
        &.twitter     { background-position: -300px -810px; }
        &.youtube     { background-position: 0px -955px; }
        &.rss         { background-position: -150px -955px; }
        &.reddit      { background-position: -300px -955px; }
        &.raptr       { background-position: 0 -1100px;}
      }
      .com-block:hover .com-icon { opacity: 1.0; }

      .title {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        font: bold 21px/21px $bodyFontFamily;
        padding: 7px 0;
        @include background(linear-gradient($midGray, $darkGray));
      }
    }
  }
}

@media #{$screen} {}
@media #{$medium} {}
@media #{$small} {}