.download-buttons {
  margin: 0 0 20px;

  .download-option {
    margin: 0 auto;
  }

  .download-button {
    position: relative;
    padding: 13px 0 0 100px;

    display: block;
    border: 1px solid #e6b300;
    text-align: center;
    height: 77px;
    width: 261px;
    line-height: 45px;
    color: black;
    margin: 0 auto;
    font: bold 22px/26px 'exo_2light';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgb(254,249,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,249,241,1) 0%, rgba(236,183,92,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,249,241,1)), color-stop(100%,rgba(236,183,92,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f1', endColorstr='#ecb75c',GradientType=0 ); /* IE6-9 */

    &:before {
      content: "";
      position: absolute;
      background: url(/assets/icons/download-types.png) no-repeat 0 0;

      top: 11px;
      left: 28px;
      width: 62px;
      height: 54px;
    }
    &:hover {
      text-decoration: none;
      color: #666666;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ffffff+0,f1cb8a+100 */
      background: rgb(230,179,0); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(255,255,255,1) 0%, rgba(241,203,138,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,203,138,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#f1cb8a',GradientType=0 ); /* IE6-9 */
    }
    &:active {
      color: #666666;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ecb75c+0,fef9f1+100 */
      background: rgb(230,179,0); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(236,183,92,1) 0%, rgba(254,249,241,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(236,183,92,1)), color-stop(100%,rgba(254,249,241,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#fef9f1',GradientType=0 ); /* IE6-9 */
    }
  }

  .direct-button:before {
    background-position: -62px 0;
    top: 13px;
    left: 13px;
    width: 48px;
    height: 49px;
    
  }
  .direct-button:hover {
    &:before { background-position: -62px -54px; }
  }
  .steam-button:before {
    background-position: -110px 0;
    top: 10px;
    left: 17px;
    width: 68px;
    height: 54px;
  }
  .steam-button:hover {
    &:before { background-position: -110px -54px; }
  }
  .bittorrent-button:before {
    background-position: -177px 0;
    top: 12px;
    left: 14px;
    width: 55px;
    height: 54px;
  }
  .bittorrent-button:hover {
    &:before { background-position: -177px -54px; }
  }
}