body.secret {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  #page_container {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  #header-logo {
    display: block;
    height: 147px;
    width: 270px;
    background: url(/assets/image-sprite.png) no-repeat 0px -5px;
    margin: 0 auto;
  }

  .white-box {
    position: relative;
    width: 675px;
    margin: 0 auto;
    background: white;
    padding: 20px;


    -webkit-box-shadow: 0px 3px 5px 0 rgba(137,137,137,1);
    -moz-box-shadow: 0px 3px 5px 0 rgba(137,137,137,1);
    box-shadow: 0px 3px 5px 0 rgba(137,137,137,1);

    #question {
      text-align: center;
      p { margin: 15px 0 0; }
    }

    .select-wrapper {
      width: 50%;
      margin: 0 auto;
      select {
        outline: none;
        width: 100%;
        &.error {
          -webkit-box-shadow: inset 0px 0px 5px 0px rgba(185,22,33,1);
          -moz-box-shadow: inset 0px 0px 5px 0px rgba(185,22,33,1);
          box-shadow: inset 0px 0px 5px 0px rgba(185,22,33,1);
        }
      }
    }

    .input-wrapper {
      width: 50%;
      margin: 0 auto;
      input {
        outline: none;
        width: 100%;
        &.error {
          -webkit-box-shadow: inset 0px 0px 5px 0px rgba(185,22,33,1);
          -moz-box-shadow: inset 0px 0px 5px 0px rgba(185,22,33,1);
          box-shadow: inset 0px 0px 5px 0px rgba(185,22,33,1);
        }
      }
    }

    #save-secret {
      display: block;
      outline: none;
      border-radius: 3px;
      border: 1px solid #e6b300;
      text-align: center;
      margin: 50px auto 25px;
      color: black;
      font-family: 'exo_2light';
      font-size: 26px;
      font-weight: bold;
      text-shadow: none;
      background: rgb(254,249,241); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(254,249,241,1) 0%, rgba(236,183,92,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,249,241,1)), color-stop(100%,rgba(236,183,92,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f1', endColorstr='#ecb75c',GradientType=0 ); /* IE6-9 */
      &:hover {
        text-decoration: none;
        color: #666666;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ffffff+0,f1cb8a+100 */
        background: rgb(230,179,0); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(255,255,255,1) 0%, rgba(241,203,138,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,203,138,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#f1cb8a',GradientType=0 ); /* IE6-9 */
      }
      &:active {
        color: #666666;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ecb75c+0,fef9f1+100 */
        background: rgb(230,179,0); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(236,183,92,1) 0%, rgba(254,249,241,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(236,183,92,1)), color-stop(100%,rgba(254,249,241,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#fef9f1',GradientType=0 ); /* IE6-9 */
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -26px;
      left: 0;
      width: 675px;
      height: 26px;
      background: url(/assets/secret-bottom.png) no-repeat 0 0;
    }
  }
  #ohnoerrors {
    color: #B91621;
    font-weight:bold;
  }
}

// @media (max-width: 47.9em)
@include breakpoint(mobileonly) {
  body.secret {
    .white-box {
      width: 90%;
      &:after { display: none; }
    }
  }
}
