#strangerthings-confirm, #strangerthings-shop-receipt {
    background: black;
    .page-wrap {
        background: none;
        .sleeve {
            background: url("https://eme04.enmasse-game.com/images/enm/hero/ST3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 1600px;
        }
        .inner-sleeve {
            min-height:400px;
            max-width:1366px;
            width:100%;
            margin:0 auto;
        }
    }
    #receipt_heading {
        h1 {
            margin: 1em auto;
            text-align: left;
        }
    }
    .receipt_content {
        max-width:450px;
    }
    #purchase-confirmation {
        max-width: 100%;
        text-align: center;
        padding: 10px;
        z-index: 10;
        position: relative;
        margin: 0 auto;
        h2 {
            font-size: 26px;
            margin-bottom: 30px;
        }
        #selected-amt {
            font-size: 24px;
        }
        #selected-amt-price {
            font-size: 24px;
            margin: 30px auto;
        }
        .submitBTN {
            margin-bottom: 30px;
        }
    }
    input {
        background: transparent;
        border: none;
        width: 100%;
        height: 100%;
    }
    p.popup-info {
        max-width:600px;
        margin:0 auto;
    }
}

@media all and (min-width: 768px) {
    #strangerthings-shop-receipt {
        .page-wrap {
            .inner-sleeve {
                padding: 100px 0 0 20px
            }
        }
    }
}
@media all and (min-width: 1024px) {
    #strangerthings-shop-receipt {
        .page-wrap {
            .sleeve {
                background-size:100%;
                background-position: bottom center;
            }
            .inner-sleeve {
                padding-bottom: 100px;
                min-height:560px;
            }
        }
    }
    #strangerthings-confirm {
        #purchase-confirmation {
            max-width: 700px;
            width: 100%;
            text-align: center;
            padding: 10px;
            z-index: 10;
            position: relative;
            margin-bottom: 50px;
            padding-right: 20px;
            padding-left: 50px;
            padding-top: 120px;
            position: relative;
            margin: 0;
        }
    }
}
@media all and (min-width: 1300px) {
    #strangerthings-confirm {
        #purchase-confirmation {
            max-width: 1300px;
            width: 100%;
            min-height: 550px;
            padding-right: 450px;
        }
    }
}

/*#gofillup-screen {
    display: none;
}

#clear-cache {
    display: none;
}*/
