body.ST3 {
    //background: #0a1627;
    //color: $white;
    //font-family: 'Titillium Web', sans-serif;

    width:100%;
    height:100%;
    background: #0a1528;
    color:$white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;

    section {
      width:100%;
      display: block;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      color:$bulletblue;
      text-decoration: none;
      &:hover {
        color:$white;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
      margin-top: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform:uppercase;
      color:$white;
      text-align:center;
    }
    p {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 21px;
      text-shadow: 0px 0px 20px $black;
      color:$copyblue;
    }
    .sleeve {
        padding:20px;
        position: relative;
        max-width:1366px;
        width:100%;
        margin:0 auto;
    }
    .page-wrap {
        background-image: url(https://eme04.enmasse-game.com/images/enm/gamepage/st3/st_page_bg.png), url(https://eme04.enmasse-game.com/images/enm/gamepage/st3/st_page_bg_tiler.png);
        background-position: bottom center, top center;
        background-repeat: no-repeat, repeat-y;
    }

    .purchase_block {
        margin: 1em auto 2em;
        display: block;
    }

    /* main {
        background-image: url(https://eme04.enmasse-game.com/images/enm/gamepage/st3/st_page_bg.png),url(https://eme04.enmasse-game.com/images/enm/gamepage/st3/st_page_bg_tiler.png);
        background-position: bottom center, top center;
        background-repeat: no-repeat,repeat-y;
        width: 1350px;
        max-width: 100%;
        position: relative;
        min-height: 100vh;
        margin: 0 auto;
        overflow: hidden;
        min-height: 1147px;

        
    }

   #page-content {
        position: relative;
        padding-bottom: 119px;
    }

    h1 {
        font-size: 50px;
        width: 100%;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 75px;
    }

    #purchase {
        text-align: center;
    }*/
    h2 {
        position: relative;
        z-index:10;
        .strikethrough {
            color: $grey;
            text-decoration: line-through;
            text-decoration-color: #ff0000;
        }
        .saleOffer {
            //position: absolute;
           // top: -18px;
            //margin-left: -18px;
            font-size:36px;
            //transform: rotate(10deg);
            text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
        }
    }
    .sys-requirements {
        max-width:590px;
        padding: 15px;
        h4 {
            text-align: left;
        }
        table {
            td {
                padding-left:10px; 
                text-shadow: 0px 0px 20px black;
                &.label {
                    font-weight:bold; 
                    color: #b8cbeb;
                    padding-left:0;
                }
            }
        }
    }
    #purchase {
        img {
            display: block;
            width:100%;
            max-width:100%;
        }
    }
    .rightCol {
        box-shadow: 0px 0px 35px 20px rgba(13,20,38, 0.6);
        background: rgba(13,20,38, 0.6);
    }
    #pre-footer {
        h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size:30px;
            text-align:center;
            margin: 40px auto 20px;
        }
        .social {
            margin:0 auto;
            text-align:center;
        }
        .social li {
            display: inline-block;
            vertical-align:top;
            margin:0 5px;
            p {
                /* correct more apostrophe garbage */
                max-width:auto;
                margin: 0;
            }
            a {
                display: block;
                width:44px;
                height:44px;
            }
        }

        .icon_facebook, .icon_instagram, .icon_youtube, .icon_twitter, .icon_linkedin, .icon_discord, .icon_twitch, .icon_forums {
            background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_dcst.png);
            background-repeat: no-repeat;
            width: 44px;
            height: 44px;
            display: block;
            text-indent: -9999em;
        }
        .icon_facebook {
            background-position: -154px -220px;
        }
        .icon_instagram {
            background-position: -154px -269px;
        }
        .icon_twitter {
            background-position: -154px -368px;
        }
        .logo_bonusxp {
            text-align:center;
            text-indent: -9999em;
            display: block;
            background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_dcst.png);
            background-repeat: no-repeat;
            width: 225px;
            height: 71px;
            background-position: -29px -1658px;
            margin:20px auto;
        }
    }


    /*.text {
        //width: 590px;
        //display: inline-block;
        //vertical-align: top;
        //padding: 15px;
        //text-align: left;
        //text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
        p {
            margin-bottom: 20px;
            color: $light-blue-text;
        }
        h2 {
            width: 100%;
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }
    }*/

    .purchase_initiate_button, .purchase_block .sign-in, .submitBTN {
        background: none;
        border: none;
        background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_dcst.png);
        background-repeat: no-repeat;
        background-position: -98px -35px;
        width: 172px;
        height: 49px;
        line-height: 49px;
        transition: none;
        text-align: center;
        position: relative;
        margin: 0 auto;
        text-transform: uppercase;
        display: block;
        color: white;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-position: -98px -84px;
        }
    }

    footer {
        .inner {
            max-width:550px;
        }
        .logo_krafton {
            background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_dcst.png);
            background-repeat: no-repeat;
            background-position: -174px -730px;
            width: 100px;
            height: 78px;
            display: block;
            text-indent: -9999em;
            margin:0 auto;
        }
        .legal {
            width:calc(100% - 125px);
            text-align: left;
        }
        h4 {
            font-size:30px;
        }
        nav {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size:14px;
            a {
                font-size: 12px;
                font-weight: 700;
                padding: 0 15px;
                color: $white;
                transition: 250ms;
                line-height: 1.75;
                &:hover {
                    color: $lightblue;
                }
            }
        }
        .copyright p {
            font-size: 12px;
            color:$grey;
            font-weight: 700;
            text-shadow: none;
            margin-bottom: 0;
        }
    }

    #gofillup-screen {
      position:fixed;
      top:50%;
      left:0;
      right:0;
      width:750px;
      height:810px;
      margin-top: -350px;
      margin-left: auto;
      margin-right: auto;
      z-index:100;
      background: rgb(255, 255, 255);

      .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
      }
      .close:hover {
        background: #00d9ff;
      }
    }

    /* alert styling */
    .site-alert {
        max-width: 1366px;
        width: 100%;
        position: absolute;
        z-index:9;
        left: 0;
        right: 0;
        margin: 1em auto;
        .error {
            font-family: "Titillium Web", sans-serif;
            border: 3px solid #F90000;
            border-radius: 5px;
            background: rgb(249,0,0);
            background: rgba(249,0,0,0.3);
            padding:10px;
        }
        .warning {
            font-family: "Titillium Web", sans-serif;
            border: 3px solid #ff9c00;
            border-radius: 5px;
            background: rgb(255,156,0);
            background: rgba(255,156,0,0.3);
            padding:10px;
        }
        .info {
            font-family: "Titillium Web", sans-serif;
            border: 3px solid #179736;
            border-radius: 5px;
            background: rgb(23,151,54);
            background: rgba(23,151,54,0.3);
            padding:10px;
        }
    }

    /*h3 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
         margin: 40px auto 20px;
        font-weight: bold;
    }*/

    /* Footer CSS */
   /* footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        overflow: hidden;
    }
    div,p,a,ul,li,footer,nav{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
    footer,nav{display:block;}
    ul{list-style:none;}
    *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;}
    a{text-decoration:none;cursor:pointer;}
    p{margin-bottom:0;font-size:15px;line-height:21px;}
    ul{margin-bottom:0;}
    a{color:#00a2ff;text-decoration:none;}
    a:hover{color:#ffffff;}
    .inner{width:100%;height:100%;}
    @media all and (min-width:1024px){
    footer{max-width:1366px;width:100%;margin:0 auto;}
    }
    nav{display:block;font-family:'Montserrat',sans-serif;font-weight:bold;font-size:14px;display:none;}
    nav ul{padding:0;margin-top:10px;}
    nav ul li{list-style-type:none;display:block;}
    nav a{color:#ffffff;transition:250ms;line-height:1.75;}
    nav a:hover{color:#00b7fe;}
    @media all and (min-width:768px){
    nav{display:block;}
    nav ul{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;margin-top:0;padding-top:25px;}
    nav ul li:after{content:"|";color:#00b7fe;}
    nav ul li:last-child:after{display:none;}
    nav a{padding:0 10px;}
    }
    footer{background:-webkit-linear-gradient(right, #0a1528, #142a50, #0a1528);background:linear-gradient(to right, #0a1528, #142a50, #0a1528);position:relative;}
    footer .inner{max-width:470px;width:100%;margin:0 auto;padding:20px;text-align:center;}
    footer .logo_krafton{background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_dcst.png);background-repeat:no-repeat;background-position:-174px -730px;width:100px;height:78px;display:block;text-indent:-9999em;margin:0 auto;}
    footer.full-ft{position:relative;background:url(https://eme04.enmasse-game.com/images/enm/bgs/ft_gradient.jpg) top center no-repeat;position: absolute; left: 0; right: 0; margin: 0 auto; bottom: 0;}
    footer .attribution,footer .legal{display:inline-block;vertical-align:middle;margin:0 auto;}
    footer .legal{width:calc(100% - 125px);text-align:left;}
    footer nav{display:block;}
    footer nav{max-width:310px;}
    footer nav ul{margin-top:0;padding-top:0px;}
    footer nav ul li{display:inline-block;vertical-align:top;}
    footer nav ul li:after{content:"|";color:#00b7fe;}
    footer nav ul li:last-child:after{display:none;}
    footer nav a{font-size:12px;font-weight:700;padding:0 15px;}
    .copyright{padding-top:10px;padding-left:15px;}
    .copyright p{font-size:10.5px !important;color:#747a8a;font-weight:700; font-family: "Titillium Web", sans-serif;}
    @media all and (min-width:1024px){
    footer.full-ft:after{content:'';position:absolute;left:calc(100% - ((100% - 1366px) / 2));top:0;background:#0a1527;display:block;height:100%;width:100%;z-index:100;}
    footer.full-ft:before{content:'';position:absolute;right:calc(100% - ((100% - 1366px) / 2));top:0;background:#0a1527;display:block;height:100%;width:100%;z-index:100;}
    }*/
    /* End Footer CSS */

    /* Socials CSS */
    /*.social {
        width: 100%;
        text-align: center;
    }
    .apos-area,.apos-area-widget{position:relative;}
    div,span,a,ul,li{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
    ul{list-style:none;}
    *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;}
    a{text-decoration:none;cursor:pointer;}
    ul{margin-bottom:0;}
    a{color:#00a2ff;text-decoration:none;}
    a:hover{color:#ffffff;}
    .internal ul span{font-size:18px;color:#b8cbeb;display:inline-block;vertical-align:top;}
    .social li{display:inline-block;vertical-align:top;margin:0 5px;}
    .social li a{display:block;width:44px;height:44px;}
    .icon_facebook,.icon_instagram,.icon_twitter{background-image:url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_dcst.png);background-repeat:no-repeat;width:44px;height:44px;display:block;text-indent:-9999em;}
    .icon_facebook {background-position:0 0;}
    .icon_instagram {background-position:0 -44px;}
    .icon_twitter {background-position:0 -131px;}

    #bonusXP {
        background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_dcst.png);
        display: block;
        width: 202px;
        height: 69px;
        background-position: -36px -1659px;
        margin: 20px auto;
        background-repeat: no-repeat;
        text-indent: -9999em;
    }

    #pre-footer {
        margin-top: 170px;
    }*/
}

@media all and (min-width: 768px) {
    body.ST3 {
        #purchase {
            img {
                max-width: 623px;
                margin:0 auto;
            }
            .text {
                max-width:590px;
                margin:0 auto;
            }
        }
    }
}



@media all and (min-width: 1024px) {
    body.ST3 {
        main .sleeve {
            padding-left:20px;
            padding-right:20px;
        }
        #shop_heading {
            h1 {
                margin: 2em auto;
                font-size:50px;
            }
        }
        .leftCol, .rightCol {
            display: inline-block;
            vertical-align:top;
            width:49%;
        }
        #purchase {
            padding-left:45px;
            padding-bottom: 100px;
            .text {
                padding:30px 15px 15px 15px;
            }
        }
    }
}

@media all and (min-width: 1300px) {
    body.ST3 {
        .leftCol, .rightCol {
            width:auto;
        }
        main#strangerthings-shop {
            .sleeve {
                &:before {
                    content:'';
                    display: block;
                    position: absolute;
                    left: 0;
                    width:100px;
                    height:100%;
                    background: linear-gradient(to right, rgba(10,21,40, 1), rgba(10,21,40, 0));
                }
            }
        }
    }
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

