# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist

# Add Xbox Gear btn (button-gearshop-white-buynow.svg) to repo
!dist/button-gearshop-white-buynow.svg

bower_components
node_modules
npm-debug.log
yarn-error.log
composer.lock
yarn.lock
#assets/config.json
assets/local-config.json