<div class="slider" ng-init="init()">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <a ng-click='openWebNoSession(image.link_url)' style="display:block;">
      <img ng-src="{{image.image_url}}" />
      <p class="slide-tagline" ng-bind-html="image.tagline | trust"></p>
      <!--<p class="slide-tagline">{{image.tagline}}</p>-->
    </a>
  </div>
  <div class="buttons" style="{{hideNav}}">
    <button class="prev" ng-click="prev()">
      <span class="arrow">&lsaquo;</span>
    </button>
    <button class="next" ng-click="next()">
      <span class="arrow">&rsaquo;</span>
    </button>
  </div>
</div>