$white: #ffffff;
$black: #000000;
$basegray: #1a1a1a;
//$teal: #2299a4;
$teal: #33d5e4;
$lightteal: #33d5e4;
$newsTeal: #03aab9;

$peach: #ffd981;
$yellow: #ffeb00;
$red: #c9002a;
$bgred: #b20000;
$highlightred: #dc000a;
$borderred: #c20009;
$darkpurple: #190b1a;
$green: #0f8300;

$softgrey: #e3e3e3;
$grey: #cccccc;
$strike: #545454;
$lightgrey: #dddddd;
$middlegrey: #7e7e7e;
$sidebarGrey: #1a1a1a;
$newsGrey: #c3c3c3;

// error
$lightRed: #960909;
$midRed: #820707;
$darkRed: #530202;

// warn
$lightOranges: #ff9400;
$midOranges: #c36e00;
$darkOranges: #663d00;

 //info
$lightGreen: #1C9509;
$midGreen: #198607;
$darkGreen: #115f02;