body.download {
    main {
        padding: 0;
        &:before {
            top: 200px;
        }
    }
    #content_article_header {
        height: 305px;
        background-image: url(/assets/bgs/download-header.jpg);
        background-size: cover;
        overflow: auto;
        text-align: center;
        h1 {
            width: 100%;
            font-size: 43px;
            margin-top: 25px;
            text-align: center;
            color: $yellow;
            font-weight: normal;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
        }
         a {
            @include fontTeko;
             width: 280px;
             height: 88px;
             display: block;
             position: relative;
             margin-left: 10px;
             margin-right: 10px;
             margin-top: 35px;
             z-index: 1;
             text-align: center;
             line-height: 92px;
             font-size: 36px;
             transition: 250ms;
             display: inline-block;
             &:before {
                 content: "";
                 width: 280px;
                 height: 88px;
                 -webkit-transform: skew(-25deg);
                 -moz-transform: skew(-25deg);
                 -o-transform: skew(-25deg);
                 transform: skew(-25deg);
                 display: block;
                 position: absolute;
                 left: 0;
                 top: 0;
                 z-index: -1;
                 background: linear-gradient(to bottom, #ffeb00 35%, #fff 65%);
             }
             &:hover {
                 cursor: pointer;
                 transform: scale(1.1);
             }
             .direct {
                 width: 44px;
                 height: 44px;
                 top: 10px;
                 margin-right: 10px;
                 position: relative;
             }
             .steam {
                width: 61px;
                height: 44px;
                top: 15px;
                margin-right: 10px;
                position: relative;
            }
         }
    }
    #content_side_body {
        display: none;
    }
    #main-wrapper {
        padding: 0;
    }
    #content_body {
        width: 100%;
        h2 {
            width: 100%;
            padding: 15px;
            background-color: $white;
            text-align: center;
            margin: 0px;
            font-size: 42px;
            span {
                color: $teal;
                font-style: italic;
                margin-right: 2px;
            }
            a {
                width: 140px;
                height: 45px;
                display: inline-block;
                position: relative;
                z-index: 1;
                text-align: center;
                line-height: 47px;
                font-size: 36px;
                transition: 250ms;
                font-size: 17px;
                margin-left: 15px;
                vertical-align: top;
                margin-top: 5px;
                color: $yellow;
                text-decoration: none;
                &:before {
                    content: "";
                    width: 140px;
                    height: 45px;
                    -webkit-transform: skew(-25deg);
                    -moz-transform: skew(-25deg);
                    -o-transform: skew(-25deg);
                    transform: skew(-25deg);
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    background-color: $black;
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    text-decoration: none;
                }
            }
        }
        .content {
            min-height: 625px;
            width: 100%;
            background-image: url(/assets/bgs/downloadbg.jpg);
            background-size: cover;
            overflow: auto;
            @include breakpoint(desktop) {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    z-index: 0;
                    background-image: url(/assets/characters/downloadchar1.png);
                    background-repeat: no-repeat;
                    height: 270px;
                    width: 300px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    z-index: 2;
                    background-image: url(/assets/characters/downloadchar2.png);
                    background-repeat: no-repeat;
                    height: 270px;
                    width: 270px;
                }
            }
            h3 {
                margin-top: 60px;
                width: 100%;
                text-align: center;
                color: $white;
                text-shadow: 0px 2px 2px #000;
                font-size: 30px;
            }
            table {
                max-width: 630px;
                width: 100%;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                font-family: roboto;
                box-shadow: -5px 5px 0px 0px rgba(0,0,0,1);
                z-index: 1;                 
                th {
                    background-color: $black;
                    &:nth-child(2) {
                        color: $teal;
                    }
                    &:nth-child(3) {
                        color: $yellow;
                    }
                }
                tr {
                    height: 30px;
                    font-size: 12px;
                    background-color: rgba(40, 64, 89, .749);
                    color: $white;
                    border-bottom: solid 1px $white;
                    td, th {
                        padding: 10px;
                        &:nth-child(1) {
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                        &.border-right {
                            border-right: solid 1px $white;
                        }
                    }
                    &:nth-child(1) {
                        font-size: 16px;
                        text-transform: uppercase;
                        border-bottom: none;
                    }
                    &:last-child {
                        border-bottom: none;
                        td {
                            padding: 34px 10px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}