body.elite.internal {
    h1, h2, h3, h4, h5, h6 {
        @include fontTeko;
        color: $white;
        letter-spacing: .5px;
    }
    h1 {
        font-size: 43px;
        font-family: Teko;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
        margin-bottom: 0px;
        line-height: 1.2em;
        margin-bottom: 10px;
        display: none;
        @include breakpoint(tablet) {
            display: block;
        }
    }
    .button {
        @include fontTeko;
        letter-spacing: 0.5px;
        position: relative;
        display: inline-block;
        text-align: center;
        color: #000000;
        font-size: 24px;
        height: 50px;
        line-height: 55px;
        width: 150px;
        z-index: 3;
        transition: 250ms;
        margin: 0px auto;
        top: 0px;
        font-weight: bold;
        text-shadow: 0 1px 0 #fff;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: top;
        margin-top: 22px;
        &:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            background: #ffeb00;
            background: -moz-linear-gradient(top, #ffeb00 35%, #ffffff 75%);
            background: -webkit-linear-gradient(top, #ffeb00 35%, #ffffff 75%);
            background: linear-gradient(to bottom, #ffeb00 35%, #ffffff 75%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb00', endColorstr='#ffffff',GradientType=0 );
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -o-transform: skew(-20deg);
            transform: skew(-20deg);
            display: block;
            height: 50px;
            width: 150px;
            z-index: -1;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
        }
        &:hover {
            cursor: pointer;
        }
        @include breakpoint(tablet) {
            margin-top: 0px;
            height: 88px;
            line-height: 88px;
            width: 230px;
            font-size: 36px;
            &:before {
                width: 230px;
                height: 88px;
            }
        }
    }
    #content_article_header {
        height: 740px;
        background: url(https://eme01.enmasse-game.com/images/closers/elite-status/header-2.jpg);
        background-size: cover;
        background-position: 82% 20%;
        padding: 0px;
        position: relative;
        @include breakpoint(tablet) {
            background-position: right;
        }
    }
    #header-promo {
        position: absolute;
        right: 20px;
        bottom: 100px;
        padding-bottom: 0px;
        text-align: right;
        .sale {
            @include fontTeko;
            width: 245px;
            background: black;
            height: 45px;
            line-height: 52px;
            display: inline-block;
            margin-top: 5px;
            margin-left: -15px;
            padding-left: 30px;
            font-size: 22px;
            text-transform: uppercase;
            vertical-align: middle;
            position: relative;
            text-align: left;
            span {
                color: $yellow;
                font-size: 44px;
                display: inline-block;
                position: absolute;
                margin-left: 10px;
            }
        }
        .buy {
            margin-bottom: 40px;
            color: white;
            text-align: right;
        }
        .discount {
            @include fontTeko;
            background: white;
            width: 160px;
            position: absolute;
            height: 40px;
            line-height: 47px;
            bottom: -40px;
            right: 0;
            color: $black;
            z-index: 0;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            z-index: 0;
            font-style: italic;
            text-align: left;
            &:before {
                content: "";
                width: 50px;
                position: absolute;
                left: -15px;
                top: 0px;
                transform: skew(30deg);
                background: $white;
                height: 40px;
                z-index: -1;
            }
        }
        @include breakpoint(tablet) {
            .sale {
                margin-top: 25px;
            }
            .buy {
                margin-bottom: 20px;
            }
        }
    }
    #content_side_body {
        display: none;
    }
    #main-wrapper {
        width: 100%;
        padding: 0px;
        margin-top: -3px;
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: top;
        background-color: white;
        box-shadow: none;
        background: linear-gradient(to bottom, #a5a6a8 0%,#ffffff 4%);
        h1 {
            margin-bottom: 10px;
        }
        h2 {
            background: $black;
            color: $yellow;
            font-size: 48px;
            text-align: left;
            margin: 0;
            padding-left: 50px;
        }
        h3 {
            color: $black;
            text-align: center;
            font-size: 28px;
            font-weight: normal;
            margin-bottom: 30px;
            strong {
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        @include breakpoint(tablet) {
            padding: 15px;
            padding-bottom: 0;
        }
    }
    #content_body {
        width: 100%;
        border: none;
        min-height: 200px;
        text-align: center;
        border-bottom: none;
        margin-top: -85px;
        @include breakpoint(tablet) {
            border: solid 5px $black;
            border-bottom: none;
        }
        .content {
            padding: 10px;
            @include breakpoint(tablet) {
                padding: 30px;
            }
        }
        .promo-lrg {
            max-width: 920px;
            position: relative;
            margin: 0 auto;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 30px;
            img {
                height: auto;
                width: 100%;
                z-index: 1;
            }
            table {
                margin-top: -6px;
                z-index: 2;
                width: 100%;
            }
            thead tr {
                background-image: -moz-linear-gradient( 0deg, rgb(17,174,255) 0%, rgb(255,255,255) 110%);
                background-image: -webkit-linear-gradient( 0deg, rgb(17,174,255) 0%, rgb(255,255,255) 110%);
                background-image: -ms-linear-gradient( 0deg, rgb(17,174,255) 0%, rgb(255,255,255) 110%);  
                th {
                    @include fontTeko;
                    text-align: left;
                    padding-left: 10px;
                    padding-top: 5px;
                    color: white;
                    font-size: 24px;
                    width: 50%;
                    font-weight: normal;
                    &:last-child {
                        color: #0059a4;
                    }
                }
            }
            td {
                background: #0059a4;
                color: white;
                padding: 15px;
                font-family: Roboto;
                font-size: 12px;
                text-align: center;
                em {
                    color: $yellow;
                    font-style: normal;
                }
                h4 {
                    @include fontTeko;
                    font-size: 20px;
                    width: 100%;
                    text-align: center;
                    text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
                    margin: 0;
                    line-height: 1em;
                    margin-bottom: 10px;
                }
                &:last-child {
                    background: $white;
                    color: #0059a4;
                    h4 {
                        color: #12aeff;
                        text-shadow: none;
                    }
                    em {
                        color: #0059a4;
                        font-weight: bold;
                    }
                }
                @include breakpoint(tablet) {
                    font-size: 16px;
                    h4 {
                        font-size: 26px;
                    }
                }
            }
            &.cubes {
                thead {
                    display: none;
                }
                td {
                    width: 33%;
                    padding-bottom: 50px;
                    .cubes-desc {
                        width: 66.66%;
                        height: 35px;
                        background: url("https://eme01.enmasse-game.com/images/closers/elite-status/triangle-1.jpg");
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        line-height: 35px;
                        text-align: left;
                        span {
                            @include fontTeko;
                            padding: 0 5px;
                            display: inline-block;
                            width: auto;
                            height: 35px;
                            background: #11aeff;
                            text-transform: uppercase;
                            font-size: 16px;
                            line-height: 40px;
                        }
                    }
                }
                table {
                    position: relative;
                    &:after {
                        content: "";
                    }
                }
                .cubes-desc-2 {
                    width: 100%;
                    height: 35px;
                    background: url("https://eme01.enmasse-game.com/images/closers/elite-status/triangle-2.jpg");
                    position: relative;
                    line-height: 35px;
                    text-align: left;
                    span {
                        @include fontTeko;
                        padding: 0 5px;
                        display: inline-block;
                        width: auto;
                        height: 35px;
                        background: white;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 40px;
                        color: #11aeff;
                    }
                }
                @include breakpoint(tablet) {
                    td .cubes-desc span, .cubes-desc-2 span {
                        padding: 0px 35px;
                        font-size: 20px;
                    }
                }
            }
        }
        .feature {
            width: 435px;
            height: 350px;
            font-family: Roboto;
            font-size: 16px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            background: #0059a4;
            color: white;
            display: inline-block;
            text-align: center;
            margin: 10px 0px;
            font-family: Roboto;
            max-width: 100%;
            border-radius: 5px;
            overflow: hidden;
            @include breakpoint(tablet) {
                margin: 23px;
                margin-top: 0;
            }
            img {
                height: 225px;
                width: 100%;
                object-fit: cover;
            }
            h4 {
                @include fontTeko;
                font-size: 36px;
                width: 100%;
                text-align: center;
                text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
                margin: 0;
                line-height: 1em;
                margin-bottom: 5px;
                color: white;
                padding-top: 5px;
            }
            &:nth-child(even) {
                background: white;
                box-shadow: 0px 0px 5px 0px #11aeff;
                color: #0059a4;
                h4 {
                    color: #11aeff;
                    text-shadow: none;
                }
            }
            .text {
                padding: 5px;
                padding-top: 0;
            }
        }
        .feature-list {
            background: #0059a4;
            margin: 20px auto;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            text-align: left;
            border-radius: 5px;
            overflow: hidden;
            max-width: 920px;
            .heading {
                @include fontTeko;
                width: 100%;
                height: 35px;
                line-height: 40px;
                text-transform: uppercase;
                background: #11aeff;
                color: white;
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;
            }
            ul {
                padding: 15px;
                li {
                    width: 420px;
                    max-width: 100%;
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 15px;
                    vertical-align: top;
                    img {
                        display: inline-block;
                        margin-right: 15px;
                        vertical-align: top;
                        background: black;
                        max-width: 35%;
                    }
                    h5 {
                        display: block;
                        width: 100%;
                        text-align: left;
                        vertical-align: top;
                        margin: 0;
                        margin-bottom: 5px;
                        font-size: 23px;
                        line-height: 1em;
                    }
                    .text {
                        display: inline-block;
                        width: 300px;
                        color: white;
                        font-size: 16px;
                        font-weight: normal;
                        font-family: Roboto;
                        max-width: 60%;
                    }
                }
            }
        }
    }
    main {
        padding-bottom: 0;
    }
    #content_article_footer {
        width: calc(100% + 30px);
        background: url(https://eme01.enmasse-game.com/images/closers/elite-status/footer.jpg);
        background-size: cover;
        background-position: right;
        height: 340px;
        margin-left: -15px;
        margin-top: -5px;
        z-index: 5;
        #header-promo {
            bottom: 10px;
        }
        @include breakpoint(tablet) {
            height: 426px;
            #header-promo {
                bottom: 100px;
            }
        }
    }
}