body.home {

    /*main {
        @include breakpoint(tablet) {
            padding: 30px;
            padding-bottom: 0;
            padding-top: 35px;
        }
    }*/
    
    #home-content {
        width: 100%;
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    }

    .underlay {
        box-shadow: -5px 5px 0px 0px $yellow;
    }

    #content_article_header {
        height: 540px;
        position: relative;
        /*@include breakpoint(tablet) {
            height: 695px;
        }*/
        article {
            //display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width:100%;
            box-sizing: border-box;
            padding: 20px;
            margin:0 auto;
            width: 100%;
            max-width: 85%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            h2, p {
                @include fontTeko;
                text-transform: uppercase;
                text-shadow: 2px 2px 5px $black, 2px 2px 5px $black;
                margin: 0;
                line-height: 1;
            }
            h2 {
                color:$yellow;
                font-size:36px;
                font-size:21px;
            }
            p {
                color:$white;
                font-size:26px;
                font-size:18px;
            }
            span, .yellow {
                color: $yellow;
            }
        }
        .tabs {
            position: absolute;
            bottom: 5px;
            width: 100%;
            text-align: center;
            height: 122px;
            padding: 5px;
            box-sizing: border-box;
            z-index: 4;
            .tab {
                display: inline-block;
                height: 112px;
                width: 193px;
                margin: 0 5px;
                position: relative;
                transition: 500ms;
                max-width: 20%;
                overflow: hidden;
                background-size: cover;
                background-position: center;
                box-shadow: inset 0px 0px 7px 1px $black;
                &.selected {
                    box-shadow: inset 0px 0px 7px 3px $yellow;
                }
                &:hover {
                    cursor: pointer;
                    box-shadow: inset 0px 0px 7px 3px $yellow;
                }
                &.twitch {
                    background-color: #6441a5;
                    background-image: url(/assets/icons/live.png);
                    background-position: 0 3px;
                    background-repeat: no-repeat;
                    background-size: initial;
                    .icon {
                        margin: auto;
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
        #featured-containers {
            height: 100%;
            width: 100%;
            display: inline-block;
            background-color: #222;
        }
        .container {
            width: 100%;
            height: 405px;
            padding-bottom: 120px;
            background-repeat: no-repeat;
            background-position: -50px 0px;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            transition: 500ms;
            transform: scale(0);
            z-index: 2;
            /*@include breakpoint(mediummobile) {
                background-position: top left;
            }*/
            /*@include breakpoint(tablet) {
                height: 100%;
                background-size: cover;
                background-position: top left;
                background-position: -50px 0px;
            }*/
           /* @include breakpoint (desktop) {
                background-position: top left;
            }*/
            .promo-btn {
                z-index: 1;
                position: relative;
                text-align: center;
                width: 150px;
                height: 56px;
                line-height: 60px;
                color: $black;
                text-decoration: none;
                text-shadow: 1px 1px 0px white;
                display: block;
                //position: absolute;
                //right: 25px;
                //top: 25px;
                transition: 250ms;
                font-size: 20px;
                text-transform: uppercase;
                font-family: "Teko";
                margin-bottom:10px;
                &:before {
                    content: "";
                    background: linear-gradient(to bottom, #ffeb00 35%, #fff 65%);
                    //box-shadow: 0px 2px 4px rgba(0,0,0,.70);
                    transform: skew(-26deg);
                    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
                    width: 150px;
                    height: 56px;
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
                /*@include breakpoint (desktop) {
                    right: 88px;
                    bottom: 140px;
                    width: 200px;
                    height: 75px;
                    line-height: 80px;
                    font-size: 40px;
                    top: initial;
                    &:before {
                        width: 200px;
                        height: 75px;
                    }
                }*/
            }
            &.twitch {
                .promo-btn {
                    top: 120px;
                    /*@include breakpoint (desktop) {
                        top: initial;
                    }*/
                }
            }
            &.selected {
                position: relative;
                transform: scale(1);
                z-index: 3;
            }
            &.twitch {
                background-image: url(https://eme01.enmasse-game.com/images/closers/home-tabs/new-main/background.jpg);
                background-position: top center;
                &:before {
                    content: url("https://eme01.enmasse-game.com/images/closers/home-tabs/new-main/char1.png");
                    position: absolute;
                    left: -310px;
                    display: none;
                    transform: scale(.8);
                    bottom: -100px;
                    /*@include breakpoint(desktop) {
                        display: block;
                    }*/
                }
                &:after {
                    content: url("https://eme01.enmasse-game.com/images/closers/home-tabs/new-main/char3.png");
                    position: absolute;
                    right: -280px;
                    bottom: -5px;
                    z-index: 0;
                    display: none;
                    transform: scale(.9);
                    /*@include breakpoint(desktop) {
                        display: block;
                    }*/
                }
                .heading {
                    height: 100px;
                    width: 100%;
                    //padding: 0 160px;
                    text-align: center;
                    margin-bottom: 10px;
                    z-index: 1;
                    font-family: "Teko";
                    img {
                        vertical-align: middle;
                    }
                    .closers-logo {
                        width: 387px;
                        height: auto;
                        display: none;
                        /*@include breakpoint(desktop) {
                            display: inline-block;
                        }*/
                    }
                    .on {
                        margin-left: -10px;
                        margin-right: 2px;
                        display: none;
                        /*@include breakpoint(desktop) {
                            display: inline-block;
                        }*/
                    }
                    .twitch-logo {
                        margin-top: 15px;
                        /*@include breakpoint(desktop) {
                            margin-top: 0;
                        }*/
                    }
                }
                iframe {
                    position: relative;
                    margin: 0 auto;
                    display: block;
                    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
                    max-width: 100%;
                    z-index: 1;
                    height: 300px;
                    width: 810px;
                    /*@include breakpoint(tablet) {
                        height: 456px;
                        width: 810px;
                    }*/
                }
            }
        }
    }

    #content_body {
        height: 580px;
        width: 100%;
        #featured-content {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            #featured-content-tabs {
                position: absolute;
                bottom: 0px;
                width: 100%;
                text-align: center;
                z-index: 10;
                img {
                    transition: 250ms;
                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                    &.selected {
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }
            }
            .container {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                transition: 750ms;
                display: inline-block;
                white-space: initial;
                margin-right: 0px;
                margin-right: -3px;
                .black-box {
                    top: 170px;
                    right: 25px;
                }
                &.blacklambs {
                    background-image: url(/assets/bgs/story3bg.jpg);
                    .dots {
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-position: 0px 50px;
                    }
                    .middle {
                        position: absolute;
                        left: 0;
                        top: 0px;
                    }
                    #blacklambs {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                &.monsters {
                    background-image: url(/assets/bgs/story2bg.jpg);
                    background-repeat: no-repeat;
                    .flames {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                    }
                    #mon1, #mon2, #mon3 {
                        position: absolute;
                        //bottom: -550px;
                        //bottom: 0px;
                    }
                    #mon1 {
                        z-index: 2;
                        left: 0;
                        top: 250px;
                    }
                    #mon2 {
                        z-index: 1;
                        left: 140px;
                        top: 50px;
                        //bottom: -800px;
                    }
                    #mon3 {
                        right: 0;
                        z-index: 2;
                        top: 150px;
                    }
                }
                &.seha {
                    .broken-world {
                        background-image: url(/assets/bgs/brokenworld_long.jpg);
                        top: 0px;
                        width: 100%;
                        height: 800px;
                        background-repeat: no-repeat;
                        top: -100px;
                        left: 0px;
                        position: absolute;
                    }
                    .dots {
                        background-image: url(/assets/bgs/dots.png);
                        height: 200%;
                        width: 100%;
                        top: -400px;
                        left: 0px;
                        position: absolute;
                        background-position: 0px 50px;
                    }
                    img {
                        position: absolute;
                        //top: 670px;
                        left: 0px;
                        margin-top: -120px;
                        margin-left: -180px;
                        //-webkit-backface-visibility: hidden;
                        transition: 250ms;
                    }
                }
            }
        }
    }

    #content_side_body {
        background-image: url(/assets/bgs/downloadbg.jpg);
        background-repeat: no-repeat;
        background-color: $white;
        background-position: 0 75px;
        h2 {
            background-color: $white;
            height: 75px;
            line-height: 75px;
            font-size: 24px;
            width: 100%;
            padding-left: 22px;
            margin: 0;
            text-transform: uppercase;
            /*@include breakpoint(desktop) {
                font-size: 48px;
            }*/
        }
        .more-btn {
            color: $black;
            font-size: 16px;
            font-family: roboto;
            text-decoration: none;
            width: 100%;
            text-align: right;
            display: block;
            padding-right: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            transition: 250ms;
            &:hover {
                color: $yellow;
                font-size: 24px;
                cursor: pointer;
            }
        }
        #news-posts {
            width: 100%;
            display: block;
            /*@include breakpoint(desktop) {
                width: 68%;
            }*/
            article {
                max-width: 320px;
                height: auto;
                width: 100%;
                margin: 20px auto;
                position: relative;
                box-shadow: -5px 5px 0px 0px $yellow;
                /*@include breakpoint(desktop) {
                    width: 650px;
                    height: 225px;
                }*/
                h3 {
                    width: 100%;
                    background-color: $black;
                    color: $teal;
                    padding-left: 15px;
                    font-size: 24px;
                    height: 40px;
                    line-height: 40px;
                    margin: 0;
                    white-space: initial;
                    a {
                        color: $teal;
                        text-decoration: none;
                    }
                }
                /*img {
                    width: 320px;
                    height: 185px;
                    object-fit: cover;
                    margin-right: -3px;
                }*/
                .post-preview {
                    a {
                        display: block;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
                .content {
                    width: 100%;
                    height: 185px;
                    position: relative;
                    background-color: #1a1a1a;
                    display: block;
                    box-sizing: border-box;
                    padding: 22px 15px 65px 15px;
                    color: $white;
                    font-family: roboto;
                    font-size: 16px;
                    overflow: hidden;
                    .meta {
                        color: $teal;
                        position: absolute;
                        bottom: 17px;
                        left: 15px;
                        font-size: 12px;

                        width:90%;
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    
                    a.readMore {
                        z-index: 1;
                        text-align: center;
                        width: 110px;
                        height: 30px;
                        line-height: 40px;
                        color: #000000;
                        text-decoration: none;
                        text-shadow: 1px 1px 0px white;
                        transition: 250ms;
                        font-size: 16px;
                        position: relative;
                        &:before {
                            content: "";
                            background-color: #ffeb00;
                            -webkit-transform: skew(-25deg);
                            -moz-transform: skew(-25deg);
                            -o-transform: skew(-25deg);
                            transform: skew(-25deg);
                            height: 40px;
                            width: 110px;
                            z-index: -1;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.1);
                        }
                    }
                    
                }
            }
        }
        #featured-vids {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            /*@include breakpoint(desktop) {
                width: 31%;
            }*/
            .featured-vid {
                width: 290px;
                margin: 20px auto;
                box-shadow: -3px 3px 0px 0px $yellow;
                .img {
                    width: 100%;
                    height: 160px;
                    background-size: cover;
                    background-image: url(/assets/bgs/youtube-placeholder.jpg);
                    background-position: center;
                    position: relative;
                    transition: 250ms;
                    img {
                        position: absolute;
                        margin: auto;
                        top: 0px;
                        bottom: 0px;
                        left: 0;
                        right: 0;
                        display: block;
                        transition: 250ms;
                    }
                    &:hover {
                        cursor: pointer;
                        img {
                            transform: scale(1.5);
                        }
                    }
                }
                .heading {
                    height: auto;
                    background-color: black;
                    color: $teal;
                    margin-top: -5px;
                    padding: 12px 8px;
                    h3 {
                        color: $teal;
                        margin-top: 0;
                    }
                }
            }
        }
        .ambassador-promo {
            width: 290px;
            height: 258px;
            background-color: $black;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 23px;
            box-shadow: -3px 3px 0px 0px $yellow;
            padding: 10px 10px;
            color: #0a5a8c;
            size: 37px;
            text-align: center;
            font-style: italic;
            background-position: center;
            background-size: cover;
            display: block;
            h5 {
                color: $white;
                font-style: italic;
                width: 100%;
                text-align: center;
                font-size: 17px;
                font-family: Teko;
            }
            span {
                font-size: 30px;
            }
            img {
                margin-top: -10px;
                //margin-bottom: -10px;
                display: block;
            }
            .learn-more-btn {
                z-index: 1;
                position: relative;
                margin: 15px auto;
                text-align: center;
                width: 110px;
                height: 45px;
                line-height: 45px;
                color: $black;
                text-decoration: none;
                text-shadow: 1px 1px 0px white;
                display: block;
                transition: 250ms;
                font-size: 20px;
                font-style: normal;
                &:before {
                    content: "";
                    background-color: $yellow;
                    -webkit-transform: skew(-25deg);
                        -moz-transform: skew(-25deg);
                        -o-transform: skew(-25deg);
                        transform: skew(-25deg);
                    height: 45px;
                    width: 110px;
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }

    #content_wide_body {
        height: 540px;
        width: 100%;
        background-image: url(/assets/bgs/homefooter.jpg);
        background-size: cover;
        background-position: top center;
        h2 {
            background-color: rgba(0,0,0,.75);
            text-align: center;
            width: 100%;
            color: $yellow;
            padding: 20px 0;
            font-size: 43px;
            margin-top: 0;
            em {
                color: $white;
                font-style: italic;
            }
        }
        .signup-btn {
            z-index: 1;
            position: relative;
            top: 150px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 250px;
            height: 88px;
            line-height: 88px;
            color: $black;
            text-decoration: none;
            display: block;
            transition: 250ms;
            font-size: 36px;
            font-style: normal;
            font-family: "Teko";
            &:before {
                content: "";
                background: linear-gradient(to bottom, #ffeb00 35%, #fff 65%);
                -webkit-transform: skew(-25deg);
                        -moz-transform: skew(-25deg);
                        -o-transform: skew(-25deg);
                        transform: skew(-25deg);
                height: 88px;
                width: 250px;
                z-index: -1;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

}

@include breakpoint(mediummobile) {
    body.home {
        #content_article_header {
            .container {
                background-position: top left;
            }
        }
    }
}

@include breakpoint(tablet) {
    body.home {
        main {
            padding: 30px;
            padding-bottom: 0;
            padding-top: 35px;
        }
        #content_article_header {
            height: 695px;
            .container {
                height: 100%;
                background-size: cover;
                background-position: top left;
                background-position: -50px 0px;
            }
            article {
                bottom: 122px;
                padding: 0 0 10px 0;
                h2 {
                    font-size:36px;
                }
                p {
                    font-size:26px;
                }
            }
        }
        .container {
            &.twitch {
                iframe {
                    height: 456px;
                    width: 810px;
                }
            }
        }
    }
}

@include breakpoint(desktop) {
    body.home {
        #content_article_header {
            article {
                padding: 0;
            }
            .container {
                background-position: top left;
                .promo-btn {
                    //right: 88px;
                    //bottom: 140px;
                    width: 200px;
                    height: 75px;
                    line-height: 80px;
                    font-size: 40px;
                    //top: initial;
                    &:before {
                        width: 200px;
                        height: 75px;
                    }
                }
                &.twitch {
                    .promo-btn {
                        top: initial;
                    }
                    &:before, &:after {
                        display: block;
                    }
                    .heading {
                        .closers-logo {
                            display: inline-block;
                        }
                        .on {
                            display: inline-block;
                        }
                        .twitch-logo {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        #content_side_body {
            h2 {
                font-size: 48px;
            }
            #news-posts, #featured-vids {
                display: inline-block;
                vertical-align: top;
            }
            #news-posts {
                width: 68%;
                article {
                    max-width: 650px;
                    height: 225px;
                    background: #1a1a1a;
                    img {
                        width: 335px;
                        height: 185px;
                    }
                    .post-preview a, .content {
                        display: inline-block;
                        vertical-align: top;
                        margin-top: 0;
                    }
                    .content {
                        max-width: calc(100% - 340px);
                        .meta {
                            .author {
                                padding-top: 1rem;
                            }
                        }
                    }
                }
                img {
                    width: 335px;
                    height: 185px;
                }
                .description {
                    display: inline-block;
                    width: 315px;
                    margin-top: 0;
                }
            }
            #featured-vids {
                width: 31%;
            }
        }
    }
}

