body.clear {
    #content_article_header {
        height: 780px;
        background: white;
        overflow: hidden;
        display: none;
        @include breakpoint(lrgdesk) {
            display: block;
        }
    }
    main {
        background: url(/assets/bgs/blue-content-bg.png);
        padding-bottom: 0;
    }
    #main-wrapper {
        margin-top: 0;
        padding: 0;
        #content_side_body {
            display: none;
        }
        #content_body {
            width: 100%;
            background: #2f2f2f;
            h2 {
                width: 100%;
                font-size: 48px;
                color: white;
                background: black;
                padding-left: 70px;
                text-shadow: -1px 2px 2px rgba(0, 0, 0, 1);
                height: 85px;
                line-height: 85px;
                margin-bottom: 10px;
                margin-top: 0;
                position: relative;
                z-index: 0;
                &:before {
                    content: "";
                    width: 50%;
                    background: #1d635e;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    width: 0; 
                    height: 0; 
                    border-top: 0px solid transparent;
                    border-bottom: 85px solid transparent;
                    
                    border-left: 40px solid #1d635e;
                }
                &.current {
                    color: #1d635e;
                    text-shadow: -1px 2px 2px white;
                    background-repeat: no-repeat;
                    &:before {
                        //background: linear-gradient(to bottom, #ffffff 3%,#a0f8ff 100%);
                        width: 55%;
                        background: url(https://eme01.enmasse-game.com/images/closers/map/compressed/current-bg.png);
                    }
                    &:after {
                        //border-left: 40px solid linear-gradient(to bottom, #ffffff 3%,#a0f8ff 100%);
                        border-left: none;
                    }
                }
            }
            #locked {
                section {
                    img {
                        filter: grayscale(100%);
                    }
                }
            }
            section {
                height: auto;
                min-height: 135px;
                width: 100%;
                background: #6a6a69;
                margin-bottom: 10px;
                padding: 15px;
                .text {
                    color: white;
                    padding: 0px 40px;
                    display: inline-block;
                    vertical-align: top;
                    h3 {
                        color: white;
                        margin-top: 0;
                    }
                }
                img {
                    width: 220px;
                    height: 105px;
                    background: black;
                    border: none;
                }
                &#event-desc{
                    padding: 0;
                    .text {
                        width: 100%;
                        padding: 25px 40px;
                        strong {
                            color: $yellow;
                        }
                    }
                }
                &:last-child {
                    //margin-bottom: 0;
                }
            }
            #current-goals {
                section {
                    background: #a0f8ff;
                    margin-bottom: 10px;
                }
                h3 {
                    color: #1d635e;
                }
                p {
                    color: #266d69;
                }
            }
        }
    }
    #map {
        width: 100%;
        height: auto;
        position: relative;
        h1 {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 21;
            width: 300px;
            height: 85px;
            background: #1d635e;
            color: white;
            padding-left: 30px;
            font-size: 40px;
            line-height: 85px;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
            &:after {
                content: "";
                position: absolute;
                left: 300px;
                width: 0;
                height: 0;
                border-top: 0px solid transparent;
                border-bottom: 85px solid transparent;
                border-left: 40px solid #1d635e;
            }
        }
        #marker {
            width: initial;
            height: initial;
            position: absolute;
            left: 417px;
            top: 93px;
            z-index: 4;
            width: 97px;
            height: 108px;
            //transition: 2000ms;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            &:before, &:after {
                transition: 250ms;
            }
            &:before {
                content: url(https://eme01.enmasse-game.com/images/closers/map/compressed/portal-hover.png);
                position: absolute;
                bottom: -21px;
                left: 19px;
                z-index: -1;
                opacity: 0;
            }
            .marker-points {
                @include fontTeko;
                width: 140px;
                height: 25px;
                background: white;
                line-height: 28px;
                position: absolute;
                left: 110px;
                top: 20px;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                //text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
                span {
                    color: #266d69;;
                    font-weight: normal;
                }
                &:before {
                    content: "";
                    width: 0; 
                    height: 0; 
                    border-top: 25px solid transparent;
                    border-bottom: 0px solid transparent; 
                    
                    border-right:20px solid white; 
                    left: -20px;
                    top: 0px;
                    position: absolute;
                }
            }
            &.stopped {
                &:before, &:after {
                    opacity: 1;
                }
            }
        }
        video {
            position: absolute;
        }
        #map-img {
            position: relative;
            margin-top: 165px;
            animation: MoveUpDown1 10s linear infinite;
        }
        #points {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            .point {
                width: 90px;
                height: 50px;
                position: absolute;
                background-repeat: no-repeat;
                opacity: 0;
                //overflow: hidden;
                .hover {
                    position: absolute;
                    transform: scale(.71);
                    pointer-events: none;
                    top: -4px;
                }
                .point-hover {
                    width: 223px;
                    height: 254px;
                    background-image: url(https://eme01.enmasse-game.com/images/closers/map/compressed/hover-top.png);
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -90px;
                    z-index: 20;
                    line-height: 1.5em;
                    .current-points-prepend {
                        display: none !important;
                    }
                    &.left {
                        left: -300px;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 90px;
                            right: -82px;
                            background: white;
                            height: 2px;
                            top: 115px;
                            z-index: -1;
                        }
                    }
                    &.right {
                        right: -300px;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 90px;
                            left: -82px;
                            background: white;
                            height: 2px;
                            top: 115px;
                            z-index: -1;
                        }
                    }
                    img {
                        width: 221px;
                        height: 104px;
                        margin: 0;
                        background: black;
                    }
                    &.inactive {
                        img {
                            filter: grayscale(100%);
                        }
                    }
                    h3 {
                        padding-left: 20px;
                        margin: 0;
                        height: 29px;
                        font-weight: bold;
                        color: #3b7873;
                    }
                    p {
                        width: 221px;
                        background-color: #29817b;
                        background-image: url(https://eme01.enmasse-game.com/images/closers/map/compressed/hover-text-top.png);
                        height: 120px;
                        margin: 0;
                        background-repeat: no-repeat;
                        margin-top: -10px;
                        padding: 15px 10px;
                        color: #a0f8ff;
                        font-size: 16px;
                        padding-top: 14px;
                        line-height: 1.3em;
                        padding-top: 50px;
                    }
                    .points-to-capture {
                        @include fontTeko;
                        width: 221px;
                        color: white;
                        padding-top: 1px;
                        padding-left: 14px;
                        position: absolute;
                        text-transform: uppercase;
                        font-size: 20px;
                        text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
                    }
                    &.inactive {
                        &:after {
                            content: url(https://eme01.enmasse-game.com/images/closers/map/compressed/lock_icon.png);
                            position: absolute;
                            top: 5px;
                            right: 15px;
                            width: 10px;
                            height: 10px;
                        }
                    }
                    &.complete {
                        &:after {
                            content: url(https://eme01.enmasse-game.com/images/closers/map/compressed/unlock_icon.png);
                            position: absolute;
                            top: 5px;
                            right: 15px;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
                &.inactive {
                    background: url(https://eme01.enmasse-game.com/images/closers/map/point-inactive.png);
                    opacity: 1;
                    &:before {
                        content: url(https://eme01.enmasse-game.com/images/closers/map/portal-dark.png);
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        position: absolute;
                        top: 3px;
                        left: 10px;
                        transform: scale(1.2);
                    }
                    .hover {
                        transform: scale(.88);
                    }
                }
                &.active {
                    background: url(https://eme01.enmasse-game.com/images/closers/map/compressed/point-progress-2.png);
                    opacity: 1;
                    transition: 250ms;
                    width: 95px;
                    &:before {
                        content: url(https://eme01.enmasse-game.com/images/closers/map/compressed/portal-active-2.png);
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        position: absolute;
                        top: 5px;
                        left: -8px;
                        transform: scale(.9);
                        pointer-events: none;
                    }
                    &:after {
                        content: url(https://eme01.enmasse-game.com/images/closers/map/finish-marker-glow.png);
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        position: absolute;
                        top: -20px;
                        left: 7px;
                        transform: scale(.9);
                        pointer-events: none;
                    }
                }
                &.complete {
                    background: url(https://eme01.enmasse-game.com/images/closers/map/compressed/point-completed-3.png);
                    //transform: translate(-5px, -5px);
                    opacity: 1;
                    transition: 250ms;
                    width: 95px;
                    &:before {
                        content: url(https://eme01.enmasse-game.com/images/closers/map/compressed/portal-active-2.png);
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        position: absolute;
                        top: 5px;
                        left: -8px;
                        transform: scale(.9);
                        pointer-events: none;
                    }
                    &:after {
                        content: url(https://eme01.enmasse-game.com/images/closers/map/compressed/finish-marker-with-glow.png);
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        position: absolute;
                        top: -78px;
                        left: 6px;
                        transform: scale(.9);
                        pointer-events: none;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        #lines {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            //z-index: 0;
            svg {
                position: absolute;
            }
            line {
                stroke-width: 4;
                stroke: #122352;
                transition: 500ms;
                &.progress {
                    stroke: white;
                    //transition: 2000ms;
                }
                &.blue {
                    stroke: #58d9fe;
                }
            }
        }
        .rocks {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            &#rock-1 {
                margin-top: 130px;
                margin-left: 110px;
                z-index: 2;
                animation: MoveUpDown1 9s linear infinite;
            }
            &#rock-2 {
                margin-top: 105px;
                animation: MoveUpDown1 7s linear infinite;
            }
            &#rock-3 {
                margin-top: 140px;
                margin-left: 25px;
                z-index: 0;
                animation: MoveUpDown1 6s linear infinite;
            }
            &#rock-4 {
                margin-top: 320px;
                margin-left: 60px;
                animation: MoveUpDown1 9s linear infinite;
            }
            &#rock-5 {
                margin-top: 320px;
                animation: MoveUpDown1 7s linear infinite;
            }
            &#rock-6 {
                margin-top: 160px;
                margin-left: 35px;
            }
            &#rock-7 {
                margin-top: 150px;
                margin-left: 100px;
                animation: MoveUpDown1 9s linear infinite;
            }
            &#rock-8 {
                margin-top: 200px;
                margin-left: 140px;
                animation: MoveUpDown1 6s linear infinite;
            }
        }
    }
}

@keyframes MoveUpDown1 {
    0%, 100% {
      transform: translateY(3px);
    }
    50% {
      transform: translateY(-3px);
    }
}

@keyframes MoveUpDown2 {
    0%, 100% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(-5px);
    }
}