#eme-bar {
    // box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: none;
}
/* the first visit redirect button to return to homepage */
#goHome {
    display: none;
}

/* MOBILE */

#account {
    padding-right: 45px;
}

#eme-bar {
    z-index:9999;
}
#mobile-nav-btn {
    display: block;
    position: absolute;
    z-index: 9999;
    padding: 5px;
    width:45px;
    right:0;
    top:0;
    .morph_bar {
        display: block;
        width:30px;
        height:4px;
        border-radius: 10px;
        background: $white;
        margin: 4px auto;
        &.top, &.middletop, &.middlebottom, &.bottom {
            position: relative;
        }
        &.top {
            top: 2px;
            transition: 0.5s;
        }
        &.middletop {
            top: 4px;
            transition: 1s;
        }
        &.middlebottom {
            top: -4px;
            transition: 1s;
        }
        &.bottom {
            top: -2px;
            transition: 0.5s;
        }
    }
}

.mobile-nav-open {
    #main-wrap {
        top:0;
        margin-bottom: 0;
    }
    #mobile-nav-btn {
        .morph_bar {
            &.top {
                width:0;
            }
            &.middletop {
                transform: rotate(45deg) translateY(6px);
                top: auto;
            }
            &.middlebottom {
                transform: rotate(-45deg) translateY(-6px);
                top: auto;
            }
            &.bottom {
                width:0;
            }
        }
    }
    #navigation {
        .top-nav {
            margin-top: 0px;
        }
    }
}

#navigation {
    max-height: 0;
}

@include breakpoint(mobileonly) {
    body {
        /* OPEN */
        &.mobile-nav-open {
            #navigation {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100%;
                height: auto;
                background-color: $black;
                max-height: 1000px;
                transition: 500ms;
                overflow: auto;
                #logo {
                    position: relative;
                    width:100%;
                    img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        width: 250px;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
                #menu {
                    li {
                        width: 100%;
                        font-size: 24px;
                        height: auto;
                        max-height: 40px;
                        overflow: hidden;
                        text-decoration: none;
                        color: $white;
                        transition: 250ms;
                        &.open {
                            max-height: 300px;
                        }
                        a {
                            text-decoration: none;
                            color: $white;
                            width: 100%;
                            display: block;
                            height: 40px;
                            padding-left: 20px;
                            height: 40px;
                            line-height: 40px;
                            &:hover {
                                background-color: $yellow;
                                text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
                                cursor: pointer;
                            }
                        }
                    }
                }
                #signup-btn {
                    color: $black;
                    width: 100px;
                    height: 50px;
                    line-height: 50px;
                    z-index: 0;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    display: block;
                    font-size: 20px;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 45px;
                    transition: 250ms;
                    cursor: pointer;
                    &:before {
                        content: "";
                        -webkit-transform: skew(-25deg);
                        -moz-transform: skew(-25deg);
                        -o-transform: skew(-25deg);
                        transform: skew(-25deg);
                        background-color: $yellow;
                        width: 100px;
                        height: 50px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: -1;
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/* DESKTOP/TABLET */

@include breakpoint(tablet) {
    #account {
        padding-right: 0px;
    }
    #mobile-nav-btn {
        display: none;
    }
    #navigation {
        @include fontTeko;
        //font-family: 'teko';
        background-color: $black;
        /*background: $black;
        background: -webkit-linear-gradient(right, #1a1a1a 25%, #1a1a1a 25%, $black 25%);
        background: linear-gradient(to right, #1a1a1a 25%, #1a1a1a 25%, $black 25% );*/
        height: 68px;
        line-height: 68px;
        text-transform: uppercase;
        position: relative;
        z-index: 9;
        width: 100%;
        max-width: 100%;
        max-height: 100px;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0px;
        #logo {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            width: 25%;
            min-width: 200px;
            position: relative;
            height: 68px;
            font-weight: bold;
            text-shadow: 0px 1px 0 #fff;
            margin-left: 0px;
            z-index: 0;
            img {
                position: absolute;
                right: 0px;
                margin-top: 3px;
            }
        }
        /*#signup-btn {
            display: inline-block;
            height: 100%;
            line-height: 68px;
            min-width: 87px;
            margin-right: 0px;
            font-size: 24px;
            background-color: $yellow;
            &:hover {
                cursor: pointer;
                font-size: 28px;
            }
            @include breakpoint(lrgdesk) {
                right: 10%;
                margin-right: 30px;
                    &:before {
                        content: "";
                        -webkit-transform: skew(-25deg);
                        -moz-transform: skew(-25deg);
                        -o-transform: skew(-25deg);
                        transform: skew(-25deg);
                        background-color: $yellow;
                        width: 120px;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: -16px;
                        z-index: -1;
                    }
                
            }
        }*/
        #signup-btn {
            color: $black;
            width: 120px;
            height: 100%;
            line-height: 68px;
            z-index: 0;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            font-size: 20px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 45px;
            transition: 250ms;
            cursor: pointer;
            &:before {
                content: "";
                -webkit-transform: skew(-25deg);
                -moz-transform: skew(-25deg);
                -o-transform: skew(-25deg);
                transform: skew(-25deg);
                background-color: $yellow;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        #menu {
            display: inline-block;
            vertical-align: top;
            height: 100%;
            ul {
                display: inline-block;
                margin-bottom: 0;
                height: 100%;
                li {
                    display: inline-block;
                    vertical-align: top;
                    height: 100%;
                    line-height: 68px;
                    //width: 80px;
                    width: auto;
                    padding: 0 10px;
                    text-align: center;
                    margin-right: 5px;
                    position: relative;
                    font-size: 20px;
                    &.selected, &.active {
                        a {
                            color: $white;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        a {
                            color: white;
                        }
                        ul {
                            li {
                                a {
                                    color:$black;
                                }
                            }
                        }
                    }
                    ul {
                        position: absolute;
                        left: -9999em;
                        background: $white;
                        background: -webkit-linear-gradient(right, rgba(51,213,228,1) 5%, rgba(255,255,255,0.9) 5%);
                        background: linear-gradient(to right, rgba(51,213,228,1) 5%, rgba(255,255,255,0.9) 5%);
                        margin:0;
                        padding:0;
                        width:227px;
                        height: auto;
                        box-shadow:0px 0px 3px rgba(0,0,0,0.5);
                        li {
                            display: block;
                            border: none;
                            border-bottom:3px solid $grey;
                            width:auto;
                            margin:0;
                            a {
                                display: block;
                                text-transform:uppercase;
                                color:$black;
                                width:100%;
                                &:before {
                                    display: none;
                                }
                            }
                            &:hover {
                                background: $teal;
                                a {
                                    color:$white;
                                    text-shadow:0px 0px 3px rgba(0,0,0,0.5);
                                }
                            }
                        }
                    }
                    &:hover {
                        ul {
                            left: -50%;
                            //left: -25%;
                            margin-top:-5px;
                        }
                    }         
                    a {
                        text-decoration: none;
                        color: $yellow;
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(smdesk) {
    #navigation {
        #nav-wrapper {
            max-width:1310px;
            width: 100%;
            margin:0 auto;
            position: relative;
        }
        #logo {
            //margin-left: -40px;
            margin-right: 1px;
            width:auto;
            min-width:auto;
            img {
                right: 0;
                position: relative;
            }
            &:after {
                content: "";
                width: 100%;
                //min-width: 200px;
                height: 68px;
                background-color: $basegray;
                -webkit-transform: skew(-25deg);
                    -moz-transform: skew(-25deg);
                    -o-transform: skew(-25deg);
                    transform: skew(-25deg);
                position: absolute;
                left: 0;
                top: 0px;
                z-index: -1;
            }
            &:before {
                content: "";
                width: 1000px;
                //min-width: 200px;
                height: 68px;
                background-color: $basegray;
                -webkit-transform: skew(-25deg);
                    -moz-transform: skew(-25deg);
                    -o-transform: skew(-25deg);
                    transform: skew(-25deg);
                position: absolute;
                left: -940px;
                top: 0px;
                z-index: -1;
            }
        }
        #signup-btn {
            font-size:24px;
            width:150px;
            margin-left: 10px;
            position: absolute;
            right: 0;
            &:hover {
                font-size:28px;
                transform: none;
            }
            &:before {
                width: 150px;
            }
        }
        #menu {
            // margin-left: calc((100% - 1000px) / 2);
            width: calc(100% - 350px);
            ul {
                width: 100%;
                li {
                    width: 110px;
                    font-size: 21px;
                    padding: 0;
                    // margin-right: 26px;

                    width: 15%;
                    &.selected, &.active {
                        a {
                            color: $black;
                            text-shadow: 0 1px 0 #fff;
                            &:before {
                                content: "";
                                background: linear-gradient(to bottom, #fff 35%, #33d5e4 65%);
                            } 
                        }
                    }
                    a {
                        width: 120px;
                        font-size: 21px;

                        width: 100%;
                        &:before {
                            content: "";
                            -webkit-transform: skew(-25deg);
                            -moz-transform: skew(-25deg);
                            -o-transform: skew(-25deg);
                            transform: skew(-25deg);
                            width: 120px;
                            background-color: $basegray;
                            height: 100%;
                            z-index: -1;
                            position: absolute;
                            left: 0px;

                            width: 100%;
                           // border-right: 5px solid #000000;
                        } 
                    }
                }
            }
        }
    }
}

@include breakpoint(desktop) {
    #navigation {
        #menu {
            ul {
                li {
                    font-size:24px;
                    &:hover {
                        ul {
                            left: -25%;
                        }
                    }
                    a {
                        font-size:24px;
                    }
                }
            }
        }
    }
}

@include breakpoint(lrgdesk) {
    #navigation {
        #logo {
            margin-right: 28px;
            &:after {
                left: 25px;
            }
        }
        #menu {
            width: calc(100% - 385px);
        }
    }
}