body.news {
    &.index {
        main {
            max-width:1085px;
        }
    }
    main {
        //padding-top: 35px;
        //overflow: auto;
        padding-bottom: 20px;
        &:before {
            content: url(/assets/bgs/accents.png);
            position: absolute;
            top: 300px;
            width: 100%;
            height: auto;
            overflow:hidden;
        }
    }
    .tiles {
        //padding: 15px;
        height: auto;
        font-family: 'Roboto', sans-serif;
        text-align:center;
    }
    .blog-index {
        //padding: 0 32px;
        padding: 0 30px;
    }
    #hero {
        box-sizing: border-box;
        padding: 30px 0 0 0px;
        .tile {
            display: block;
            box-sizing: border-box;
            box-shadow: -4px 4px 0px 0px rgba(0,0,0,1);
            position: relative;
            //margin: 20px auto;
            transition: 250ms;
            cursor: pointer;
            width:316px;
            margin:0 auto 10px;
            > a {
                display: block;
                text-decoration:none;
            }
            img {
                width:100%;
                height:375px;
                height:auto;
                display: block;
            }
            &:hover {
                transform: scale(1.01);
            }
            .header {
                background: url("/assets/bgs/roadmap_sprite.png") -2px -368px no-repeat $white;
                height:32px;
                width: 100%;
                overflow: hidden;
                padding: 5px 10px 10px 0;
                color: $black;
                font-family: 'Roboto', sans-serif;
                span {
                    position: relative;
                    top: 0px;
                    font-size: 16px;
                    line-height: 1em;
                    display: block;
                    width: 100%;
                    text-align: right;
                    font-size: 15px;
                    display: none;
                }
                h2 {
                    font-family: 'Roboto', sans-serif;
                    font-weight:bold;
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 100%;
                    text-align: right;
                    margin:0 auto;
                    position: relative;
                    text-transform: capitalize;
                    top: 0px;
                    font-size: 16px;
                    //line-height: 1.3em;
                    span {
                        color: $yellow;
                        font-size:14px;
                    }
                }
            }
            .btn {
                position: absolute;
                top: 250px;
                left: 0px;
                right: 0px;
                margin-left: auto;
                margin-right: auto;
                box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
                width: 105px;
                height: 32px;
                a {
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: bold;
                    transition: 250ms;
                }
            }
        //}
            
        /*.side-wrapper {
            //display: inline-block;
            width: 316px;
            margin:0 auto;
            //vertical-align: top;
            //margin-top: 5px;
        }*/
            /*&:nth-child(2n), &:nth-child(3n) {
                 width:316px;
                 margin-bottom: 10px;
                > a {
                    display: block;
                    text-decoration:none;
                }
                img {
                    width:100%;
                    height:178px;
                    height:auto;
                    display: block;
                }
                .header {
                    background: url("/assets/bgs/roadmap_sprite.png") -2px -388px no-repeat $white;
                    height:32px;
                    padding: 8px 10px 8px 0;
                }
                h2 {
                    font-size: 16px;
                    line-height:1;
                    padding-left:55px;
                }
                .btn {
                    width: 105px;
                    height: 32px;
                    position: absolute;
                    a {
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: bold;
                        transition: 250ms;
                    }
                }
            }*/
        }
    }
    #blog_post {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    #blog_posts_news {
        padding: 30px 15px 5px;
        position: relative;
        text-align:center;
        background-color: $white;
        margin-bottom: 60px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        margin: 10px auto 0;
        h1 {
            width: 97%;
            color: $black;
            text-align: left;
            margin: 0 auto;
            font-size: 42px;
            text-transform:uppercase;
        }
        .pagination {
            position: relative;
            display: block;
            text-align: center;
            margin-top: 45px;
            margin-bottom: 40px;
            .current {
                width: 49px;
                height: 70px;
                display: inline-block;
                font-size: 32px;
                color: $yellow;
                line-height: 43px;
                margin-right: 5px;
                font-style: normal;
                opacity: .8;
                background-image: url(/assets/icons/pagination-selected.png);
                background-repeat: no-repeat;
                background-position: 0px 40px;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
            }
            a {
                background-image: url(/assets/icons/pagination-deselected.png);
                background-repeat: no-repeat;
                background-position: 0px 40px;
                width: 49px;
                height: 70px;
                display: inline-block;
                font-size: 32px;
                color: transparent;
                line-height: 43px;
                margin-right: 5px;
                transition: 250ms;
            }
            .next_page, .previous_page {
                color: transparent;
                width: 0px;
                height: 0px;
            }
        }
    }
    article {
        display: inline-block;
        width: 100%;
        max-width: 332px;
        height:auto;
        background-color: $basegray;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        margin:0 auto 30px;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
       // box-shadow: 0 4px 0px 0px $newsGrey;
        &:after {
            content:"";
            display: block;
            height:4px;
            width:100%;
            background: -webkit-linear-gradient(right, $newsGrey 99.5%, $white 99.5%);
            background: linear-gradient(to right, $newsGrey 99.5%, $white 99.5%);
        }
        h3 {
            font-family: 'Roboto', sans-serif;
            background: url("/assets/bgs/roadmap_sprite.png") -4px -433px no-repeat $newsGrey;
            margin: 0;
            height: 40px;
            padding: 3px 0 0 42px;
            font-size: 20px;
            a {
                color: $black;
                text-decoration: none;
            }
        }
        .post-preview {
            margin: 0;
            //background-color: $basegray;
            border-left: 4px solid $newsGrey;
            img {
                max-width: 332px;
                height: auto;
                display: block;
                width: 100%;
            }
            .content {
                max-width: 640px;
                width:100%;
                height: 100%;
                display: block;
                background-color: $basegray;
            }
            .text {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                color: $white;
                padding: 20px 20px 20px 10px;
                /*display: block;
                width: 100%;
                height: 130px;
                color: $white;
                font-size: 16px;
                padding-top: 20px;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 20px;*/
            }
            .meta {
                font-family: 'Roboto', sans-serif;
                color: $yellow;
                font-size: 16px;
                text-align:left;
                padding: 0 20px 10px 10px;
                min-height:50px;
                //margin-top:20%;
                a {
                    @include fontTeko;
                    @include slantBTN($yellow, $black);
                    text-decoration: none;
                    padding-top:13px;
                    text-align:center;
                    /*position: relative;
                    float: right;
                    z-index: 1;
                    text-align: center;
                    color: $black;
                    width: 130px;
                    height: 45px;
                    line-height: 50px;
                    text-decoration: none;
                    transition: 250ms;
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    text-shadow: 0 1px 0 #fff;
                    font-family: Teko;
                    &:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        background-color: $yellow;
                        transform: skew(-30deg);
                        display: block;
                        width: 130px;
                        height: 45px;
                    }
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.05);
                    }*/
                }
                .author {
                    margin-top:23px;
                    display: inline-block;
                }
                .readMore {
                    float:right;
                }
            }
        }
    }
}

@include breakpoint(tablet) {
    body.news {
        #hero {
            .tiles {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 700px;
                margin: 0 auto;
            }
            .tile:first-child {
                //margin-right:30px;
                //margin-left:5px;
                width:666px;
                margin:0 auto;
                img {
                    width:100%;
                    //height:375px;
                    height:auto;
                }
                header {
                    background: url("/assets/bgs/roadmap_sprite.png") -1px -305px no-repeat $white;
                    height:54px;
                    span {
                        display: block;
                    }
                }
            }
            /*.side-wrapper {
                margin-top: 10px;
                width:100%;
            }*/
            .tile:nth-child(2n), .tile:nth-child(3n) {
                //display: inline-block;
                //vertical-align:top;
                width: 316px;
                height:211px;
                margin-top:10px;
                margin-bottom:10px;
            }
        }
        article {
            display: block;
            max-width: 975px;
            height:232px;
            .post-preview {
                font-size:0;
                img, .content {
                    display: inline-block;
                    vertical-align:top;
                }
                .content {
                    width:calc(100% - 333px);
                    height: 188px;
                    .text, .meta {
                        font-size: 16px;
                        padding-left:20px;
                    }
                    .text {
                        height:135px;
                    }
                }
            }
        }
    }
}

@include breakpoint(sleevebreak) {
    body.news {
        #hero {
            .tiles {
                width:1013px;
                position: relative;
            }
            .tile {
                //display: inline-block;
                //vertical-align:top;
                &:first-child {
                    margin: 0 0 10px 5px;
                    .header {
                        background-position: -1px -305px;
                        height:54px;
                        span {
                            display: block;
                        }
                    }
                }
                &:nth-child(2n), &:nth-child(3n) {
                    margin: 0 0 10px 0;
                    .header {
                        background-position: -2px -388px;
                    }
                }
                &:nth-child(3n) {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
            /*.side-wrapper {
                margin: 0;
                width:316px;
            }*/
        }
        article {
            max-width: 975px;
        }
    }
}
