body.post {
	#main-wrapper {
		filter: initial !important;
	}
	#show_blog_post {
		#posts_sidebar {
			font-size: 0;
			background:$sidebarGrey;
			width:calc(100% - 20px);
			max-width:228px;
			margin: 10px;
			position: relative;
			h4 {
				text-transform: uppercase;
				color:$yellow;
				width:100%;
				padding: 5px 0;
				font-size:24px;
				text-align: center;
				margin:0;
				border-bottom: 1px solid $grey;
			}
			article {
				height: 50px;
				position: relative;
				border-bottom: 1px solid $grey;
				padding: 3px 0 0 35px;
				.icon {
					background: url("/assets/bgs/roadmap_sprite.png") 0 -153px no-repeat;
					display: inline-block;
    				width: 20px;
    				height: 17px;
    				position: absolute;
    				left: 10px;
    				top: 11px;
				}
				img {
					display: none;
				}
				h3 {
					color:$white;
					font-family: 'Roboto', sans-serif;
					text-transform: capitalize;
					font-size: 14px;
					line-height:18px;
					text-decoration: none;
					padding: 0;
				}
				
			}
			.sidebar_post_link {
				text-decoration:none;
				display: block;
				&:hover {
					article {
						background: $yellow;
						color:$black;
						.icon {
							background: url("/assets/bgs/roadmap_sprite.png") 0 -175px no-repeat;
						}
						h3 {
							color:$black;
						}
					}
				}
			}
			.description {
				display: none;
			}
			.btn {
				//display: none;
				/*width:95px;
				height:25px;
				background: $black;
				text-transform:uppercase;
				box-shadow: none;
				position: absolute;
				bottom: 10px;
				right:10px;
				a {
					font-size:12px;
					text-shadow:none;
					color:$white;
				}*/
				a {
					display: block;
					width:100%;
					height:100%;
					position:absolute;
					top: 0;
					left: 0;
				}
			}
		}
		.leftCol {
			display: none;
		}
		.rightCol {
			display: block;
			width: 100%;
		}
		#content_body {
			.newsWrapper {
				width:100%;
				height:27px;
				display: block;
			}
			#news-button {
				width: 27px;
				height: 27px;
				border: 0;
				text-align:center;
				padding-top:15px;
				z-index: 370;
				text-indent: -9999em;
				background: url("/assets/bgs/roadmap_sprite.png") -2px -271px no-repeat;
				display: block;
				transition: 250ms;
				cursor: pointer;
				float:right;
				&:hover {
				    -webkit-transform: scale(1.1);
				      -ms-transform: scale(1.1);
				          transform: scale(1.1); 
				    //background-position: -260px 0;
				}
			}
			article {
				clear: both;
				img {
					width:100%;
					max-width:100%;
				}
				.reveal_more {
					position: absolute;
					top: 100%;
					opacity: 0;
					transition: 250ms ease-in;
					&.revealed {
						position: relative;
						top: 0;
						opacity: 1;
					}
				}
				video {
					cursor: pointer;
					outline: none;
					border: none;
				}
				#gallery_wrapper {
					width:100%;
					max-width:100%;
					overflow: hidden;
					.thumbs {
						display: -webkit-box; 
						display: -moz-box;
						display: -ms-flexbox; 
						display: -webkit-flex; 
						display: flex; 
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						img {
							width:auto;
						}
					}
				}
				#pop_gallery_wrapper {
					display: -webkit-box; 
					display: -moz-box;
					display: -ms-flexbox; 
					display: -webkit-flex; 
					display: flex; 
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					li {
						list-style-type: none;
						img {
							width:auto;
						}
					}
				}
			}
			.blog-post.content {
				width:100%;
				a {
					color:$newsTeal;
					text-decoration:underline;
					&:hover {
						text-decoration:none;
					}
				}
				article {
					.costume_gallery {
						display: inline-block;
						vertical-align: top;
					}
					.costume_gallery ul li {
						width: 200px;
					    height: 200px;
					    overflow: hidden;
					    box-shadow: 5px 5px 0px #000;
					    border: 3px solid #ffeb00;
					    cursor:pointer;
					    transition: box-shadow 250ms ease-in;
					    margin: 0 10px 10px 0px;
					    img {
					    	margin-top: 0;
					    	transition: transform 250ms ease-in;
					    	max-width: 120%;
						    width: 120%;
						    transform: translate(-10px, -10px);
					    }
					    &:hover {
					    	box-shadow: 10px 10px 0px #000;
					    	img {
					    		transform: translate(-20px, -20px);
					    	}
					    }
					}
				}
				ul {
					list-style-type:none;
					position: relative;
					list-style-position:outside;
					//list-style-image: url(/assets/icons/bullet.png);
					margin-left: 0px;
					//left: -30px;
					li {
						line-height:40px;
						padding-left:10px;
						background: url(/assets/icons/bullet.png) 0 10px no-repeat;
						padding-left:40px;
						&.img_wrap {
							background: none;
							padding: 0;
							&.eme_gallery_arrayed {
								display: none;
							}
						}
						img {
							width:100%;
							max-width:100%;
							margin: 30px 0 0;
						}
						ul {
						//list-style-image: url(/assets/icons/underbullet.png);
							li {
								background: url(/assets/icons/underbullet.png) 0 13px no-repeat;
							}
						}
						/*&:before {
							content: "";
							background: image-url("bgs/roadmap_sprite.png") 0 -98px no-repeat;
							width:30px;
							height:20px;
							display: inline-block;
							vertical-align:text-top;
						}*/
						/*ul {
							//left: 10px;
							li {
								&:before {
									background: image-url("bgs/roadmap_sprite.png") 0 -121px no-repeat;
									width:30px;
									height:20px;
								}
							}
						}*/
					}
				}
			}
			.title-area {
				h1, h2, h3, h4, h5, h6 {
					font-size: 42px;
					line-height: 1;
					text-align: left;
					margin-bottom:20px;
					text-transform:uppercase;
				}
			}
			h2 {
				font-size:30px;
			}
			p, li {
				font-family: 'Roboto', sans-serif;
				font-size:18px;
				line-height:30px;
			}
			p {
				margin-bottom:20px;
			}
			.attribute {
				font-family: 'Roboto', sans-serif;
				background: $basegray;
				font-size:11px;
				color:$white;
				text-transform: uppercase;
				padding: 0px 5px 5px 0;
				margin-bottom:26px;
				float:right;
				height:21px;
				.icon {
					background: url("/assets/bgs/roadmap_sprite.png") 0 -195px no-repeat;
					font-family: 'Roboto', sans-serif;
					width:26px;
					height:21px;
					display: inline-block;
					vertical-align:top;
				}
				.author {
					color:$yellow;
					text-decoration:none;
				}
			}
			img {
	            margin: 0 auto 30px;
	            box-shadow: none;
	            &.left {
	                float:left;
	                padding-right: 20px;
	            }
	            &.right {
	                float:right;
	                padding-left: 20px;
	            }
	        }
	        .caption {
	            position: relative;
	            margin: 30px 0;
	            box-shadow: -4px 4px 0px $black;
	            img {
	                position: relative;
	                z-index: 9;
	                margin-bottom: 0;
	                border: none;
	                width:100%;
	            }
	            span {
	            	font-family: 'Roboto', sans-serif;
	                background: url("/assets/bgs/roadmap_sprite.png") 0 -59px no-repeat $yellow;
	                color:$black;
	                width:100%;
	                padding: 6px 10px 10px 10px;
	                font-size:14px;
	                height:32px;
	                text-align:right;
	                position: absolute;
	                bottom:0;
	                left:0;
	                z-index: 10;
	            }
	        }
	        aside {
	            border-left: 10px solid $black;
	            padding: 0 20px;
	            margin: 30px 0 60px;
	            font-size:30px;
	            line-height:1;
	            &.right {
	                float:right;
	            }
	            &.left {
	                float:left;
	            }
	        }
	        blockquote {
	            display: block;
	            background: $basegray;
	            color:$white;
	            font-size: 18px;
	            line-height:1.2;
	            padding: 0 20px 20px 25px;
	            font-family: 'Roboto', sans-serif;
	            box-shadow: -4px 4px 0px $yellow;
	            margin: 20px 0;
	            &:before {
	            	content:"";
	            	background: url("/assets/bgs/roadmap_sprite.png") 0 -226px no-repeat $basegray;
	            	width:100%;
	            	height:32px;
	            	display: block;
	            	position: relative;
	            	left: -25px;
	            }
	        }
	        table {
                width:100%;
                border-collapse: collapse;
				margin-bottom: 30px;
				position: relative;
				margin-top: 50px;
				display: table;
                &:before { 
					content: ""; 
					background: url(/assets/bgs/roadmap_sprite.png) 0 -226px no-repeat #1a1a1a; 
					width: 100%; 
					height: 32px; 
					display: block; 
					position: absolute; 
					left: 0; 
					top: -32px;
					border-right: solid 1px black;
					box-sizing: initial;
				} 
                thead {
                    text-align:left;
                    tr {
                      background:$black;
                      color:$yellow;
                    }
                }
                th {
					background: #444444; 
					padding: 0.5rem; 
					color: #fff; 
					vertical-align: middle; 
					border: 1px solid #000; 
					font-size: 14px; 
					line-height:1.5; 
					font-family: 'Roboto', sans-serif; 
                }
                td {
                    padding: 0.5rem;
                    border: 1px solid #000; 
					background: #909090; 
					font-size:14px; 
					padding-left: 20px; 
					color: #111; 
					small { 
						font-size: 12px; 
						color: #444444; 
					} 
                }
                tbody {
                    tr {
                        td {
                            color:$black;
                            background: $yellow;
                            vertical-align: middle;
                            font-size:13px; 
							line-height:1.5; 
							font-family: 'Roboto', sans-serif; 
							padding:0.25rem;
                            a {
                            	color:$black;
                            	text-decoration:underline;
                            }
                        }
                        &:nth-child(even) {
                            td {
                                background: $white;
                            }
                        }
                    }
                }
            }
            .blog-post.content {

            
	            .post-socials {
	            	position: relative;
		            text-align: right;
		            vertical-align: middle;
		            height: 60px;
		            margin-top: 30px;
		            .share-facebook, .share-twitter {
		                display: inline-block;
		                height: 50px;
		                width: 60px;
		                background: none;
		                padding:0;
		                /*a {
		                	&:hover {
							    -webkit-transform: scale(0.7);
							      -ms-transform: scale(0.7);
							          transform: scale(0.7); 
							}
		                }*/
		            }
		            .share-facebook {
		                a {
		                    display: block;
		                    height: 50px;
		                    width: 60px;
		                    background: url(/assets/icons/news-social-sprite.png) -92px 0px no-repeat;
		                    &:hover {
		                    	background-position: -92px -55px;
		                    }
		                }
		            }

		            .share-twitter {
		                a {
		                    display: block;
		                    height: 50px;
		                    width: 60px;
		                    background: url(/assets/icons/news-social-sprite.png) 0px 0px no-repeat;
		                    &:hover {
		                    	background-position: 0px -55px;
		                    }
		                }
		            }

		            h4 {
		                display: inline-block;
		                vertical-align: center;
		                font-size: 19px;
		                margin-right: 5px;
		                color: $black;
		                font-weight: bold;
		            }

		            ul {
		                position: relative;
		                display: inline-block;
		                vertical-align: middle;
		                margin-bottom: 0;
		                top: 5px;
		                left: auto;
		                li {
		                    display: inline-block;
		                    &:before {
		                    	display: none;
		                    }
		                }
		            }
		        }
		    }
	    }
	}
	#post_nav {
		display: block;
		width: 100%;
		margin:50px auto 0;
		position: relative;
		z-index:99;
		a {
			font-family: 'Roboto', sans-serif;
			text-transform:uppercase;
			color:$black;
			text-decoration: none;
			&.next {
				background: url(/assets/icons/icon_next_black.png) 100% 0 no-repeat;
				padding-right:20px;
				margin-right:20px;
			}
			&.prev {
				background: url(/assets/icons/icon_previous_black.png) 0px 0px no-repeat;
				padding-left:20px;
				margin-left: 20px;
			}
			&:hover {
				&.next {
					right: -5px;
				}
				&.prev {
					left: -5px
				}
			}
		}
	}
}
@include breakpoint(tablet) {
	body.post {
		#show_blog_post {
			#main-wrapper {
				padding-left:0;
			}
			#posts_sidebar {
				margin: 10px 10px 10px 0;
				#content_body {
					.blog-post.content {
						ul {
							left: -30px;
							ul {
								left: 10px;
							}
						}
					}
				}
			}
		}
	}
}





/*@include breakpoint(desktop) {
	body.post {
		#show_blog_post {
			#posts_sidebar, #posts_main {
				display: inline-block;
				vertical-align: top;
				margin-top:50px;
			}
			#posts_main {
				width:calc(100% - 478px);
				max-width:845px;
			}
		}
	}
}*/