body.promo, body.tiamat {
	main {
		max-width:1083px;
		background: url("/assets/promo/bg.png") top center repeat-y;
		//padding-bottom:100px;
		overflow-x: hidden;
		&:before {
			display: none;
			/*content: "";
			background: url("/assets/bgs/accents.png") top center no-repeat;
			width:100%;
			height:620px;
			display: block;
			position: absolute;
			top:160px;
			right:0;
			left:0;
			z-index:1;*/
		}
	}
	#main-wrapper {
		//background: $white;
		margin:0 auto;
		padding: 0;
		width:100%;
		max-width:1020px;
		box-shadow: 0px 0px 2px rgba(0,0,0,0.75);
		position: relative;
		z-index:4;
		/*h1 {
			text-align:center;
			margin: 0;
		}*/
	}
	#content_article_header {
		position: relative;
		z-index:3;
		width:100%;
		height:auto;
		//left: calc((1083px / -2) + 50%);
		img {
			width:100%;
		}
	}
	#content_side_body, #content_body {
		display: none;
	}
	#content_wide_body, #content_article_footer {
		display: block;
	}

	h2 {
		@include fontTeko;
		line-height: 1;
		color: #dd084e;
		font-size: 40px;
		background-color: $black;
		height: 100%;
		padding: 20px 0;
		margin: 0;
		position: relative;
		text-align:center;
	}
	h3 {
		@include fontTeko;
		line-height: 1;
		color: #dd084e;
		font-size: 30px;
		height: 100%;
		padding: 20px 0;
		position: relative;
	}

	/* header area */
	#promo-header {
		//background: url(/assets/promo/tiamat_header.png) 81% 0 no-repeat;
		background: url(/assets/promo/tiamat_bg_sprite.png) 81% -1953px no-repeat;
		width:100%;
		min-height: 715px;
		position: relative;
		padding-bottom: 40px;
		text-align:center;
		p {
			font-size:16px;
			line-height:18px;
			color:#d200ff;
			font-family: 'Roboto', sans-serif;
			font-weight: normal;
			position: relative;
			z-index: 10;
			max-width:246px;
			margin:0 auto;
			text-align:left;
			/*text-align:justify;
			-ms-word-break: break-all;
		    word-break: break-all;

		    // Non standard for webkit
		    word-break: break-word;

		    -webkit-hyphens: auto;
		    -moz-hyphens: auto;
		    hyphens: auto;*/
		}
		/*&:before {
			content: "";
			display: block;
			position: absolute;
			bottom:129px;
			width:100%;
			height: 270px;
            background: -webkit-linear-gradient(top, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 70%);
            background: linear-gradient(to top, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 70%);
            z-index:9;
		}*/
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom:0;
			width:100%;
			height: 530px;
			background: -webkit-linear-gradient(top, rgba(3,18,38,1) 25%, rgba(0,0,0,0) 90%);
            background: linear-gradient(to top, rgba(3,18,38,1) 25%, rgba(0,0,0,0) 90%);
		}
	}
	#header-logo {
		padding-top: 380px;
		max-width:290px;
		width:100%;
		margin:0 auto;
		position: relative;
		z-index: 10;
		-webkit-filter: drop-shadow(0px 0px 5px rgba(124, 13, 120, 0.3)) drop-shadow(0px 0px 100px rgba(0,0,0, 1)) drop-shadow(0px 0px 100px rgba(0,0,0, 1));
  		filter: drop-shadow(0px 0px 5px rgba(124, 13, 120, 0.3)) drop-shadow(0px 0px 100px rgba(0,0,0, 1)) drop-shadow(0px 0px 100px rgba(0,0,0, 1));
	}
	span.highlight {
		font-weight: bold;
		color:#ff0054;
	}
	.promo_heading {
		background-color: #5400ab;
		padding: 0;
		position: relative;
		z-index: 12;
	}
	/* first section */
	#promo-first {
		//background: url(/assets/promo/welcome_bg.png) top center no-repeat #000000;
		background: url(/assets/promo/tiamat_bg_sprite.png) 50% -2929px no-repeat #000000;
		padding-top:12px;
		.copy_wrapper {
			margin-top:270px;
		}
		.figure {
			position: relative;
			z-index: 6;
			transition: 250ms;
			img {
				position: absolute;
				left: 6%;
				margin-top: -3%;
				max-width: 100%;
			}
		}
	}
	.copy_wrapper {
		background: -webkit-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 100%);
        background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 100%);
        color:#ffffff;
        padding: 30px 20px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Roboto', sans-serif;
		font-weight: normal;
		margin-top:35px;
		position: relative;
		z-index: 10;
		p {
			margin-bottom: 30px;
			font-size: 16px;
        	line-height: 24px;
		}
		ul {
			list-style-type:none;
			li {
				margin-bottom: 10px;
				&:before {
					content: "";
					background: url(/assets/promo/bullet.png) top left no-repeat;
					//background: url(/assets/promo/tiamat_promo_figures_tny.png) top left no-repeat;
					width:30px;
					height:20px;
					display: inline-block;
					vertical-align:text-top;
				}
			}
		}
	}
	/* second section*/
	#promo-second {
		//background: url(/assets/promo/world_bg.png) bottom center no-repeat #301b38;
		background: url(/assets/promo/tiamat_bg_sprite.png) 0 -4474px no-repeat #301b38;
		padding-top:40px;
		.figure {
			display: none;
		}
	}
	#worldsGallery {
		padding: 10px 0;
		> div {
			text-align:center;
			img {
				cursor: pointer;
				margin:10px auto;
				box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
				max-width: 100%;
			}
		}
	}
	/* third section */
	#promo-third {
		//background: url(/assets/promo/abyss_bg.png) 91% -55% no-repeat #000000;
		background: url(/assets/promo/tiamat_bg_sprite.png) 89% -271px no-repeat #000000;
		padding-top:40px;
		.copy_wrapper {
			margin-top:235px;
		}
	}
	table {
        width:100%;
        max-width:455px;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 1px solid $black;
        text-align:center;
        thead {
            text-align:left;
            tr {
            	background: #444444;
            	color:$white;
            }
        }
        th {
            padding: 0.25rem;
            font-size:16px;
            background: #444444;
            color:$white;
            vertical-align: middle;
            border-right: 1px solid $black;
        }
        td {
            padding: 0.25rem;
            border-right: 1px solid $black;
        }
        tbody {
            tr {
                td {
                    color:$black;
                    background: $yellow;
                    font-size:16px;
                    height:45px;
                    vertical-align: middle;
                    a {
                    	color:$black;
                    	text-decoration:underline;
                    }
                }
                &:nth-child(even) {
                    td {
                        background: $white;
                    }
                }
            }
        }
    }
    #content_article_footer {
    	background: $white;
    	text-align:center;
    	padding: 30px 0;
    	a {
    		@include fontTeko;
            @include linear-slant-btn($yellow, $white, $black);
            text-decoration: none;
            text-align:center;
            font-size:36px;
            margin:0 auto;
            width:240px;
            height:93px;
            span {
            	padding-top:13px;
            }
    	}
    }

	
} // end mobile and all sizes

@include breakpoint(tablet) {
	body.promo, body.tiamat {
		#main-wrapper {
			//font-size:0;
		}
		#content_side_body, #content_body {
			display: inline-block;
			vertical-align: top;
			font-size:14px;
		}
		/*#content_side_body {
			width:28%;
		}
		#content_body {
			width:70%;
		}*/
		#content_side_body, #content_body {
			display: none;
		}
		h2 {
			font-size: 48px;
			width:60%;
			padding: 16px 0 16px 50px;
			text-align:left;
			margin-bottom: 0;
			&:after {
				content: '';
				background: url(/assets/shop/blackangle_large.png) top left no-repeat;
				width:44px;
				height:80px;
				display: block;
				position: absolute;
				top:0;
				right:-44px;
			}
		}
		h3 {
			margin: 0;
		}
		.copy_wrapper {
			border: 3px solid $black;
			border-top: 0;
			width:100%;
			margin-top: 0;
			padding: 30px;
			background: none;
			&:after {
				content: "";
				display: block;
				width: 80%;
				height: 98%;
				position: absolute;
				z-index: -1;
				top:12px;
				right:0;
				left: 12px;
				background: -webkit-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    			background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			}
		}
		#promo-header {
			min-height:460px;
			text-align:left;
			&:after {
				display: none;
			}
			p {
				max-width: 380px;
				margin: 0 30px;
				text-align: left;
    			hyphens: none;
    			line-height:21px;
			}
		}
		#header-logo {
			max-width: 437px;
			margin: 0;
			padding-top: 40px;
		}
		#promo-first, #promo-second, #promo-third {
			padding: 12px;
			position: relative;
			p {
				max-width:60%;
				margin-bottom: 20px;
			}
		}
		#promo-first, #promo-third {
			.copy_wrapper {
				box-shadow: 0px 2px 0px $white;
			}
		}
		#promo-first {
			min-height: 1040px;
			.copy_wrapper {
				margin-top: 0; 
			}
			.figure {
				width:554px;
				top:2px;
				left: 57%;
				z-index:99;
				position: absolute;
				img {
					left: auto;
					right: auto;
					margin-top: 0;
				}
			}
		}
		#promo-second {
			.promo_heading {
				background: #2d75c7;
			}
			.copy_wrapper {
				border: none;
				&:after {
					height: 93%;
				}
			}
			.figure {
				display: block;
				//width:100%;
				top: 200px;
    			//right: -18%;
				z-index:14;
				position: absolute;

				width: 466px;
				left: 57%;
				/*img {
					position: absolute;
					left: auto;
					right: 0;
					max-width: 466px;
				}*/
			}
		}
		#worldsGallery {
			/* flexbox */
		    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
		    display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
		    display: -ms-flexbox;           /* TWEENER - IE 10 */
		    display: -webkit-flex;          /* NEW - Chrome */
		    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
		    flex-direction: row;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    max-width: 944px;
		    margin:0 auto;
		    position: relative;
		    z-index: 100;
			> div {
				max-width: 30%;
			}
		}
		#promo-third {
			background-position: top center;
			padding-bottom: 30px;
			.promo_heading {
				background: #880016;
			}
			.copy_wrapper {
				margin-top: 0;
				padding: 30px 30px 15px 30px;
				&:after {
					height: 97%;
				}
				ul {
					margin-top:-10px;
				}
			}
			table {
				margin-bottom: 5px;
			}
		}
		#content_article_footer {
			padding: 50px 0;
		}
	} // end body promo
} // end tablet size

@include breakpoint(desktop) {
	body.promo, body.tiamat {
		main {
			overflow-x: visible;
			padding-top:35px;
		}
		h2 {
			width:51%;
		}
		#header-logo {
			padding-top:0;
			margin: 40px 0 0 20px;
		}
		.copy_wrapper {
			padding: 40px;
			&:after {
				top: 20px;
				left: 20px;
			}
		}
		#promo-header {
			background-position: 1px -1961px;
			p {
				margin: 20px 0 0 57px;
				text-align:left;
				hyphens: none;
			}
		}
		#promo-first, #promo-second, #promo-third {
			padding: 20px;
			p {
				max-width:55%;
			}
		}
		#promo-first {
			.figure {
				//right: -3%;
				left:49%;
			}
		}
		#promo-second {
			.figure {
				top: 223px;
    			left: 51%;
			}
		}
		#promo-third {
			.copy_wrapper {
				padding: 40px 40px 15px 40px;
			}
		}
	}
}
