body.development {
	#roadmapNav {
		background: $black;
		color:$white;
		font-size:14px;
		width:230px;
		.heading {
			background: $black;
			color:$yellow;
			text-transform:uppercase;
			font-size:24px;
			text-align:center;
			padding:7px 0;
			height:40px;
		}
		ul {
			width:100%;
			li {
				background: $grey;
				color:$black;
				font-family: 'Roboto', sans-serif;
				height:100%;
				border-bottom:1px solid $grey;
				position: relative;
				&.future, &.past {
					span {
						font-weight:bold;
						text-transform:uppercase;
						color:$black;
						height:52px;
						padding: 10px 0 30px 35px;
						display: block;
						&:before {
							content:"";
							background: url("/assets/bgs/roadmap_sprite.png") 0 -171px no-repeat;
							width: 20px;
    						height: 20px;
    						position: absolute;
    						left: 10px;
    						top: 10px;
						}
					}
				}
				a {
					text-decoration: none;
					color:$black;
					height:52px;
					padding: 10px 0 30px 35px;
					display: block;
					&:before {
						content:"";
						background: url("/assets/bgs/roadmap_sprite.png") 0 -171px no-repeat;
						width: 20px;
						height: 20px;
						position: absolute;
						left: 10px;
						top: 10px;
					}
				}
				ul {
					//position: absolute;
					//top: -9999em;
					position: relative;
					margin:0;
					li {
						background: $black;
						color:$white;
						text-transform:capitalize;
						a {
							color:$white;
							&:before {
								background: url("/assets/bgs/roadmap_sprite.png") 0 -147px no-repeat;
							}
						}
						&:hover, &.selected {
							background: $yellow;
							color:$black;
							a {	
								color:$black;
								&:before {
									background: url("/assets/bgs/roadmap_sprite.png") 0 -171px no-repeat;
								}
							}
						}
					}
				}
				&:hover, &.selected {
					background: $yellow;
					color:$black;
					ul {
						position: relative;
						top:0;
						margin:0;
					}
				}
			}
		}
	} // end roadmap nav
	#roadmapMap {
		text-align:left;
		font-family: 'Roboto', sans-serif;
		h1 {
			font-size:42px;
			text-align:left;
			span {
				font-style: bold;
			}
			font-style: normal;
		}
		.mapBundle {
			display: block;
			//max-width:630px;
			width:100%;
			box-shadow: -4px 4px 0px $yellow;
			position: relative;
			margin-bottom:40px;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
			height: 137px;
			.heading {
				//background: url("/assets/bgs/roadmap_sprite.png") 0 0 no-repeat $basegray;
				padding-left:50px;
				h3 {
					color:$white;
					font-size:30px;
					margin: 0;
				}
			}
			.action {
				.discuss {
					display: none;
				}
				.expand {
					display: block;
					position: absolute;
					bottom: 10px;
					padding-top:2px;
				}
			
			}
			.slantBTN {
				@include slantBTN($yellow, $black);
				@include fontTeko;
  				letter-spacing: 0.5px;
				text-decoration:none;
				text-align:center;
				padding-top:13px;
				margin-left:calc(100% - 115px);
				&.close {
					@include slantBTN($black, $white);
					padding-top:2px;
					span {
						text-shadow:none;
					}
				}
			}
			.mapWrap {
				background: $softgrey;
				padding: 20px;
				display: none;
			}
			.strike {
				text-decoration: line-through;
				color:$strike;
			}
			h5 {
				font-size:22px;
			}
			p, li {
				font-size: 18px;
			}
			a {
				color:$newsTeal;
				text-decoration:underline;
				&:hover {
					text-decoration: none;
				}
			}
			ul {
				list-style-type:none;
				position: relative;
				list-style-position:outside;
				//list-style-image: url(/assets/icons/bullet.png);
				margin-left: 0px;
				//left: -30px;
				li {
					line-height:40px;
					padding-left:10px;
					background: url(/assets/icons/bullet.png) 0 10px no-repeat;
					padding-left:40px;
					ul {
					//list-style-image: url(/assets/icons/underbullet.png);
						li {
							background: url(/assets/icons/underbullet.png) 0 13px no-repeat;
						}
					}
					/*&:before {
						content: "";
						background: image-url("bgs/roadmap_sprite.png") 0 -98px no-repeat;
						width:30px;
						height:20px;
						display: inline-block;
						vertical-align:text-top;
					}*/
					/*ul {
						//left: 10px;
						li {
							&:before {
								background: image-url("bgs/roadmap_sprite.png") 0 -121px no-repeat;
								width:30px;
								height:20px;
							}
						}
					}*/
				}
			}
			.caption {
                position: relative;
                margin-bottom: 20px;
                margin-left:-20px;
                width:calc(100% + 40px);
                img {
                    position: relative;
                    z-index: 9;
                    margin-bottom: 0;
                    border: none;
                    width:100%;
                }
                span {
				    background: url(/assets/bgs/roadmap_sprite.png) 0 -58px no-repeat $yellow;
				    color:$black;
				    font-weight:bold;
				    width: 100%;
				    padding: 6px 10px 10px 10px;
				    font-size: 14px;
				    height: 32px;
				    text-align: right;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    z-index: 10;
				}
            }
            &:nth-child(even), &:nth-child(odd) {
            	&:before {
   					content:"";
   					background:$strike;
   					width:8px;
   					height:44px;
   					position: absolute;
   					display: block;
   					z-index: -1;
   					top:-44px;
   				}
            }
            &:first-of-type {
            	&:before {
            		display: none;
            	}
            }
            &:nth-child(even) {
   				&:before {
   					left: 20%;
   				}
   			}
   			&:nth-child(odd) {
   				&:before {
   					left: 80%;
   				}
   			}
   			&.open {
   				/* mapbundle is open */
				background-image: none !important;
				height:auto;
				.action {
					.discuss {
						display: block;
						position: absolute;
						top:4px;
					}
					.expand {
						display: none;
					}
				}
				.heading {
					background: url("/assets/bgs/roadmap_sprite.png") 0 0 no-repeat $basegray;
					height:52px;
					h3 {
						padding-top:3px;
					}
					//padding-left:50px;
					//h3 {
						//color:$white;
						//font-size:30px;
					//}
				}
				.mapWrap {
					display: block;
				}
			}
		}
	} // end roadmap map
}

@include breakpoint(tablet) {
	body.development {
		#roadmapMap {
			.mapBundle {
				ul {
					li {
						&:before {
							padding-left:50px;
						}
						ul {
							//left: 10px;
							margin-left:4px;
						}
					}
				}
	            &:nth-child(even) {
	   				&:before {
	   					left: 149px;
	   				}
	   			}
	   			&:nth-child(odd) {
	   				&:before {
	   					left: 490px;
	   				}
	   			}
			}
		}
	}
}


