.social_cankle {
	display: block;
	text-align:center;
	//background: url(https://eme04.enmasse-game.com/images/enm/gamepage/tera/gamepage_ft_tera_bluescale.png) bottom center no-repeat #0b1628;
	min-height:320px;
	padding: 90px 0 30px;
	position: relative;
    z-index: 10;
	background: url(https://eme04.enmasse-game.com/images/enm/gamepage/closers/ft_closers_chibis.png) bottom center no-repeat, -webkit-linear-gradient(right, #0a1528, #233456, #0a1528);
  	background: url(https://eme04.enmasse-game.com/images/enm/gamepage/closers/ft_closers_chibis.png) bottom center no-repeat, linear-gradient(to right, #0a1528, #233456, #0a1528);
	.sleeve {
		padding-top: 0;
		.action {
			margin-top:0;
			.btn_wrapper {
				margin: 0 auto;
			}
		}
	}
	h3 {
		text-transform: uppercase;
		font-weight: bold;
		font-size:30px;
		text-align:center;
		margin: 0px auto 20px;
		color:$white;
		font-family: 'Montserrat', sans-serif;
	}
	.social li {
		display: inline-block;
		vertical-align:top;
		margin:0 5px;
		p {
			max-width:auto;
			margin: 0;
		}
		a {
			display: block;
			width:44px;
			height:44px;
		}
	}

	.icon_facebook, .icon_instagram, .icon_youtube, .icon_twitter, .icon_linkedin, .icon_discord, .icon_twitch, .icon_forums {
		background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_0719.png);
		background-repeat: no-repeat;
		width: 44px;
		height: 44px;
		display: block;
		text-indent: -9999em;
	}
	.icon_facebook {
		background-position: 0 0;
	}
	.icon_instagram {
		background-position: 0 -44px;
	}
	.icon_youtube {
		background-position: 0 -175px;
	}
	.icon_twitter {
		background-position: 0 -131px;
	}
	.icon_linkedin {
		background-position: 0 -88px;
	}
	.icon_discord {
		background-position: -50px 0;
	}
	.icon_twitch {
		background-position: -50px -44px;
	}
	.icon_forums {
		background-position: -50px -88px;
	}
	.attribution {
	    text-align:center;
	    a {
	      text-indent: -9999em;
	      display: block;
	      background-image: url(https://eme04.enmasse-game.com/images/enm/enmasse_sprite_0719.png);
	      background-repeat: no-repeat;
	      width: 157px;
	      height: 29px;
	      background-position: -117px 0;
	      margin:20px auto;
	    }
	}
}