body.vs {
    main {
        padding-top: 8px;
        background: url(/assets/bgs/storeBG.jpg);
        padding-bottom: 0;
        &:before {
            background: none;
        }
        @include breakpoint(tablet) {
            padding-top: 35px;
        }
    }
    #main-wrapper {
        background: none;
        box-shadow: none;
    }
    #content_article_header {
        background: url(https://eme04.enmasse-game.com/images/closers/tina-vs-harpy/header-bg.jpg);
        height: 670px;
        width: 1025px;
        max-width: 100%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        .tina-wins, .harpy-wins {
            .tina, .harpy, .vote-tina, .vote-harpy {
                display: none;
            }
        }
        //text-align: center;
        img {
            width: initial;
        }
        .banner {
            background: white;
            width: 100%;
            height: 45px;
            position: absolute;
            left: 0;
            top: 145px;
            z-index: 1;
        }
        .banner-img {
            z-index: 3;
            position: absolute;
            width: 450px;
            top: 44px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: none;
        }
        .tina {
            position: absolute;
            top: 25px;
            left: -320px;
            z-index: 2;
        }
        .harpy {
            position: absolute;
            top: 25px;
            right: -320px;
            z-index: 2;
        }
        .text {
            @include fontTeko;
            background: url(https://eme04.enmasse-game.com/images/closers/tina-vs-harpy/header-text-wrap.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 240px;
            width: 565px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 4;
            padding: 0 20px;
            padding-top: 45px;
            color: $yellow;
            font-size: 24px;
            text-align: center;
            line-height: 1.3em;
            max-width: 100%;
            span {
                color: white;
                display: block;
            }
        }
        .vote-tina {
            @include fontTeko;
            position: absolute;
            left: 0px;
            z-index: 5;
            text-align: center;
            height: 85px;
            line-height: 85px;
            padding: 10px;
            color: white;
            font-size: 45px;
            strong {
                color: white;
            }
            &:before {
                content: "";
                background: #c70033;
                height: 85px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            .wrapper {
                width: 100%;
                height: 100%;
                position: relative;
                line-height: 70px;
                &:before {
                    content: "";
                    border: solid 1px white;
                    transform: skew(20deg);
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .vote-harpy {
            @include fontTeko;
            position: absolute;
            right: 0px;
            z-index: 5;
            text-align: center;
            height: 85px;
            line-height: 85px;
            padding: 10px;
            color: white;
            font-size: 45px;
            strong {
                color: white;
            }
            &:before {
                content: "";
                background: #2363ec;
                transform: skew(-20deg);
                width: 300px;
                height: 85px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                box-shadow: 5px 5px 0px white;
            }
            .wrapper {
                width: 100%;
                height: 100%;
                position: relative;
                line-height: 70px;
                &:before {
                    content: "";
                    border: solid 1px white;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .vote-tina, .vote-harpy {
            width: 50%;
            top: 0px;
            &:before {
                width: 100%;
                transform: none;
                box-shadow: none;
            }
            .wrapper {
                &:before {
                    transform: none;
                }
            }
        }
        @include breakpoint(tablet) {
            overflow: initial;
            .banner-img {
                display: initial;
            }
            .vote-tina, .vote-harpy {
                width: 300px;
                top: initial;
                bottom: 210px;
                &:before {
                    transform: skew(-20deg);
                    width: 300px;
                    box-shadow: -5px 5px 0px white;
                }
                .wrapper {
                    &:before {
                        transform: skew(-20deg);
                    }
                }
            }
            .vote-tina {
                left: -40px;
            }
            .vote-harpy {
                right: -40px;
            }
            .harpy {
                right: -165px;
            }
            .tina {
                left: -165px;
            }
            .text {
                font-size: 35px;
                padding: 0 90px;
                padding-top: 45px;
            }
        }
        @include breakpoint(desktop) {
            .vote-tina {
                left: -100px;
            }
            .vote-harpy {
                right: -100px;
            }
            .vote-tina, .vote-harpy {
                bottom: 25px;
            }
        }
    }
    #main-wrapper {
        margin-top: 0;
        width: 100%;
        padding: 0;
    }
    #content_side_body {
        display: none;
    }
    #content_body {
        width: 100%;
        max-width: 1025px;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    section#details {
        height: auto;
        width: 100%;
        background: url(https://eme04.enmasse-game.com/images/closers/tina-vs-harpy/details-bg.jpg);
        background-size: cover;
        padding: 19px;
        .text-wrapper {
            height: auto;
            width: 100%;
            border-left: solid 5px black;
            border-right: solid 5px black;
            border-bottom: solid 5px black;
            overflow: auto;
        }
        .text {
            max-width: 855px;
            width: 100%;
            padding: 30px 95px;
            color: white;
            position: relative;
            margin: 0 auto;
            margin-top: 30px;
            font-size: 16px;
            background: linear-gradient(to right, rgba(0,0,0,.1) 0%,rgba(0,0,0,.8) 10%,rgba(0,0,0,1) 50%,rgba(0,0,0,.8) 90%,rgba(0,0,0,.1) 100%);
            text-align: center;
            p {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            img {
                margin: -50px 0;
                margin-top: -70px;
            }
            @include breakpoint(tablet) {
                text-align: left;
            }
        }
    }
    section.character {
        //height: 628px;
        position: relative;
        padding: 19px;
        &.tina {
            background: url(https://eme04.enmasse-game.com/images/closers/tina-vs-harpy/tina-bg.jpg);
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
        }
        &.harpy {
            background: url(https://eme04.enmasse-game.com/images/closers/tina-vs-harpy/harpy-bg.jpg);
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
        }
        .content {
            padding: 30px;
            border-left: solid 5px black;
            border-right: solid 5px black;
            border-bottom: solid 5px black;
            .inner {
                width: 100%;
                height: 100%;
                background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                padding: 30px;
            }
        }
        ul {
            list-style-image: url(https://eme04.enmasse-game.com/images/closers/tina-vs-harpy/bullet.png);
            li {
                @include fontTeko;
                color: white;
                font-size: 24px;
            }
        }
        p {
            max-width: 490px;
            width: 100%;
            color: white;
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    section#playfree {
        height: auto;
        background: white;
        overflow: auto;
        h3 {
            font-size: 30px;
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }
        .promo-btn {
            @include fontTeko;
            z-index: 1;
            position: relative;
            margin: 20px auto;
            text-align: center;
            width: 290px;
            max-width: 100%;
            height: 90px;
            line-height: 90px;
            color: $black;
            text-decoration: none;
            text-shadow: 1px 1px 0px white;
            display: block;
            transition: 250ms;
            font-size: 40px;
            text-transform: uppercase;
            &:before {
                content: "";
                background: linear-gradient(to bottom, #ffeb00 35%, #fff 65%);
                //box-shadow: 0px 2px 4px rgba(0,0,0,.70);
                transform: skew(-26deg);
                box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
                width: 290px;
                max-width: 100%;
                height: 90px;
                z-index: -1;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
    section#dailydeals {
        background: #ca1b12;
        background-position: right;
        height: auto;
        width: 100%;
        padding-top: 180px;
        overflow: auto;
        position: relative;
        &:before {
            content: "Daily Deals";
            position: absolute;
            top: 70px;
            width: 100%;
            text-align: center;
            font-size: 60px;
            color: $yellow;
            font-weight: bold;
        }
        span {
            color: $yellow;
            width: 100%;
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
            display: block;
            margin-bottom: 30px;
            padding: 0 10px;
        }
        @include breakpoint(tablet) {
            background: url(https://eme04.enmasse-game.com/images/closers/tina-vs-harpy/daily-deals.jpg);
            &:before {
                content: "";
            }
        }
    }
    .yellow-btn {
        @include fontTeko;
        z-index: 1;
        position: relative;
        margin: 20px auto;
        text-align: center;
        width: 230px;
        height: 55px;
        line-height: 55px;
        color: $black;
        text-decoration: none;
        text-shadow: 1px 1px 0px white;
        display: block;
        transition: 250ms;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
        &:before {
            content: "";
            background: $yellow;
            //box-shadow: 0px 2px 4px rgba(0,0,0,.70);
            transform: skew(-26deg);
            box-shadow: -2px 4px 0px 0px rgba(0,0,0,0.75);
            width: 230px;
            height: 55px;
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    strong {
        color: $yellow;
    }
    h2 {
        margin: 0px;
        height: 85px;
        line-height: 85px;
        color: $yellow;
        font-size: 32px;
        background: black;
        padding-left: 0;
        text-align: center;
        .color-split {
            width: 50%;
            height: 100%;
            float: right;
            position: relative;
            display: none;
            &:before {
                content: "";
                width: 0; 
                height: 0; 
                border-top: 85px solid transparent;
                border-bottom: 0px solid transparent; 
                border-right:50px solid $yellow; 
                position: absolute;
                left: -50px;
                top: 0;
            }
            @include breakpoint(tablet) {
                display: inline-block;
            }
        }
        @include breakpoint(tablet) {
            padding-left: 65px;
            text-align: left;
            font-size: 48px;
        }
        &.yellow {
            color: $yellow;
            .color-split {
                background: $yellow;
                &:before {
                    border-right-color: $yellow;
                }
            }
        }
        &.red {
            color: #c70033;
            .color-split {
                background: #c70033;
                &:before {
                    border-right-color: #c70033;
                }
            }
        }
        &.blue {
            color: #2363ec;
            .color-split {
                background: #2363ec;
                &:before {
                    border-right-color: #2363ec;
                }
            }
        }
    }
}