.extra_fc {
	padding: 12rem 12px 12px 12px;
	position: relative;
	margin-bottom: 3rem;
	.hero-header__background img {
		object-position: 0 0;
	}
	&.border--gold--thin {
		border-width: .75rem;
    	border-image-width: .75rem;
	}
	.sheer {
		background: rgb(0,0,0);
		background: rgba(0,0,0,0.7);
		padding: 12px;
		text-align:center;
		.fc_logo {
			 display: block;
		}
		.btn-aoe--cta {
			margin-top:12px;
		}
	}
}

@include breakpoint(medium up) {
	.extra_fc {
		padding: 32px;
		display: flex;
		justify-content: flex-end;
		.sheer {
			padding: 32px;
			.btn-aoe--cta {
				margin-top:20px;
			}
		}
	}
}

@include breakpoint(large up) {
	.extra_fc {
		padding: 25px;
		.sheer {
			padding: 25px;
			.btn-aoe--cta {
				display: inline-block;
				&:last-child {
					margin-left: 0.5rem;
				}
			}
		}
	}
}