.frame-box {
    background: $brown url($image-path+'ui/frame-box-texture.jpg') repeat center top;
    border: 2px solid $neutral-grey;
    box-shadow: 0px 6px 15px 0px rgba($black, .4);
    margin-bottom: 1.5rem;
    padding: 4px;
    position: relative;
    z-index: 1;

    @include breakpoint(medium) {
        padding: 8px;
    }

    &--card { margin-bottom: 10px !important; }

    &--button {
        background-color: $brand-alt;
        background-image: url($image-path+'ui/button-box-texture.jpg');
        box-shadow: 0px 2px 4px 0px rgba($black, .3);
        margin-bottom: 0;
    }

    &--form {
        @include breakpoint(small only) {
            margin-left: -22px;
            margin-right: -22px;
        }
    }

    &--margin {
        margin-bottom: rem-calc(8);
        box-shadow: 0px 6px 15px 0px rgba($black, .4);
    }

    &--history {
        box-shadow: none !important;
        margin-bottom: 0 !important;
    }

    &__inner {
        border: 1px solid rgba($orange, 0.7);
        overflow: hidden;
        padding: 1rem; 
        position: relative;

        &--no-pad { padding: 0; }

        &--double-pad { padding: 2rem; }

        &--padding {
            padding-top: rem-calc(8);
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;

            .space-between {
                padding-left: rem-calc(8);
                padding-right: rem-calc(8);
            }
        }

        &--no-border { border: none; }

        &--dark {
            background: $neutral-grey url($image-path+'ui/texture-dark.jpg') repeat center top;
            color: $light;
        }

        &--light {
            background: $neutral-tan url($image-path+'ui/texture-light.jpg') repeat center top;
        }

        &--overlay {
            background: rgba(115, 71, 22, 0.1);
        }

        &--card {
            background: rgba(115, 71, 22, 0.1);
            margin-bottom: 1rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &--loading { min-height: 200px; }

        &--button {
            padding: 0;
            overflow: visible;
        }
    }


    &--visible { overflow: visible; }

    &--bg-alt { background: #221b16; }

    // overrides for Foundation media-object listing
    &--thumbnail-list {
        .media-object {
            margin: 0;
            padding: 10px;
            position: relative;

            @include breakpoint(medium) {
                padding: 15px;
            }

            @include breakpoint(large) {
                padding: 20px;
            }

            &:nth-child(even) { background: rgba($brown, 0.1); }

            h4 {
                color: $brand-primary;
                margin-bottom: 5px;
            }

            .main-section { width: 100%; }

            @include breakpoint(small only) {
                .thumbnail { width: 48px; }
            }
        }
    }
}

.frame-box--toc {

    .to-top {
        display: none;

        @include breakpoint(medium) {
            display: inline-block;
            cursor: pointer;
            margin-left: 1em;
            font-size: 0.75rem;
            color: $light-alt;
            white-space: nowrap;

            i { margin-right: 0.25em; }
        }
    }

    .frame-box__inner {
        @include styledScrollbar(); 
        max-height: 84vh;
        overflow: auto;
        padding: 0;
    }

    .toc__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1rem;
        cursor: pointer;
        padding: 1rem 1rem 0 1rem;

        h4 { margin: 0; }        
    }

    .toc__footer {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        padding: 0 1rem 1rem 1rem;
    }

    .toc__list {
        color: $light-alt;
        font-size: 0.875rem;
    }
    #toc {
        padding: 0 1rem;
    }

    .toc__list__item {
        line-height: 1.2;
        margin-bottom: 0.5rem;
        position: relative; 
        &:before {  
            content:''; 
            background: none;   
            transition: background 300ms;   
        }   
        &:hover {   
            &:before {  
                display: block; 
                width:115%; 
                height:100%;    
                position: absolute; 
                left: -10.5%;   
                top: -5px;  
                background: rgb(277,217,183);   
                background: rgba(277,217,183,0.1);  
                box-sizing: content-box;    
                padding: 3px 0 7px; 
            }   
        }

        a {
            color: $light;
            position: relative;
            font-size: inherit;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            margin-left: 0.25em;
            display: inline-block;
            vertical-align: top;

            &:hover {
                color: $light-alt;
                text-decoration: underline;
                }   
        }   
        .toc__list__item {  
            &:before {  
                display: none;  
            }   
        }   
        /* apply a class to hide sub menu */    
        /* script will add and remove class from appropriate items */   
        &.toc__list__is__show__more, &.toc__list__can__show__more { 
            position: relative; 
            &:before {  
                display: block; 
                width:115%; 
                height:100%;    
                position: absolute; 
                left: -10.5%;   
                top: -5px;  
                background: rgb(277,217,183);   
                background: rgba(277,217,183,0.1);  
                box-sizing: content-box;    
                padding: 3px 0 7px; 
            }   
            &:after {   
                content:''; 
                display: block; 
                position: absolute; 
                right: 0;   
                top: 0; 
                background-image: url($image-path+'ui/button-plusminus.png');   
                background-repeat: no-repeat;   
                width:14px; 
                height:14px;    
                cursor: pointer;    
            }   
        }   
        &.toc__list__is__show__more {   
            &:after {   
                background-position: 0 -14px;   
            }   
            &:hover {   
                &:after {   
                     background-position: -14px -14px;  
                }   
            }   
            .toc__list--sub {   
                height:auto;    
                visibility: visible;    
                opacity: 1; 
                transition: visibility 0s linear 0s, opacity 300ms, background 0s;  
 
                padding: 0.25rem 0.25rem 0.5rem 2.25rem;    
                margin-left: 0; 
                position: relative; 
                left: -1.25rem; 
                margin-top: 0.25rem;    
                width: 106%;    
                li{ 
                    margin-top: .5rem;  
                    margin-bottom: .5rem;   
                    display: block; 
                }   
            }   
        }   
        &.toc__list__can__show__more {  
            &:before {  
                display: none;  
            }   
            &:after {   
                background-position: 0 0;   
            }   
             &:hover {  
                &:after {   
                     background-position: -14px 0;  
                }   
                &:before {  
                    display: block; 
                    width:115%; 
                    height:100%;    
                    position: absolute; 
                    left: -10.5%;   
                    top: -5px;  
                    background: rgb(277,217,183);   
                    background: rgba(277,217,183,0.1);  
                    box-sizing: content-box;    
                    padding: 3px 0 7px; 
                }   
            }   
            .toc__list--sub {   
                padding: 0; 
                margin: 0;  
                background: none;   
                height:0;   
                visibility: hidden; 
                opacity: 0; 
                transition: visibility 0s linear 0ms, opacity 0ms, background 0s;   
                li{ 
                    margin: 0;  
                    display: none;  
                }
            }
        }
    }

    .toc__list--sub {
        list-style-type: lower-roman;

        .toc__list__item:first-child {
            margin-top: 0.5rem;
        }
    }
}