
// Loading Icon
// ---------------------------------------+
//

$_loading-size: 50px;

@keyframes loading-anim {
  100%   { transform: rotate(360deg); }
}

.loader-overlay {
  background: rgba($black, .8) url($image-path+'/loading-icon.svg') center center no-repeat;
  background-size: $_loading-size;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.loader-spinner {
  animation: loading-anim 0.5s steps(6) infinite;
  background: url($image-path+'/loading-spinner.svg') center center no-repeat;
  background-size: $_loading-size;
  height: $_loading-size;
  left: calc(50% - #{$_loading-size / 2});
  position: absolute;
  top: calc(50% - #{$_loading-size / 2});
  width: $_loading-size;
}
