/* for the appliance of toc backgrounds only */
/* grouped by game and lesson position */
#learn-to-play {
	/* AOE II DE */
	&.aoeiide {
		.related-lessons {
			li {
				&:nth-child(1n) {
					a {
						background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-joan-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
						background-size: cover, auto, auto;
						&:hover {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-joan-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
			    			background-size: cover, auto, auto;
						}
					}
				}
				&:nth-child(2n) {
					a {
						background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-saladin-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
						background-size: cover, auto, auto;
						&:hover {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-saladin-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
			    			background-size: cover, auto, auto;
						}
					}
				}
				&:nth-child(3n) {
					a {
						background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-genghiskhan-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
						background-size: cover, auto, auto;
						&:hover {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-genghiskhan-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
			    			background-size: cover, auto, auto;
						}
					}
				}
				&:nth-child(4n) {
					a {
						background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-pachacuti-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
						background-size: cover, auto, auto;
						&:hover {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-pachacuti-desk.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
			    			background-size: cover, auto, auto;
						}
					}
				}
				&.current_lesson {
					a {
						background: url($image_path + 'background_paper_repeat.jpg') repeat;
						background-size: auto;
						color: $black;
						&:hover {
							background: url($image_path + 'background_paper_repeat.jpg') repeat;
							background-size: auto;
						}
					}
				}
			}
		}
		.chapters {
			&.lesson_position_1 {
				background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-joan-mobile.png'), url($image_path + 'background_paper_repeat.jpg');
				background-position: bottom right, bottom left;
		    	background-repeat: no-repeat, repeat;
		    	background-size: contain, auto;
    		}
    		&.lesson_position_2 {
				background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-saladin-mobile.png'), url($image_path + 'background_paper_repeat.jpg');
				background-position: bottom right, bottom left;
		    	background-repeat: no-repeat, repeat;
		    	background-size: contain, auto;
    		}
    		&.lesson_position_3 {
				background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-genghiskhan-mobile.png'), url($image_path + 'background_paper_repeat.jpg');
				background-position: bottom right, bottom left;
		    	background-repeat: no-repeat, repeat;
		    	background-size: contain, auto;
    		}
    		&.lesson_position_4 {
				background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-pachacuti-mobile.png'), url($image_path + 'background_paper_repeat.jpg');
				background-position: bottom right, bottom left;
		    	background-repeat: no-repeat, repeat;
		    	background-size: contain, auto;
    		}
		}
	}
}


@media all and (min-width: 40em) {
	#learn-to-play {
	/* AOE II DE */
		&.aoeiide {
			.chapters {
				&.lesson_position_1 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-joan-desk.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
	    		&.lesson_position_2 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-saladin-desk.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
	    		&.lesson_position_3 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-genghiskhan-desk.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
	    		&.lesson_position_4 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-pachacuti-desk.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
			}
		}
	}
}

@include breakpoint(retina) {
	#learn-to-play {
		/* AOE II DE */
		&.aoeiide {
			.related-lesson {
				li {
					&:nth-child(1n) {
						a {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-joan-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
							background-size: cover, auto, auto;
							&:hover {
								background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-joan-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
				    			background-size: cover, auto, auto;
							}
						}
					}
					&:nth-child(2n) {
						a {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-saladin-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
							background-size: cover, auto, auto;
							&:hover {
								background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-saladin-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
				    			background-size: cover, auto, auto;
							}
						}
					}
					&:nth-child(3n) {
						a {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-genghiskhan-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
							background-size: cover, auto, auto;
							&:hover {
								background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-genghiskhan-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
				    			background-size: cover, auto, auto;
							}
						}
					}
					&:nth-child(4n) {
						a {
							background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-pachacuti-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
							background-size: cover, auto, auto;
							&:hover {
								background: url($image_path + '/learn/by_game/aoeiide/button-bg-sketch-pachacuti-4k.png') no-repeat right top, linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(227,217,183,0.3) 100%), url($image_path + '/bgs/framebox-texture3-desk.jpg');
				    			background-size: cover, auto, auto;
							}
						}
					}
				}
			}
			.chapters {
				&.lesson_position_1 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-joan-4k.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
	    		&.lesson_position_2 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-saladin-4k.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
	    		&.lesson_position_3 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-genghiskhan-4k.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
	    		&.lesson_position_4 {
					background: url($image_path + '/learn/by_game/aoeiide/bg-sketch-pachacuti-4k.png'), url($image_path + 'background_paper_repeat.jpg');
					background-position: top right, top left;
			    	background-repeat: no-repeat, repeat;
			    	background-size: contain, auto;
	    		}
			}
		}
	}
}