#header {
  position: relative;
  z-index: 1;
  padding:0px;
  float: none;
  margin-bottom: 10px;

  &> div.three {
    width: 24%;
    padding: 0;
  }
  a#header-logo  {
    display: block;
    height: 147px;
    width: 270px;
    background: image_url('image-sprite.png') no-repeat 0px -5px;
    margin-top: -17px;
  }
}
.header {
  position: relative;
  z-index: 1;
  margin: 10px 0;
}

@media #{$small} {
  #header-logo { margin: 5px; }
}

@media #{$medium} {
  #header {
    .three.columns { width: 100%; }
  }
}

@media #{$screen} {
    
}

#simple-eme-bar {
  position: relative;
  height: 46px;
  background: #010101 image_url("eme-bar/eme-bar-bg.jpg") repeat-x 0 0;
  z-index: 10;
}
#simple-eme-bar:after {
  content: "";
  position: absolute;
  bottom: -9px;
  background: image_url("eme-bar/eme-bar-border.png") repeat-x 0 0;
  height: 11px;
  width: 100%;
}
.eme-bar-logo {
  background: image_url("eme-bar/eme-bar-sprite.png") repeat-x 0 0px;
  display: block;
  width: 148px;
  height: 44px;
  margin: 0px 10px 1px -1px;
  text-indent: -9999px;
}
.eme-bar-container {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

.play-now {
  position: relative;
  z-index: 1;
  float: left;
  width: 150px;
  height: 45px;
  margin-top: 39px;

  a {
    display: block;
    border-radius: 3px;
    border: 1px solid #e6b300;
    text-align: center;
    width: 150px;
    height: 45px;
    line-height: 45px;
    color: black;
    font-family: 'exo_2light';
    font-weight: bold;
    background: rgb(254,249,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,249,241,1) 0%, rgba(236,183,92,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,249,241,1)), color-stop(100%,rgba(236,183,92,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,249,241,1) 0%,rgba(236,183,92,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f1', endColorstr='#ecb75c',GradientType=0 ); /* IE6-9 */
    &:hover {
      text-decoration: none;
      color: #666666;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ffffff+0,f1cb8a+100 */
      background: rgb(230,179,0); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(255,255,255,1) 0%, rgba(241,203,138,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,203,138,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(255,255,255,1) 0%,rgba(241,203,138,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#f1cb8a',GradientType=0 ); /* IE6-9 */
    }
    &:active {
      color: #666666;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6b300+0,ecb75c+0,fef9f1+100 */
      background: rgb(230,179,0); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(230,179,0,1) 0%, rgba(236,183,92,1) 0%, rgba(254,249,241,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,179,0,1)), color-stop(0%,rgba(236,183,92,1)), color-stop(100%,rgba(254,249,241,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(230,179,0,1) 0%,rgba(236,183,92,1) 0%,rgba(254,249,241,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b300', endColorstr='#fef9f1',GradientType=0 ); /* IE6-9 */
    }
  }
}
















