#page_container {
  max-width: $rowWidth;
  @include clearfix();
  margin: 0 auto;
  position: relative;

  #split_body + #wide_body {
    background: none;
    border: none;
    padding: 0;
    &:before { background: none; }
  }
}
#wide_body, #body_content_left, .container {
  padding: 0 20px 10px;
  position: relative;
}
#wide_body, .container {
  background: #efefef;
}
#wide_body {
  @include clearfix();
  width: 100%;
}
.container { @include adornment(); }
#body_content_right {
  margin-left: 0px;
  color: $txtColor;
  padding-left: 20px;
}
#page-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*ul li {
  list-style:none;
}*/

@media #{$small} {
  #page_container { width: 100%; }
}
