@font-face {
  font-family: 'icomoon';
  src:  url($font-path + 'icomoon/icomoon.eot?qneb09');
  src:  url($font-path + 'icomoon/icomoon.eot?qneb09#iefix') format('embedded-opentype'),
  url($font-path + 'icomoon/icomoon.ttf?qneb09') format('truetype'),
  url($font-path + 'icomoon/icomoon.woff?qneb09') format('woff'),
  url($font-path + 'icomoon/icomoon.svg?qneb09#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout-01:before {
  content: "\e923";
}
.icon-activity-01:before {
  content: "\e908";
}
.icon-beam-official-01:before {
  content: "\e909";
}
.icon-bestof-01:before {
  content: "\e90a";
}
.icon-bulleted-01:before {
  content: "\e90b";
}
.icon-capital:before {
  content: "\e90c";
}
.icon-category-01:before {
  content: "\e90d";
}
.icon-discuss-01:before {
  content: "\e90e";
}
.icon-discuss-02:before {
  content: "\e90f";
}
.icon-download-01:before {
  content: "\e910";
}
.icon-emoji-01:before {
  content: "\e911";
}
.icon-follow-01:before {
  content: "\e912";
}
.icon-globe-01:before {
  content: "\e913";
}
.icon-link-01:before {
  content: "\e914";
}
.icon-message-03:before {
  content: "\e915";
}
.icon-numbered-01 .path1:before {
  content: "\e916";
  color: rgb(35, 31, 32);
}
.icon-numbered-01 .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-numbered-01 .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-numbered-01 .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-numbered-01 .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-numbered-01 .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-person-01:before {
  content: "\e91c";
}
.icon-question-01:before {
  content: "\e91d";
}
.icon-quote-01:before {
  content: "\e91e";
}
.icon-reply-01:before {
  content: "\e91f";
}
.icon-search-01:before {
  content: "\e920";
}
.icon-share-01:before {
  content: "\e921";
}
.icon-whitelist-01:before {
  content: "\e922";
}
.icon-age1-01:before {
  content: "\e900";
}
.icon-age2-01:before {
  content: "\e901";
}
.icon-age3-01:before {
  content: "\e902";
}
.icon-ageM-01:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-mixer:before {
  content: "\e924";
}
