//override Foundation tabs
.tabs {
  background: none;
  border: 0;
}

.tabs-title {
  > a:hover,
  > a:focus,
  > a[aria-selected='true'] {
    background: none;
  }
}

.tabs-content {
  background: none;
  border: 0;
  color: inherit;
}

.tabs-panel {
  margin: 0;
  padding: 0;
}
