@font-face {
  font-family: 'serif6_beta_rgbold';
  src: font-url("serif6beta-bold-webfont.eot");
  src: font-url("serif6beta-bold-webfont.eot?#iefix") format("embedded-opentype"), font-url("serif6beta-bold-webfont.woff") format("woff"), font-url("serif6beta-bold-webfont.ttf") format("truetype"), font-url("serif6beta-bold-webfont.svg#serif6_beta_rgbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'serif6_beta_rgitalic';
  src: font-url("serif6beta-italic-webfont.eot");
  src: font-url("serif6beta-italic-webfont.eot?#iefix") format("embedded-opentype"), font-url("serif6beta-italic-webfont.woff") format("woff"), font-url("serif6beta-italic-webfont.ttf") format("truetype"), font-url("serif6beta-italic-webfont.svg#serif6_beta_rgitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'serif6_beta_rgregular';
  src: font-url("serif6beta-regular-webfont.eot");
  src: font-url("serif6beta-regular-webfont.eot?#iefix") format("embedded-opentype"), font-url("serif6beta-regular-webfont.woff") format("woff"), font-url("serif6beta-regular-webfont.ttf") format("truetype"), font-url("serif6beta-regular-webfont.svg#serif6_beta_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: $black;color:$white;font-family:arial, helvetica, sans-serif;
    h1{font-size:21px;font-weight:bold;color:$white;}
    h2{font-size:21px;color:$white;font-weight:normal;padding-bottom:13px;border-bottom:1px solid #282929;}
    h3{font-size:16px;color:$blue;font-weight:bold;text-transform:uppercase;margin-bottom:20px;}
    b{font-weight:bold;}
    a{color: $blue;}
    .clear{clear:both;}
    .clear-left{clear:left;}
    .display-none{display:none;}
    .hint-text {display:none;}
}
#blackout { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 20; }
/* Globals */
.wait-text { font-weight: bold; }

/*custom checkbox*/
label.label_check{ display: block; cursor: pointer; line-height: 1.2em;
 input{ margin-right: 2px; }
}
/* .has-js .label_check{ padding-left: 34px;background: image-url("site/icons.png") no-repeat -40px 0px;
   input{ position: absolute; left: -9999px; }
 }
 .has-js label.c_on{ background-position:-40px -20px; } */
/*end custom checkbox*/

/*header and nav*/
div.header {
  /*width: 1100px; height: 120px; overflow: hidden; background: image-url("site/nav/bg_header.png") no-repeat;*/
  div.logo { float: left; width: 254px; height: 62px; margin: 9px 0 0 9px; }
  div.navstack {float: right; width:793px;}
  div#language-drop-down{font-size:11px; color:white; margin-top:20px;
    #change-language-cont{cursor:pointer; width:135px;}
    #language-select-close { width: 165px; position: relative; color: #ffffff; border:1px solid #1f2021; width:165px; height:20px; line-height: 20px; vertical-align: middle;
      .flag { padding-left:7px; margin-right:5px; vertical-align: top; padding-top: 5px; }
      #open-arrow {background: image-url("site/open_arrow.png") no-repeat; width: 7px; height: 11px; display: block; position: absolute; bottom: 5px; right: 5px; }
    }
    #language-select-open {
      position: relative; width: 165px; position: absolute; top:92px; left:9px; z-index: 51; border:1px solid #1f2021;
      -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px;
      .transparent-bg {
        position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: #191c1c; z-index: -1;
        -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px; @include opacity(90);
      }
      ul {margin-left: 5px; width: 155px; margin-top: 4px; padding-top: 1px; padding-bottom: 1px;
        li {color: #ffffff; line-height: 19px; display: block; cursor: pointer; width: 155px;
          a {color: #ffffff !important}
          .flag {vertical-align: text-bottom; margin-left:18px; margin-right: 3px; }
        }
        li:hover { background-color: #076AAF; height:19px; width: 155px; }
        li.checked { background: image-url("site/current_language_check.png") no-repeat left 3px; }
        li:hover.checked { background: #076AAF image-url("site/current_language_check.png") no-repeat left 3px; }
      }
    }
  }
  div.nav_utility { float: right; height: 35px;
    div.nav_search { float: left; height: 35px; width:320px; background: image-url("site/nav/bg_search.png") no-repeat; background-position: 0px 0px;
      input { background: transparent; color: #999; border: 0px; float: left; margin: 8px 0 0 13px; width: 220px; }
    div.nav_search.active { background-position: 0px -35px; }
      }
    div.nav_account { float: right;
      ul {float: left;
        li { display: inline; text-align: center;
          a { display: block; text-decoration: none; color: #ccc; padding-top: 10px; height: 35px; }
          }
        li#menu-left { display: block; float: left; background: image-url("site/nav/acct_top_nav.png") no-repeat; background-position: 0 0; width: 102px; height: 35px; }
        li#menu-right { display: block; float: left; background: image-url("site/nav/acct_top_nav.png") no-repeat; background-position: -102px 0; width: 99px; height: 35px; }
        li#menu-left:hover, li#menu-left:active, li#menu-left.selected {background-position: 0px -35px;}
        li#menu-right:hover, li#menu-right:active, li#menu-right.selected {background-position: -102px -35px;}
      }
    }
  }
  /*#eme-bar-wrapper {
    width: 780px;
    height: 40px;
    text-align: center;
    background: none repeat scroll 0% 0% black;
    float: right;
    z-index: 3;
    overflow: hidden;
  }

  #eme-bar {
    font-size: 16px;
    box-shadow: 0px -5px 20px 5px rgb(31, 31, 31) inset;
    width: 800px;
    margin: 0px auto 0px -10px;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    a, a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    p {
      color: white;
    }
    ul {
      li {
        float: left;
        padding: 0px 5px;
      }
      &.welcome {
      float: left;
      margin-top: 12px;
        li {
          border-left: 1px solid white;
          text-align: center;
          font-size: 16px;
          line-height: 1em;
          &:first-child { border-left: medium none; }
        }
      }
    }
    div.currency { float: right;
      ul.wallet {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #525252), color-stop(100%, #1f1f1f));
        background-image: -webkit-linear-gradient(center top, #525252, #1f1f1f);
        background-image: -moz-linear-gradient(center top, #525252, #1f1f1f);
        background-image: -o-linear-gradient(center top, #525252, #1f1f1f);
        background-image: linear-gradient(center top, #525252, #1f1f1f);
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        float: right;
        height:40px;
        min-width: 50px;
        text-align: left;
        @include rounded-corners-each(5px, 0, 0, 5px);
        li {
          height: 40px;
          font-size: 16px;
          line-height: 40px;
          &:first-child {
            background: image-url("site/emp.png") no-repeat scroll 3px 8px;
            width: 30px;
            padding: 0;
          }
          &:last-child {
            margin-right: 0px;
            @include rounded-corners-each(0, 0, 5px, 0);
          }
          &.cash {
            color: #A8A8A8;
            min-width: 50px;
            text-align: left;
          }
          a.button-secondary {
            padding: 6px 10px;
            margin-right: 30px;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      input[type=submit], input.button-secondary, a.button-secondary {
        background: #125d9f;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5OTkxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODNiMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        @include gradient(#125d9f, #08283d);
        @include rounded-corners(5px);
        border-top: 1px solid #08283d;
        border-bottom: 1px solid #08283d;
        color: white;
        padding: 5px 20px;
        text-align: center;
        cursor: pointer;
        cursor: hand;
      }
      input[type=submit]:hover, input.button-secondary:hover, a.button-secondary:hover {
        background: #1b92d3;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5OTkxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODNiMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        @include gradient(#1b92d3, #125d9f);
        text-shadow: rgba(31, 31, 31, 0.7) 1px 1px 0;
        border-top: 1px solid #125d9f;
      }
      input[type=submit]:active, input.button-secondary:active, a.button-secondary:active {
        background: #08283d;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5OTkxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODNiMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        @include gradient(#08283d, #125d9f);
        text-shadow: rgba(82, 82, 82, 0.7) 1px 1px 0;
        border-top: 1px solid #125d9f;
      }
    }
  }*/

  div.nav_main {float:right;height: 77px;
    ul { padding-top:8px;
      li { display: inline;}
      li#games a { display: block; background: image-url("site/nav/mainnav.png") no-repeat;background-position: 0px 0px;width: 143px;height: 0px;float: left;overflow: hidden;padding: 77px 0 0 0;}
      li#games a:hover {background-position: 0px -154px;}
      li#games a:active, div.header div.nav_main ul li#games a.selected {background-position: 0px -77px;}
      li#games a.disabled {background-position: 0px -231px;}
      li#store a { display: block; background: image-url("site/nav/mainnav.png") no-repeat;background-position: -143px 0px;width: 142px;height: 0px;float: left;overflow: hidden;padding: 77px 0 0 0;}
      li#store a:hover {background-position: -143px -154px;}
      li#store a:active, div.header div.nav_main ul li#store a.selected {background-position: -143px -77px;}
      li#store a.disabled {background-position: -143px -231px;}
      li#community a { display: block; background: image-url("site/nav/mainnav.png") no-repeat;background-position: -285px 0px;width: 142px;height: 0px;float: left;overflow: hidden;padding: 77px 0 0 0;}
      li#community a:hover {background-position: -285px -154px;}
      li#community a:active, div.header div.nav_main ul li#community a.selected {background-position: -285px -77px;}
      li#community a.disabled {background-position: -285px -231px;}
      li#support a { display: block; background: image-url("site/nav/mainnav.png") no-repeat;background-position: -427px 0px;width: 142px;height: 0px;float: left;overflow: hidden;padding: 77px 0 0 0;}
      li#support a:hover {background-position: -427px -154px;}
      li#support a:active, div.header div.nav_main ul li#support a.selected {background-position: -427px -77px;}
      li#support a.disabled {background-position: -427px -231px;}
      li#company a { display: block; background: image-url("site/nav/mainnav.png") no-repeat;background-position: -569px 0px;width: 182px;height: 0px;float: left;overflow: hidden;padding: 77px 0 0 0;}
      li#company a:hover {background-position: -569px -154px;}
      li#company a:active, div.header div.nav_main ul li#company a.selected {background-position: -569px -77px;}
      li#company a.disabled {background-position: -569px -231px;}
      }
    }
}
/*end header and nav*/

.no-layout {
  #cboxClose { display:none !important; }
}

.gradient{background: image-url("site/header-gradient.jpg") no-repeat center bottom; min-height: 30px; }

/* Errors */
#errorExplanation { margin-bottom:30px; margin-top: 0px; padding: 12px; padding-bottom: 16px; border: 1px solid #545353; background-color: #212222; color: #000;
  h2 { display: none; }
  p { color: #828181; margin-bottom: 0; padding-bottom: 8px;  font-size: 11pt; font-weight: bold; }
  ul li { font-size: 12px; list-style: square; margin-left: 30px; color: #828181; float:none; }
}
/* /Errors */

/* Flash Notices */
#info-box-notice, #info-box-warning, #info-box-error { padding: 6px;padding-left:10px; border:none; background-color:#F3F3F3; overflow: hidden; text-align:left !important; }
#info-box{ font-size:9pt; font-weight: bold;
  .info-box-container { margin-bottom: 0px; }
  .info-notice  {background:#bcbcad;color:#000;border-color:#686856;border-width:3px;height:auto !important;}
  .info-error   {background:#bcbcad;color:#000;border-color:#686856;border-width:3px;height:auto !important;}
  .info-warning {background:#bcbcad;color:#000;border-color:#686856;border-width:3px;height:auto !important;}

  .notice-box  {float:left;padding-left:29px;padding-top:4px;padding-bottom:3px;height:auto !important;background-image: image-url("icons/notice.jpg"); background-repeat: no-repeat; font-weight: bold; width: 75%;}
  .warning-box {float:left;padding-left:29px;padding-top:4px;padding-bottom:3px;height:auto !important;background-image: image-url("icons/warning.jpg"); background-repeat: no-repeat; font-weight: bold; width: 75%; }
  .error-box   {float:left;padding-left:29px;padding-top:4px;padding-bottom:3px;height:auto !important;background-image: image-url("icons/error.jpg"); background-repeat: no-repeat; font-weight: bold; width: 75%; }

  .close-box { float:right; font-weight:normal; color:#8a1f11; font-size:10pt;padding-top:1px;
    a:link, a:visited, a:active, a:hover { font-size:11px !important; color:#000 !important;font-weight:bold !important;}
  }
}
/* /Flash Notices */

#content{
  width:1100px;padding-bottom:105px;background: image-url("account/gradient-btm.jpg") no-repeat bottom left;margin:0px auto;
  .content-top{background: image-url("account/crnr-top.jpg");height:45px;width:$w_base -40;padding:20px 20px 0px 20px;}
  .content-block{background:#121212;color:#999;padding:21px;}
  .content-bottom{background: image-url("account/crnr-btm.jpg") no-repeat center;width:$w_base;height:20px;}
  .left-column{width:515px;float:left;}
  .right-column{width:515px;float:right;}
}

/*Footer*/
div.footer {width: 1100px; height: 94px; overflow: auto; background: image-url("site/bg_footer.png") no-repeat;
  a { color:#0066ae; text-decoration: none !important; text-transform: uppercase;font-weight:bold;}
  .logos {float: left; height: 94px; overflow: auto;
      img {float: left; margin: 14px 7px 0 0;}
        }
  .nav {float:left; margin: 32px 0 0 210px; text-align:center;
      p { color: #4c4c4c;font-size:11px; }
      ul { padding: 0 0 7px 0; word-spacing: 5px;
        li { font-size: 14px; font-weight: bolder; display: inline; color: #333; }
      }
  }
  .account { float: right; margin: 32px 0 0 0;
     a { font-size: 14px; font-weight: bolder; color: #0066ae; }
     }
}
/*EME Footer*/
.footer-wrapper {
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #000));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0), #000);
  background-image: -moz-linear-gradient(rgba(0,0,0,0), #000);
  background-image: -o-linear-gradient(rgba(0,0,0,0), #000);
  background-image: linear-gradient(rgba(0,0,0,0), #000);
  height: 450px;

  footer {
    text-align: center;
    margin: 20px auto 0;
    float: none;

    a {
      color: #0297ff;
      &:hover {
        text-decoration: underline;
      }
    }
    hr {
      padding: 0px;
      margin: 0px;
      border-color: #DDDDDD;
      border-image: none;
      border-style: solid;
      border-width: 1px 0 0;
      clear: both;
      height: 0;
    }
    p {
      color: #A8A8A8;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.4;
      margin-bottom: 16px;
    }
    .row { float: none; }
    .column, .columns {
      margin-left:0;
      float:left;
      min-height:1px;
      position:relative;
      &.four {
        width:33.33333%;
      }
      &.twelve {
        width:100%;
      }
    }
    h3 {
      font-size: 29px;
      font-family: "serif6_beta_rgbold",Times,serif;
      font-weight: bold;
      color: #dddddd;
      text-rendering: optimizeLegibility;
      line-height: 1.4;
      margin-bottom: 0.25em;
      margin-top: 0.25em;
    }
  }
  #footer-linkroll {
    ul {
      list-style: none;
      display: block;
      padding: 0px;
      margin: 0px;
      background: #171718;

      li {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 1.6;

        &:after {
          content: "|";
          margin-left: 40px;
        }
        &:last-child:after {
          content: "";
          margin-left: 0px;
        }
      }
    }
  }
  #footer-logos { margin: 20px 0px; }
  .copy { color: #aaaaaa; }
}
/*end footer*/
p.smaller-text{color:#666;font-size:14px;text-align:center;
}

#container-main{
  width:$w_base;
}

#content-primary{
  width:$w_base !important;float:none !important;margin:0 auto;

}

#content-container-2col{
  width:$w_base !important;margin-left:auto;margin-right:auto;
}

/* Buttons */
a, input {
  &.default-button { display: block; color:$white; text-align:center; background: image-url("site/btn.png") no-repeat; }
  &.default-button.btn-1 { background-position: 0 0; height: 40px; width: 181px; line-height: 40px; vertical-align: middle; font-weight: bold; font-size: 16px; text-transform: uppercase; }
  &.default-button.btn-1:hover { background-position: 0 -41px; }
  &.default-button.btn-1.disabled { background-position: -200px 0px !important; cursor: default; }

  &.default-button.btn-2 { background-position: 0 -100px; height: 28px; width: 181px; line-height: 28px; vertical-align: middle; font-weight: bold; font-size: 13px; text-transform: uppercase; }
  &.default-button.btn-2:hover { background-position: 0 -150px; }

  &.default-button.btn-3 { background-position: 0 -200px; height: 41px; width: 116px; line-height: 41px; vertical-align: middle; font-weight: bold; font-size: 13px; text-transform: uppercase; }
  &.default-button.btn-3:hover { background-position: 0 -250px; }

  &.default-button.btn-4 { background-position: 0 -300px; height: 28px; width: 116px; line-height: 28px; vertical-align: middle; font-weight: bold; font-size: 13px; text-transform: none; }
  &.default-button.btn-4:hover { background-position: 0 -350px; }

  &.default-button.btn-5 { background-position: 0 -400px; height: 28px; width: 149px; line-height: 28px; vertical-align: middle; font-weight: bold; font-size: 13px; text-transform: none; }
  &.default-button.btn-5:hover { background-position: 0 -450px; }

  &.default-button.btn-6 { background-position: -150px -300px; height: 28px; width: 72px; line-height: 28px; vertical-align: middle; font-weight: bold; font-size: 13px; text-transform: none; }
  &.default-button.btn-6:hover { background-position: -150px -350px; }

  &.default-button.btn-7 { background-position: 0 -300px; height: 28px; width: 116px; line-height: 28px; vertical-align: middle; font-weight: bold; font-size: 13px; text-transform: none; }
  &.default-button.btn-7:hover { background-position: 0 -350px; }

  &.default-button.btn-8 { background-position: -200px -42px; height: 28px; width: 116px; line-height: 28px; vertical-align: middle; font-weight: bold; font-size: 13px; text-transform: none; }
  &.default-button.btn-8:hover { background-position: -200px -72px; }
}

.green-button {
  display: block;
  color:$white;
  text-align:center;
  background: image-url("site/green_btn.png") no-repeat;
  background-position: 0 0px;
  height: 28px; width: 194px;
  line-height: 28px; vertical-align: middle; font-weight: bold; font-size: 14px; text-transform: none;
}
.green-button:hover { background-position: 0 -29px; }
/* /Buttons */

/* Form Defaults */
form.default {
  input[type='text'],input[type='password'] {margin-top:0px;margin-bottom: 20px; background: image-url("site/inputs.png") no-repeat;margin-left:0px;height:19px;padding:9px 5px 10px 5px;}

  input.input-1 { width:184px; background-position: 0 0; }
  input.input-1:focus, input.input-1:active { background-position: 0 -50px; }
  input.input-1.with_errors { background-position: 0 -100px; }

  input.input-2 { width:284px; background-position: 0 -150px; }
  input.input-2:focus, input.input-2:active { background-position: 0 -200px; }
  input.input-2.with_errors { background-position: 0 -250px; }

  input.input-3 { width:375px; background-position: 0 -300px; }
  input.input-3:focus, input.input-3:active { background-position: 0 -350px; }
  input.input-3.with_errors { background-position: 0 -400px; }

  input.input-4 { width:471px; background-position: 0 -450px; }
  input.input-4:focus, input.input-4:active { background-position: 0 -500px; }
  input.input-4.with_errors { background-position: 0 -550px; }

  input.input-5 { width:481px; background-position: 0 -600px; }
  input.input-5:focus, input.input-5:active { background-position: 0 -650px; }
  input.input-5.with_errors { background-position: 0 -700px; }

  .check{margin-left:10px;float:left;margin-top:12px;width:12px;height: 10px; }
  .check.with_errors { background: image-url("site/icons.png") no-repeat 0px 0px !important; }
  .check.valid { background: image-url("site/icons.png") no-repeat 0px -20px !important; }

  .iparent p { padding: 9px 5px 10px 5px; color: #999; }
}
/* /Form Defaults */

/* Colorbox Defaults */
.cb-cont { padding: 0px 10px 10px 10px;
  #info-box { margin-top: 7px; }
  h3 { font-size:21px;font-weight:bold;color:$white !important; text-transform:none !important; margin-bottom: 0 !important; text-align: left !important; padding-top: 10px; }
  hr{background-color:#4d4d4d;color:#4d4d4d;margin-top:10px;margin-bottom:20px;}
  label { float: left; display: block; width: 176px; text-align: right; margin-right: 10px; color: #fff; margin-top: 10px; }
  .iparent { float: left;  width: 400px; text-align: left; }
  a.submit-link { margin: 0 auto; margin-bottom: 10px; }
  p.info { margin-bottom: 24px; font-size: 13pt; text-align: left;}
  span.iparent.input-4 { width: 481px !important; }
  div.cancel { text-align: center !important; }
  div.center-text { text-align: center !important; vertical-align: middle; }
}

/* Colorbox Min */
.cb-min { padding: 0px 2px 2px 2px;
  #info-box { width: 300px; margin-bottom: 5px; position: absolute; top: 0; left: 0; }
  h3 { font-size:21px;font-weight:bold;color:$white !important; text-transform:none !important; margin-bottom: 0 !important; text-align: left !important; padding-top: 5px; }
  hr{background-color:#4d4d4d;color:#4d4d4d;margin-top:5px;margin-bottom:5px;}
  label { /*float: left;*/ display: block; width: 284px; text-align: center; color: #fff; margin: 5px 0 5px 0; }
  .iparent { float: left;  width: 284px; text-align: left; }
  a.submit-link { margin: 0 auto; margin-bottom: 10px; }
  p.info { margin-bottom: 24px; font-size: 13pt; text-align: left;}
  span.iparent.input-4 { width: 300px !important; }
  div.cancel { text-align: center !important; }
  div.center-text { text-align: center !important; vertical-align: middle; }
}

/* /Colorbox Defaults */

/* Login */
#login{padding:10px;color:#999;
  div.hr {
    width: 303px;
    background-image: image-url("account/login-hr.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #fffefe;
    font-size: 16px;
    font-weight: bold;
    margin: 12px auto;
    text-align: center;
  }
  .heading { 
    text-align: center;
    background: none;
    padding:0;
  }
  label{color:#fff;}
  .login-btn{width:117px;height:41px;background: image-url("account/login-btn.png") no-repeat;margin:15px auto 5px;
    a { 
      color:#fff;font-weight:bold;display:block;height:100%;width:100%;text-align:center;height: 41px; line-height: 41px; vertical-align: middle; 
      &.buttonYellow {
        padding: 0;
        color:#ffffff;
        background: none;
        border: none;
        border-radius: 0;
        text-transform: none;
      }
    }
  }
  .login-btn:hover{background-position:0px -41px;cursor:pointer;}
  hr{color:#4d4d4d;background-color:#4d4d4d;margin-bottom:5px;}
  input.field{background: image-url("account/input-login.png") no-repeat;width:275px; height:28px;float:none;margin:5px 0 10px 0px;padding:5px 5px;}
  .checkbox{float:left;margin-right:5px;}
  .err-msg{color:$red;font-weight:bold;margin-bottom:10px;}
  #login-btn:hover{background-position:0px -41px;}
  ul{margin:20px 0px 5px 0px;width:305px;height:15px;
    li{float:left;padding-right:10px;text-align:center;color:#4d4d4d;
      a { font-size:11pt !important; color: #0066ae; }
      a:hover{text-decoration:underline;}
    }
  }
  .error{background: image-url("site/icons.png"); width:12px;height:10px;float:right;margin:16px 1px;}
  .input-text { margin-left: 10px; }
  .login-footer { color:#4d4d4d; margin: 20px auto 5px auto; text-align: center; }
}
/* /Login */

/* En Garde */
#engarde-verification-form-cont {
  text-align: left !important;
  p { font-size: 12px; padding-bottom: 8px; color: #999; }
  label { /*width: 97px;*/ padding-bottom:2px; }
  .iparent { width: 180px !important; margin-bottom:2px; margin-left:2px;}
  .submit { text-align: center;
    ul{margin: 0 auto; margin-top:5px; margin-bottom:5px;width:161px;height:18px;
      li{float:left;padding-right:10px;text-align:center;color:#4d4d4d;
        a { font-size:11pt !important; }
        a:hover{text-decoration:underline;}
      }
      li.last { padding-right: 0 !important; }
    }
  }
  a.submit-link { margin-bottom: 0; }
  .label_check { width: 247px !important; text-align: left; margin-bottom: 15px; }
  input[type='text'] { margin-bottom: 0px !important; }
  input[type='checkbox'] { background: none !important; margin:0 !important; }
}

#cboxContent {
  hr { margin: 5px 0 !important; }
}

/* Enter Code */
a.game-code-submit { margin: 0 auto; margin-bottom: 10px; }
#enter-code{font-size:16px;
  p{text-align: left; text-indent:10px;}
  .iparent { width: 481px; }
  #info-box { margin-bottom: 20px; }
}
#redeemed-code {
  #info-box { margin-bottom: 20px; }
  .sku-info.left { float: left; width: 156px;
    img.sku-icon{margin:0px 10px;}
  }
  .sku-info.right { float: left; width: 561px !important; padding-top: 3px;
    p{ text-align: left; text-indent: 0px !important; margin-bottom:15px; }
  }
  div.status-text { font-size: 16px; font-weight: bold;
    .failed { color: #f00; }
    .pending { color: #EA7421; }
    .complete { color: #009900; }
  }
  #game-code-info-form {
    label { float: none !important; text-align: left; width: 360px; }
    select { float: left; width: 191px; margin-top: 20px; }
    a.game-code-submit { float: left; margin-top: 16px; margin-left: 16px; }
  }
}
/* /Enter Code */

.default-message-cont {
  .content-block { padding-top: 30px !important; padding-bottom: 30px !important; }
  #left-column{width:723px;float:left;
    h2 { border-bottom: none; font-size: 26pt; color: #0A66C8; font-weight: bold; margin-top: 8px; margin-bottom: 7px; }
    p { font-size: 12pt; padding-left: 2px; padding-bottom: 24px; width: 640px; line-height: 15pt; }
    ul { list-style-type:disc;padding-left:16px;line-height:24px; }
  }

  #right-column{width:305px; float:right; padding-top: 10px; border-left: solid 1px #282929; height: 192px; }
}

.default-message-cont.errors {
  hr{
    background-color:#282929;color:#282929;height:1px;margin:20px 0;
  }
  .content-block a:hover { text-decoration: underline; }
}

/* JScrollPane */
.jspVerticalBar { background: none;
  .jspTrack { width: 7px; background: #444; position: absolute; right: 0; border-radius: 7px;
    .jspDrag { background: #01659A; border-radius: 7px; }
  }
}

/* Facebook Button */
.login-facebook-btn {
  display: inline-block;
  width: 205px;
  height: 37px;
  background-image: image-url("account/login-facebook-btn.png");
  background-repeat: no-repeat;

  &:hover {
    background-position: 0 -37px;
  }
}

.facebook-picture {
  display: inline-block;
  border: 2px solid #3b5a99;
  border-radius: 4px;
  margin-right: 5px;
  padding: 2px;
  background-color: #000;

  img {
    height: 30px;
    width: auto;
    border-radius: 2px;
  }
}

/* Global Alerts */
#global-alerts {

  .alert {
    @include rounded-corners(4px);
    padding: 8px 35px 8px 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;

    a {
      color: #6ec3ff;
      text-decoration: underline;
      &:hover {
        color: #b1dfff;
      }
    }

  }

  .alert-error {
    background: #820707;
    background: rgba(150, 9, 9, 0.5);
    border: 1px solid #820707;
    color: #FFF;
    @include text-shadow(none);
  }

  .alert-error:before {
    content: " ";
    display: block;
    float: left;
    width: 24px;
    height: 28px;
    background: url('account/image-sprite.png') no-repeat -251px -420px;
    margin: -2px 10px 0 0;
  }

  .alert-notice {
    background: #1c9509;
    background: rgba(25, 134, 7, 0.5);
    border: 1px solid #1c9509;
    color: #fff;
    @include text-shadow(none);
  }

  .alert-notice:before {
    content: " ";
    display: block;
    float: left;
    width: 24px;
    height: 28px;
    background: url('account/image-sprite.png') no-repeat -221px -420px;
    margin: -2px 10px 0 0;
  }

  .alert-warning {
    background: #ff9400;
    background: rgba(195, 110, 0, 0.5);
    border: 1px solid #ff9400;
    color: #fff;
    @include text-shadow(none);
  }

  .alert-warning:before {
    content: " ";
    display: block;
    float: left;
    width: 16px;
    height: 28px;
    background: url('account/image-sprite.png') no-repeat -370px -421px;
    margin: -2px 10px 0 0;
  }

}
