/*
*= require_self
*/

/* die colorbox die */
/* mobile */
#colorbox.submissionPop {
  width:340px;
  height:340px !important;
  margin:0 auto;
}
.submissionPop #cboxWrapper {
  width:340px;
}

/* desktop*/
.submissionPop #cboxMiddleLeft, .submissionPop #cboxMiddleRight, .submissionPop #cboxBottomLeft, .submissionPop #cboxBottomCenter, .submissionPop #cboxBottomRight, .submissionPop #cboxTopLeft, .submissionPop #cboxTopCenter, .submissionPop #cboxTopRight {
  background: none;
  width:0;
  height:0;
}
#cboxOverlay.submissionPop {
  opacity: 0.8 !important;
}
#container-main {
  display:block !important;
}
.submissionPop #cboxWrapper, .submissionPop #cboxLoadedContent {
  height:340px !important;
}
.submissionPop #cboxClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(/assets/battleplans/magnific-popup/close-bg-x.png) top center no-repeat;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
.submissionPop #cboxContent {
  background: none;
  max-width:340px;
  width:100% !important;
  height:340px !important;
  float:none !important;
  text-align:center;
  border-radius: 10px;
  background: #ffffff;
  padding:0 20px;
  margin: 0 10px;
  -webkit-box-shadow:0px 2px 8px #000000;
  -moz-box-shadow:0px 2px 8px #000000;
  box-shadow:0px 2px 8px #000000;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}
.submissionPop #cboxLoadedContent {
  max-width: 485px;
  width: 100% !important;
}
.submissionPop #cboxContent h3 {
  font-weight:bold;
  font-size: 36px;
  padding: 10px 0;
}
.submissionPop #cboxContent p {
  color:#9b4284;
  text-align:center;
}
.socials {
  text-align:center;
}


/* remove shadow from eme bar */
  #eme-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* overwrite */
  #container-main {
    max-width: 1280px;
    width:100%;
  }
  #content-primary {
    max-width: 1280px;
    width:100% !important;
  }
  #app-account.registration {
    background: url(/assets/battleplans/background.png) top center repeat;
  }

  /* hide error messaging */
  #errorExplanation {
    display:none;
  }

  /* hide second password field */
  #user_password_confirmation {
    display:none;
  }

  /* mobile / all styles */
  .battleplansbeta {
    background: url(/assets/battleplans/background.png) top center repeat;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight:normal;
    color:#9b4284;
    text-align:center;
    font-size:16px;
  }
  .sleeve {
    display:block;
    max-width: 1280px;
    width:95%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px #000000;
    -moz-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
    background: url(/assets/battleplans/content_background.png) top center repeat;
  }
  .sleeve .hero {
    background: url(/assets/battleplans/header_layer0.jpg) bottom center no-repeat;
    background-size:cover;
    text-align:center;
    width:100%;
    height:320px;
  }
  .hero .inner {
    background: url(/assets/battleplans/header_layer1.png) bottom center no-repeat;
    height:320px;
    width:100%;
    background-size: contain;
  }

  h1 span {
    text-indent: -9999em;
    display:block;
    background: url(/assets/battleplans/logo.png) top center no-repeat;
    background-size: contain;
    max-width:520px;
    width:80%;
    min-height:120px;
    height: auto;
    margin:0 auto;
    position:relative;
    top:25px;
  }
  .signup {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    text-align: center;
  }
  body h2 {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    font-weight:bold;
    color:#9b4284;
    font-size: 2em;
    text-shadow: 0px 1px 0px #000000;
    margin: 14px 0px 0px 0px;
    padding:0px 6px;
    border: none;
  }
  body h3 {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    font-weight:normal;
    color:#81386e;
    padding: 0px 6px;
    margin: 0 auto;
    font-size:20px;
    text-transform: none;
  }
  .signupform-wrapper {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    background: #ffffff;
    width: 290px;
    height:500px;
    margin: 14px auto;
    padding: 16px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 8px #8c4c00;
    -moz-box-shadow: 0px 2px 8px #8c4c00;
    box-shadow: 0px 2px 8px #8c4c00;
  }
  .signupform-wrapper.existing {
    margin:50px auto;
    height:140px;
  }
  .signupform-wrapper.existing div {
    font-weight:bold;
  }
  h3 {
    color: #9b4284;
    padding: 0;
  }
  h3 .bold {
    font-weight:bold;
    color:#81386e;
  }
  .signupform-wrapper.existing h3 span {
    display:block;
  }
  
    
  .signup-facebook-btn {
    width: 100%;
    height: 52px;
    margin: 1em auto;
    display:block;
    background: url(/assets/battleplans/facebooklogin.png) top center no-repeat;
    background-size: contain;
    margin: 1em auto;
    border-radius: 5px;
  }
  .signup-facebook-btn:hover {
    opacity: 0.8;
  }
  .or {
    background: url(/assets/battleplans/or.png) top center no-repeat;
    display:block;
    width: 45px;
    height: 45px;
    background-size: contain;
    margin: 0 auto 0.5em;
  }
  .or span {
    color: #ffffff;
    font-weight: bold;
    text-indent: -9999em;
    display:block;
  }
  form label {
    color: #81386e;
    text-align:left;
  }
  .email, .password {
    text-align:left;
  }
  .signupform-wrapper input {
    -webkit-box-shadow: inset 2px 0px 6px #6dcff8;
    -moz-box-shadow: inset 2px 0px 6px #6dcff8;
    box-shadow: inset 2px 0px 6px #6dcff8;
    width: 100%;
    height:48px;
    background:#c3edff;
    color:#81386e;
    border: 1px solid #1fb5f5;
    font-size:18px;
    line-height: 48px;
    border-radius: 4px;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 0 5px;
  }
  .signupform-wrapper input#user_email {
    margin-bottom:15px;
  }
   a {
    text-decoration: underline;
    color:#3678ff;
   }
   a:hover {
    color:#ff45a8;
   }
   .notice-callout {
    margin: 0.5em auto;
   }
   #btn-success {
    display:none;
    background: url(/assets/battleplans/sign-up-bg.png) top center no-repeat;
    background-size:cover;
    width: 260px;
    height: 52px;
    margin: 0.5em auto;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-decoration: none;
    border-radius: 4px;
   }
   .btn-create-account,
   #btn-create-account { 
    width:260px;
    height:52px;
    display:block;
    margin: 0.5em auto;
    font-size:24px;
    line-height: 48px;
    font-weight:bold;
    color: #ffffff;
    text-indent:-9999em;
    background: url(/assets/battleplans/sign-up.jpg) top center no-repeat;
    background-size:cover;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset none;
    cursor: pointer;
   }
   .btn-create-account:hover,
   #btn-create-account:hover {
    background-position: 0 -52px;
   }
   #btn-create-account:disabled {
    background-position: 0 -52px;
   }
   /* error messaging */
   .msg {
    display: none;
    position: absolute;
    top: 29px;
    right: 105%;
    width: 190px;
    padding: 6px 10px;
    background: #b91621;
    color: white;
   }
   
   #app-account #hint {
    display:none;
    position: absolute;
    left: -30px;
    top: 75px;
    width: 300px;
    padding: 9px;
    -webkit-box-shadow:0px 0px 9px #000;
    -moz-box-shadow:0px 0px 9px #000;
    box-shadow:0px 0px 9px #000;
    z-index:999;
  }

  .check {
    float: right;
    position: absolute;
    top:36px;
    right: 6px;
    width: 12px;
    height: 10px;
    z-index:100;
  }
  
  .check.with_errors {
    background: url(/assets/site/icons.png) no-repeat 0px 0px !important;
  }
  .check.valid {
    background: url(/assets/site/icons.png) no-repeat 0px -20px !important;
  }
    /* hint and error overwrite */
    #app-account #hint, 
    #app-account #hint.warning, 
    #app-account #password #hint,
    #app-account #preview-rounded.text p {
      background: #ffffff;
      color:#9b4284;
    } 
    #app-account #hint #arrow, 
    #app-account #password #hint #arrow {
      border-color: transparent transparent transparent #ffffff;
    }
    #app-account #preview-rounded.text,
    #app-account #preview-rounded p {
      color:#9b4284;
    } 
    #app-account #preview-rounded p {
      background: #ffffff !important;
      color:#9b4284 !important;
      width:200px !important;
      height:50px !important;
    }
    #app-account #preview-rounded p {
      -webkit-box-shadow:0px 0px 9px #000;
      -moz-box-shadow:0px 0px 9px #000;
      box-shadow:0px 0px 9px #000;
    }

    #app-account #preview-rounded.text {
      background :none !important;
      width:200px !important;
      height:50px !important;
    }

    /* email error */
    #email_hint {
      display:none;
      position: absolute;
      left: -30px;
      top: -25px;
      width: 300px;
      padding: 9px;
      background: #ffffff;
      -webkit-box-shadow:0px 0px 9px #000;
      -moz-box-shadow:0px 0px 9px #000;
      box-shadow:0px 0px 9px #000;
      border-radius: 8px;
      z-index: 999;
    }
    #email_hint p {
      font-weight: bold;
      font-size:14px;
      text-align:center;
    }


   /* AUTH */
    .email {
      position: relative;
      margin-top: 0;
    }
    .email .msg, .email .tkn {
      display:none;
      position: absolute;
      top:-30px;
      right: 10%;
      width: 190px;
      padding: 6px 10px;
      background: #ffffff;
      color:#9b4284;
      -webkit-box-shadow:0px 0px 9px #000;
      -moz-box-shadow:0px 0px 9px #000;
      box-shadow:0px 0px 9px #000;
      border-radius: 5px;
    }
    .email.error.message .msg {
      display: block;
    }
    .email.error.taken .tkn {
      display: block;
    }
    .email.error .msg:after, .email.error .taken:after {
      display:none;
    }
    .email.error .taken { width: 240px; }
    .email.error .taken .error .msg { display: block; }
    .email.error .taken .taken { display: block; }
    .password {
      position: relative;
      text-align: left;
    }
    .signupform-wrapper input[type=password], .strength {
      position: relative;
      z-index: 1;
    } 
      
    /* strength meter */
      .strength_meter {
        position: absolute;
        top: 28px;
        z-index: 0;
        height: 40px;
        width: 100%;
        background: white;
      }
      .strength_meter > div {
          -webkit-transition: all .3s ease-in-out;
          width: 0%;
          height: 40px;
          text-align: right;
          color: black;
          font-weight: bold;
          line-height: 23px;
        }
         .strength_meter p {
            position: absolute;
            top: 35px;
            right: 0;
            font-size: 80%;
          }
        .veryweak{
          background-color: #FFA0A0;
          border-color: #F04040!important;
          width: 25%;
        }
        .weak{
          background-color: #FFB78C;
          border-color: #FF853C!important;
          width: 50%;
        }
        .medium{
          background-color: #FFEC8B;
          border-color: #FC0!important;
          width: 75%;
        }
        .strong{
          background-color: #C3FF88;
          border-color: #8DFF1C!important;
          width: 100%;
        }
      .button_strength { 
        font-size: 80%; 
        color:#000000;
        text-decoration:none;
        display:inline-block;
        vertical-align:bottom;
        position: relative;
        top: -2px;
      }
      .button_strength:before {
        content: "";
        display:inline-block;
        vertical-align:bottom;
        padding-right:2px;
        background: url(/assets/battleplans/checkmark.png) 0 0 no-repeat;
        height:14px;
        width:14px;
      }
      .hide_button_strength:before {
        content: "";
        display:inline-block;
        vertical-align:middle;
        padding-right:5px;
        background: url(/assets/battleplans/checkmark.png) 0 -14px no-repeat;
        height:14px;
        width:14px;
      }
      #app-account .footer-wrapper {
        height: auto;
      }
    footer {
      background: #000000;
      text-align:center;
      font-size:14px;
      margin:0 auto;
      padding: 20px 20px 80px 20px;
    }
    footer p {
      color: #ffffff;
    }
    
    .ft-logo {
      display:block;
      margin: 1em auto;
    }
    #footer {
      display:none;
    }
   /* popup gallery */
   .battle-signup-gallery {
    padding-bottom: 1em;
   }
   .thumb {
    display:inline-block;
    vertical-align:top;
    width:280px; 
    height:200px; 
    margin:5px;
    -webkit-box-shadow:0px 2px 8px #8c4c00;
    -moz-box-shadow:0px 2px 8px #8c4c00;
    box-shadow:0px 2px 8px #8c4c00;
   }
   .thumb1 {
    display:block; 
    width:100%; 
    height:100%; 
    margin:0; 
    padding:0; 
    background-image:url(/assets/battleplans/mag.png), url(/assets/battleplans/gallery/screen_02_sm.jpg); 
    background-repeat:no-repeat, no-repeat; 
    background-position: bottom right, center center; 
    background-size: auto, cover;
   }
   .thumb1:hover {
    -webkit-box-shadow:inset 0px 0px 16px #ff45a8;
    -moz-box-shadow:inset 0px 0px 16px #ff45a8;
    box-shadow: inset 0px 0px 16px #ff45a8; 
    background-image:url(/assets/battleplans/mag_hover.png), url(/assets/battleplans/gallery/screen_02_sm.jpg);
   }
   
   .thumb2 {
    display:block; 
    width:100%; 
    height:100%; 
    margin:0; 
    padding:0; 
    background-image:url(/assets/battleplans/mag.png), url(/assets/battleplans/gallery/screen_04_sm.jpg); 
    background-repeat:no-repeat, no-repeat; 
    background-position: bottom right, center center; 
    background-size: auto, cover;
   }
   .thumb2:hover {
    -webkit-box-shadow:inset 0px 0px 16px #ff45a8;
    -moz-box-shadow:inset 0px 0px 16px #ff45a8;
    box-shadow: inset 0px 0px 16px #ff45a8; 
    background-image:url(/assets/battleplans/mag_hover.png), url(/assets/battleplans/gallery/screen_04_sm.jpg);
   }
   
   .thumb3 {
    display:block; 
    width:100%; 
    height:100%; 
    margin:0; 
    padding:0; 
    background-image:url(/assets/battleplans/mag.png), url(/assets/battleplans/gallery/screen_05_sm.jpg); 
    background-repeat:no-repeat, no-repeat; 
    background-position: bottom right, center center; 
    background-size: auto, cover;
   }
   .thumb3:hover {
    -webkit-box-shadow:inset 0px 0px 16px #ff45a8;
    -moz-box-shadow:inset 0px 0px 16px #ff45a8;
    box-shadow: inset 0px 0px 16px #ff45a8; 
    background-image:url(/assets/battleplans/mag_hover.png), url(/assets/battleplans/gallery/screen_05_sm.jpg);
   }
  .mfp-figure figure {
    border-radius: 10px;
    border: 5px solid #ffffff;
    margin: 10px auto;
  }
  img.mfp-img {
    padding: 0;
  } 
  .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    position:relative;
    float:right;
    background: url(/assets/battleplans/magnific-popup/close-bg.png) 99% 45% no-repeat !important;
    font-size:21px;
    color:#ffffff !important;
    right:0;
    opacity: 1;
    top: 2px;
    padding-right:8px;
    position:absolute;
    float:none;
  }
  .mfp-bg {
    background:#000000;
    opacity: 0.5;
  }


  /* thank you popup */
  #thankyouwrapper {
    //display:none;
    text-align:center;
    border-radius: 10px;
    background: #ffffff;
    max-width:485px;
    width:100%;
    padding:0 20px;
    margin: 0 auto;
    -webkit-box-shadow:0px 2px 8px #000000;
    -moz-box-shadow:0px 2px 8px #000000;
    box-shadow:0px 2px 8px #000000;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  #thankyouwrapper h3 {
    font-weight:bold;
    font-size: 36px;
    padding: 20px 0 10px;
  }
  #thankyouwrapper p {
    color:#9b4284;
  }
  .socials {
    display:block;
    padding: 20px 0 10px;
  }
  .socials a {
    display:inline-block;
    vertical-align:middle;
    width:55px;
    height:55px;
    margin: 0 10px;
  }
  .socials a span {
    display:block;
    text-indent: -9999em;
  }
  a.shr-facebook {
    background: url(/assets/battleplans/socials/facebook.png) top center no-repeat;
  }
  a.shr-twitter {
    background: url(/assets/battleplans/socials/twitter.png) top center no-repeat;
    width:66px;
  }
  

/* end mobile / all section */


  /* tablet styles */
@media only screen and (min-width: 640px) { 
  .battleplansbeta .hero, .battleplansbeta .hero .inner {
      height:520px;
    }
    h1 span {
      position:relative;
      top:70px;
      min-height:130px;
    }
    body h3 {
      padding: 0px 7px;
    }
    .signupform-wrapper.existing {
      height:500px;
    }
    body .signupform-wrapper.existing .signup_noform div {
      padding:180px 0 0;
    }
    .hero .inner {
      background-size: contain;
    }
    .signup .inner {
      background-image: url(/assets/battleplans/characters-left.png), url(/assets/battleplans/characters-right.png);
      background-repeat: no-repeat;
      background-position: 0% 17%;
      background-size:100%;
    }
    .ft-logo {
      display:inline-block;
      vertical-align:middle;
      margin: 1.25em 0;
      width:49%;
    }
    .ft-logo:nth-child(1) {
      text-align:left;
    }
    .ft-logo:nth-child(2) {
      text-align:right;
    }
    #app-account #hint {
      position: absolute;
      left: -180px;
      top: 0;
      right: auto;
      width: 200px;
    }
    #email_hint {
      left: -200px;
      top: 0;
      right: auto;
      width: 180px;
    }
    /* colorobx */
    #colorbox.submissionPop {
      height: 270px !important;
    }
    .submissionPop #cboxWrapper {
      height: 100% !important;
    }
    .submissionPop #cboxContent {
      max-width:485px;
      height:260px !important;
      width:100%;
      padding:0 20px;
      margin: 0 auto;
    }
    .submissionPop #cboxLoadedContent {
      max-width: 485px;
      width: 100% !important;
    }
    .mfp-image-holder .mfp-close {
      top: 5px;
      right: 0;
      paddin-right:10px;
    }
    
}/* end tablet size */
@media only screen and (min-width: 600px) { 
  .mfp-image-holder .mfp-close {
    top:6px;
    padding-right: 10px;
  }
}

/* medium tablet */
@media only screen and (min-width: 700px) { 
   #app-account #hint {
    left:-215px;
   }
   .mfp-image-holder .mfp-close {
    top: 17px;
    padding-right:11px;
  }
  .mfp-figure figure {
    border-radius: 10px;
    border: 5px solid #ffffff;
    margin: 20px auto;
  }
   img.mfp-img {
    padding: 0;
  }
}
/* large tablet */
@media only screen and (min-width: 760px) { 
   #app-account #hint {
    left:-236px;
   }
   .email .msg, .email .tkn {
    display:none;
    position: absolute;
    top: 29px;
    right: 105%;
  }
  .mfp-image-holder .mfp-close {
    padding-right: 12px;
  }
}

/* larger tablet */
@media only screen and (min-width: 900px) { 
   .mfp-image-holder .mfp-close {
    top:17px;
    padding-right:13px;
  }
}

/* desktop styles */
@media only screen and (min-width: 1024px) {
  .battleplansbeta {
  }
  h1 span {
    height:200px;
  }
  #app-account #hint {
    left: -340px;
    top: 0;
    width: 300px;
  }
  #email_hint {
    left: -216px;
    top: 0;
    //width:auto;
  }
  .mfp-image-holder .mfp-close {
    top: 31px;
    right:-5px;
  }
  .mfp-figure figure {
    border-radius: 10px;
    border: 10px solid #ffffff;
    padding: 0;
    margin: 35px auto;
  }
  img.mfp-img {
    padding: 0;
  }
} /* end desktop size */

/* super desktop styles */
@media only screen and (min-width: 1280px) {
  .sleeve {
    width:100%;
  }
} /* end desktop size */
