.article_header.row {
  @include clearfix();
  width: 760px;
  position: relative;
  z-index: 1;
  margin: 10px auto;
  &>div.four { padding: 0; }
  &>div.eight { padding: 0 4px 0 1px; }
  text-align: center;

  .full, .double, .single, .single-small {
    position: relative;
    z-index: 2;
    padding:2px;
    background-color: $black;
    border: 2px solid $lightGray;

    h3, p { margin: 0; }
    h3 {
      font-size: 24px;
      color: #FFFFFF;
    }
    p {
      font-size: 16px;
      color: #BBBBBB;
    }
    a { opacity: 0.9; }
    a:hover {
      text-decoration: none;
      opacity:1.0;
    }
  }
  .full, .double, .single {
    height: 308px;
    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;
      text-align: left;
      padding: 5px 10px;
      height: 95px;
      width: 100%;
    }
  }
  .single, .single-small {
    width: 372px;
    background: $black;
    margin: 0 auto;
    img { width: 372px; }
    .caption {
      text-align: center;
      background: $black;
      background: rgba($black, 0.7);
    }
  }
  .single-small {
    height: 153px;
    img { height: 145px; }
    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;
      text-align: left;
      padding: 5px 10px;
      height: 45px;
      width: 100%;
    }
  }
  .single {
    height: 308px;
    display: inline-block;
    img { height: 300px; }
  }
  .full, .double {
    img {
      width: 747px;
      height: 300px;
    }
  } 
  .full { width: 1120px; }
  .double {
    .caption {
      text-align: right;
      background: rgba($black, 0.9);
      @include background( linear-gradient( left bottom, transparent 0%, rgba($black, 0.9) ) );
    }
  }
}

#body_content_right {
  article.promo {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(137,137,137,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(137,137,137,1);
    box-shadow: 0px 0px 10px 0px rgba(137,137,137,1);
    background: white;
    margin-bottom: 45px;

    a {
      color: black;
      &:hover { text-decoration: none; }
      em { color: black; }
    }
    .caption {
      text-align: center;
      padding: 0 10px;
    }
    h3, p {
      text-align: left;
    }
    .readmore-link {
      position: relative;
      bottom: auto; left: auto;
      float: none;
      width: 100px;
      margin: 0 auto;

      &:after {
        content: "";
      }
      &:hover { background: #349BDE; }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -26px;
      left: -6px;
      width: 362px;
      height: 26px;
      background: url(/assets/promo-bottom.png) no-repeat top center;
    }
    &:hover {
      .readmore-link {
        background: #349BDE;
      }
    }
  }
}























