div.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
}
div.lightbox-container {
  position: fixed;
  z-index:110;
  text-transform: uppercase;
  font-size: (14em/16);
  left: 50%;

  img, a, video { outline: none; }

  div.lightbox-popup {
    background-color: $black;
    margin: 0px auto;
    padding: 10px;
    position: absolute;
    left: -50%;

    div.lightbox-header {
      padding: 10px;
      text-align: right;
      height: 45px;

      #lightbox-title {
        margin: 0 auto;
        text-align: center;
        width: 600px;
      }

      #lightbox-window-actions {
        float: right;
        width: 100px;

        a.lightbox-close {
          display: block;
          margin-right: 20px;
          padding-right: 25px;
          background: image_url('icons/close.png') no-repeat right -3px transparent;
          @include transition(none,none,none);
          font-size:0px;
          height:15px;

          &:hover { background-position: right -22px; }
        }
      }
    }

    div.lightbox-body {
      display: table;
      margin: 0 auto;

      a.lightbox-prev, a.lightbox-next {
        display: table-cell;
        vertical-align: middle;
        width: 50px;
        @include transition(none,none,none);
        border: none;
        background: image_url('icons/arrows.png') 0 center no-repeat;
      }
      a.lightbox-prev {
        background-position: 0px center;
        &:hover { background-position: -50px center; }
        &.disabled { visibility: hidden; }
      }
      a.lightbox-next {
        background-position: -100px center;
        &:hover { background-position: -150px center; }
        &.disabled { visibility: hidden; }
      }
      div.lightbox-item-container {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 10px;
        text-align: center;

        &.spinner { background: image_url('ajax-loader.gif') center center no-repeat; }

        div.item-overlay {
          position: absolute;
          text-transform: none;

          form {
            div.form-line {
              width: 400px;
              margin: 0px auto;
              position: relative;
            }
          }

          input[type="text"] {
            width: 35px;
            text-align: center;
            margin-left: 10px;
          }
          div.form-line { padding-bottom: 0px; }
        }
        .lightbox-item { max-width: 1100px; }
      }

    }

    div.lightbox-footer {
      height: 20px;
      padding: 15px;
      text-align: center;

      a {
        color: $linkColor;

        &.lightbox-prev, &.lightbox-next, &.lightbox-download-link {
          &:hover { color: $linkHover }
          &.disabled { color: $darkGray; }
        }
      }
      a.lightbox-prev { padding-right: 30%; }
      a.lightbox-download-link {
        padding: 0px 25px;
        @include transition(none, none, none);
      }
      a.lightbox-next { padding-left: 30%; }
    }
  }
}
