div.pagination {
  @include clearfix();
  width: 85%;
  margin: 10px auto;
  text-align: center;

  em.current {
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 3px;
    min-width: 15px;
    text-align: center;
    font: {
      weight: normal;
      style: normal;
    }
  }

  a {
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    min-width: 15px;
    border: 1px solid $linkColor;
    color: $linkColor;
    margin: 3px;
    &:hover {
        color: $linkHover;
        border-color: $linkHover;
    }
  }
  a.next_page, a.prev_page {
    &.disabled {
      display: none;
      background-image: none;
      border: none;
    }
  }
}