ul.socials {
  min-width: 350px;
  margin: 0;

  li {
    float:left;
    margin:5px;
    a {
      background: image_url('social-sprite.png') no-repeat 0 0;
      display: block;
      width:46px;
      height:46px;
      text-indent:-9999px;
    }
    &.facebook > a {
      background-position:0 0;
      &:hover { background-position:-46px 0; }
    }
    &.twitter > a {
      background-position:0 -46px;
      &:hover { background-position:-46px -46px; }
    }
    &.youtube > a {
      background-position:0 -92px;
      &:hover { background-position:-46px -92px; }
    }
    &.googleplus > a {
      background-position:0 -138px;
      &:hover { background-position:-46px -138px; }
    }
    &.rss > a {
      background-position:0 -184px;
      &:hover { background-position:-46px -184px; }
    }
    &.reddit > a {
      background-position:0 -230px;
      &:hover { background-position:-46px -230px; }
    }
    &.raptre > a {
      background-position:0 -277px;
      &:hover { background-position:-46px -277px; }
    }
  }
}