section#body_content_right {
    ul.sub-nav {
        margin: 10px 0;
        border: 3px solid $darkGray;
        outline: 2px solid $black;

        li {
            background-image: $gray-px;
            @include background(linear-gradient(top, $midGray, $darkGray));
            border-left: 1px solid $black;
            border-right: 1px solid $black;

            &:first-child { border-top: 1px solid $black; }
            &:last-child { border-bottom: 1px solid $black; }

            &:hover {
                background-image: $gray-px;
                @include background(linear-gradient(top, $lightGray, $midGray));
                a { text-decoration: none; }
            }
            &:active {
                background-image: $gray-px;
                @include background(linear-gradient(top, $darkGray, $midGray));
            }
            
            &>a {
                
                border-top: 2px solid $lightGray;
                border-bottom: 2px solid $darkGray;
                padding:4px;
                text-align: left;
                display: block;
                line-height: 26px;
                font-size: ms(1);
                color: $txtColor;
                text-transform:uppercase;

                span {
                    background: #{$image-sprite} no-repeat 0 0;
                    display: block;
                    width: 25px;
                    height: 25px;
                    float: left;
                    margin-left: 5px;
                }
                span.icon-download { background-position: -343px -416px }
                span.eye { background-position: -283px -420px; }
                span.gear { background-position: -314px -420px; }
                span.comment { background-position: -417px -420px; }
            }
        }
    }
}