.tournament-wrapper .frame {
  background: #000 url(http://tera-cdn3.enmasse-game.com/datastore/images/2013/10/29/18/39/47/390/frame_mid.png) repeat-y 0 0;
  width: 100%;
  min-height: 500px;
  z-index: 5;
  position: relative;

  &>.top {
    position: relative;
    top: -10px;
    background: url(http://tera-cdn1.enmasse-game.com/datastore/images/2013/10/29/18/39/47/955/frame_top.png) no-repeat 0 0;
    width: 100%;
    height: 58px;
    z-index: 5;
  }
  .content {
    position: relative;
    z-index: 10;
    width: 970px;
    margin: -40px auto;
    min-height: 500px;
    padding: 0 10px;

    &>div {
      background-color: #000;
      background-color: rgba(darken($darkGray, 10%), 0.9);
      width: 950px;
      min-height: 500px;
      margin: 0 auto;
    }
  }
  &>.bottom {
    position: relative;
    bottom: -10px;
    background: url(http://tera-cdn2.enmasse-game.com/datastore/images/2013/10/29/18/39/47/851/frame_bottom.png) no-repeat 0 0;
    width: 100%;
    height: 58px;
  }
}

.match {
  position: relative;
}

.bracket-final .match {
 position: inherit;
}

.bracket-zoomer.nw .contestant.seeded:hover,
.bracket-zoomer.sw .contestant.seeded:hover,
.bracket-zoomer.ne .contestant.seeded:hover,
.bracket-zoomer.pora .contestant.seeded:hover {
  border: 2px solid $lightBlue;
  cursor: pointer;
}

.bracket-final {
  padding: 0 8px 0 12px;
  margin-top: 185px;
  .semifinals,
  .finals {
    display: table-cell;
    width: 296px;
    text-align: center;
  }
  .semifinals {
    padding-top: 30px;
  }
  .finals {
    vertical-align: top;
  }
  .match {
    text-align: left;
    padding: 0;
  }
  .finals .match {
    padding: 0 20px;
  }
  .east .match {
    padding: 0 0 0 30px;
  }

  .connect-to-parent {
    width: 24px;
    height: 3px;
    background-color: #888;
    position: absolute;
    top: 50%;
    margin-left: -23px;
    z-index: 1;

    &.top {
      margin-top: -31px;
    }
    &.bottom {
      margin-top: 19px;
      margin-left: 260px;
    }
    &.win {
      background-color: $lightGold;
      z-index: 3;
    }
  }

  .connect-to-child {
    border: 3px solid #888;
    border-width: 0 3px 3px 0;
    width: 25px;
    height: 74px;
    position: absolute;
    top: 50%;
    margin-left: 260px;
    margin-top: 23px;

    &.top {
      margin-top: -23px;
      height: 120px;
    }

    &.win {
      z-index: 3;
      border-color: $lightGold;
    }

    &.lose {
      border-color: lighten($midGray, 10%);
    }
  }

  .west .connect-to-child {
    width: 36px;
    &.top {
      height: 65px;
      margin-top: -30px;
    }
    &.bottom {
      height: 113px;
      margin-top: -31px;
    }
  }

  .east .connect-to-child {
    margin-left: -29px;
    width: 36px;
    border-width: 0 0 3px 3px;
    &.top {
      height: 16px;
      margin-top: 20px;
    }
    &.bottom {
      height: 62px;
      margin-top: 19px;
    }
  }
}

.tournament-tree {
  &.left-tree {
    margin-left: 10px;
  }
  &.left-tree .tree-node {
    .children .parent {
      padding-left: 30px;
    }
    .parent {
      padding: 12px 10px 12px 10px;
    }
    .connect-to-parent {
      margin-left: 260px;
    }

    .round-2.child-0 .connect-to-child {
      border-width: 3px 0 0 3px;
      margin-left: -25px;
    }

    .round-2.child-1 .connect-to-child {
      border-width: 0 0 3px 3px;
      margin-left: -25px;
    }

    .round-2 .round-1.child-0 .connect-to-child {
      border-width: 3px 0 0 3px;
      margin-left: -25px;
    }

    .round-2 .round-1.child-1 .connect-to-child {
      border-width: 0 0 3px 3px;
    }
  }

  .tree-node {
    position: relative;

    .children {
      display: table-cell;
      position: relative;
    }

    .parent {
      padding: 12px 30px 12px 10px;
      display: table-cell;
      vertical-align: middle;
      position: relative;
    }

    .connect-to-parent {
      width: 15px;
      height: 3px;
      background-color: #888;
      position: absolute;
      top: 50%;
      margin-left: -15px;
      z-index: 1;

      &.top {
        margin-top: -26px;
      }
      &.bottom {
        margin-top: 21px;
      }
      &.win {
        background-color: $lightGold;
        z-index: 3;
      }
    }

    .connect-to-child {
      border: 3px solid #888;
      border-width: 3px 3px 0 0;
      width: 25px;
      height: 74px;
      position: absolute;
      top: 50%;
      margin-left: 260px;
      margin-top: 23px;

      &.top {
        margin-top: -23px;
        height: 120px;
      }

      &.win {
        z-index: 3;
        border-color: $lightGold;
      }

      &.lose {
        border-color: lighten($midGray, 10%);
      }
    }

    .child-1 .connect-to-child.top,
    .child-1 .connect-to-child.bottom {
      border-width: 0 3px 3px 0;
    }

    .child-1 .connect-to-child.top {
      margin-top: -99px;
      height: 74px;
    }

    .child-1 .connect-to-child.bottom {
      margin-top: -99px;
      height: 124px;
    }

    .round-1.child-0 .connect-to-child.top {
      height: 60px;
    }
    .round-1.child-0 .connect-to-child.bottom {
      height: 14px;
    }
    .round-1.child-1 .connect-to-child.top {
      height: 17px;
      margin-top: -39px;

    }
    .round-1.child-1 .connect-to-child.bottom {
      height: 65px;
      margin-top: -39px;
    }

    .round-2 .round-1.child-0 .connect-to-child {
      border-width: 3px 3px 0 0;
    }

    .round-2 .round-1.child-0 .top {
      margin-top: -23px;
    }
    .round-2.child-1 .round-1.child-0 .connect-to-child.bottom {
      margin-top: 23px;
    }
  }
}

.tournament-wrapper {
  #brackets nav {
    padding: 10px 20px 10px 20px;;
    font-size: 21px;
    font-weight: bold;
    .selected {
      color: #fff;
    }
  }

  .bracket-container {
    border: 2px solid #000;
    width: 924px;
    height: 488px;
    margin: 0 0 0 16px;
    overflow: hidden;
    position: relative;
  }
  .bracket-zoomer {
    position: relative;
    width: 1850px;
    height: 980px;
    background-color: #000;
    overflow: hidden;
    &.zoom-out {

      -webkit-transform: scale(.5, .5);
      -ms-transform: scale(.5, .5);
      transform: scale(.5, .5);
      -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      transform-origin: 0% 0%;

      &>.bracket-detail {
        .zoom-link {
          display: none;
        }
      }

      .winner-btn {
        display: block;
      }

      &>.bracket-detail:hover {
        border: 2px solid $lightBlue;
        box-shadow: 0 0 100px $lightBlue inset;
        cursor: pointer;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 84px;
          height: 84px;
          top: 50%;
          left: 50%;
          background: url(/assets/bracket-magnify.png) no-repeat 0 0;
          z-index: 200;
          margin-top: -42px;
          margin-left: -42px;
        }
      }
    }

    .zoom-link {
      display: block;
      position: absolute;
      top: 0;
      z-index: 10;
      width: 34px;
      height: 34px;
      border-radius: 5px 0 5px 5px;
      margin-left: 882px;
      @include box-shadow(inset 0px 1px 1px rgba(255, 255, 255, 0.2));
      @include text-shadow(rgba($darkGray, 0.7) 1px 1px 0);
      @include background-image(linear-gradient($midBlue, $darkBlue));
      background-color: $midBlue;
      border: 1px solid shade($darkBlue, 30);
      color: #fff;
      
      &:hover {
        @include box-shadow(inset 0px 1px 1px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2));
        @include background-image(linear-gradient($lightBlue, $midBlue));
        background-color: $lightBlue;
        color: #fff;
        text-decoration: none;
      }
      &:active {
        @include box-shadow(inset 0px -1px 1px rgba(255, 255, 255, 0.4), inset 0px 1px 2px rgba(0, 0, 0, 0.8));
        @include background-image(linear-gradient($darkBlue, $midBlue));
        background-color: $darkBlue;
        color: #fff;
      }
    }

    .ico-zoom-out {
      background: url(/assets/bracket-zoom-out.png) no-repeat 0 50%;
      width: 34px;
      height: 34px;
      display: block;
    }
    &.nw {
      margin-left: 0;
      margin-top: 0;
    }
    &.ne {
      margin-left: -920px;
      margin-top: 0;
    }
    &.sw {
      margin-top: -484px;
      margin-left: 0;

    }
    &.pora {
      margin-top: -484px;
      margin-left: -920px;
    }
    &.winners {
      &>.ne,
      &>.nw,
      &>.sw,
      &>.pora {
        display: none;
      }
    }
  }
  .winners .bracket-detail.winners {
    display: block;
  }

  .bracket-detail {
    width: 920px;
    height: 484px;
    border: 2px solid $lightGray;
    float: left;
    position: relative;
    z-index: 3;
    &.nw {
      background: url(http://tera-cdn0.enmasse-game.com/datastore/images/2014/02/11/00/55/17/175/skyring_cities.jpg) no-repeat 0 0;
    }
    &.sw {
      background: url(http://tera-cdn1.enmasse-game.com/datastore/images/2014/02/11/00/55/17/175/skyring_cities.jpg) no-repeat -920px 0;
    }
    &.ne {
      background: url(http://tera-cdn2.enmasse-game.com/datastore/images/2014/02/11/00/55/17/175/skyring_cities.jpg) no-repeat 0 -486px;
    }
    &.pora {
      background: url(http://tera-cdn3.enmasse-game.com/datastore/images/2014/02/11/00/55/17/175/skyring_cities.jpg) no-repeat -920px -486px;
    }

    &.winners {
      background: url(http://tera-cdn0.enmasse-game.com/datastore/images/2014/02/11/01/32/31/584/skyring_finals.jpg) no-repeat 0 0;
      display: none;
    }

    &.nw .tournament-tree,
    &.sw .tournament-tree {
      margin-left: 30px;
    }

    &.ne .tournament-tree,
    &.pora .tournament-tree {
      margin-right: 30px;
    }
  }

  .winner-btn {
    -webkit-transform: scale(1.9, 1.9);
    -ms-transform: scale(1.9, 1.9);
    transform: scale(1.9, 1.9);
    width: 191px;
    height: 136px;
    background: #000 url(http://tera-cdn1.enmasse-game.com/datastore/images/2014/02/10/22/33/26/892/skyring_winner_btn.jpg) no-repeat 2px 2px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -97px;
    z-index: 20;
    padding: 2px;
    display: none;
    border-radius: 5px;

    a {
      border: 2px solid $lightGray;
      border-radius: 5px;
      display: block;
      width: 187px;
      height: 136px;
      &:hover {
        border: 2px solid $lightBlue;
        box-shadow: 0 0 30px $lightBlue inset;
        cursor: pointer;
        position: relative;

        &:after {
        -webkit-transform: scale(.5, .5);
        -ms-transform: scale(.5, .5);
        transform: scale(.5, .5);
          content: "";
          position: absolute;
          width: 84px;
          height: 84px;
          top: 50%;
          left: 50%;
          background: url(/assets/bracket-magnify.png) no-repeat 0 0;
          z-index: 200;
          margin-top: -42px;
          margin-left: -42px;
        }
      }
    }
  }

  /***** Contestant styles *****/
  .contestant {
    @include background-image(linear-gradient(top, $midGray, darken($midGray, 5%)));
    @include transition(border, 0.3s);
    width: 260px;
    height: 47px;
    border: 2px solid #000;
    background-color: $midGray;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative; 
    border-radius: 3px;
    z-index: 4;

    .team-image {
      background: url(http://tera-cdn1.enmasse-game.com/datastore/images/2013/11/13/00/06/36/39/team_icons.jpg) no-repeat -101px 0;
      width: 33px;
      height: 33px;
      border: 2px solid $lightGray;
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    .name {
      display: inline-block;
      padding: 9px 0;
      margin: 0 0 0 44px;
    }

    .record {
      @include background-image(linear-gradient(top, $darkGray, darken($darkGray, 5%)));
      background-color: $darkGray;
      display: inline-block;
      float: right;
      width: 50px;
      padding: 9px 0 9px 0;
      text-align: center;
    }

    &:after {
      background: #fff;
      content: "";
      display: block;
      position: absolute;
      width: 256px;
      height: 3px;
      opacity: 0.08;
      top: 0;
      left: 0;
    }

    &.t2 {
      margin-top: 2px;
    }

    &.win {
      border: 2px solid $lightGold;
    }
    &.lose {
      &:after {
        height: 100%;
        background: #000;
        opacity: .4
      }
    }
  }
}

#team-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0,0,0,0.8);
  text-align: center;
  z-index: 200;
  display: none;
  .border {
    width: 650px;
    padding: 2px;
    background-color: $midGray;
    border: 2px solid #000;
    position: relative;
    top: 25%;
    margin: 0 auto;
    margin-top: -60px;
  }
}
#team-info-wrapper {
  border: 1px solid #000;
  background: $darkGray;
  .title {
    padding: 10px 5px;
    background-color: #000;
    @include background-image(linear-gradient(rgba($darkGray, 0.8), rgba($black, 0.8)));;
    text-align: left;
    color: $txtColor;
    font-weight: bold;
  }
  .close {
    display: block;
    float: right;
    padding: 5px;
    color: #aaa;
    border-radius: 3px;
    border: 2px solid #aaa;
    margin: -2px 2px 0 0;
    line-height: 0.8em;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: $white;
      border-color: $white;
    } 
  }
  .content {
    min-height: 100px;
  }
  .team-icon-large {
    width: 100px;
    height: 100px;
    border: 2px solid $lightGray;
    margin: 0 10px 10px 10px;
    float: left;
    border-radius: 5px;
  }
  table {
    margin: 10px 10px 10px 125px;
    width: 505px;
    td span {
      display: block;
      float: left;
      background: url(http://tera-cdn1.enmasse-game.com/datastore/images/2013/11/13/20/03/21/164/class_symbols.png) no-repeat 0 0;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      &.warrior { background-position: 0 0; }
      &.lancer { background-position: -36px 0; }
      &.slayer { background-position: -76px 0; }
      &.berserker { background-position: -113px 0; }
      &.sorcerer { background-position: -149px 0; }
      &.archer { background-position: -188px 0; }
      &.priest { background-position: -224px 0; }
      &.mystic { background-position: -258px 0; }
    }
    td {
      line-height: 35px;
    }
  }
}