// css variables

:root {
	--page-margin: 0.785rem;

	--header-height: #{$baseline*2};
	--header-logo-height: 2rem;
	
	--footer-content-height: #{$baseline*2.5};

	--admin-bar-height: 46px;

	// this is for the wordpress admin bar. It has dumb breakpoints
	@include breakpoint(min-width, 782px) {
		--admin-bar-height: 32px;
	}

	@include breakpoint(min-width, $bpSmall) {
		--page-margin: 1rem;
	}

	@include breakpoint(min-width, $bpMedium) {
		--page-margin: #{$baseline};
		--header-height: #{$baseline*1.5};
		--header-logo-height: #{$baseline*0.875};
		--navbar-height: #{$baseline*1.375};
	}

	@include breakpoint(min-width, $bpNavBreak) {
		--page-margin: #{$baseline*1.5};
	}

  
}
