//helper mixins


// Alternates between two background colors
// created for section background colors
@mixin alternateBgColor($bgColor1: $shade90, $bgColor2: $shade95) {
    background-color: $bgColor1;

    &:nth-of-type(even) {
        background-color: $bgColor2;
    }
}


// retina / high pixel density media query
// for those @2x images
@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}


// simple media query mixin
//
// usage: 
//    @include breakpoint(min-width, $small);
// or multiple queries:
//    @include breakpoint(min-width, $small, max-width, $large);

@mixin breakpoint($query, $size, $query2:null, $size2:null) {

    @if $query2 {
        @media ($query: $size) and ($query2: $size2) { @content; }
    } @else {
        @media ($query: $size) { @content; }
    }
}


// sets the object-fit property for use with object-fit-images plugin (needed for IE and old Edge)
// https://github.com/bfred-it/object-fit-images
// Written by Federico Brigante
// Modified by Andrea Barber
//
// usage:
//    @include objectFit(contain);
// or object-fit and object-position:
//    @include objectFit(cover, top);

@mixin objectFit($fit: fill, $position: null) {
  object-fit: $fit;

  @if $position {
    object-position: $position;
  	font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
  	font-family: 'object-fit: #{$fit}';
  }
}


// adds a spacer to the top of a section, allowing you to control the anchor location
//
// usage: apply to the element with the ID to which you are anchoring

@mixin anchor($spacer) {
  margin-top: -$spacer; 

  &:before {
    content: "";
    display: block;
    height: $spacer;
  }
}


// use to hide and show elements (for all users)
// when triggering visibility in js, toggle a class and use this mixin instead of .show() or .hide()
// 
// usage: 
//    isVisible(true); shows the element
//    isVisible(false); hides the element
//    isVisible(true, flex); shows a flex element

@mixin isVisible($bool, $display: block) {
    @if $bool {
    	visibility: visible;
        display: $display;
        opacity: 1;
    } @else {
    	visibility: hidden;
        display: none;
        opacity: 0;
    }
}

// use to hide something from all users (including assistive tech)
.is-hidden { @include isVisible(false); }


// Screen Reader Only (aka visually hidden)
// use to hide elements for visual users, but remain visible to asstive tech

@mixin screenReaderOnly() {
    // ref: https://css-tricks.com/inclusively-hidden/
    &:not(:focus),
    &:not(:active) {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
    }
}
.screen-reader-only { @include screenReaderOnly(); }


// use to set an element's base size to a given aspect ratio
// children do not have to be absolute positioned, and can expand past aspect ratio height
//
// usage:
//   aspectRatioBox(16,9); sets element's aspect ratio to 16:9

@mixin aspectRatioBox($w,$h) {
  position: relative;

  &::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: $h / $w * 100%;
  }

  &::after {
    content: "";
    display: table;
    clear:both;
  }
}

