// variables

// Paths
$imagePath: '../images/';
$iconPath: $imagePath + 'ui/icons/';


// z indices
$zDialog:				650;
$zPageOverlay:			600;

$zHeaderDropdown:		550;
$zHeader: 				500;

$zNavDropdown:			450;
$zNavbar:				400;

$zOverlay:				350;

$zCallout:				300;

$zBase:					200;

$zBackgroundOverlay:	150;
$zBackground:			100;


// layout
$siteWidth: 2400px;
$contentWidth: 1600px;

// layout / breakpoints
$bpSmallest: 20em; //320
$bpMobileWide: 30em; //480
$bpSmall: 40em; //640
$bpMedium: 54em; //864
$bpNavBreak: 68em; // 1088
$bpLarge: 80em; //1280
$bpContentMax: px2em($contentWidth) + 6em; //the 6em roughly accounts for padding
$bpSiteMax: px2em($siteWidth);

// layout / type
$lineLength: 34rem;
$lineHeight: 1.5;
$baseline: $lineHeight * 1rem;

// layout / grid
$gutter: $baseline * 1.75;
$gutterSmall: $baseline;

$numColumns: 12;
$column: 100% / $numColumns;

$colspan1: $column * 1;
$colspan2: $column * 2;
$colspan3: $column * 3;
$colspan4: $column * 4;
$colspan5: $column * 5;
$colspan6: $column * 6;
$colspan7: $column * 7;
$colspan8: $column * 8;
$colspan9: $column * 9;
$colspan10: $column * 10;
$colspan11: $column * 11;
$colspan12: $column * 12;


// layout / section
$sectionPadding: $baseline * 2;
$sectionPaddingSmall: $baseline;
$sectionPaddingLarge: $baseline * 4;

// layout / global element specs
$footerContentHeight: $baseline*2.5;

// layout / box
$borderRadius: 2px;
$borderRadiusLarge: 4px;
$boxShadow: 0 0.25rem 0.5rem rgba(0,0,0,0.6);

// layout / linebox
$lineboxHeight: $baseline * 1.5;
$lineboxHeightSmall: $baseline;
$lineboxHeightLarge: $baseline * 2.5;

$lineboxPaddingVert: ($lineboxHeight - $baseline) / 2;
$lineboxPaddingHoriz: $lineboxHeight / 2;

$lineboxPaddingSmallVert: ($lineboxHeightSmall - $baseline) / 2;;
$lineboxPaddingSmallHoriz: $lineboxHeightSmall / 2;

$lineboxPaddingLargeVert: ($lineboxHeightLarge - $baseline) / 2;;
$lineboxPaddingLargeHoriz: $lineboxHeightLarge / 2;


// type

$modScale: 1.414;
$maiola: maiola, serif;
$noto: noto-sans, sans-serif;
$notoCondensed: noto-sans-condensed;

$bodyFont: $noto;
$displayFont: $maiola;

$textShadow: 1px 1px 0 rgba(0,0,0,0.6);
$letterSpacing: 0.06em;


//colors
// 0 (lightest) - 100 (darkest)

// neutrals
// we always spell "grey" with an "e" for consistency
$black: #000000;
$white: #ffffff;

$grey95: #111111;
$grey90: #1B1B1B;
$grey85: #262626;
$grey80: #303030;
$grey75: #3B3B3B;
$grey70: #464646;
$grey65: #525252;
$grey60: #5e5e5e;
$grey55: #6A6A6A;
$grey50: #777777;
$grey45: #858585;
$grey40: #919191;
$grey35: #9E9E9E;
$grey30: #ACACAC;
$grey25: #B9B9B9;
$grey20: #C7C7C7;
$grey15: #D4D4D4;
$grey10: #E2E2E2;
$grey5 : #F0F0F0;

// gold
$gold95: #190D0C;
$gold90: #2A1715;
$gold85: #371F1A;
$gold80: #45281F;
$gold75: #523223;
$gold70: #623E26;
$gold65: #6F4828;
$gold60: #7E532B;
$gold55: #8D602E;
$gold50: #9F6C2D;
$gold45: #AB7835;
$gold40: #B8862D;
$gold35: #C49545;
$gold30: #CDA351;
$gold25: #D8B25D;
$gold20: #E7C067;
$gold15: #F6D076;
$gold10: #FFDF91;
$gold5 : #FFF0C5;

// marine (the bluer blue)
$marine95: #001423;
$marine90: #001D34;
$marine85: #002845;
$marine80: #003456;
$marine75: #013F63;
$marine70: #034D70;
$marine65: #09597D;
$marine60: #16668B;
$marine55: #277298;
$marine50: #3D80A6;
$marine45: #4B8AB1;
$marine40: #5A99C0;
$marine35: #64A6CD;
$marine30: #6EB5DC;
$marine25: #7AC3E9;
$marine20: #8AD1F4;
$marine15: #A1DDFA;
$marine10: #BFE9FD;
$marine5 : #DFF4FE;


// shade (tints are greener, shades are less saturated)
$shade95: #0F1119;
$shade90: #181C29;
$shade85: #1E2536;
$shade80: #263144;
$shade75: #2E3D55;
$shade70: #394766;
$shade65: #3F5373;
$shade60: #426380;
$shade55: #42718C;
$shade50: #418198;
$shade45: #418FA3;
$shade40: #419EAE;
$shade35: #41ACB9;
$shade30: #42BCC5;
$shade25: #47CBD0;
$shade20: #53DBDD;
$shade15: #6CE7E7;
$shade10: #98F1F0;
$shade5 : #CFF9F8;


// destruct (red)
$destruct95: #280304;
$destruct90: #3E0506;
$destruct85: #510607;
$destruct80: #640808;
$destruct75: #790807;
$destruct70: #900802;
$destruct65: #A40800;
$destruct60: #BA0800;
$destruct55: #D30800;
$destruct50: #E91401;
$destruct45: #F63218;
$destruct40: #FB5636;
$destruct35: #FD8962;
$destruct30: #FD8962;
$destruct25: #FE9E76;
$destruct20: #FFB48D;
$destruct15: #FFC8A6;
$destruct10: #FFDCC3;
$destruct5 : #FFEEE1;


// semantic
$bodyBgColor: $shade90;
$textColor: $grey10;
$linkColor: $shade20;
$linkColorHover: $shade10;

// social
$facebookColor: #3b5998;
$twitterColor: #55A5E7;
$linkedinColor: #00AAE5;
$youtubeColor: #DB3B3B;
$twitchColor: #9A6CE5;
$discordColor: #7289DA;
$instagramColor: #d93175;
$redditColor: #FF4500;
$websiteColor: $gold30;



// misc

$disabledOpacity: 0.6;

$iconSize: $baseline;

$iconGradient: linear-gradient(180deg, $gold20, $gold40);
$iconGradientHover: linear-gradient(180deg, $gold10, $gold30);

$pointerGradientDown: linear-gradient(180deg, $gold30, $gold40 33%, $gold20);
$pointerGradientUp: linear-gradient(0deg, $gold30, $gold40 33%, $gold20);
$pointerGradientLeft: linear-gradient(270deg, $gold30, $gold40 33%, $gold20);
$pointerGradientRight: linear-gradient(90deg, $gold30, $gold40 33%, $gold20);

//end


