<!-- redeem -->
<div class='ng-modal nopop' style="width: 420px;">
  <!--<div class='ng-modal-overlay' ng-click='hideModal()'></div>-->
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='popup'>
      <div class='pop-header'>
        <img src='img/eme-wordmark.png' alt='En Masse Entertainment' />
      </div>
      <div class='ng-modal-dialog-content'>

        <div class="pop-content narrowLayout">
          <div ng-show="gamecode_error" class="registration_errors fail">
            <h2>Please try again</h2>
            <p>{{gamecode_error}}</p>
          </div>
          <h2>Redeem a code</h2>
          <div class="inner-pop">
            <p>Congrats on finding one of our codes.</p>
            <p>Enjoy!</p>
            <form>
              <label for="enter-code" class="exobold">Please enter code below:</label>
              <input id="enter-code" type="text" ng-model="redeem_code" on-key-enter='redeemCode(redeem_code)'/>
              <span class="btn centerspace submit"><a ng-click="redeemCode(redeem_code)" />Submit</a></span>
            </form>
            <p>Where do I find my item after the code is redeemed?</p>
            <p><a ng-click='openWebNoSession("https://support.enmasse.com/tera/how-do-i-claim-my-premium-services-and-purchased-promotional-items")'>Check our FAQ</a></p>
          </div><!-- end of inner pop -->
        </div>

    </div>
     <div class='pop-footer'>
        <a class='back' id='closeLogin' ng-click='closeThisDialog(0)'>close this window</a>
      </div>
    </div>
  </div>
</div>