<!-- redeem -->
<div class='ng-modal nopop' style="width: 420px;">
  <!--<div class='ng-modal-overlay' ng-click='hideModal()'></div>-->
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='popup'>
      <div class='pop-header'>
        <img src='img/eme-wordmark.png' alt='En Masse Entertainment' />
      </div>
      <div class='ng-modal-dialog-content'>

          <div class="pop-content success">
          <h2>Code Redeem Successful</h2>
          <div class="inner-pop code-box">
            <div>Your code was redeemed successfully.



              <p> promotion: {{ngDialogData.promotion}}</p>
              <ul>
                <li ng-repeat='sku in ngDialogData.skus'>{{sku}}</li>
              </ul>

              <!-- <ul>
                <li><span class="question">(?)</span>
                  <ul>
                    <li>
                      <div class="answer" >
                        <p>Code successfully redeemed<br />- enjoy!</p>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul> -->
            </div>
            <!--<div><p>Where do I find my item after the code is redeemed? <a ng-click='openWebNoSession("https://support.enmasse.com/tera/how-do-i-claim-my-premium-services-and-purchased-promotional-items")'>Check our FAQ</a></p></div>
          </div>--><!-- end of inner pop -->
        </div>


</div>
      <div class='pop-footer'>
        <a class='back' id='closeLogin' ng-click='closeThisDialog(0)'>close this window</a>
      </div>
    </div>
  </div>
</div>