<!--<p>Insufficient disk space. Please check your storage and try again.</p>
<div class="ngdialog-buttons">
  <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Exit</button>
</div>
-->

<div class='ng-modal nopop' >
  <!--<div class='ng-modal-overlay' ng-click='hideModal()'></div>-->
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='popup'>
      <div class='pop-header'>
        <div id="dragMe" ng-mousedown="dragMe()"></div>
        <div id="user-emp">
          <div class="close-launcher">
            <span><a ng-click="minimize()"> _ </a></span>
            <span><a ng-click='close()'> X </a></span>
          </div><!-- end of close launcher -->
        </div><!-- end of user emp -->
        <img src='img/eme-wordmark.png' alt='En Masse Entertainment' />
      </div>
      <div class='ng-modal-dialog-content'>

        <div class="pop-content narrowLayout" style="width: 420px;">
          <h2>Launcher Error</h2>
          <div class="inner-pop">
            <p>Insufficient disk space. Please check your storage and try again.</p>
            <div class="ngdialog-buttons">
              <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">Exit</button>
            </div>
          </div>
        </div>
      </div>
      <div class='pop-footer'>
        <!--<a class='back' id='closeLogin' ng-click='closePopup()'>close this window</a>-->
      </div>
    </div>
  </div>
</div>