<!--<h1>SECRET QnA</h1>

<div style='display:black'>
{{messageDisplay}}
</div>

<div style='display:block'>
Select Question:
<select name="repeatSelect" id="repeatSelect" ng-model="selectedQuestion">
  <option value='0' disabled selected>---------- Please select question ----------</option>
  <option ng-repeat="question in questions" on-key-enter='doAnswer()' value="{{question.id}}">{{question.question}}</option>
</select>
</div>

<div style='display:block'>
Answer: <input type='text' ng-model='answer' on-key-enter='doAnswer()' placeholder='enter answer here'>
</div>

<button ng-click='doAnswer()'>Submit</button>
-->



<!-- verification -->

<!--<div ng-init='setSize(430, 556)'></div>-->
<div class='ng-modal nopop' ng-init='setSize(420, 556)'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='popup'>
      <div class='pop-header'>
        <div id="dragMe" ng-mousedown="dragMe()"></div>
        <div id="user-emp">
          <div class="close-launcher">
            <span><a ng-click="minimize()"> _ </a></span>
            <span><a ng-click='close()'> X </a></span>
          </div><!-- end of close launcher -->
        </div><!-- end of user emp -->
        <img src='img/eme-wordmark.png' alt='En Masse Entertainment' />
      </div>
      <div class='ng-modal-dialog-content'>

      <div class="pop-content narrowLayout innerSteps nopop">
        <h2>Security Question and Answer</h2>
        <p>{{messageDisplay}}</p>
        <div class="inner-pop code-box">
          <form>
            <div class="nomargin">
              <label for="security_question" class="exobold inline-block">Select a Security Question</label>
              <!--<ul>
                <li><span class="question">(?)</span>
                  <ul>
                    <li>
                      <div class="answer" >
                        <p>how we use your security question</p>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>-->
            </div>
            <span class="steps">1</span>
            <select name="repeatSelect" id="repeatSelect" ng-model="selectedQuestion">
              <option value='0' disabled selected>---------- Please select question ----------</option>
              <option ng-repeat="question in questions" on-key-enter='doAnswer()' value="{{question.id}}">{{question.question}}</option>
            </select>

            <label for="security_answer" class="exobold">Answer:</label>
            <span class="steps">2</span><input type="text" id="security_answer" ng-model='answer' on-key-enter='doAnswer()' />

            <button ng-click='doAnswer()' class="btn centerspace">SUBMIT</button>
          </form>
           <p>If the verification email is still not showing up, <a class="instructional_link" ng-click='openWebNoSession("http://support.enmasse.com/tera/i-didn-t-receive-my-account-verification-email")'>Check our Email FAQ</a></p>
        </div>
      </div>




      </div>
      <div class='pop-footer'>
        <!--<a class='back' id='closeLogin' ng-click='closePopup()'>close this window</a>-->
      </div>
    </div>
  </div>
</div>

