<!-- login do have an account -->
<div class='ng-modal nopop signinPop' ng-init='setSize(420, 600)' ng-show='showMySelf()'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='popup'>
      <div class='pop-header'>
        <div id="dragMe" ng-mousedown="dragMe()"></div>
        <div id="user-emp">
          <div class="close-launcher">
            <span><a ng-click="minimize()"> _ </a></span>
            <span><a ng-click='close()'> X </a></span>
          </div><!-- end of close launcher -->
        </div><!-- end of user emp -->
        <img src='img/eme-wordmark.png' alt='En Masse Entertainment' />
      </div>
      <div class='ng-modal-dialog-content'>

        <div class="pop-content narrowLayout">
          <div class="inner-pop">
            <div ng-show='displayMessage'>
                <!-- <h2>Please try again</h2> -->
                <p class='registration_errors alert'>{{displayMessage}}</p>
            </div>
            <!-- facebook button BEGINS -->
            <div ng-show="FBLogined" class="fbBTN">
              <!-- this shows when user is already logged in FB -->
              <img class="facebook-picture" ng-src="{{FBPictureURL}}">
              <button ng-disabled='FBEmail==null || signInProgress' ng-click="signInWithFB()" class="login-facebook-link login-facebook-btn"> Sign-Up with Facebook </button>
            </div>
            <div ng-show="!FBLogined" class="fbBTN">
              <!-- this shows when user is not logged in FB -->
              <button ng-click="FBLogin()" class="login-facebook-link login-facebook-btn"> Login to Facebook </button>
            </div>
            <!-- facebook button ENDS -->
            <span class="or">or</span>
            <form>
                <label ng-class="emailWarning ? ['registration_errors', 'alert'] : ''" for="email_address">Email Address</label>
                <input type="text" id="email_address" ng-model='email' ng-change='onInputChange()' on-key-enter='signIn()' placeholder='enter email address' autofocus ng-init="$element.focus()" ng-disabled='signInProgress' />
                <label ng-class="passwordWarning ? ['registration_errors', 'alert'] : ''" for="password">Password</label>
                <input type="password" id="password" ng-model='password' ng-change='onInputChange()' on-key-enter='signIn()' placeholder='enter password' ng-disabled='signInProgress' />
                <p class="closer"><a ng-click='goSignUp()'>Create an Account</a> | <a ng-click='openWebNoSession("https://account.enmasse.com/users/password_reset")'>Problems logging in?</a></p>
                <!--<p class="closer"><a ng-click='goSignUp()'>Create an Account</a> | <a ng-click='openWebNoSession("https://account.enmasse.com/users/password_reset")'>Problems logging in?</a></p>-->
                <input type="checkbox" id="rememberme" ng-model="saveLogin" ng-change="setRememberMe()" ng-disabled='signInProgress' />
                <label for="rememberme">
                  <span></span><!-- this pan provides the image checkbox -->
                  <p>Enable auto login</p>
                </label>
                <button class="btn centerspace" id="signInBTN" value="LOG IN" ng-disabled='signInProgress' ng-click='signIn()' />LOG IN</button>
            </form>
         <!-- </div> -->
          </div>
        </div>


      </div>
      <div class='pop-footer'>
        <!--<a class='back' id='closeLogin' ng-click='closePopup()'>close this window</a>-->
      </div>
    </div>
  </div>
</div>

