<div ng-init='setSize(1100, 700)' ng-show='pageLoaded' class="launcherwrapper" >
  <div class="account-wrapper wrapper">
    <ul id="acct-settings">
      <li>
        <div class="toplevel">
          <span class="eme-logo">En Masse Entertainment</span>
          Account Settings <span class="arrow-down"></span>
        </div>
        <ul>
          <li><a ng-click='openWebNoSession("http://support.enmasse.com/tera/creating-and-managing-your-en-masse-account")' >Account Help (FAQ)</a></li>
          <li><a ng-click='openWeb("/users/account/profile")'>Manage Account</a></li>
          <li>
            <a ng-click='restart()'>Log Out</a>
          </li>
          <li><a ng-click="close()">Quit</a></li>
        </ul>
      </li>
    </ul><!-- end of acct settings -->

    <div id="user-message">
      <div id="user-greet">
        <p>Welcome {{getUserName()}}</p>
      </div><!--end of user greet -->
    </div><!-- end of user message -->

    <div id="dragMe" ng-mousedown="dragMe()"></div>

    <div id="user-emp">
      <div class="btn">
        <a ng-click='openBrandedStore()'><span>Buy EMP</span></a>
      </div>
      <div class="user_emp">
        <span>{{emp_wallet_balance}}</span>
      </div>
      <div class="close-launcher">
        <span><a ng-click="minimize()"> _ </a></span>
        <span><a ng-click="close()"> X </a></span>
      </div><!-- end of close launcher -->
    </div><!-- end of user emp -->
  </div><!-- end of account wrapper -->

  <div class="game-bar-wrapper wrapper">
    <ul>
      <li class="game-wrapper" ng-repeat="game in gamesGameManager" ng-class="{active: $index == currentGameIndex}" ng-click='onGameClick($index)'>
        <label for="select-{{game.game}}" class="thumb" id="game_{{game.game|makeLowerCase}}" ng-style="{'background-image':'url('+game.thumbnail_sprite_url+')'}">
          <input type="radio" id="select-{{game.game}}" name="select-{{game.game}}" ng-model="showGame" value="{{game.game}}" />
        </label>
        <div value="{{game.name}}">
          <div class="game-info" ng-show="onProgress(game)">
            <p class="nav-patching-label" ng-show="(game.gamePM.progress != null)">{{game.gamePM.progress}} %</p>
            <div class="game-info-inner">
              <span class="patching">
                <progress ng-show="onProgress(game)" ng-disabled="!onProgress(game)" value="{{game.gamePM.progress}}" max="100"></progress>
              </span>
            </div>
          </div>
          <span class="title">{{game.name}}</span>
        </div>
      </li><!-- end of third game property -->
    </ul>
  </div><!-- end of game-bar-wrapper -->

  <!-- ######################################################################################################## -->
  <!-- game specific page goes here -->
  <!-- ######################################################################################################## -->
  <div ui-view>
  </div>
</div><!-- end of launcher -->







