<div class='ng-modal nopop' style="width: 420px; height:380px;">
  <!--<div class='ng-modal nopop' ng-init='setSize(420, 380 )' style="width: 420px;">-->
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='popup'>
      <div class='pop-header'>
        <div id="dragMe" ng-mousedown="dragMe()"></div>
        <div id="user-emp">
          <div class="close-launcher">
            <span><a ng-click="minimize()"> _ </a></span>
            <span><a ng-click='close()'> X </a></span>
          </div><!-- end of close launcher -->
        </div><!-- end of user emp -->
        <img src='img/eme-wordmark.png' alt='En Masse Entertainment' />
      </div>
      <div class='ng-modal-dialog-content'>

<div class="pop-content narrowLayout">
  <h2 ng-init=''>Security Measure</h2>
  <div class="inner-pop">

    <div style='display:block'>
    <!--<div ng-show='userInfoReady' style='display:block'>-->

      <div style='display:block'>
      Hello {{email}},
      </div>

      <div style='display:block'>
        <p>This is a minimal security measure for your En Masse Account. Please take a few steps and you'll be ready.</p>
      </div>

      <div style='display:block'>
        <p>If you're not {{email}} or want to use a different En Masse Account, go back to <a href='#' ng-click='goSignIn()'>Sign In</a></p>
      </div>

      <button class="btn" ng-click='proceed()'>Proceed</button>
    </div>

  </div>
</div>


</div>
      
    </div>
  </div>
</div>