<!--<h1 ng-init='setSize(500,300)'>Activation</h1>
<p>{{messageDisplay}}</p>

<div style='display:block'>
<input ng-model='code' type='text' placeholder='enter activation code' on-key-enter='codeSubmit()'>
<button ng-disabled='requesting' ng-click='codeSubmit()'>Submit</button>
</div>

<p>If you don't have code, please click <a href='#' ng-click='resend()'>resend code.</a></p>
<p>If you already have done in your email, please click <a href='#' ng-click='check()'>already done</a></p>
<p>If you want use other accont, please clien <a href='#' ng-click='goSignIn()'>sign-in</a></p>
-->


<!-- verification -->
<div class='ng-modal nopop' ng-init='setSize(420, 545)' ng-class="displayMessage ? ' registration_errors alert' : ''">
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='popup'>
      <div class='pop-header'>
        <div id="dragMe" ng-mousedown="dragMe()"></div>
        <div id="user-emp">
          <div class="close-launcher">
            <span><a ng-click="minimize()"> _ </a></span>
            <span><a ng-click='close()'> X </a></span>
          </div><!-- end of close launcher -->
        </div><!-- end of user emp -->
        <img src='img/eme-wordmark.png' alt='En Masse Entertainment' />
      </div>
      <div class='ng-modal-dialog-content'>

      <div class="pop-content narrowLayout innerSteps">
        <h2 ng-hide='messageDisplayError'>Great! Check your email</h2>
        <div ng-show='messageDisplayError' class="registration_errors alert fail">
          <!--<h2>Please try again</h2>-->
          <p>{{messageDisplayError}}</p>
        </div>
        <div class="inner-pop code-box">
          <!--<p>We sent your verification code to</p>
          <p><i>{{email}}</i></p>-->
          <span id="email_inbox"></span>
          <form>
            <label for="verification_code" class="exobold">Please enter verification code below:</label>
            <span class="steps">1</span><input type="text" id="verification-code" ng-model='code' placeholder='enter activation code' on-key-enter='codeSubmit()' />
            <p>If you haven't gotten your email promptly you can <a class="instructional_link" ng-click='resend()'>resend verification email</a></p>
            <p><b>{{messageDisplay}}</b></p>
            <button class="btn centerspace" value="SUBMIT" ng-disabled='requesting' ng-click='codeSubmit()'>SUBMIT</button>
          </form>
           <p>If the verification email is still not showing up, <a class="instructional_link" ng-click='openWebNoSession("http://support.enmasse.com/tera/i-didn-t-receive-my-account-verification-email")'>Check our Email FAQ</a></p>
           <p>Did you verify in the email? <a ng-click="check()">Click here.</a></p>
        </div>
      </div>


</div>
      <div class='pop-footer'>
        <!--<a class='back' id='closeLogin' ng-click='closeThisDialog(0)'>close this window</a>-->
      </div>
    </div>
  </div>
</div>
