// $body-background: image_url('background-slate.jpg');

$body-background: image_url('bg-white.jpg');

// ICONS
$image-sprite: image_url('image-sprite.png');

// Store Sprite
$store-sprite: image_url('store-sprite.png');

// Misc
$icon-loading: image_url('loading.gif');

// Color Fallbacks
$black-px: image_url('colors/black.png');
$white-px: image_url('colors/white.png');
$gray-px: image_url('colors/gray.png');
$blue-px: image_url('colors/blue.png');
$gold-px: image_url('colors/gold.png');
$green-px: image_url('colors/green.png');
$red-px: image_url('colors/red.png');
$orange-px: image_url('colors/orange.png');
$babyblue-px: image_url('colors/babyblue.png');
$purple-px: image_url('colors/purple.png');
$peach-px: image_url('colors/peach.png');