// Modular Scale Settings
$ratio: 3/2;
$baseFontSize: 16px !default;
$importantModNum: 32px !default;
$base-size: $baseFontSize $importantModNum;
// Produced the following list of values: 16, 21.333, 24, 32, 36, 48, 54, 72, 81, 108;
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale by scottkellum

// Font Settings
$headerFontFamily: 'exo_2light', Times, serif !default;
$headerFontWeight: bold !default;
$headerFontColor: #666 !default;
$headerFontStyle: normal !default;
$bodyFontFamily: Arial, Helvetica, sans-serif !default;
$bodyFontWeight: normal !default;
$bodyFontColor: $txtColor !default;
$bodyFontStyle: normal !default;
$fontSmoothing: antialiased;
$labelFontColor: lighten(#000, 30%) !default;
$labelFontWeight: 500 !default;
$labelBtmMargin: 3px !default;
$inputBgColor: #fff !default;
$inputBorderWidth: 1px !default;
$inputBorderStyle: solid !default;
$inputBorderColor: darken(#fff, 20%) !default;
$inputBorderRadius: 2px !default;
$inputFontColor: rgba(0,0,0,0.75) !default;
$inputFontSize: 14px !default;
$inputFocusBorderColor: darken(#fff, 30%) !default;
$inputFocusBgColor: darken(#fff, 2%) !default;
$fieldsetBorderRadius: 3px !default;

// Text Direction Settings
$textDirection: ltr !default; // Controls default global text direction, 'rtl' or 'ltr'
$defaultFloat: left !default; // Change this to 'right' for right-to-left languages
$defaultOpposite: right !default; // Change this to 'left' for right-to-left languages