// site footer


.footer {
	background-color: $black;
	padding: $sectionPadding 0 $baseline;
	@include border(drawn-bar-vbars);
	&:before {
		content:'';
		position: absolute;
		top:0;
		left:0;
		z-index: -1;
		width:100%;
		height:100%;
		background: $black url('../images/swoosh.png') 0 $sectionPadding - $baseline no-repeat;
		background-size: 100% calc(var(--footer-content-height) + #{$baseline*2});
	    transform: scaleX(-1);
	}
}

.footer__content {
	@include container(page);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	@include breakpoint(min-width, $bpMedium) {
	}

	@include breakpoint(min-width, $bpLarge) {
		justify-content: space-between;
	}	
}

.footer__logo {
	height: var(--footer-content-height);
	margin-bottom: $baseline*2;
	position: relative;
	z-index: 1;

	img {
		object-fit: contain;
		max-height: 100%;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 120%;
		z-index: -1;
		background: radial-gradient(rgba($black, 0.88) 0% 60%, rgba($black, 0) 70%);
	}

	&::after {
		left: auto;
		right: 0;
		background: radial-gradient(rgba($black, 0.8), rgba($black, 0));
	}
	
}

.publishers-ratings { text-align: center; }

.publishers,
.ratings {
	//width: 100%;
	display: inline-flex;
	justify-content: center;

	@include breakpoint(min-width, $bpMedium) {
		width: auto;
	}
}

.publisher,
.rating {
	height: var(--footer-content-height);
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: $baseline;
	margin-left: 0.75rem;
	margin-right: 0.75rem;

	img {
		height: 100%;
		max-width: none;
		object-fit: contain;

		&.rating__image {
			height: calc(var(--footer-content-height) - 16px);
		}
	}

	@include breakpoint(min-width, $bpMedium) {
		
	}
}

.rating {
	display: inline-flex;
	vertical-align: bottom; 
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* set in px because we always want 
it to be the smallest readable size */
.rating__text {
	font-size: 10px; 
	line-height: 1;
	flex: 1 1 auto;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0;
	height: 16px;
	display: flex;
	align-items: flex-end;
}

.footer__links {
	font-size: modScale(-1);
	line-height: 2.5;
	margin-top: $baseline*2;
	text-align: center;

	.link { margin-right: 1rem; }
}

.copyright {
	white-space: nowrap;
}