// site header and primary nav

// remember! these vars and mixins technically have global scope, so keep the names specific

// variables for local use only
// ---------------------------
$mobileMenuWidth: 17rem;
$dropdownMinWidth: 14ch;
$menuItemBorder: 1px solid $marine80;


// mixins for local use only 
// ---------------------------

// Menu Item Text
// Defines standard text styles for menu items in the header or primary navigation, including responsive styles. To be used on the .menu__item__label elements.
//
// arguments:
//   $context : string, default is null/'menu', accepts ['header'] - defines where the menu item is located 

@mixin menuItemText($context: null) {
	$font-family: $displayFont;
	$weight: normal;
	$border-width: 3px 0;
	$color: $gold10;
	$font-size: modScale(1);
	$text-transform: uppercase;
	$kerning: $letterSpacing;
	$padding: $lineboxPaddingVert 0;

	@if $context == header {
		$font-family: $bodyFont;
		$weight: bold;
		$border-width: 0;
		$color: $gold20;
		$font-size: modScale(-1);
		$text-transform: none;
		$kerning: normal;
		$padding: 0;
	}

	font-family: $font-family;
	font-weight: $weight;
	border-width: $border-width;
	color: $color;
	text-transform: $text-transform;
	letter-spacing: $kerning;
	padding: $padding;
	font-size: $font-size;
	display: flex;
	align-items: center;
	height: 100%;
	
	// border is so we can background-clip on hover
	border-style: solid;
	border-color: transparent;

	@include breakpoint(min-width, $bpNavBreak) {
		font-size: modScale(-1);
		white-space: nowrap;
		padding: 0 0.5rem;

		@if $context == header {
			border-width: 0 0 3px;
		}
	}
}


// Menu Item Focus
// Applies all effects on hover/focus/focus-within for menu items. This includes hover effects and hiding/showing dropdown menus. 
// Expects to be called on .menu__item, and depends on the html structure of the nav walker

@mixin menuItemFocus() {
	& > .menu__item__label {
        color: $white;

		svg { fill: $white; }

		@include breakpoint(min-width, $bpNavBreak) {
			background: linear-gradient(90deg, rgba($marine70, 0), $marine70 15% 85%, rgba($marine70, 0));
			background-clip: padding-box;
			filter: none;
		}
    }

    & > .dropdown {
		@include isVisible(true);
    }

    // the games dropdown needs to be a flex element when shown
    // the .--games class is applied in the WP menu
    &.--games > .dropdown {
    	@include isVisible(true, $display: flex);
    }
}


// Mobile Nav Menu
// styles for the mobile version of the nav
// arguments:
//   $context : string, default is 'primary-nav', accepts ['profile'] - defines where the menu is located

@mixin mobileNavMenu($context: primary-nav) {
	visibility: hidden;
	background-color: $shade90;
	width: $mobileMenuWidth;
	position: fixed;
	left: -100%;
	height: calc(100vh - var(--header-height));
	padding-bottom: 0.75rem;
	z-index: $zNavDropdown;

	& > *,
	.dropdown {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&.is-open { visibility: visible; }

	// if the admin bar is active, we need to accommodate for it
	.admin-bar & { height: calc(100vh - var(--header-height) - var(--admin-bar-height)); }

	// context-specific styles
	@if ($context == primary-nav) {
		left: -100%;
		transition: left 0.25s ease;

		&.is-open { left: 0%; }
	} 

	@if ($context == profile) {
		left: auto;
		right: -100%;
		transition: right 0.25s ease;

		&.is-open { right: 0%; }
	}
}


// Insiders Menu Item Icon
// applies the unique icon to the insiders menu item
@mixin insidersMenuItemIcon() {
	@include iconBackground(insider);
	content: "";
	display: block;
	height: $baseline;
	width: $baseline;
	margin-left: 0.5em;
	// we use transform instead of a larger width/height because we don't want the icon to increase the size of the line-box;
	transform: scale(1.125);
	transform-origin: 100% 50%;
}

// end local vars and mixins -------------------


// header

.header {
	@include border(drawn-bar-bottom, $z: $zHeader);
	background-color: $black;
	color: $gold30;
	padding: 0 var(--page-margin);
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
}

.header__logo {
	padding: 0;
	margin: 0;
	line-height: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;

	.header__logo__link {
		display: block;
		text-align: center;
		padding: calc((var(--header-height) - var(--header-logo-height)) /2) 1rem;
	}

	img {
		@include objectFit(contain);
		height: var(--header-logo-height);
		vertical-align: top;
	}

	@include breakpoint(min-width, $bpNavBreak) {
		width: auto;
	}
}

.header__menu-toggle,
.header__profile-toggle {
	display: flex;
	align-items: center;

	&:focus {
		.mobile-header-icon { fill: url(#iconGradientHover); }
	}

	&.is-open {
		.mobile-header-icon:not(.--close) { display: none; }
		.mobile-header-icon.--close { display: block; }
	}
	
	@include breakpoint(min-width, $bpNavBreak) {
		display: none;
	}
}

.header__menu {
	display: flex;
	flex-wrap: wrap;

	// for spacing
	&::after {
		content: "";
		flex: 999 0 auto;
		order: 3;
	}

	&.is-hidden {
		@include isVisible(false);
	}

	@include breakpoint(min-width, $bpNavBreak) {
		flex-wrap: nowrap;
		align-items: stretch;

		&::after { display: none; }
	}
}

.header__buy { 
	text-align: center;
	flex: 100%;

	@include breakpoint(min-width, $bpNavBreak) {
		position: absolute;
		right: var(--page-margin);
		height: var(--header-height);
		display: flex;
		align-items: center;
	}
}

.header__button {
	@include ctaButton();
	font-size: modScale(1);
	width: 75%;
	margin-bottom: $baseline/2;

	@include breakpoint(min-width, $bpNavBreak) {
		font-size: modScale(0);
		height: $baseline;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;
		width: auto;
	}
}

.header__icon {
	@include icon($size: $baseline*1.125);
	max-width: none;
	max-height: none;

	.header__language & { margin-right: 0.25em; }

	@include breakpoint(min-width, $bpNavBreak) {
		width: $baseline*0.75;
		height: $baseline*0.75;
	}
}

.mobile-header-icon {
	@include icon($size: calc(var(--header-logo-height) - 0.25rem));

	&.--close {
		display: none;
	}
}

.header__menu__item {
	flex: 1 1 auto;

	.menu__item__label {
		@include menuItemText($context: header);
	}

	&.is-open {
		@include menuItemFocus();
	}

	@include breakpoint(min-width, $bpNavBreak) {
		height: 100%;
		position: relative;

		&:hover,
		&:focus {
			@include menuItemFocus();
		}

		&:focus-within {
			@include menuItemFocus();
		}
	}
}



// search and share

.header__share,
.header__search {
	.header__icon {
		&.--close { display: none; }
	}

	&.is-open {
		.header__icon.--toggle { display: none; }

		.header__icon.--close { display: block; }
	}

	@include breakpoint(max-width, $bpNavBreak) {
		.dropdown {
			top: auto;
			bottom: 0.75rem*2 + $baseline*1.125;
			width: 100%;

			.is-open & {
				left: 0;
			}
		}
	}
}



//search

.header__search {
	order: 4; // add order to place after spacer

	@include breakpoint(min-width, $bpNavBreak) {
		margin-left: 0.5rem;
	}
}

.header__search__form {
	position: relative;
	padding: $baseline/2 0;
	width: 100%;
	display: flex;

	@include breakpoint(min-width, $bpNavBreak) {
		padding: $lineboxPaddingVert $lineboxPaddingHoriz;
	}
}	

.header__search__form__input {
	@include linebox();
	width: auto;
	min-width: 0;
	margin-bottom: 0;

	@include breakpoint(min-width, $bpNavBreak) {
		@include linebox(small);
	}
}

.header__search__form__submit {
	margin-left: 0.5rem;
	cursor: pointer;

	&:hover,
	&:focus {
		.header__icon {
			fill: $white;
		}
	}
}



// share

.header__share {
	order: 5; // add order to place after spacer
	margin-left: 0.5rem;

	@include breakpoint(min-width, $bpNavBreak) {
		.dropdown { width: 8.5rem; }
	}
}

.share__links { 
	width: 6.5rem; // lock width for the share menu so the items form a grid
}

.share__link { 
	padding: 1rem 0.5rem; 
	margin: 0;
	text-align: center;
	width: 25%;
	float: left;

	a { 
		display: block; 

		&:hover,
		&:focus {
			.share__icon {
				fill: $white;
			}
		}
	}

	@include breakpoint(min-width, $bpNavBreak) {
		width: 33.33%;
		padding: 0.5rem;
	}
}

.share__icon {
	@include icon($color: rgba($white, 0.8), $hoverColor: $white, $size: $baseline*1.125);

	@include breakpoint(min-width, $bpNavBreak) {
		width: $baseline*0.75;
		height: $baseline*0.75;
	}
}


// nav

.navbar {
	
	@include breakpoint(min-width, $bpNavBreak) {
		@include border(drawn-bars);
		width: 100%;
		z-index: $zNavbar;
		background: linear-gradient(90deg, $shade90, $shade70 40%, $shade90);
		height: var(--navbar-height);
	}
}

.navbar__container {
	@include container(page);
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.primary-nav {
	display: flex;
	justify-content: space-between;

	@include breakpoint(max-width, $bpNavBreak) {
		@include mobileNavMenu();
		flex-direction: column;
		overflow: hidden;
	}
	@include breakpoint(min-width, $bpNavBreak) {
		width: 100%;
	}
}

.primary-nav__menu {
	transform: translateX(0);
	transition: transform 0.25s ease;

	[data-state=lvl-1] & {
		transform: translateX(-100%);
	}

	[data-state=lvl-2] & {
		transform: translateX(-200%);
	}

	[data-state=lvl-3] & {
		transform: translateX(-300%);
	}

	@include breakpoint(min-width, $bpNavBreak) {
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;
	}
}

.menu__item {
	margin: 0;
	cursor: pointer;

	@include breakpoint(min-width, $bpNavBreak) {
		position: relative;

		// must separate focus-within from hover for IE and Edge
        &:hover,
        &:focus {
            @include menuItemFocus();
        }

        &:focus-within {
            @include menuItemFocus();
        }

        &.--back { display: none; }
	}
}

.menu__item__label {
	@include menuItemText();
    width: 100%;

    .primary-nav__menu &,
    .profile-nav__menu & { border-bottom: $menuItemBorder; }

    .has-children > & {
    	.has-touch & { pointer-events: none; }
    }

    .--insiders & { // this classname is applied in the WP menu
    	&::after {
    		@include insidersMenuItemIcon;
    	}
    }

    .--back & {
		&::before {
			content: "";
     		height: 1em;
     		width: 1em;
     		display: inline-block;
     		@include iconBackground('pointer-left', $color: $pointerGradientLeft);
     		margin-right: 0.5em;
		}
	}

	// if menu item is a parent, add an arrow
	.has-children > & {
		position: relative;
		padding-right: calc(#{$lineboxPaddingSmallHoriz} + 1.25em);

		&::after {
     		content: '';
     		height: 1em;
     		width: 1em;
     		display: inline-block;
     		position: absolute;
     		right: $lineboxPaddingSmallHoriz;
     		@include iconBackground('pointer-right', $color: $pointerGradientRight);
     	}
	}

    @include breakpoint(max-width, $bpNavBreak) {
    	.has-children > & { pointer-events: none; }
    }

    @include breakpoint(min-width, $bpNavBreak) {
    	position: relative;
        z-index: 1;
        cursor: pointer;

        .primary-nav__menu &,
        .profile-nav__menu & { border: none; }

        .profile-nav__menu & { flex: 999 1 auto; }

        .--insiders & { // this classname is applied in the WP menu
        	&::after { content: none; }

        	&::before {
        		@include insidersMenuItemIcon;
        		transform: scale(0.75);
				transform-origin: 0% 50%;
				margin-left: 0;
        	}
        }

        // change top-level parent menu items only
		.primary-nav__menu > .has-children > & {

			&::after {
	     		@include iconBackground('pointer-down', $color: $pointerGradientDown);
	     	}
			
		}
	}
}

.dropdown {
	@include absolutePosition(0, 100%);
    padding: $lineboxPaddingSmallVert;
    display: none;
	z-index: $zNavDropdown;
	
	.header__menu & { 
		@include texture($gradient: linear-gradient(180deg, $shade70, $shade90), $light: true);
		z-index: $zHeaderDropdown;
	}

    @include breakpoint(min-width, $bpNavBreak) {
    	@include absolutePosition(100%, 0);
    	@include texture($gradient: linear-gradient(180deg, $shade70, $shade90), $light: true);
    	width: auto;
    	min-width: $dropdownMinWidth;
    	max-width: 85vw;
    	padding: 0;
    	box-shadow: $boxShadow;

    	.header__menu & {
    		top: calc(100% - 3px); // accommodate for border thickness
    	}

	    .menu__item__label {
	    	padding: $lineboxPaddingSmallVert $lineboxPaddingSmallHoriz;
	    	
	    	.has-children > & {
	    		// retain larger right padding for parent items
	    		// (above padding declaration would override)
            	padding-right: calc(#{$lineboxPaddingSmallHoriz} + 1.25em);
        	}
	    }

	    .dropdown { // lvl-2 dropdown
	    	top: 0;
	    	left: 100%;
	    }
	}
}


// games menu
// the --games and --game classnames are applied in the WP menu

.menu__item.--games {

	.menu__item.--game {
		height: $baseline*2.5;
		margin-bottom: $baseline*0.5;
		background-size: cover;
		box-shadow: 0 0 0.25rem rgba($black, 0.6);
		border: none;

		// the relational selector is necessary here, otherwise labels in child menus will be hidden
		&.has-children > .menu__item__label {
			// hide the text visually
			// can't use screenReaderOnly because it also hides the pseudo element
			font-size: 0;
			color: transparent;

			// adjust size and position of arrow
			&::after {
				width: 1rem;
				height: 1rem;
				right: -0.5rem;
			}
		}

		// these classnames are applied in the WP menu
		&.--age1de { background-image: url($imagePath + 'menu/nav-games-age1-mobile.jpg'); }
		&.--age2de { background-image: url($imagePath + 'menu/nav-games-age2-mobile.jpg'); }
		&.--age3de { background-image: url($imagePath + 'menu/nav-games-age3-mobile.jpg'); }
		&.--age4 { background-image: url($imagePath + 'menu/nav-games-age4-mobile.jpg'); }
		&.--myth { background-image: url($imagePath + 'menu/nav-games-myth-mobile.jpg'); }		
	}

	// since sub-menus are nested within each dropdown, and will inherit any styles we put on the lvl-1 menu, we HAVE TO override the unique game menu styles
	.dropdown.lvl-1 { 
    	height: calc(100vh - var(--header-height));
    	padding-top: $baseline/2;
    	box-shadow: 0.25rem 0 0.5rem rgba($black, 0.6);
    	width: 90%;
    	// not using texture() here because we want to add multiple backgrounds
    	background-image: url($imagePath + 'swoosh.png'), //!!todo!! update to vertical swoosh
    					  url($texturePath),
    					  linear-gradient(180deg, $marine60, $marine80);
    	background-size: auto 100%, $textureSize, auto;
    	background-blend-mode: normal, overlay, overlay;

    	@include retina() {
    		background-image: url($imagePath + 'swoosh.png'),//!!todo!! update to vertical swoosh
    					  	  url($texturePathRetina),
    					  	  linear-gradient(180deg, $marine60, $marine80);
    	}

    	.dropdown {
    		// we only need to resize lvl-2 because it's relative to the unique lvl-1 game menu 
    		// child .dropdowns will be relative to this one
			&.lvl-2 {
    			width: $mobileMenuWidth; 
    			left: $mobileMenuWidth;
    		}
    	}

    	@include breakpoint(min-width, $bpNavBreak) {
    		// revert mobile styles
    		width: 100%;
    		height: auto;

    		//custom styles
    		max-width: none;
    	}
    }
	

	@include breakpoint(min-width, $bpNavBreak) {
		position: static;

		.dropdown.lvl-1 {
    		width: calc(100% + calc(var(--navbar-height) - 0.4rem) + 0.5em);
    		left: 0;
    		box-shadow: $boxShadow;
    		height: auto;
    		padding: 0;
    		padding-left: calc(var(--page-margin) / 4);
    		padding-right: calc(var(--page-margin) / 4);

    		// switch swoosh to horizontal

    		// applies to all dropdowns deeper than lvl-1
    		.dropdown {

    			&.lvl-2 {
    				top: 100%;
	    			width: 100%; 
	    			left: 0;
	    		}

    			top:0%;
	    		left:100%;
	    		width:100%;

	    		.menu__item__label {
					@include smallCaps();

					white-space: normal;
				}
    		}
    	}

    	.menu__item.--game {
    		@include aspectRatioBox(4,3);
    		height: auto;
			flex: 1 1 auto;
			margin: $baseline;
			margin-left: $lineboxPaddingVert;
			margin-right: $lineboxPaddingVert;
			box-shadow: $boxShadow;
			background-size: cover;
			background-position: 50% 50%;
			transition: all 0.2s ease;

			// these classnames are applied in the WP menu
			&.--age1de { background-image: url($imagePath + 'menu/nav-games-age1-desk.jpg'); }
			&.--age2de { background-image: url($imagePath + 'menu/nav-games-age2-desk.jpg'); }
			&.--age3de { background-image: url($imagePath + 'menu/nav-games-age3-desk.jpg'); }
			&.--age4 { background-image: url($imagePath + 'menu/nav-games-age4-desk.jpg'); }
			&.--myth { background-image: url($imagePath + 'menu/nav-games-myth-desk.jpg'); }

			@include retina() { 
		    	&.--age1de { background-image: url($imagePath + 'menu/nav-games-age1-4k.jpg'); }
				&.--age2de { background-image: url($imagePath + 'menu/nav-games-age2-4k.jpg'); }
				&.--age3 { background-image: url($imagePath + 'menu/nav-games-age3-4k.jpg'); }
				&.--age4 { background-image: url($imagePath + 'menu/nav-games-age4-4k.jpg'); }
				&.--myth { background-image: url($imagePath + 'menu/nav-games-myth-4k.jpg'); }
			}

			// remove parent arrow on desktop
			&.has-children > .menu__item__label {
				&::after {
					display: none;
				}
			}

			&:hover,
			&:focus {
				filter: brightness(110%) contrast(105%);

				& > .menu__item__label {
					background: transparent;
				}
			}

			// focus-within must be a separate declaration for browser support
			// styles should be identical to hover and focus
			&:focus-within {
				filter: brightness(110%) contrast(105%);

				& > .menu__item__label {
					background: transparent;
				}
			}
    	}
	}
}


// profile nav

.profile-nav {
	
	@include breakpoint(max-width, $bpNavBreak) {
		@include mobileNavMenu(profile);
		width: auto; // in case the gamertag is long
		min-width: $baseline*11.75;
	}

	@include breakpoint(min-width, $bpNavBreak) {
		display: flex;
		align-items: center;
		position: relative;
	}
}

.profile-nav__label {
	@include isVisible(false);

	@include breakpoint(min-width, $bpNavBreak) {
		@include isVisible(true, flex);
		@include menuItemText();

		.header__icon { margin-right: 0.5em; }

		&:hover,
		&:focus {
			color: $white;

			.header__icon { fill: $white; }
		}
	}
}

.profile-nav__username {
	display: flex;
	align-items: center;
	font-size: modScale(1);
	@include gradientText();
	font-weight: bold;
	padding-top: $baseline/2;

	@include breakpoint(min-width, $bpNavBreak) {
		padding-top: 0;
		font-size: inherit;
		font-size: modScale(-1);
		cursor: pointer;
	}
}

.profile-nav__avatar {
	border-radius: 50%;
	position: relative;
	border: 1px solid $gold30;
	width: $baseline*1.5;
	height: $baseline*1.5;
	margin-right: 0.5em;

	@include breakpoint(min-width, $bpNavBreak) {
		// using transform instead of larger width/height 
	 	// so the icon doesn't increase the size of the line-box;
		width: calc(var(--navbar-height) - 0.4rem);
		height: calc(var(--navbar-height) - 0.4rem);
	}
}

.profile-nav__menu {

	@include breakpoint(min-width, $bpNavBreak) {
		@include isVisible(false);
		position: absolute;
		top: 100%;
		right: 0;
		@include texture($gradient: linear-gradient(180deg, $shade70, $shade90), $light: true);
		box-shadow: $boxShadow;
		padding: 0;

		.menu__item__label {
			padding: $lineboxPaddingSmallVert $lineboxPaddingSmallHoriz;
		}

		.profile-nav:hover &,
		.profile-nav:focus & {
			@include isVisible(true);
		}
	}
}

.profile-nav__icon-container {
	margin-right: 0.5em;
	width: $baseline*1.5;
	text-align: right;

	@include breakpoint(min-width, $bpNavBreak) {
		width: auto;
	}
}

// !!todo!! update when login functionality is complete

// .navbar__profile {

// 	&.--signed-in {
// 		display: flex;
// 		align-items: center;
// 		@include isVisible(false);
// 	} 
// }

// .navbar__profile__label {
// 	@include menuItemText();

// 	.header__icon {
// 		margin-right: 0.25em;
// 	}

// 	&:hover,
// 	&:focus {
// 		@include menuItemText(hover);
// 	}
// }

// .navbar__profile__icon {
// 	// using transform instead of larger width/height 
//  	// so the icon doesn't increase the size of the line-box;
// 	@include icon($size: 1em);
// 	transform: scale(1.25);
// 	margin-left: 0.125em;
// 	margin-right: 0.125em + 0.5em;
// 	max-width: none;
// }

// .navbar__profile__username {
// 	display: flex;
// 	align-items: center;
// 	@include textStyle(9);
// 	@include gradientText();
// }


// .navbar__profile__menu {
// 	display: none;
// }