// leaderboard widget

.leaderboard {
	width: calc(100% + #{$baseline} * 0.5);
	margin: 0 $baseline*-0.25;
}

.leaderboard__row {

	&:nth-child(odd):not(:first-child) {
		background-color: rgba($black, 0.15);
	}

	& > *:first-of-type {
		padding-left: 1ch;
	}

	& > *:last-of-type {
		padding-right: 1ch;
	}
}

.leaderboard__heading {
	@include smallCaps();
	text-align: right;

	&:first-of-type {
		text-align: left;
		padding-left: 2ch; // aligns with single digit rank
	}

	@include breakpoint(min-width, $bpMedium) {
		font-size: modScale(-1);
	}
}

.leader {
	display: flex;
	width: 100%;
	align-items: center;
}

.leader__rank {
	font-size: modScale(-1);
	width: 2ch;
	text-align: right;
	margin-right: 0.5rem;
}

.leader__link {
	display: flex;
	align-items: center;
	font-weight: bold;
	color: $shade10;
	text-shadow: $textShadow;
	text-decoration: underline;
}

.leader__elo {
	text-align: right;
	font-weight: bold;
	text-shadow: $textShadow;
	color: $white;
}