// news filters

$newsFilterGap: $baseline * 0.5;

@mixin newsFilter() {
	@include cell($gap: $newsFilterGap, $marginsOnly: true);
	padding: 0.5rem;
	@include texture($gradient: linear-gradient(180deg, $marine70, $marine90));
	box-shadow: $boxShadow;

	@include breakpoint(min-width, $bpNavBreak) {
		margin-left: $gutter/2;
		margin-right: $gutter/2;
		padding: $baseline/2;
		flex: 1 1 auto;
	}
}

// end local vars and mixins ------------------------------

.news-filters {
	@include row($gap: $newsFilterGap);
	flex-wrap: nowrap;
	justify-content: center;
	position: relative;
	padding-bottom: $baseline/2;
	margin-bottom: $baseline*1.25;

	@include breakpoint(min-width, $bpNavBreak) {
		margin-left: $gutter/-2;
		margin-right: $gutter/-2;
	}
}

.news-filters__label {
	position: absolute;
	top: 100%;
	width: 100%;
	margin: 0;
	text-align: center;
	background: url($imagePath + "ui/gold-line-drawn.svg") 50% 50% no-repeat;
	background-size: 100% 3px;
	line-height: 0;
}

.news-filters__label__text {
	display: inline-block;
	font-size: modScale(-2);
	text-transform: uppercase;
	letter-spacing: $letterSpacing;
	color: $gold40;
	text-shadow: $textShadow;
	background-color: $shade90;
	padding: 0 1em;
	line-height: 1;
	vertical-align: top;
}


// Commented out to clear ES Lint problems - JAB
// .news-filter {
// 	@include newsFilter();

// 	&.--age4 {

// 	}

// 	&.--age3 {

// 	}

// 	&.--age2 {

// 	}

// 	&.--age1 {

// 	}

// 	&.--myth {

// 	}
// }

.news-filter__icon {
	width: $baseline*1.75;
	height: $baseline*1.75;
	vertical-align: top;

	@include breakpoint(min-width, $bpNavBreak) {
		width: $baseline*2;
		height: $baseline*2;
	}
}