//pagination

.pagination {
	@include linebox(small);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient($marine70, $marine90);
	box-shadow: $boxShadow;
}

.pagination__number {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	min-width: $baseline*1.5; // allow box to grow if number is large
	height: $baseline*1.5;
	color: $gold10;

	&:not(.--current):not(.--ellipsis):hover,
	&:not(.--current):not(.--ellipsis):focus { color: $white; }

	&.--current {
		border: 1px solid $shade50;
		border-radius: 4px;
	}

	&.--ellipsis { color: $grey20; }

	@include breakpoint(min-width, $bpLarge) {
		font-size: modScale(-2);
		min-width: $baseline;
		height: $baseline;
	}
}

.pagination__control {
	align-self: center;
	margin: 0;
}