// widgets

.widget-container {
	
	@include breakpoint(min-width, $bpMedium) {
		@include row(tight);

		&::after {
			content: "";
			@include cell(tight);
			flex: 1 1 40%;
		}
	}
}

.widget {
	@include card($padding: tight, $background: light);
	margin-bottom: $baseline;
	text-shadow: $textShadow;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	@include breakpoint(min-width, $bpMobileWide) {
		width: 80%;
	}

	@include breakpoint(min-width, $bpMedium) {
		@include cell(tight);
		flex: 1 1 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@include breakpoint(min-width, $bpLarge) {
		flex: 1 1 20%;
	}
}


%widget-header {
	font-size: modScale(1);
	color: $gold10;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: $baseline*0.5;
}

.widget__title {
	@extend %widget-header;
}

.widget__subtitle {
	@extend %widget-header;
	font-family: $notoCondensed;
	margin-bottom: $baseline*0.25;
}

.widget__thumbnail {
	display: block; // needed because sometimes this is an <a>
	margin-left: $baseline*-0.75;
	margin-right: $baseline*-0.75;
	margin-bottom: $baseline*0.25;
	border-bottom: 1px solid $gold30;
	position: relative;
	vertical-align: top;

	img { vertical-align: top; }

	@include breakpoint(min-width, $bpMedium) {
		margin-bottom: $baseline*0.5;
	}
}

.widget__author {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: modScale(1);
	color: $grey10;
	font-family: $notoCondensed;
	font-weight: bold;

	@include breakpoint(min-width, $bpMedium) {
		font-size: modScale(0);
	}
}

.widget__avatar {
	width: $baseline*1.5;
	height: $baseline*1.5;
	margin: $baseline*0.25 0.5rem $baseline*0.25 0;
	border-radius: 50%;

	@include breakpoint(min-width, $bpMedium) {
		width: $baseline;
		height: $baseline;
	}
}

.widget__description {
	padding-top: 0;
	margin-bottom: 0;
	font-family: $notoCondensed;

	@include breakpoint(min-width, $bpMedium) {
		font-size: modScale(-1);
	}
}

.widget__metric {
	font-family: $notoCondensed;
	font-size: modScale(1);
	color: $white;
	font-weight: bold;


	@include breakpoint(min-width, $bpMedium) {
		font-size: modScale(0);
	}
}

.widget__cta {
	@include hollowButton($size: small);
	width: 100%;
	margin-top: $baseline;
	margin-bottom: 0;

	@include breakpoint(min-width, $bpMedium) {
		margin-top: $baseline*0.5;
	}
}
