<form class="clans-players-list__form" role="form" action="/">

  <div class="clans-players-list__content">
    <div class="clans-players-list__term">
      <div class="search-field">
        <input type="search" id="q" name="q" data-input-field />
        <button type="button" class="clear-search" data-clear-button>
          <i class="fa fa-times"><span class="visually-hidden">Clear search terms</span></i>
        </button>
      </div>
      <button type="submit" class="btn-aoe btn--seach">
        <i class="fa fa-search"><span class="visually-hidden">Search Members</span></i>
      </button>
    </div>
    <div class="clans-players-list__sort">
      <label for="sortCategory">Sort by</label>
      <select id="sortCategory" name="sortCategory">
        <option value="gamertag">Gamertag</option>
        <option value="skill">Skill Level</option>
        <option value="activity">Activity Level</option>
      </select>
    </div>
  </div>

</form>
