<div class="comment-form-wrapper">
    <div class="comment-form comment-form--children">
        <form class="e-commentForm" id="comment-form" data-id="<%= comment_id %>">
            <div class="comment-form__row">
                <div class="comment-form__avatar">
                    <%= avatar %>
                </div>
                <div class="comment-form__comment-box">
                    <textarea class="e-commentBox"></textarea>
                </div>
            </div>
            <div class="comment-form__row">
                <div class="comment-form__buttons-wrapper">
                    <button class="btn-aoe btn-aoe--gold e-commentCancel" type="button">Cancel</button>
                    <button class="btn-aoe e-commentSubmit" type="submit">Post Comment</button>
                </div>
            </div>
        </form>
    </div>
</div>
