<% _.each(comments, function(item) { %>
<li class="comment <%= item.comment_class %>" data-id="<%= item.comment_id %>">
  <div class="comment__content">
    <div class="comment__header">
      <div class="comment__avatar">
        <%= item.comment_avatar %>
      </div>
      <div class="comment__meta">
        <span class="comment__author"><%= item.comment_author %></span>
        <span class="comment__date-time"><%= item.comment_date %></span>
      </div>
    </div>
    <div class="comment__entry">
      <div class="comment__text">
        <%= item.comment_content %>
      </div>
    </div>
    <% if (item.comment_class == 'comment--parent') { %>
    <div class="comment__actions">
      <div class="comment__reply-wrapper">
        <span class="e-reply"><i class="fa fa-reply"></i> Reply</span>
      </div>
    </div>
    <% } %>
  </div>
  <div class="comment__form-mount js-comment-form-mount">
    <ul class="comment-list comment-list--children clearfix not_a_list">
      <% if (item.comment_children.length) { %>
      <% _.each(item.comment_children, function(item) { %>
      <li class="comment <%= item.comment_class %> " data-id="<%= item.comment_id %>">
        <div class="comment__content">
          <div class="comment__header">
            <div class="comment__avatar">
              <%= item.comment_avatar %>
            </div>
            <div class="comment__meta">
              <span class="comment__author"><%= item.comment_author %></span>
              <span class="comment__date-time"><%= item.comment_date %></span>
            </div>
          </div>
          <div class="comment__entry">
            <div class="comment__text">
              <%= item.comment_content %>
            </div>
          </div>
        </div>
      </li>
      <% }); %>
      <% } %>
    </ul>
  </div>
</li>
<% }); %>