<div id="image-modal" class="image-modal <% if (captionLong && isMobile === false) { %>image-modal--captionLong<% } %>">
    <div class="image-modal-image">
        <div class="image-modal-image-inner" style='height:<%= naturalHeightofImage %>;'>
            <div class="image-modal-content" style='height:<%= naturalHeightofImage %>; width: <%= naturalWidthofImage %>;'>
                <div class="image-modal-content-inner">
                    <button class="close-button close-reveal-modal image-modal-close" data-close="" aria-label="Close" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <img src="<%= image %>">
                    <% if (caption) { %>
                    <div class="image-modal-caption"><%= caption %>
                        <% if (captionLong && isMobile === false) { %>
                        <div class="history__img-caption-long js-caption-long">
                            <%= captionLong %>
                        </div>
                        <% } %>
                    </div>

                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="image-modal-shade">
    </div>

</div>