<div class="image-caption-modal <% if (typeof(captionLong) === 'undefined') { %>image-caption-modal--noCaptionLong<% } %>">
    <div class="image-caption-modal__inner">
        <div class="image-caption-modal__image">
            <div class="image-caption-modal__image-inner">
                <% if (typeof(captionLong) === 'undefined') { %>
                    <div class="image-caption-modal__image-wrapper">
                <% } %>
                    <img src="<%= imageUrl  %>" />
                <% if (typeof(captionLong) === 'undefined' && typeof(caption) !== 'undefined') {%>
                            <% if(caption != '') {  %>
                            <div class="image-caption-modal__caption-short">
                                <%= caption %>
                            </div>
                            <% } %>
                        <button class="close-button close-reveal-modal" data-close="" aria-label="Close" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
        <% if (typeof(captionLong) !== 'undefined') { %>
        <div class="image-caption-modal__caption">
            <div class="image-caption-modal__caption-inner">
                <h4><%= caption %></h4>
                <%= captionLong %>
            </div>
        </div>
        <% } %>
    </div>
    <% if (typeof(captionLong) !== 'undefined') { %>
        <% if (captionLong != '') { %>
    <button class="close-button close-reveal-modal" data-close="" aria-label="Close" type="button">
        <span aria-hidden="true">×</span>
    </button>
    <% } %>
    <% } %>
</div>



























