<div class="frame-box mods-detail-cta">
  <div class="frame-box__inner frame-box__inner--dark mods-detail-cta__inner">
    <div class="row text-center">      
      <div class="columns small-6 medium-12 large-6">
        <% if (gameTitleId>1) { %>
          <button type="button" class="btn-aoe btn-aoe--block" data-button-install>Subscribe</button>
          <button type="button" class="btn-aoe btn-aoe--gold btn-aoe--block" data-button-uninstall>Unsubscribe</button>
          <div class="stat stat-downloads"><%= metaData.installs %></div>
          <div class="stat-label">Subscriptions</div>
            <% if (metaData.updateAvailable) { %>
              <div class="text-center">
                <a class="button success success--no-hover">Update Available</a>
              </div>
            <% } %>
        <% } else { %>
          <button type="button" class="btn-aoe btn-aoe--block" data-button-download>Download</button>
          <div class="stat stat-downloads"><%= metaData.downloads %></div>
          <div class="stat-label">Downloads</div>
            <% if (metaData.updateAvailable) { %>
              <div class="text-center">
                <a href="#" class="button success" data-button-download>Update Available</a>
              </div>
            <% } %>
        <% } %>
      </div>
      <div class="columns small-6 medium-12 large-6">
        <button type="button" class="btn-aoe btn-aoe--block" data-button-like>
          <i class="fa fa-star" aria-hidden="true"></i> Like
        </button>
        <button type="button" class="btn-aoe btn-aoe--gold btn-aoe--block" data-button-user-liked>
          <i class="fa fa-star" aria-hidden="true"></i> Liked
        </button>
        <div class="stat stat-likes"><%= metaData.likes %></div>
        <div class="stat-label">Likes</div>
      </div>      
    </div>
  </div>
</div>
<% if (gameTitleId==1) { %>
<p class="text-center">
  <a href="https://www.ageofempires.com/mods/mods-download-install-instructions/" class="btn-aoe btn-aoe--small">Download &amp; Install Instructions</a>
</p>
<% } %>
<div class="mods-detail-legend">
  <dl>
    <% if (gameTitleId == 1) { %>
    <dt>Type</dt>
    <dd><%= modType %></dd>
    <% } %>
    <% if (modTagNames) { %>
    <dt>Tags</dt>
    <dd><%= modTagNames.join(', ') %></dd>
    <% } %>
    <dt>Creator</dt>
    <dd><%= metaData.creatorName %></dd>
    <dt>Created On</dt>
    <% if (metaData.createDate) { %>
    <dd><%= (new Date(metaData.createDate)).toLocaleDateString() %></dd>
    <% } else { %>
    <dd>[createDate missing]</dd>
    <% } %>
    <dt>Last Updated</dt>
    <% if (metaData.lastUpdate) { %>
    <dd><%= (new Date(metaData.lastUpdate)).toLocaleDateString() %></dd>
    <% } else { %>
    <dd>[lastUpdate missing]</dd>
    <% } %>
    <dt>Download Size</dt>
    <dd><%= (metaData.modFileSize / (1024 * 1024)).toFixed(2) %>MB</dd>
    <% if (metaData.modDiskSize > 0) { %>
    <dt>File Size</dt>
    <dd><%= (metaData.modDiskSize / (1024 * 1024)).toFixed(2) %>MB</dd>
    <% } %>
  </dl>
</div>

<div class="text-center">

    <button type="button" class="btn-aoe btn-aoe--small js-modal-opener">Report as Inappropriate</button>
    <button type="button" class="btn-aoe btn-aoe--small btn-aoe--gold" data-button-user-flagged>Reported as Inappropriate</button>

</div>
