<div class="mobile-title show-for-small-only">
  <p class="lead"><%= gameTitleName %>: <%= modName %></p>
</div>
<div class="frame-box mods-detail-gallery">
  <div class="frame-box__inner frame-box__inner--dark frame-box__inner--no-pad">
    <% if (modStatusId === 3 || modStatusId === 4) { %>
    <div class="alert alert--mod-detail">
      <div class="alert__content">
        <i class="icon icon--alert alert__icon"><span class="sr-only">Alert!</span></i>
        <div class="alert__message">
          <% if (modStatusId === 3) { %>
            <h4 class="alert__title">This mod has been flagged by an admin.</h4>
          <% } else if (modStatusId === 4) { %>
            <h4 class="alert__title">This mod has been removed by an admin.</h4>
          <% } %>
          <% if (modStatusMessage) { %>
            <p class="alert__desc"><%= modStatusMessage %></p>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
    <% if (imageUrls.length > 1) { %>
    <div class="mods-detail-gallery--media">
      <div class="mods-detail-gallery--tabs-content tabs-content" data-tabs-content="mods-detail-gallery-tabs">
        <% _.each(imageUrls, function(image, index) { %>
        <div class="mods-detail-gallery--tabs-panel tabs-panel <% if (index === 0) { %>is-active<% } %>" id="image-<%= image.imageId %>">
          <img src="<%= image.imageName %>" alt="image <%= image.imageId %>" />
        </div>
        <% }); %>
      </div>
    </div>
    <div class="mods-detail-gallery--thumbs">
      <ul class="mods-detail-gallery--thumbs-list tabs not_a_list" data-tabs id="mods-detail-gallery-tabs">
        <% _.each(imageUrls, function(image, index) { %>
        <li class="tabs-title <% if (index === 0) { %>is-active<% } %>">
          <a class="mods-detail-gallery--thumb-link" href="#image-<%= image.imageId %>">
            <span class="mods-detail-gallery--thumb-wrapper">
              <img src="<%= image.imageThumbnail %>" alt="image <%= image.imageId %>" />
            </span>
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
    <% } else { %>
    <div class="mods-detail-gallery--media">
      <div class="mods-detail-gallery--tabs-content">
        <% _.each(imageUrls, function(image, index) { %>
        <div class="mods-detail-gallery--tabs-panel" id="image-<%= image.imageId %>">
          <img src="<%= image.imageName %>" alt="image <%= image.imageId %>" />
        </div>
        <% }); %>
      </div>
    </div>
    <% } %>
  </div>
</div>
