<% if (description) {  %>
<div class="frame-box mods-detail-description expander" id="mod-description-expander" data-expander>
  <div class="frame-box__inner frame-box__inner--light">
    <h2 class="h3">About this Mod</h2>
    <div class="expander__target" data-expander-target>
      <%= description %>
      <div class="expander__mask expander__mask--light"></div>
    </div>
    <footer class="expander__footer">
      <a href="#" class="button primary small expander__trigger" data-expander-trigger>
        <span class="expander__trigger-text" data-expander-trigger-text>Show More</span> &nbsp;<i class="fa fa-chevron-down" aria-hidden="true" data-expander-trigger-icon></i></a>
    </footer>
  </div>
</div>
<% } %>

<% if (changeList) {  %>
<div class="frame-box mods-detail-changelist expander"  id="mod-change-list-expander" data-expander>
  <div class="frame-box__inner frame-box__inner--light">
    <h2 class="h3">Change List</h2>
    <div class="expander__target" data-expander-target>
      <%= changeList %>
      <div class="expander__mask expander__mask--light"></div>
    </div>
    <footer class="expander__footer">
      <a href="#" class="button primary small expander__trigger" data-expander-trigger>
        <span class="expander__trigger-text" data-expander-trigger-text>Show More</span> &nbsp;<i class="fa fa-chevron-down" aria-hidden="true" data-expander-trigger-icon></i></a>
    </footer>
  </div>
</div>
<% } %>
