<% if (modStatusId === 3 || modStatusId === 4) { %>
<div class="alert alert--mod-detail">
  <div class="alert__content">
    <i class="icon icon--alert alert__icon"><span class="sr-only">Alert!</span></i>
    <div class="alert__message">
      <% if (modStatusId === 3) { %>
        <h4 class="alert__title">This mod has been flagged by an admin.</h4>
      <% } else if (modStatusId === 4) { %>
        <h4 class="alert__title">This mod has been removed by an admin.</h4>
      <% } %>
      <% if (modStatusMessage) { %>
        <p class="alert__desc"><%= modStatusMessage %></p>
      <% } %>
    </div>
  </div>
</div>
<% } %>
<form method="post" action="#form-submit" id="mod-form" class="form mods-form <%= formClass %><% if (disableUpload) { %> disable-upload<% } %>">
  <% if (modId) { %><input type="hidden" name="ModId" value="<%= modId %>"><% } %>
  <div class="row">
    <div class="columns">
      <div class="mods-form__intro">
        <% if (modTypeId) { %>
          <h1>Edit Your Mod</h1>
        <% } else { %>
          <h1>Submit A New Mod</h1>          
        <% } %>
        <p>Create your mod in game, zip up the associated file(s) and submit below.</p>
      </div>
    </div>
  </div>
  <fieldset class="form__group">
    <div class="row">
      <div class="medium-8 columns">
        <div class="form__item">
          <label for="mod-name" class="form__label form__label--required">
            <span>Title</span>
          </label> 
          <div class="form__el">
            <input type="text" placeholder="Type title here" value="<%= title %>" name="ModName" id="mod-name">
          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="form__item">
          <label class="form__label form__label--required">
            <span>Visibility</span>
          </label>
          <div class="form__el">
            <select name="ModVisibility" class="mods-form__select" id="mod-visibility">
              <option value="1">Public</option>
              <option value="2">Unlisted</option>
              <option value="3">Private</option>              
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns">
        <div class="form__item">
          <label class="form__label form__label--required">
            <span>Game</span>
          </label>
          <div class="form__el">
            <select name="GameTitleId" class="mods-form__select" id="mod-game">
              <option value="">Select a game</option>
              <% _.each(games, function(game) { %>
              <option value="<%= game.gameTitleId %>" <% if (game.gameTitleId > 4) { print('disabled'); } if (game.gameTitleId === gameTitleId) { print('selected'); }  %>><%= game.gameTitleName %></option>
              <% }); %>
            </select>
          </div>
        </div>
      </div>
      <div class="medium-4 columns">
        <div class="form__item">
          <label for="mod-type" class="form__label form__label--required">
            <span>Type</span>
          </label>
          <div class="form__el">
            <select name="ModType" class="mods-form__select" id="mod-type">
              <option value="">Select a type</option>
              <% _.each(modTypes, function(type) { %>
              <option value="<%= type.modTypeId %>" <% if (modTypeId === type.modTypeId) { print('selected'); }  %>><%= type.modTypeName %></option>
              <% }); %>
            </select>
          </div>
        </div>
      </div> 
      <div class="medium-4 columns">
        <div class="form__item">
          <label for="mod-tags" class="form__label form__label--required">
            <span>Tags</span>
          </label>
          <div class="form__el">
            <span class="mod-tags" id="mod-tags"></span>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <fieldset class="columns form__group">
      <div class="form__item">
        <label class="form__label form__label--required">
          <span>Description</span>
        </label>
        <div class="form__el">
          <div class="form">
            <textarea id="mod-description" name="Description" rows="12"><%= description %></textarea>
          </div>
          (10,000 character limit)
        </div>
      </div>
    </fieldset>    
  </div>
  <div class="row">
    <fieldset class="columns form__group">
      <div class="mods-form__change-list">
        <div class="form__item">
          <label class="form__label">
            <span>Change List</span>
            <p class="help-text">Use this space to prepend a new entry to the Change List.</p>
          </label>
          <div class="form__el">
            <div class="form">
              <textarea id="mod-change-list" name="ChangeList" rows="12"></textarea>
            </div>
          </div>
        </div>
        <% if (changeList) { %>
          <div class="mods-form__previous-changes">
            <label class="form__label">
              <span>Previous Changes</span>
              <p class="help-text">Previous entries are not editable.</p>
            </label>
            <div class="form__el">
              <div class="mods-form__scroll-area">
                <%= changeList %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="columns form__group" id="images">
      <div class="form__item">
        <% if (!disableUpload) { %>
        <label for="dropzone-images" class="form__label form__label--required">
          <span>Images</span>
          <p class="help-text">Attach up to 5 images (8mb max each) showcasing your mod. Images will be displayed 
            at a 16x9 aspect ratio.</p>
        </label>
        <% } else if (modId && disableUpload) { %>
        <label class="form__label form__label--required">
          <span>Images</span>
        </label>
        <div class="warning callout">
          <h4>To edit the images for this mod, please use a tablet, laptop or desktop computer.</h4>
        </div>
        <% } %>
        <div class="form__el">
          <button type="button" id="dropzone-images" class="dropzone"></button>
          <div id="dropzone-images-hidden-input"></div>
        </div>
        <div id="dropzone-images-display" class="dz-file-display dz-file-display--sortable"></div>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="columns form__group mods-form__mod-files">
      <div class="form__item">
        <label for="dropzone-mod" class="form__label form__label--required">
          <span>Zip File Upload</span>
          <p class="help-text">Attach one compressed file in .ZIP file format (500mb max). Note: only game generated files and .txt files (e.g. readme.txt) are allowed in the zip.</p>
        </label>
        <div class="form__el">
          <button type="button" id="dropzone-mod" class="dropzone"></button>
          <div id="dropzone-mod-hidden-input"></div>
        </div>
        <div id="dropzone-mod-display" class="dz-file-display"></div>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <div class="columns">
      <button class="btn-aoe mods-form__btn" type="submit">Submit</button>
      <button class="btn-aoe btn-aoe--gold mods-form__btn" type="button" id="form-cancel">Cancel</button>
      <p>Please note, depending on file sizes submitted, processing may take a moment.  Please wait and you will be redirected on success.</p>
      <p class="form__api-error" id="mod-error">Error submitting mod! Please verify your data and try again.</p>
    </div>
  </div>
</form>
<% if (!modId && disableUpload) { %>
  <div class="warning callout">
    <h4>To create a new mod, please use a tablet, laptop or desktop computer.</h4>
  </div>
<% } %>
