<div class="dz-preview dz-file-preview">
  <div class="dz-details">
    <div class="dz-image">
      <img data-dz-thumbnail />
    </div>
    <div class="dz-detail-text">
      <div class="dz-filename"><span data-dz-name></span></div>
      <div class="dz-size" data-dz-size></div>
    </div>
  </div>
  <div class="dz-sort">
    <button type="button" class="dz-up" data-sort-up>
      <i class="fa fa-angle-up" aria-hidden="true"></i>
      <span class="sr-only">Move Up</span>
    </button>
    <button type="button" class="dz-down" data-sort-down>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      <span class="sr-only">Move Down</span>
    </button>
  </div>
  <button type="button" class="dz-remove" data-dz-remove>
    <i class="fa fa-3x fa-times-circle" aria-hidden="true"></i>
    <span class="sr-only">Remove</span>
  </button>
</div>
