<div class="row">
  <div class="columns mods-filters__column-40">
    <div class="input-field-with-button">
      <div class="search-field" id="modsSearchBox">
        <input type="search" id="modsQueryInput" name="modsQueryInput" placeholder="Search" data-input-field />
        <a class="clear-search" data-clear-button href="/mods/">
          <i class="fa fa-times"><span class="visually-hidden">Clear search terms</span></i>
        </a>
      </div>
      <button type="button" id="modsQuerySubmit" class="btn-aoe btn--search">
        <i class="fa fa-search"><span class="visually-hidden">Search</span></i>
      </button>
    </div>
  </div>
  <div class="columns mods-filters__column-30">
    <select id="modsTypeSelect" name="modsTypeSelect">
      <option value="0">All</option>      
      <% _.each(modTypes, function(type) { %>
      <option value="<%= type.modTypeId %>"><%= type.modTypeName %></option>
      <% }); %>
    </select>
  </div>
  <div class="columns mods-filters__column-30">
    <select id="modsGameSelect" name="modsGameSelect">
      <% _.each(games, function(game) { %>
      <option value="<%= game.gameTitleId %>" <% if (game.gameTitleId > 4 ) { print('disabled'); } %>><%= game.gameTitleName %></option>
      <% }); %> 
    </select>
  </div>
</div>
