<% if (modList.length) { %>
<table>
  <thead class="search-results__header">
    <tr>
      <th class="search-results__sort-label mod-thumbnail-cell">
        <!-- &nbsp; -->
      </th>
      <th class="search-results__sort-label mod-name-cell">
        Name
      </th>
      <th class="search-results__sort-label">
        Creator
      </th>
      <th class="search-results__sort-label">
        Date Added
      </th>
      <th class="search-results__sort-label">
        Last Updated
      </th>
      <th class="search-results__sort-label">
        Likes
      </th>
      <th class="search-results__sort-label">
        DLs
      </th>
      <th class="search-results__sort-label mod-action-cell">
        <!-- &nbsp; -->
      </th>
    </tr>
  </thead>
  <tbody class="search-results__content">
    <% _.each(modList, function(item) { %>
    <tr class="search-results__row not-loaded" data-mod-id="<%= item.modId %>"> 
      <td class="search-results__cell mod-thumbnail-cell">
        <a class="mod-thumbnail" href="/mods/details/<%= item.modId %>/">
          <img src="<%= item.thumbnail %>" alt="" />          
        </a>
      </td>
      <td class="search-results__cell mod-name-cell">
        <h4 class="mod-name"><a href="/mods/details/<%= item.modId %>/"><%= item.modName %></a></h4>
        <% if (item.modSummary) { %>
        <p class="mod-summary"><%= item.modSummary %></p>
        <% } %>
        <% if (item.modType) { %>
        <span class="mod-type-label"><%= item.modType %></span>
        <% } %>
      </td>
      <td class="search-results__cell">
        <span class="search-results__mobile-label hidden">Creator</span>
        <%= item.creatorName %>
      </td>
      <td class="search-results__cell">
        <span class="search-results__mobile-label hidden">Date Added</span>
        <%= (new Date(item.createDate)).toLocaleDateString() %>
      </td>
      <td class="search-results__cell">
        <span class="search-results__mobile-label hidden">Last Updated</span>
        <%= (new Date(item.lastUpdate)).toLocaleDateString() %>
      </td>
      <td class="search-results__cell">
        <span class="search-results__mobile-label hidden">Likes</span>
        <%= item.likes %>
      </td>
      <td class="search-results__cell">
        <span class="search-results__mobile-label hidden">DLs</span>
        <%= item.downloads %>
      </td>      
      <td class="search-results__cell mod-action-cell">
        <% if (item.isOwner) { %>
        <div class="tooltip-menu">
          <button type="button" class="tooltip-menu__trigger">
            <i class="fa fa-3x fa-cog" aria-hidden="true"></i>
            <span class="sr-only">
              <span class="tooltip-menu__trigger-label--open">Open Settings Menu</span>
              <span class="tooltip-menu__trigger-label--close">Close Settings Menu</span>
            </span>
          </button>
          <div class="tooltip-menu__content">
            <ul>              
                <li>
                  <a href="/mods/details/<%= item.modId %>/edit/">Edit</a>
                </li>
                <li>
                  <a href="#" data-mod-id="<%= item.modId %>" data-mod-delete>Delete</a>
                </li>   
            </ul>
          </div>
        </div>
        <% } %>
      </td>     

    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<div class="search-results__alert alert">
  <div class="alert__content">
    <div class="alert__message">
      <h4 class="alert__title">Sorry, no results.</h4>
      <p class="alert__desc">Please try again with other paramaters.</p>
    </div>
  </div>
</div>
<% } %>
