<% if (user) { %>
<div class="frame-box">
  <div class="frame-box__inner frame-box__inner--light frame-box_inner--min-height">
    <div class="my-stats-nav">
      <div class="my-stats-nav__inner">
        <div class="my-stats-nav__top">
          <div class="my-stats-nav__avatar">
            <% if (user.avatarUrl) { %> <img src="<%= user.avatarUrl %>"/> <% } %>
          </div>
          <div class="my-stats-nav__gamertag">
            <h4><% if (user.gamertag) { %> <%= user.gamertag %> <% } else if (user.userName) {%> <%= user.userName %> <% } else { %>Login or search for a gamertag.<% } %></h4>
          </div>
           <% if (game != 'age2') { %>
          <div class="my-stats-nav__ranks">
            <% if (user.playerStanding) { %>
            <span class="rank_current">Current Standing: <b class="rank_value"> Top <%= user.playerStanding %>%</b></span>
            <% } %>
            <% if (user.randomMapTeamELO > 0) { %>
            <span class="rank_current">Current ELO: <b class="rank_value"><%= user.randomMapTeamELO %></b></span>
            <% } %>
            <% if (user.maxRandomMapTeamELO > 0) { %>
            <span class="rank_highest">Highest ELO: <b class="rank_value"><%= user.maxRandomMapTeamELO %></b></span>
            <% } %>
          </div>
           <% } %>
        </div>

        <div class="my-stats-nav__filters">
          <select id="game_select">
            <option value="age">Age of Empires: DE</option>
            <option value="age2" <% if (game == 'age2') { %> selected <% } %> > Age of Empires II: DE</option>
          </select>
        </div>


        <%
          var gamerTag = (user.gamertag) ? user.gamertag : gamertag;
          var spLink = '/stats/?gameType=sp&profileId=' + profileId + '&game=' + game;
          var mpLink = '/stats/?gameType=mp&profileId=' + profileId + '&game=' + game;
          var cLink = '/stats/?gameType=c&profileId=' + profileId + '&game=' + game;
        %>

        <div class="my-stats-nav__bottom">
          <div class="frame-box frame-box--button">
            <div class="frame-box__inner frame-box__inner--button">
              <a href="<%= homeUrl %><%= cLink %>" data-gametype="c"
                 class="js-gameType section-nav__link <% if (gameType == 'c') { %> is-current <% } %>">Campaign</a>
            </div>
          </div>
          <div class="frame-box frame-box--button">
            <div class="frame-box__inner frame-box__inner--button">
              <a href="<%= homeUrl %><%= mpLink %>" data-gametype="mp"
                 class="js-gameType section-nav__link <% if (gameType == 'mp') { %> is-current <% } %>">
              <% if (game == 'age2') { %>
                    Career
                <% } else { %>
                    Multiplayer
                <% } %>
              </a>
            </div>
          </div>
          <% if (game != 'age2') { %>
          <div class="frame-box frame-box--button">
            <div class="frame-box__inner frame-box__inner--button">
              <a href="<%= homeUrl %><%= spLink %>" data-gametype="sp"
                 class="js-gameType section-nav__link <% if (gameType == 'sp') { %> is-current <% } %>">Single
                Player</a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
