<tr class="progress-bar <%= name %>" data-progress-played="<%= played %>" data-progress-wins="<%= won %>">
  <td class="bargraph-table__label-cell e-label" style="width: 1%; white-space: nowrap"><%= name %></td>
  <td class="bargraph-table__stat-cell align-right progress-bar__number" style="width: 1%; white-space: nowrap"></td>
  <td class="bargraph-table__bargraph-cell">
    <span class="graph-line graph-line--25"></span>
    <span class="graph-line graph-line--50"></span>
    <span class="graph-line graph-line--75"></span>
    <progress class="progress-bar__bar bargraph bargraph--high-val played" max="<%= max %>" data-max="<%= max %>" value="0"></progress>
    <progress class="progress-bar__bar bargraph bargraph--em-val won stacked" data-label="Win Rate" data-param="" max="<%= max %>" data-max="<%= max %>" value="<% if(won > 0) { %><%= won %><% } else { %> 0 <% } %>"></progress>
  </td>
</tr>