<tr class="progress-bar <%= name %>" data-progress-played="<%= played %>" data-progress-wins="<%= won %>">
  <td class="bargraph-table__label-cell e-label" style="width: 1%; white-space: nowrap"><%= name %></td>
  <td class="bargraph-table__bargraph-cell">
    <progress class="progress-bar__bar bargraph bargraph--high-val played" max="<%= max %>" value=""></progress>
    <progress class="progress-bar__bar bargraph bargraph--em-val won stacked" data-param="<%= played %>%" max="<%= max %>" value="<% if(played > 0) { %><%= played %><% } else { %> 0 <% } %>"></progress>
    <span class="progress_percentage"><%= played %>%</span>
  </td>
</tr>