<tr class="progress-bar <%= name %>" data-progress-played="<%= played %>" data-progress-wins="<%= won %>">
  <td class="bargraph-table__label-cell e-label" style="width: 1%; white-space: nowrap"><%= name %></td>

  <td class="bargraph-table__bargraph-cell">
    <progress class="progress-bar__bar bargraph bargraph--em-val won" data-param="" max="<%= winMax %>" data-max="<%= winMax %>" value="0"></progress>
    <progress class="progress-bar__bar bargraph bargraph--em-val won stacked" data-label="Win Rate" data-param="<%= winMax %>%" max="<%= won %>" data-max="<%= won %>" value="<% if(winMax > 0) { %><%= winMax %><% } else { %> 0 <% } %>"></progress>
    <span class="progress_percentage"><%= winMax %>%</span>
  </td>

  <td class="bargraph-table__bargraph-cell">
    <progress class="progress-bar__bar bargraph bargraph--em-val usage" max="<%= civMax %>" data-max="<%= civMax %>" value="0"></progress>
    <progress class="progress-bar__bar bargraph bargraph--em-val stacked played" data-label="Conquered Rate" data-param="<%= played %>%" max="<%= civMax %>" data-max="<%= civMax %>" value="<% if(played > 0) { %><%= played %><% } else { %> 0 <% } %>"></progress>
    <span class="progress_percentage"><%= played %>%</span>
  </td>
</tr>

