<div class="row">
  <div class="columns stats-filters__column-40">
    <div class="input-field-with-button">
      <div class="search-field" id="statsSearchBox">
        <input type="search" id="statsQueryInput" name="statsQueryInput" placeholder="Search" data-input-field />
        <a class="clear-search" data-clear-button href="/stats/">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
      <button type="button" id="statsQuerySubmit" class="btn-aoe btn--search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="columns stats-filters__column-30">
    <select id="modsTypeSelect" name="statsTypeSelect">
      <option value="0">All</option>
      <!-- option value="Featured">Featured</option-->
      <% _.each(modTypes, function(type) { %>
      <option value="<%= type.statTypeId %>"><%= type.statTypeName %></option>
      <% }); %>
    </select>
  </div>
  <div class="columns stats-filters__column-30">
    <select id="statsGameSelect" name="statsGameSelect">
      <% _.each(games, function(game) { %>
      <option value="<%= game.gameTitleId %>" <% if (game.gameTitleId >= 2 && !(game.gameTitleId == 2 && window.wp_object.user_logged_in.flight_groups && window.wp_object.user_logged_in.flight_groups.includes('Phoenix_Closed_Beta'))) { print('disabled'); } %>><%= game.gameTitleName %></option>
      <% }); %>
    </select>
  </div>
</div>
