<div class="search-results frame-box">
  <div class="frame-box__inner frame-box__inner--light frame-box__inner--no-pad hideOverflow" id="globalLeaderboard">
    <% _.each(items, function(item) { %>
    <table id="global_leaderboard" class="search-results__content">
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <th class="lb-rank">Rank:</th>
        <td align="left" class="lbRank"><%= item.rank %></td>
      </tr>
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <th class="lb-leader">Leader:</th>
        <td align="left" class="lbLeader">
          <div class="profile_avatar_wrapper"><img class="stats_avatar" src="<%= item.avatarUrl %>"></div>

          <% // Saftey checks to see if window.wp_object.slug object property exists %>
          <% // which is generated in src/setup.php %>
          <% if( window.wp_object.slug && window.wp_object.slug !== null && window.wp_object.slug !== '' ) { %>
          <% // If on /stats/ageiide/ page (signified by 'ageiide' slug string below) show links around user names text %>
          <% if( window.wp_object.slug === 'ageiide' ) { %>
          <a href="<%= window.wp_object.homeUrl %>/stats/?profileId=<%= item.rlUserId %>&game=age2&matchType=<%= board %>"><%= item.userName %></a>
          <% // Else if on /stats/ageiiide/ page (signified by 'agiiide' slug string below) do NOT show links around user names text %>
          <% } else if( window.wp_object.slug === 'ageiiide' ) { %>
          <%= item.userName %>
          <% } %>
          <% } %>

        </td>
      </tr>
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <th class="lb-elo">ELO:</th>
        <td align="left" class="lbElo"><%= item.elo %></td>
      </tr>
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <th class="lb-rating">Win Rate:</th>
        <td align="left" class="lbRating"><%= item.winPercent %>%</td>
      </tr>
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <th class="lb-wins">Wins:</th>
        <td align="left" class="lbWins"><%= item.wins %></td>
      </tr>
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <th class="lb-losses">Losses:</th>
        <td align="left" class="lbLosses"><%= item.losses %></td>
      </tr>
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <th class="lb-streak">Streak:</th>
        <td align="right" class="lbStreak"><%= item.winStreak %></td>
      </tr>
    </table>
  <% }) %>
  </div>
</div>
