<div class="search-results frame-box">
  <div class="frame-box__inner frame-box__inner--dark frame-box__inner--no-pad" id="civs-leaderboard">
    <table>
      <thead class="">
        <tr class="">
          <th class="lb-rank">Rank</th>
          <th class="lb-leader">Leader</th>
          <th class="lb-rating">Rating</th>
          <th class="lb-wins">Wins</th>
          <th class="lb-losses">Losses</th>
          <th class="lb-streak">Streak</th>
        </tr>
      </thead>
      <tbody class="search-results__content">
      <% _.each(results, function(item) { %>
        <tr class="">
          <td class="lbRank"><%= item.lbRank %></td>
          <td class="lbLeader">
            <a class="lbAvatar" href="<%= item.permalink %>"><img src="<%= item.lbAvatar %>"/></a>
            <a class="lbLeaderGT" href="<%= item.permalink %>"><%= item.lbLeader %></a>
          </td>
          <td class="lbRating"><%= item.lbRating %></td>
          <td class="lbWins"><%= item.lbWins %></td>
          <td class="lbLosses"><%= item.lbLosses %></td>
          <td class="lbStreak"><%= item.lbStreak %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
</div>
