<div class="search-results frame-box">
  <div class="frame-box__inner frame-box__inner--light frame-box__inner--no-pad horz-frame hideOverflow" id="globalMatches">
    <table class="horz-frame-content">
      <thead class="">
      <tr class="">
        <th colspan="6" class="tableHeading"><h3>Recent Matches</h3> <h5><span class="globalmatches-label">1v1 RandomMap</span></h5><br /><a class="how_help_link" target="_blank" href="/support/aoe2/#replay-download">How do I use the replay files?</a></th>
      </tr>
      </thead>
      <thead class="">
      <tr class="">
        <th class="gm-player">Player</th>
        <th class="gm-civilization">Civilization</th>
        <th class="gm-result">Result</th>
        <th class="gm-maps">Map</th>
        <th class="gm-player_count">Players</th>
        <th class="gm-length">Date</th>
      </tr>
      </thead>
      <tbody id="global_matches" class="search-results__content results-container">
      <% _.each(matchList, function(item) { %>
      <tr class="search-results__row search-results__row--leader not-loaded" data-gameId="<%= item.gameId %>" data-profileId="<%= item.profileId %>">
        <td align="left" class="gmPlayer">
          <img class="stats_avatar" src="<%= item.avatarUrl %>">
          <a href="<%= window.wp_object.homeUrl %>/stats/?profileId=<%= item.profileId %>&game=age2&matchType=<%= board %>"><%= item.userName %></a>
        </td>
        <td align="left" class="gmCivilization"><%= item.civilization %></td>
        <td align="left" class="gmResult <%= item.winLoss %>"><%= item.winLoss %></td>
        <td align="left" class="gmMaps"><%= item.mapType %></td>
        <td align="left" class="gmPlayer_count"><%= item.playerCount %></td>
        <td align="right" class="gmLength"><%= item.dateTime %></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
</div>