<tr class="progress-bar <%= name %>" data-progress-wins="<%= wins %>" data-progress-conquers="<%= conquers %>">
  <td class="bargraph-table__label-cell e-label" style="width: 1%; white-space: nowrap"><%= name %></td>

  <td class="bargraph-table__bargraph-cell">
    <span class="graph-line graph-line--25"></span>
    <span class="graph-line graph-line--50"></span>
    <span class="graph-line graph-line--75"></span>

    <progress class="progress-bar__bar bargraph bargraph--high-val played" max="<%= maxWins %>" data-max="<%= maxWins %>" value="0"></progress>
    <progress class="progress-bar__bar bargraph bargraph--em-val wins stacked" data-label="Win Rate" data-param="<%= wins %>" max="<%= maxWins %>" data-max="<%= maxWins %>" value="<% if(winCount > 0) { %><%= winCount %><% } else { %> 0 <% } %>"></progress>
    <span class="progress_percentage"><%= wins %></span>
  </td>

  <td class="bargraph-table__bargraph-cell">
    <span class="graph-line graph-line--25"></span>
    <span class="graph-line graph-line--50"></span>
    <span class="graph-line graph-line--75"></span>

    <progress class="progress-bar__bar bargraph bargraph--high-val played" max="<%= maxDefeats %>" data-max="<%= maxDefeats %>"
      value="0"></progress>
    <progress class="progress-bar__bar bargraph bargraph--em-val stacked conquers" data-label="Conquered Rate" data-param="<%= conquers %>" max="<%= maxDefeats %>" data-max="<%= maxDefeats %>" value="<% if(conquersCount > 0) { %><%= conquersCount %><% } else { %> 0 <% } %>"></progress>
    <span class="progress_percentage"><%= conquers %></span>
  </td>
</tr>