//extends .content
.clans-create-content {

  @include breakpoint(small only) {
    padding-top: 20px;
  }

  @include breakpoint(medium) {
    .main {
      @include grid-column(12, $grid-column-gutter);
      float: none;
      margin-top: -40px;
    }
  }

  .carousel {
    margin: 0 auto 50px;
    position: relative;
    width: 100%;

    @include breakpoint(medium) {
      margin-bottom: 80px;
    }

    &::before {
      background: $brand-alt;
      content: '';
      display: block;
      height: calc(100% - 50px);
      left: 25px;
      position: absolute;
      top: 25px;
      width: calc(100% - 50px);
    }
  }

  .slick-list {
    @include breakpoint(small only) {
      overflow: visible;
    }
  }

  .slick-slider {
    @include breakpoint(small only) {
      width: calc(100% - 60px);
    }
  }

  .slick-slide {
    &:focus {
      outline: 0;
    }
  }

  .slick-next,
  .slick-prev {
    background: $brand-primary;
    color: $light;
    font-size: 1rem;
    font-weight: 700;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 1em;
    text-transform: uppercase;
    top: calc(100% + 15px);
    transform: none;
    transition: background 0.3s ease-in-out;
    width: auto;
    z-index: 1;

    &::before,
    &::after {
      display: none;
    }

    &:hover,
    &:focus {
      background: $yellow;
    }
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .slick-disabled {
    cursor: default;
    opacity: 0.5;

    &:hover,
    &:focus {
      background: $brand-primary;
    }
  }

  .slick-dots {
    bottom: auto;
    top: calc(100% + 15px);

    li {
      height: 1.5rem;
      width: 1.5rem;
    }

    button {
      background: none;
      border: 3px solid $brand-primary;
      border-radius: 50%;
      height: 100%;
      transition: background 0.3s ease-in-out;
      width: 100%;

      &::before {
        display: none;
      }

      &:hover,
      &:focus {
        background: $yellow;
      }
    }

    .slick-active {
      button {
        background: $brand-primary;
      }
    }
  }

}

// Logo Creator
// ------------------------------------------------+
//

.clans-create-logo {

  // Tab navigation (Foundation)
  // ------------------------------------------------+
  &__nav {
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    @include breakpoint(large) {
      float: left;
      margin-bottom: 40px;
      margin-top: 10px;
      padding: 0 20px 0 40px;
      width: 25%;
    }
  }

  &__tab {
    margin-bottom: 1rem;
    width: 33.333%;

    @include breakpoint(large) {
      float: none;
      width: 100%;
    }

    a {
      background: url($image-path+'ui/nav-link-texture.jpg') repeat center top,
      url($image-path+'ui/nav-active-texture.jpg') repeat center top;
      color: $light-alt;
      display: block;
      font-family: $serif-font-family;
      font-size: 15px;
      font-weight: 700;
      height: 8rem;
      line-height: 1.2;
      padding: 0.5rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 2px 5px rgba($xdark-brown, 0.5);
      text-transform: uppercase;
      width: 100%;

      .svg-icon {
        display: block;
        fill: $light-alt;
        height: 4rem;
        margin: 0 auto 0.5rem;
        transition: none;
        width: 4rem;
      }

      span {
        color: $yellow;
        display: block;
        font-family: $body-font-family;
      }

      &::after {
        background: url($image-path+'ui/nav-active-arrow-down.png') no-repeat center bottom;
        background-size: contain;
        content: '';
        display: none;
        height: 20px;
        left: 0;
        position: absolute;
        top: calc(100% - 1px);
        width: 100%;

        @include breakpoint(large) {
          background: url($image-path+'ui/nav-active-arrow-right.png') no-repeat right center;
          background-size: contain;
          height: 100%;
          left: calc(100% - 1px);
          top: 1px;
          width: 20px;
        }
      }
    }

    a:hover,
    a:focus,
    &.is-active a { // sass-lint:disable-line force-element-nesting
      background: url($image-path+'ui/nav-active-texture.jpg') repeat center top,
      url($image-path+'ui/nav-link-texture.jpg') repeat center top;
      color: $dark-brown;

      .svg-icon {
        fill: $brand-alt;
      }

      span {
        color: $white;
      }
    }

    &.is-active {
      a::after {
        display: block;
      }
    }
  }

  // Logo Carousels (Slick)
  // ------------------------------------------------+
  &__logos {
    display: block;
    margin-bottom: 100px;
    position: relative;
    width: 100%;

    @include breakpoint(medium) {
      float: left;
      margin-bottom: 20px;
      padding: 0 5px;
      width: 66.667%;
    }

    @include breakpoint(large) {
      padding: 0 20px;
      width: 50%;
    }

  }

  // Preview image
  // ------------------------------------------------+
  &__preview-container {
    display: block;
    margin: 0 auto 20px;
    max-width: 220px;
    position: relative;
    width: 100%;

    @include breakpoint(medium) {
      float: right;
      margin: 10px 0 40px;
      max-width: none;
      padding: 0 10px;
      width: 33.333%;
    }

    @include breakpoint(large) {
      padding: 0 40px 0 20px;
      width: 25%;
    }

  }

  &__preview-inner {
    background: $neutral-yellow url($image-path+'clans/logo-preview-bg.jpg') no-repeat center center;
    border: 2px solid $dark-brown;
    margin-bottom: 2rem;
    padding-top: 100%;
    position: relative;
  }

  &__preview {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    > img {
      display: block;
      height: 90%;
      left: 5%;
      position: absolute;
      top: 5%;
      width: 90%;
    }
  }

  &__reset-cta {
    padding: 0 20px;
  }

}

// Banner Creator
// ------------------------------------------------+
//

.clans-create-banner {

  &__banners {
    display: block;
    margin: 0 auto 40px;
    position: relative;
  }

}
