//Fixes for single game's page content
.newsletter__container {
  .small-12.medium-6.large-4.columns,
  .small-12.large-4.columns  {
    float: left;
    margin-bottom: 12px;
  }
}

h5.feature-title {
  font-weight: bold;
  font-size: $p;
}
