.single-layout {
  main {
    margin-top: rem-calc(-115);
  }
}

.single-content {
  &__byline {
    @include clearfix;
  }
  &__pp {
    float: left;
    width: 60px;
    height: 60px;
  }
  &__post-info {
    padding-left: 10px;
  }
  &__post-info,
  &__meta,
  &__date,
  &__comment-count {
    float: left;
    span {
      line-height: rem-calc(30);
      font-size: rem-calc(20);
    }
  }
  &__date {
    span {
      color: $brand-secondary;
      font-size: rem-calc(14);
      text-transform: uppercase;
    }
  }
  &__comment-count {
    padding-left: 10px;
    span {
      color: $white;
      font-size: rem-calc(14);
    }
  }
  &__author-name {

  }
}

.single-related {
  &__header {
    text-align: center;
    li {
      margin-bottom: 0;
    }
  }
}