@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
#eme-bar {
  position: relative;
  height: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $white;
  background: -webkit-linear-gradient(right, #0c1c33, #0c1c33);
  background: linear-gradient(to right, #0c1c33, #0c1c33);
  border-width:0px 0px 2px 0px;
  border-style:solid; 
  border-color:#183561;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
  z-index: 10;
  .wrapper {
    min-width:320px;
    width:100%;
    margin:0 auto;
  }
  a {
    font-weight: normal;
    color: $white;
    &:hover {
      color: #00b7fe;
    }
  }
  .eme {
    box-sizing: border-box;
    float: left;
    position: relative;
    z-index: 9999;
    width: 118px;
    height: 52px;
    cursor: pointer;
    a {
      /* coprorate logo */
      @include prefix(background-color, .25s ease-out, webkit ms moz o);
      background: url(https://eme01.enmasse-game.com/images/global_assets/eme-bar/logo_krafton_enmasse.png) top center no-repeat;
      display: block;
      width: 80px;
      height: 70px;
      margin: 0 0 0 20px;
      background-size: 100%;
      font-family: "Arial", sans-serif;
      font-weight: normal;
    }
  }
  #games {
    position: relative;
    height: 52px;
    &.open {
      .eme-menu {
        display: block;
      }
    }
  }
  .eme-menu {
    display: none;
    width: 100%;
    position:absolute;
    left:0;
    right:0;
    top:53px;
    background-color: rgb(0,9,24);
    background-color: rgba(0,9,24, 0.85);
    margin:0px;
    padding:8px 0px;
    clear:both;
    border-bottom: 2px solid #183561;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    z-index:2000;
  }
  .games-link{
    @include transition(background-size .25s ease-in);
    margin:0px 10px 10px 0px;
    width:164px;
    height:105px;
    margin: 2px 4px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:100% 100%;
    a {
      display:block;
      background: none;
      position:relative;
      height:100%;
      text-shadow: none;
      letter-spacing: 0;
      span {
        background: $black;
        color: $white;
        position:absolute;
        top: calc(100% - 23px);
        right:-1px;
        font-size: 10px;
        line-height: 12px;
        font-weight:normal;
        padding:2px 4px;
        margin:4px;
        font-family: "Arial", sans-serif;
      }
    }
    &.tera {
      background-image:image-url("global/eme-bar/games/thumb_tera.png");
    }
    &.closers {
      background-image:image-url("global/eme-bar/games/thumb_closers.png");
    }
    &.dc {
      background-image:image-url("global/eme-bar/games/thumb_dc.png");
    }
    &.st3 {
      background-image:image-url("global/eme-bar/games/thumb_st3.png");
    }
    &.mistover {
      background-image:image-url("global/eme-bar/games/thumb_mistover.png");
    }
    &:hover{
      background-size:120% 120%;
      background-position:50% 50%;
    }
  }
  #account {
    height: 52px;
    position: absolute;
    top:0;
    right: 0;
    a {
      display: block;
      text-decoration: none;
      font-size: 12px;
      padding: 0 10px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
    ul { 
      list-style-type: none; 
      display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
      display: -ms-flexbox;           /* TWEENER - IE 10 */
      display: -webkit-flex;          /* NEW - Chrome */
      display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      list-style-type: none;
      float: left;
      padding: 10px 0;
      font-size: 14px;
      line-height: 24px;
      position: relative;
      cursor: pointer;
      padding: 13px 5px;
      &.welcome {
        padding-left: 10px;
      }
      .acct-emp {
        padding-right: 10px;
      }
      &:after {
        content: "|";
        color: #00b7fe;
        font-weight:bold;
        position: absolute;
        top:24%;
        right:0;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}

#blackout {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}

#login-box {
  width: 410px;
  height: 410px;
  left: 50%;
  top:50%;
  margin-left: -205px;
  margin-top: -205px;
  z-index: 202;
  position: fixed;
  display: none;

  iframe {
    width: 400px;
    height: 400px;
    border: none;
  }
}

@media all and (min-width: 768px) {
  #eme-bar {
    .eme-menu {
      top:53px;
      padding-left:calc((100% - 656px) / 2);
    }
  }
}